/* -- ASPxNavBar -- */
.dxnbControl_BlackGlassNavigation
{
	font: 9pt Tahoma;
	color: #D0D0D0;
	background-color: #151515;
	padding: 3px 0px;
}
.dxnbControl_BlackGlassNavigation a
{
	color: #D0D0D0; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_BlackGlassNavigation
{
    font: 11px Tahoma;
	color: #D0D0D0;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_BlackGlassNavigation table
{
    font: 11px Tahoma;
	color: #D0D0D0;
}
.dxnbGroupHeaderCollapsed_BlackGlassNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_BlackGlassNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #323232;
    border: Solid 1px #3E3E3E;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_BlackGlassNavigation
{
    font: 11px Tahoma;
	color: White;

	background-color: #6E6E6E;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #8D8D8D;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_BlackGlassNavigation table
{
    font: 11px Tahoma;
	color: White;
	font-weight: bold;
}
.dxnbGroupHeader_BlackGlassNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_BlackGlassNavigation
{
    font: 11px Tahoma;
	background-color: #373737;
	background-image: url('nbGroupContentBackground.gif');
    background-repeat: repeat-x;	
	border: 0px;
	border-top: Solid 1px #03305B;
	border-bottom: Solid 1px #433d3f;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_BlackGlassNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_BlackGlassNavigation
{
    color: White;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_BlackGlassNavigation
{
	background-color: #484848;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_BlackGlassNavigation 
{
    color: #D0D0D0;
    background: #151515;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_BlackGlassNavigation a
{
	color: #D0D0D0; 
	text-decoration: none;
}
.dxnbLite_BlackGlassNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_BlackGlassNavigation .dxnb-header,
.dxnbLite_BlackGlassNavigation .dxnb-headerCollapsed 
{
	color: #D0D0D0;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
    white-space: nowrap;
	cursor: pointer;
	clear: both;
}
.dxnbLite_BlackGlassNavigation .dxnb-header
{
	color: White;
	background: #6E6E6E url('nbHeaderGroup.gif') repeat-x;
	font-weight: bold;	
	border: Solid 1px #8D8D8D;
	padding: 3px 6px;
}
.dxnbLite_BlackGlassNavigation .dxnb-headerHover
{
}
.dxnbLite_BlackGlassNavigation .dxnb-headerCollapsedHover
{
    background: #323232 url('nbHeaderGroupHover.gif') repeat-x;
    border: Solid 1px #3E3E3E;
	padding: 3px 6px 4px;
}
.dxnbLite_BlackGlassNavigation .dxnb-content 
{
	background: #373737 url('nbGroupContentBackground.gif') repeat-x;
	border: none;
	border-bottom: Solid 1px #433d3f;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_BlackGlassNavigation .dxnb-item,
.dxnbLite_BlackGlassNavigation .dxnb-large,
.dxnbLite_BlackGlassNavigation .dxnb-bullet 
{
	border: 0;
	font-size: 11px;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_BlackGlassNavigation .dxnb-item,
.dxnbLite_BlackGlassNavigation .dxnb-large,
.dxnbLite_BlackGlassNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_BlackGlassNavigation .dxnb-item,
.dxnbLite_BlackGlassNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_BlackGlassNavigation .dxnb-bullet,
.dxnbLite_BlackGlassNavigation .dxnb-bulletHover,
.dxnbLite_BlackGlassNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_BlackGlassNavigation .dxnb-itemSelected,
.dxnbLite_BlackGlassNavigation .dxnb-itemHover
{
}
.dxnbLite_BlackGlassNavigation .dxnb-largeSelected,
.dxnbLite_BlackGlassNavigation .dxnb-largeHover
{
}
.dxnbLite_BlackGlassNavigation .dxnb-itemSelected,
.dxnbLite_BlackGlassNavigation .dxnb-largeSelected
{
	color: White;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_BlackGlassNavigation .dxnb-itemHover,
.dxnbLite_BlackGlassNavigation .dxnb-largeHover
{
	background-color: #484848;
}
.dxnbLite_BlackGlassNavigation .dxnb-header,
.dxnbLite_BlackGlassNavigation .dxnb-headerCollapsed, 
.dxnbLite_BlackGlassNavigation .dxnb-item,
.dxnbLite_BlackGlassNavigation .dxnb-itemHover,
.dxnbLite_BlackGlassNavigation .dxnb-itemSelected,
.dxnbLite_BlackGlassNavigation .dxnb-bullet,
.dxnbLite_BlackGlassNavigation .dxnb-bulletHover,
.dxnbLite_BlackGlassNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_BlackGlassNavigation .dxnb-large,
.dxnbLite_BlackGlassNavigation .dxnb-largeHover,
.dxnbLite_BlackGlassNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_BlackGlassNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_BlackGlassNavigation .dxnb-btn,
.dxnbLite_BlackGlassNavigation .dxnb-btnLeft,
.dxnbLite_BlackGlassNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_BlackGlassNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_BlackGlassNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_BlackGlassNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_BlackGlassNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_BlackGlassNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_BlackGlassNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_BlackGlassNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_BlackGlassNavigation,
.dxnbLite_BlackGlassNavigation .dxnbLiteDisabled_BlackGlassNavigation,
.dxnbLiteDisabled_BlackGlassNavigation a,
.dxnbLiteDisabled_BlackGlassNavigation .dxnb-item,
.dxnbLiteDisabled_BlackGlassNavigation .dxnb-large,
.dxnbLiteDisabled_BlackGlassNavigation .dxnb-bullet,
.dxnbLiteDisabled_BlackGlassNavigation .dxnb-header,
.dxnbLiteDisabled_BlackGlassNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
