.dxEditors_edtError_Youthful,
.dxEditors_edtCalendarPrevYear_Youthful,
.dxEditors_edtCalendarPrevYearDisabled_Youthful,
.dxEditors_edtCalendarPrevMonth_Youthful,
.dxEditors_edtCalendarPrevMonthDisabled_Youthful,
.dxEditors_edtCalendarNextMonth_Youthful,
.dxEditors_edtCalendarNextMonthDisabled_Youthful,
.dxEditors_edtCalendarNextYear_Youthful,
.dxEditors_edtCalendarNextYearDisabled_Youthful,
.dxEditors_edtCalendarFNPrevYear_Youthful,
.dxEditors_edtCalendarFNNextYear_Youthful,
.dxEditors_edtCheckBoxOn_Youthful,
.dxEditors_edtCheckBoxOff_Youthful,
.dxEditors_edtCheckBoxUndefined_Youthful,
.dxEditors_edtRadioButtonOn_Youthful,
.dxEditors_edtRadioButtonOff_Youthful,
.dxEditors_edtRadioButtonUndefined_Youthful,
.dxEditors_edtEllipsis_Youthful,
.dxEditors_edtEllipsisDisabled_Youthful,
.dxEditors_edtDropDown_Youthful,
.dxEditors_edtDropDownDisabled_Youthful,
.dxEditors_edtSpinEditIncrementImage_Youthful,
.dxEditors_edtSpinEditIncrementImageDisabled_Youthful,
.dxEditors_edtSpinEditDecrementImage_Youthful,
.dxEditors_edtSpinEditDecrementImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeIncImage_Youthful,
.dxEditors_edtSpinEditLargeIncImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeDecImage_Youthful,
.dxEditors_edtSpinEditLargeDecImageDisabled_Youthful,
.dxEditors_fcadd_Youthful,
.dxEditors_fcaddhot_Youthful,
.dxEditors_fcremove_Youthful,
.dxEditors_fcremovehot_Youthful,
.dxEditors_fcgroupaddcondition_Youthful,
.dxEditors_fcgroupaddgroup_Youthful,
.dxEditors_fcgroupremove_Youthful,
.dxEditors_fcopany_Youthful,
.dxEditors_fcopbegin_Youthful,
.dxEditors_fcopbetween_Youthful,
.dxEditors_fcopcontain_Youthful,
.dxEditors_fcopnotcontain_Youthful,
.dxEditors_fcopnotequal_Youthful,
.dxEditors_fcopend_Youthful,
.dxEditors_fcopequal_Youthful,
.dxEditors_fcopgreater_Youthful,
.dxEditors_fcopgreaterorequal_Youthful,
.dxEditors_fcopnotblank_Youthful,
.dxEditors_fcopblank_Youthful,
.dxEditors_fcopless_Youthful,
.dxEditors_fcoplessorequal_Youthful,
.dxEditors_fcoplike_Youthful,
.dxEditors_fcopnotany_Youthful,
.dxEditors_fcopnotbetween_Youthful,
.dxEditors_fcopnotlike_Youthful,
.dxEditors_fcgroupand_Youthful,
.dxEditors_fcgroupor_Youthful,
.dxEditors_fcgroupnotand_Youthful,
.dxEditors_fcgroupnotor_Youthful,
.dxEditors_caRefresh_Youthful {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxEditors_edtError_Youthful {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_Youthful {
    background-position: -76px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevYearDisabled_Youthful {
    background-position: -76px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevMonth_Youthful {
    background-position: -57px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevMonthDisabled_Youthful {
    background-position: -57px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextMonth_Youthful {
    background-position: -19px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextMonthDisabled_Youthful {
    background-position: -19px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextYear_Youthful {
    background-position: -38px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextYearDisabled_Youthful {
    background-position: -38px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarFNPrevYear_Youthful {
    background-position: 0px 0px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtCalendarFNNextYear_Youthful {
    background-position: 0px -20px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtCheckBoxOn_Youthful {
    background-position: -23px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxOff_Youthful {
    background-position: 0px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxUndefined_Youthful {
    background-position: -46px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtRadioButtonOn_Youthful {
    background-position: -91px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonOff_Youthful {
    background-position: -69px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonUndefined_Youthful {
    background-position: -113px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtEllipsis_Youthful {
    background-position: -113px 0px;
    width: 10px;
    height: 2px;
}

.dxEditors_edtEllipsisDisabled_Youthful {
    background-position: -113px -22px;
    width: 10px;
    height: 2px;
}

.dxEditors_edtDropDown_Youthful {
    background-position: -95px 0px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtDropDownDisabled_Youthful {
    background-position: -95px -22px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtSpinEditIncrementImage_Youthful {
    background-position: -150px 0px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_Youthful {
    background-position: -150px -13px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImage_Youthful {
    background-position: -132px 0px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_Youthful {
    background-position: -132px -13px;
    width: 7px;
    height: 5px;
}

.dxEditors_edtSpinEditLargeIncImage_Youthful {
    background-position: -145px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_Youthful {
    background-position: -171px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImage_Youthful {
    background-position: -132px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_Youthful {
    background-position: -158px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_fcadd_Youthful {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_Youthful {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_Youthful {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_Youthful {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_Youthful {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_Youthful {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_Youthful {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_Youthful {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_Youthful {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_Youthful {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_Youthful {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_Youthful {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_Youthful {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_Youthful {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_Youthful {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_Youthful {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_Youthful {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_Youthful {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_Youthful {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_Youthful {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_Youthful {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_Youthful {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_Youthful {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_Youthful {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_Youthful {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_Youthful {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_Youthful {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_Youthful {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_Youthful {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_Youthful {
	background-position: 0px -130px;
    width: 13px;
    height: 13px;
}
