.dxeLoadingDiv_Office2003Silver
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingDivWithContent_Office2003Silver
{
	background: White;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.dxeLoadingPanel_Office2003Silver
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxeLoadingPanelWithContent_Office2003Silver
{
    font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #9c9ab7;
	background-color: white;
}

.dxeLoadingPanel_Office2003Silver td.dx,
.dxeLoadingPanelWithContent_Office2003Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxeBase_Office2003Silver
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2003Silver, .dxeErrorCell_Office2003Silver td
{
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxeErrorCell_Office2003Silver
{
	padding-left: 4px;
	padding-right:5px;		
}
.dxeErrorFrame_Office2003Silver
{
	
}
.dxeErrorFrameWithoutError_Office2003Silver {
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2003Silver .dxeControlsCell_Office2003Silver {
    padding: 2px;
}
.dxeEditArea_Office2003Silver 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: solid 1px #7c7c94;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary_Office2003Silver {
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxvsValidationSummary_Office2003Silver td.dxvsRC {
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2003Silver .dxvsE {
    
}

/* ValidationSummary - Header */

.dxvsValidationSummary_Office2003Silver table.dxvsHT {
    width: 100%;
}
.dxvsValidationSummary_Office2003Silver td.dxvsH {
    padding: 2px 0 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_Office2003Silver a.dxvsHL,
.dxvsValidationSummary_Office2003Silver a.dxvsHL:visited {
    color: red;
}
.dxvsValidationSummary_Office2003Silver a.dxvsHL {
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2003Silver a.dxvsHL:hover {
    color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_Office2003Silver table.dxvsT {
    
}
.dxvsValidationSummary_Office2003Silver tr.dxvsE {
    
}
.dxvsValidationSummary_Office2003Silver td.dxvsETC {
    padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_Office2003Silver ul.dxvsL {
    
}
.dxvsValidationSummary_Office2003Silver ol.dxvsL {
    
}
.dxvsValidationSummary_Office2003Silver li.dxvsE {
    padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2003Silver, .dxeCalendarButton_Office2003Silver,
.dxeSpinIncButton_Office2003Silver, .dxeSpinDecButton_Office2003Silver,
.dxeSpinLargeIncButton_Office2003Silver, .dxeSpinLargeDecButton_Office2003Silver
{
	vertical-align: middle;
	border: solid 1px #7c7c94;
	cursor: pointer;
} 
.dxeButtonEditButton_Office2003Silver, .dxeCalendarButton_Office2003Silver, .dxeButtonEditButton_Office2003Silver td.dx, .dxeCalendarButton_Office2003Silver td.dx,
.dxeSpinIncButton_Office2003Silver, .dxeSpinDecButton_Office2003Silver,
.dxeSpinLargeIncButton_Office2003Silver, .dxeSpinLargeDecButton_Office2003Silver,
.dxeSpinIncButton_Office2003Silver td.dx, .dxeSpinDecButton_Office2003Silver td.dx,
.dxeSpinLargeIncButton_Office2003Silver td.dx, .dxeSpinLargeDecButton_Office2003Silver td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;    
	text-align: center;
} 
.dxeButtonEditButton_Office2003Silver
{
    padding: 0px 1px;
	background: url('edtButtonBack.gif') repeat-x center bottom #e6e6f0;
}
.dxeSpinIncButton_Office2003Silver, .dxeSpinDecButton_Office2003Silver
{
	border-style: none;	
	padding: 0px;
}
.dxeSpinLargeIncButton_Office2003Silver, .dxeSpinLargeDecButton_Office2003Silver
{
	border-style: none;	
	padding: 0px;
}

.dxeButtonEditButton_Office2003Silver table.dxbebt
{
	width: 14px;
}

.dxeSpinLargeIncButton_Office2003Silver
{
    padding-left: 1px;
}
.dxeSpinIncButton_Office2003Silver
{
    background: url('edtSpinIncBtnBack.gif') no-repeat top left #b0aec6;
	border-bottom: Solid 1px #FFFFFF;
}
.dxeSpinDecButton_Office2003Silver
{
	background: url('edtSpinDecBtnBack.gif') no-repeat top left #b0aec6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_Office2003Silver, .dxeSpinLargeDecButton_Office2003Silver
{
   	background: url('edtSpinLargeIncBtnBack.gif') no-repeat top left #a8a7c1;
	border-style: none;   	
}

.dxeCalendarButton_Office2003Silver
{
	background: url('edtButtonBack.gif') repeat-x center bottom #e6e6f0;
	padding: 4px 11px;
	padding-top: 2px;
	width: 32px;
}
.dxeCalendarButton_Office2003Silver table.dxbebt
{
	width: 100%;
}
.dxeCalendarButton_Office2003Silver td.dx
{
	text-align: center;
	white-space: nowrap;
}
/* SpinButtons */
.dxeSpinIncButton_Office2003Silver table.dxbebt, .dxeSpinDecButton_Office2003Silver table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_Office2003Silver table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeIncButton_Office2003Silver table.dxbebt
{
	width: 14px;    
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2003Silver, .dxeButtonEditButtonPressed_Office2003Silver
{
	border: solid 1px #000080;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
/* SpinButtons */
.dxeSpinIncButtonPressed_Office2003Silver, .dxeSpinDecButtonPressed_Office2003Silver
{
    border-style: none;    
}
.dxeSpinIncButtonPressed_Office2003Silver
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonPressed_Office2003Silver
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonPressed_Office2003Silver, .dxeSpinLargeDecButtonPressed_Office2003Silver
{
	background: url('edtSpinLargeIncBtnPBack.gif') no-repeat top left #ffc17c;
	border-style: none;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2003Silver, .dxeButtonEditButtonHover_Office2003Silver
{
	border: solid 1px #000080;
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
}
/* SpinButtons */
.dxeSpinIncButtonHover_Office2003Silver, .dxeSpinDecButtonHover_Office2003Silver
{
    border-style: none;    
}
.dxeSpinIncButtonHover_Office2003Silver
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom: Solid 1px #ffffff;    
}
.dxeSpinDecButtonHover_Office2003Silver
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonHover_Office2003Silver, .dxeSpinLargeDecButtonHover_Office2003Silver
{
	background: url('edtSpinLargeIncBtnHBack.gif') no-repeat top left #ffdaa1;
	border-style: none;
}

.dxeButtonEdit_Office2003Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
    width: 170px;
}
.dxeButtonEdit_Office2003Silver .dxeEditArea_Office2003Silver
{
    background-color: white;
}
.dxeButtonEdit_Office2003Silver .dxeEditArea_Office2003Silver, .dxeButtonEdit_Office2003Silver td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Office2003Silver td.dxic
{
    padding: 0px 2px 0px 1px;
}
.dxeButtonEdit_Office2003Silver .dxeIIC img {
    padding-left: 3px;
}
.dxeTextBox_Office2003Silver, .dxeMemo_Office2003Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
}
.dxeTextBox_Office2003Silver td.dxic
{
	padding: 1px 2px;
	width: 100%;
}
.dxeTextBox_Office2003Silver .dxeEditArea_Office2003Silver
{
    background-color: white;
}
.dxeRadioButtonList_Office2003Silver, .dxeRadioButtonList_Office2003Silver table
{
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_Office2003Silver
{
    border: Solid 1px #7c7c94;
}
.dxeRadioButtonList_Office2003Silver td.dxe
{
    padding: 6px 11px;
    padding-right: 5px;
}
.dxeRadioButtonList_Office2003Silver label
{
	margin-right: 6px;    
}

/* -- Memo -- */
.dxeMemo_Office2003Silver
{

}
.dxeMemoEditArea_Office2003Silver 
{
	background-color: white;
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_Office2003Silver td
{
	padding: 0 0 0 4px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2003Silver
{
    font-family: Tahoma;
    font-size: 9pt;
	font-weight: normal;    
    color: black;    
	text-decoration: underline;
}

/* -- ListBox -- */
.dxeListBox_Office2003Silver
{
	background-color: white;
	border: solid 1px #7c7c94;
    font-family: Tahoma;
    font-size: 9pt;
    height: 113px;    
    width: 70px;
}
.dxeListBox_Office2003Silver div.dxlbd
{
	padding-top: 1px;    
    height: 112px;    
}
.dxeListBoxItemRow_Office2003Silver
{
    cursor: default;
}
.dxeListBoxItem_Office2003Silver
{    
    border-bottom: solid 1px white;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    color: Black;        
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;
    padding: 3px 2px 4px 3px;
    white-space: nowrap;
    text-align: left;
}
.dxeListBoxItem_Office2003Silver em
{  
    background:none repeat scroll 0 0 #dfdfdf;
    color:#333333;
    font-weight:bold;
    font-style:normal;
}
.dxeListBoxItemSelected_Office2003Silver     /* inherits dxeListBoxItem */
{    
    color: black;
    background-color: #ffc076;
}
.dxeListBoxItemHover_Office2003Silver        /* inherits dxeListBoxItem */
{
    background-color: #dfdfdf;
}
.dxeListBoxItemHover_Office2003Silver em, .dxeListBoxItemSelected_Office2003Silver em
{
    background: none;
}
.dxeListBox_Office2003Silver td.dxeI, .dxeListBox_Office2003Silver td.dxeIM, .dxeListBox_Office2003Silver .dxeHIC,
.dxeListBox_Office2003Silver td.dxeFTM, .dxeListBox_Office2003Silver td.dxeTM,
.dxeListBox_Office2003Silver td.dxeC, .dxeListBox_Office2003Silver td.dxeCM, .dxeListBox_Office2003Silver td.dxeHCC, .dxeListBox_Office2003Silver td.dxeMI, .dxeListBox_Office2003Silver td.dxeMIM
{
    border-right-width: 0px!important;
}
.dxeListBox_Office2003Silver td.dxeCM, .dxeListBox_Office2003Silver td.dxeHCC
{
    width: 25px;
}
.dxeListBox_Office2003Silver td.dxeIM
{
    width: 0;
}
.dxeListBox_Office2003Silver td.dxeT
{
    width: 100%;    
    padding-left: 0px!important;
}
.dxeListBox_Office2003Silver td.dxeT, .dxeListBox_Office2003Silver td.dxeMI
{
    border-left-width: 0px!important;
}
.dxeListBox_Office2003Silver td.dxeFTM, .dxeListBox_Office2003Silver td.dxeTM, .dxeListBox_Office2003Silver td.dxeLTM,
.dxeListBox_Office2003Silver .dxeHFC, .dxeListBox_Office2003Silver .dxeHC, .dxeListBox_Office2003Silver .dxeHLC
{
    overflow: hidden;
}
.dxeListBox_Office2003Silver td.dxeFTM, .dxeListBox_Office2003Silver td.dxeTM, 
.dxeListBox_Office2003Silver .dxeHFC, .dxeListBox_Office2003Silver .dxeHC
{
    padding-right: 6px!important;
}
.dxeListBox_Office2003Silver td.dxeLTM, .dxeListBox_Office2003Silver td.dxeTM, 
.dxeListBox_Office2003Silver .dxeHC,  .dxeListBox_Office2003Silver .dxeHLC
{
    padding-left: 6px!important;
}
/*Grid lines*/
.dxeListBox_Office2003Silver td.dxeLTM, .dxeListBox_Office2003Silver td.dxeTM, .dxeListBox_Office2003Silver td.dxeMIM
{
    border-left: 1px solid #C8C8D9 !important;
}
.dxeListBox_Office2003Silver td.dxeIM, .dxeListBox_Office2003Silver td.dxeFTM, .dxeListBox_Office2003Silver td.dxeTM, .dxeListBox_Office2003Silver td.dxeLTM,
.dxeListBox_Office2003Silver td.dxeCM, .dxeListBox_Office2003Silver td.dxeMIM
{
    border-bottom: solid 1px #C8C8D9;
}
/*Header*/
.dxeListBox_Office2003Silver .dxeHD
{
    background-color: #9C9AB7;
    background-image:url('lbHeaderBackground.gif');
    background-position:center top;
    background-repeat:repeat-x;
    border-bottom: solid 1px #7C7C94;
}
.dxeListBox_Office2003Silver .dxeHFC, .dxeListBox_Office2003Silver .dxeHIC, .dxeListBox_Office2003Silver .dxeHC,  .dxeListBox_Office2003Silver .dxeHLC,
.dxeListBox_Office2003Silver td.dxeHCC, .dxeListBox_Office2003Silver td.dxeHMIC
{
    border-bottom-width: 0px;
    padding-top: 4px;
    padding-bottom: 5px;
}
.dxeListBox_Office2003Silver .dxeHC,  .dxeListBox_Office2003Silver .dxeHLC, .dxeListBox_Office2003Silver td.dxeHMIC
{
    border-left: solid 1px #7C7C94;
}
.dxeListBox_Office2003Silver .dxeHIC, .dxeListBox_Office2003Silver .dxeHFC, .dxeListBox_Office2003Silver .dxeHCC
{
    border-left:1px solid #9C9AB7;
}
.dxeListBox_Office2003Silver .dxeHFC, .dxeListBox_Office2003Silver .dxeHC, .dxeListBox_Office2003Silver .dxeHMIC
{
    border-right-width:0;
}
.dxeListBox_Office2003Silver .dxeHLC
{
    border-right: solid 1px #7C7C94;
}

/* -- Calendar -- */
.dxeCalendar_Office2003Silver
{
 	color: black;
	font-weight: normal; 	
    border: solid 1px #7c7c94;
    background-color: white;
}
.dxeCalendar_Office2003Silver td.dxMonthGrid 
{
    padding: 8px 20px;
    cursor: default;
}
.dxeCalendar_Office2003Silver td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
    cursor: default;
}
.dxeCalendarDayHeader_Office2003Silver
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 5px;    
    border-bottom: solid 1px #d9d9d9;    
}
.dxeCalendarWeekNumber_Office2003Silver
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;    
	padding: 6px 8px 2px 4px;  
    color: #cac9c9;
}
.dxeCalendarDay_Office2003Silver
{    
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;    
    text-align: center;    
}
.dxeCalendarWeekend_Office2003Silver        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_Office2003Silver     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_Office2003Silver      /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarToday_Office2003Silver      /* inherits dxeCalendarDay */
{
    padding: 3px;
    border: solid 1px #c00000;
}
.dxeCalendarSelected_Office2003Silver       /* inherits dxeCalendarDay */
{
    color: black;
    background-color: #ffc076;
}
.dxeCalendarHeader_Office2003Silver
{
    background: url('edtCalendarHeadBack.gif') repeat-x center bottom #f3f4fa;
    border: solid 1px #d9d9d9;
	border-width: 1px 0;
    padding: 4px 7px;
}
.dxeCalendarHeader_Office2003Silver td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_Office2003Silver 
{
    background-color: #dfdfdf;
    padding: 8px 0px;    
    border-top: solid 1px #d9d9d9;
}
.dxeCalendarFastNav_Office2003Silver
{
    background: white;
    border: solid 1px #7c7c94;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_Office2003Silver
{
    padding: 0px 9px;
}
.dxeCalendarFastNavFooter_Office2003Silver
{
	color: black;
    background-color: #dfdfdf;
    padding: 8px 0px;   
    border: solid 1px #7c7c94;
    border-top: solid 1px #d9d9d9;
}
.dxeCalendarFastNavMonth_Office2003Silver, .dxeCalendarFastNavYear_Office2003Silver
{
    font: normal 9pt Tahoma;
    color: Black;
    padding: 3px 5px;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_Office2003Silver
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_Office2003Silver, .dxeCalendarFastNavYearSelected_Office2003Silver
{ 
	border: solid 1px #000080;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_Office2003Silver
{
	padding: 5px;
}
.dxeCalendarFastNavMonthHover_Office2003Silver, .dxeCalendarFastNavYearHover_Office2003Silver
{            
    background: #e5e5e5;    
    border: solid 1px #7c7c94;
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthHover_Office2003Silver
{
	padding: 5px;
}
/* Disabled */
.dxeDisabled_Office2003Silver, .dxeDisabled_Office2003Silver td.dxe
{
	color: #aaaaaa;
	cursor: default;
}
.dxeButtonDisabled_Office2003Silver, .dxeButtonDisabled_Office2003Silver td.dxe
{
    background: #cecece url('edtButtonBackDis.gif') repeat-x top;
    border-color: #bfbfbf;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2003Silver
{	
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
	vertical-align: middle;	 		
    border: solid 1px #7c7c94;
	background: url('edtButtonBack.gif') repeat-x center bottom #e6e6f0;    
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
.dxbButtonHover_Office2003Silver 
{     
	border: solid 1px #000080;
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
}
.dxbButtonChecked_Office2003Silver 
{
	border: solid 1px #000080;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
.dxbButtonPressed_Office2003Silver 
{
	border: solid 1px #000080;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
.dxbButton_Office2003Silver div.dxb
{    
    padding: 4px 8px 5px 8px;
	border: 0px;
}
.dxbButton_Office2003Silver div.dxbf
{     
    padding: 3px 7px 4px 7px;
	border: dotted 1px black;		
}
.dxbButton_Office2003Silver div.dxb table
{    
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
}
.dxbButton_Office2003Silver div.dxb td.dxb
{    
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Disabled */
.dxbDisabled_Office2003Silver
{
    background: #cecece url('edtButtonBackDis.gif') repeat-x top;
    border-color: #bfbfbf;
	color: #808080;
	cursor: default;
}
.dxbDisabled_Office2003Silver td.dxb
{
	color: #808080;
}
/* -- FilterControl -- */
.dxfcTable_Office2003Silver
{
	border-collapse: separate!important;
}
.dxfcTable_Office2003Silver td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 9pt Tahoma;
	color: Black;	
}
a.dxfcPropertyName_Office2003Silver
{
	white-space:nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2003Silver
{
	white-space:nowrap!important;
	padding:0px 3px 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2003Silver
{
	white-space:nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2003Silver
{
	white-space:nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_Office2003Silver 
{
	cursor: pointer;
}
.dxfcLoadingPanel_Office2003Silver
{
	border: solid 1px #9c9ab7;
	background-color: white;
	font: 9pt Tahoma;
	color: #7C7C94;
}
.dxfcLoadingPanel_Office2003Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxfcLoadingDiv_Office2003Silver
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeMaskHint_Office2003Silver 
{
	background: #ffffe1;
	border: solid 1px black;
	padding: 2px 5px 3px;
	color: Black;
	font: 9pt Tahoma;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2003Silver
{
    border: Solid 1px #7c7c94;
    background-color: #e3e3ec;
}
.dxeProgressBar_Office2003Silver .dxePBMainCell {
    padding: 1px;
}
.dxeProgressBar_Office2003Silver td.dxe
{
    padding: 0;
}
.dxeProgressBar_Office2003Silver, .dxeProgressBar_Office2003Silver td.dxe
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: Black;    
}
.dxeProgressBarIndicator_Office2003Silver
{
    background-color: #9f9db9;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_Office2003Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2003Silver
{
    border: solid 1px #7c7c94;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeColorTable_Office2003Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
}
.dxeColorTable_Office2003Silver td.dx
{
   padding: 4px 4px;
}
.dxeColorTableCell_Office2003Silver {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_Office2003Silver {
    border: solid 1px #808080;
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.dxeColorTableCellSelected_Office2003Silver {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;

    background-color: #CBCBCB;
    border: solid 1px #888888;
}
.dxeColorTableCellHover_Office2003Silver {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    
    background-color: #F2F2F2;
    border: solid 1px #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2003Silver
{

}
.dxeInvalid_Office2003Silver .dxeEditArea_Office2003Silver,
.dxeInvalid_Office2003Silver .dxeMemoEditArea_Office2003Silver {
    
}

/* -- Focused Style -- */
.dxeFocused_Office2003Silver 
{
    border: solid 1px #3a3a53;
}

/* -- Null Text Style -- */
.dxeNullText_Office2003Silver .dxeEditArea_Office2003Silver,
.dxeNullText_Office2003Silver .dxeMemoEditArea_Office2003Silver
{
    color: #aaa;
}

/* -- Captcha -- */
.dxcaRefreshButton_Office2003Silver
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_Office2003Silver
{
	color: #aaaaaa;
}

.dxcaRefreshButtonCell_Office2003Silver
{
	padding-left: 4px;
	padding-right: 4px;
}

.dxcaRefreshButtonText_Office2003Silver
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_Office2003Silver
{
	text-decoration: none;
}

.dxcaTextBoxCell_Office2003Silver
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCell_Office2003Silver, .dxcaTextBoxCellNoIndent_Office2003Silver
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCellNoIndent_Office2003Silver .dxeErrorCell_Office2003Silver
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2003Silver
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_Office2003Silver
{
	font: 9pt Tahoma;
	color: #303030;
}

.dxcaLoadingPanel_Office2003Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}


