.dxGridView_gvCollapsedButton_Office2003Blue,
.dxGridView_gvExpandedButton_Office2003Blue,
.dxGridView_gvDetailCollapsedButton_Office2003Blue,
.dxGridView_gvDetailExpandedButton_Office2003Blue,
.dxGridView_gvFilterRowButton_Office2003Blue,
.dxGridView_gvHeaderFilter_Office2003Blue,
.dxGridView_gvHeaderFilterActive_Office2003Blue,
.dxGridView_gvHeaderSortDown_Office2003Blue,
.dxGridView_gvHeaderSortUp_Office2003Blue,
.dxGridView_gvDragAndDropArrowDown_Office2003Blue,
.dxGridView_gvDragAndDropArrowUp_Office2003Blue,
.dxGridView_gvDragAndDropHideColumn_Office2003Blue,
.dxGridView_gvParentGroupRows_Office2003Blue,
.dxGridView_WindowResizer_Office2003Blue {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxGridView_gvCollapsedButton_Office2003Blue {
    background-position: -36px 0px;
    width: 11px;
    height: 12px;
}

.dxGridView_gvExpandedButton_Office2003Blue {
    background-position: -36px -18px;
    width: 11px;
    height: 12px;
}

.dxGridView_gvDetailCollapsedButton_Office2003Blue {
    background-position: -53px 0px;
    width: 11px;
    height: 12px;
}

.dxGridView_gvDetailExpandedButton_Office2003Blue {
    background-position: -53px -18px;
    width: 11px;
    height: 12px;
}

.dxGridView_gvFilterRowButton_Office2003Blue {
    background-position: -100px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvHeaderFilter_Office2003Blue {
    background-position: 0px -36px;
    width: 15px;
    height: 16px;
}

.dxGridView_gvHeaderFilterActive_Office2003Blue {
    background-position: -23px -36px;
    width: 15px;
    height: 16px;
}

.dxGridView_gvHeaderSortDown_Office2003Blue {
    background-position: -19px 0px;
    width: 7px;
    height: 4px;
}

.dxGridView_gvHeaderSortUp_Office2003Blue {
    background-position: -19px -18px;
    width: 7px;
    height: 4px;
}

.dxGridView_gvDragAndDropArrowDown_Office2003Blue {
    background-position: 0px 0px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropArrowUp_Office2003Blue {
    background-position: 0px -17px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropHideColumn_Office2003Blue {
    background-position: -70px 0px;
    width: 22px;
    height: 22px;
}

.dxGridView_gvParentGroupRows_Office2003Blue {
    background-position: -70px -36px;
    width: 18px;
    height: 13px;
}

.dxGridView_WindowResizer_Office2003Blue {
    background-position: -46px -36px;
    width: 16px;
    height: 16px;
}


