.dxgvControl_Aqua,
.dxgvDisabled_Aqua
{
	border: Solid 1px #A3C0E8;
	font: 9pt Tahoma;
	background-color: #FFFFFF;
	color: #000000;
	cursor: default;
}
.dxgvDisabled_Aqua 
{
	color: Gray;
}
.dxgvControl_Aqua a 
{
	color: #3F66A0;
}
.dxgvControl_Aqua a:hover
{
	color: #F39128;
}
.dxgvControl_Aqua a:visited
{
	color: #3F66A0;
}
.dxgvDisabled_Aqua a
{
	color: Gray;
}
.dxgvLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxgvLoadingPanel_Aqua td
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxgvLoadingPanelStatusBar_Aqua
{
	background-color: transparent;
	font: 12px Tahoma;
}
.dxgvLoadingPanelStatusBar_Aqua td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px 0px 2px;
}

.dxgvFilterPopupWindow_Aqua
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #A3C0E8;
}
.dxgvFilterPopupItemsArea_Aqua
{
	color: Black;
	background-color: #FFFFFF;
}
.dxgvFilterPopupButtonPanel_Aqua
{
	font: 9pt Tahoma;
	background-color: #ECF4FE;
	border: 1px solid #AECAF0;
	color: #2C4D79;
}

.dxgvFilterPopupItem_Aqua td.dxgv,
.dxgvFilterPopupActiveItem_Aqua td.dxgv,
.dxgvFilterPopupSelectedItem_Aqua td.dxgv
{
	padding: 3px 2px 4px 4px;
	cursor: default;
	white-space: nowrap;	
}
.dxgvFilterPopupActiveItem_Aqua
{
	background-color: #FFE7A2;
    color: Black;
}
.dxgvFilterPopupSelectedItem_Aqua
{
    color: Black;
    background-color: #FFBD69;
}

.dxgvTable_Aqua
{
	background-color: #FFFFFF;
	border: 0;
	border-collapse: separate!important;
	overflow: hidden;
	font: 9pt Tahoma;
	color: #4F4F4F;
}
.dxgvInlineEditRow_Aqua,
.dxgvDataRow_Aqua
{
}
.dxgvInlineEditRow_Aqua td.dxgv
{
	border-bottom: Solid 1px #A3C0E8;
	border-right: Solid 1px #A3C0E8;
}
.dxgvDataRowAlt_Aqua
{
	background-color: #F7FAFF;
}
.dxgvFilterRow_Aqua 
{
	background-color: #DBEBFF;
}
.dxgvEditForm_Aqua 
{
	background-color: #F7FAFF;
}
.dxgvEditForm_Aqua td.dxgv
{
	border-bottom: Solid 1px #A3C0E8;
	padding: 15px 15px 15px 15px;
}
.dxgvSelectedRow_Aqua
{
	background-color: #FFBD69;
	color: #000000;
}
.dxgvFocusedRow_Aqua
{
	background-color: #FF9C3C;
    color: #000000;
}
.dxgvSelectedRow_Aqua td.dxgvCommandColumn_Aqua a, 
.dxgvFocusedRow_Aqua td.dxgvCommandColumn_Aqua a
{
    color: #000000;
}
.dxgvPreviewRow_Aqua
{
	background-color: #F7FAFF;
	color: #000000;
}
.dxgvDetailCell_Aqua,
.dxgvPreviewRow_Aqua td.dxgv,
.dxgvEmptyDataRow_Aqua td.dxgv
{
	padding: 30px 2px 30px 4px;
	border-bottom: Solid 1px #BED6F6;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.dxgvPreviewRow_Aqua td.dxgv
{
	padding: 15px 15px 15px 20px;
}
.dxgvDetailCell_Aqua
{
	padding: 19px 19px 19px 0px;
}
.dxgvDetailRow_Aqua td.dxgvIndentCell 
{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: Solid 1px #BED6F6;
}

.dxgvEmptyDataRow_Aqua
{
	background-color: #EEF3FF;
	color: #4F4F4F;
}
.dxgvEmptyDataRow_Aqua td.dxgv
{
	text-align: center;
}

.dxgvEditFormDisplayRow_Aqua td.dxgv,
.dxgvDataRow_Aqua td.dxgv,
.dxgvDataRowAlt_Aqua td.dxgv,
.dxgvSelectedRow_Aqua td.dxgv,
.dxgvFocusedRow_Aqua td.dxgv
{
	overflow: hidden;
	border-top: 0;
	border-left: 0;
	border-bottom: Solid 1px #BED6F6;
	border-right: Solid 1px #BED6F6;
	padding: 4px 5px 5px 5px;
}
.dxgvEditFormDisplayRow_Aqua td.dxgvCommandColumn_Aqua,
.dxgvDataRow_Aqua td.dxgvCommandColumn_Aqua,
.dxgvDataRowAlt_Aqua td.dxgvCommandColumn_Aqua,
.dxgvSelectedRow_Aqua td.dxgvCommandColumn_Aqua,
.dxgvFocusedRow_Aqua td.dxgvCommandColumn_Aqua
{
	padding: 4px 5px 5px 5px;
}
.dxgvEditFormDisplayRow_Aqua
{
    background-color: #FFFFFF;
}
.dxgvEditFormDisplayRow_Aqua td.dxgv 
{
}
.dxgvEditingErrorRow_Aqua
{
	background-color: #F3D6D6;
	color: #BA1717;
}
.dxgvEditingErrorRow_Aqua td.dxgv
{
	white-space: pre-wrap;
	border-bottom: Solid 1px #A3C0E8;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	padding: 6px 12px 6px 12px;
}

.dxgvFilterRow_Aqua td.dxgv
{
	border-bottom: Solid 1px #AECAF0;
	border-right: 0px;
	border-top: 0;
	border-left: 0;
	padding: 2px 1px 2px 1px;
	overflow: hidden;
}
.dxgvGroupRow_Aqua
{
	background-color: #DBEBFF;
	color: #4D8AB5;
}
.dxgvFocusedGroupRow_Aqua
{
	background-color: #FFBD69;
    color: #010100!important;
}
.dxgvGroupRow_Aqua td.dxgv,
.dxgvFocusedGroupRow_Aqua td.dxgv
{
	border: none 0;
	vertical-align: middle;
	white-space: nowrap;
	border-top: 0px;
	border-bottom: Solid 1px #AECAF0;
	padding: 4px 5px 5px;
}
.dxgvFocusedGroupRow_Aqua td.dxgvIndentCell,
.dxgvFocusedRow_Aqua td.dxgvIndentCell,
.dxgvSelectedRow_Aqua td.dxgvIndentCell
{
    background-color: #DBEBFF;
	border-right: solid 1px #A3C0E8;
	border-top: 0px;
}

.dxgvFocusedGroupRow_Aqua td.dxgv
{
	border-bottom: Solid 1px #AECAF0;
}

.dxgvHeaderPanel_Aqua {
	background-color: #E2F0FF;
	color: #283B56;
	padding: 8px 4px 8px 3px;
	border-bottom: Solid 1px #A3C0E8;
}

.dxgvHeader_Aqua {
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 5px 5px 5px;
	border: Solid 1px #A3C0E8;
	background-image: url('gvHeaderBackground.gif');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #E2F0FF;
	overflow: hidden;
    font-weight: normal;
    text-align: left;
}

.dxgvHeader_Aqua a,
.dxgvHeader_Aqua a:hover,
.dxgvHeader_Aqua a:visited {
	color: #3F66A0;
}

.dxgvHeader_Aqua, .dxgvHeader_Aqua table {
	color: #283B56;
	font: 9pt Tahoma;
}
.dxgvHeader_Aqua td {
	white-space: nowrap;
}
.dxgvCustomization_Aqua, 
.dxgvPopupEditForm_Aqua
{
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.dxgvGroupPanel_Aqua
{
    font-size: 9pt;
	white-space: nowrap;
	background-color: #ECF4FE;
	color: #94a6be;
	border-bottom: Solid 1px #A3C0E8;
	background-image: url('gvGroupPanelBackground.gif');
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 10px 4px 10px 6px;
}
.dxgvFooter_Aqua
{
	background-color: #EEF3FF;
	white-space: nowrap;
}
.dxgvFooter_Aqua td.dxgv
{
	padding: 6px 5px 7px 5px;
	border-bottom: Solid 1px #A3C0E8;
	border-right: 0px;
}
.dxgvGroupFooter_Aqua
{
	background-color: #EEF3FF;
	white-space: nowrap;
}
.dxgvGroupFooter_Aqua td.dxgv
{
	padding: 6px 5px 7px 5px;
	border-bottom: Solid 1px #A3C0E8;
	border-right: 0px;
}

.dxgvDataRow_Aqua td.dxgvIndentCell,
.dxgvGroupRow_Aqua td.dxgvIndentCell,
.dxgvGroupFooter_Aqua td.dxgvIndentCell
{
    background-color: #DBEBFF;
	border-right: solid 1px #A3C0E8;
	border-top: 0px;
}

.dxgvTitlePanel_Aqua,
.dxgvTable_Aqua caption
{
	font-weight: normal;
	padding: 5px;
	padding-bottom: 6px;
	text-align: center;	
	border-bottom: Solid 1px #A3C0E8;
	color: #283B56;
	background-color: #F7FAFF;
}
.dxgvLoadingDiv_Aqua
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvStatusBar_Aqua 
{
	border-top: Solid 1px #A3C0E8;
	background-color: #EEF3FF;
}
.dxgvStatusBar_Aqua tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_Aqua
{
	padding: 2px 0px 2px 2px;
}
.dxgvCommandColumn_Aqua a
{
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_Aqua
{	
}
.dxgvEditFormTable_Aqua
{
    margin: 10px 0px 10px 0px;
	padding: 0px;
	font: 9pt Tahoma;
	color: #000000;
}
.dxgvEditFormCaption_Aqua
{
	padding: 4px 4px 4px 8px; 
	white-space: nowrap;
}

.dxgvInlineEditCell_Aqua
{
	padding: 1px; 
}
.dxgvInlineEditCell_Aqua .dxeButtonEdit_Aqua td.dxgv,
.dxgvInlineEditCell_Aqua .dxeTextBox_Aqua td.dxgv  
{
	padding-left: 1px;
}
.dxgvEditFormCell_Aqua
{
	padding: 4px 4px 4px 4px; 
	border: 0;
}

.dxgvFilterBar_Aqua 
{
	border-top: solid 1px #A3C0E8;	
	background: #B7D7FF;
}
.dxgvFilterBar_Aqua a
{
	color: #283B56;
	text-decoration: underline;		
}
.dxgvFilterBar_Aqua a:hover
{
	color: #F39128;
}
.dxgvFilterBarCheckBoxCell_Aqua
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxgvFilterBarImageCell_Aqua
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Aqua
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Aqua
{
	font-size: 9pt;
	padding: 5px 6px 8px;	
}
.dxgvFilterBuilderMainArea_Aqua 
{
	background: white;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Aqua
{
	background-color: #EEF3FF;
	border-top: solid 1px #A3C0E8;
	padding: 6px;
}

.dxgvPagerBottomPanel_Aqua, 
.dxgvPagerTopPanel_Aqua
{
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: url('gvPagerBottomPanelBackground.gif');
    background-repeat: repeat-x;
    background-position: bootom;
    background-color: #ffffff;
}

.dxgvDataRowHover_Aqua
{
	background: #FFE7A2;
	color: #4F4F4F;
}


.dxgvControl_Aqua .dxpControl_Aqua  td.dxpCtrl,
.dxgvDisabled_Aqua .dxpControl_Aqua  td.dxpCtrl
{
	padding: 6px 2px 6px 0px;
}

.dxgvControl_Aqua .dxpLite_Aqua,
.dxgvDisabled_Aqua .dxpLite_Aqua
{
	padding: 6px 0;
}

.dxgvControl_Aqua .dxpSummary_Aqua
{
	color: #283B56;
}

.dxgvControl_Aqua .dxpLite_Aqua .dx-summary
{
	color: #283B56;
}

