.dxPivotGrid_pgCollapsedButton_PlasticBlue,
.dxPivotGrid_pgExpandedButton_PlasticBlue,
.dxPivotGrid_pgSortDownButton_PlasticBlue,
.dxPivotGrid_pgSortUpButton_PlasticBlue,
.dxPivotGrid_pgFilterResizer_PlasticBlue,
.dxPivotGrid_pgFilterButton_PlasticBlue,
.dxPivotGrid_pgFilterButtonActive_PlasticBlue,
.dxPivotGrid_pgCustomizationFormCloseButton_PlasticBlue,
.dxPivotGrid_pgDragArrowDown_PlasticBlue,
.dxPivotGrid_pgDragArrowUp_PlasticBlue,
.dxPivotGrid_pgDragHideField_PlasticBlue,
.dxPivotGrid_pgDataHeaders_PlasticBlue,
.dxPivotGrid_pgGroupSeparator_PlasticBlue,
.dxPivotGrid_pgSortByColumn_PlasticBlue,
.dxPivotGrid_pgPrefilterButton_PlasticBlue {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_PlasticBlue {
    background-position: 0px 0px;
    width: 9px;
    height: 10px;
}

.dxPivotGrid_pgExpandedButton_PlasticBlue {
    background-position: 0px -18px;
    width: 9px;
    height: 10px;
}

.dxPivotGrid_pgSortDownButton_PlasticBlue {
    background-position: -36px 0px;
    width: 7px;
    height: 8px;
}

.dxPivotGrid_pgSortUpButton_PlasticBlue {
    background-position: -36px -18px;
    width: 7px;
    height: 8px;
}

.dxPivotGrid_pgFilterResizer_PlasticBlue {
    background-position: -69px -37px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButton_PlasticBlue {
    background-position: 0px -36px;
    width: 13px;
    height: 15px;
}

.dxPivotGrid_pgFilterButtonActive_PlasticBlue {
    background-position: -23px -36px;
    width: 13px;
    height: 15px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_PlasticBlue {
    background-position: -46px -39px;
    width: 14px;
    height: 14px;
}

.dxPivotGrid_pgDragArrowDown_PlasticBlue {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_PlasticBlue {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_PlasticBlue {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_PlasticBlue {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_PlasticBlue {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_PlasticBlue {
    background-position: -53px 0px;
    width: 12px;
    height: 8px;
}

.dxPivotGrid_pgPrefilterButton_PlasticBlue {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}


