/* -- ASPxCallbackPanel -- */
.dxcpLoadingPanel_Aqua, .dxcpLoadingPanelWithContent_Aqua
{
	font: 9pt Tahoma;
	color: #2C4D79;
}
.dxcpLoadingPanelWithContent_Aqua 
{
    background-color: White;
	border: solid 1px #67A2C6;
}
.dxcpLoadingPanel_Aqua td.dx, .dxcpLoadingPanelWithContent_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxcpLoadingDiv_Aqua
{
	background-color: Gray;
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxcpDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxCloudControl -- */
.dxccControl_Aqua a:hover
{
   color: #2C4D79!important;
   background-color: #FFFFFF;
}
.dxccControl_Aqua a
{
	text-decoration: none;
	color: #3F7ABE;
}
.dxccControl_Aqua
{
	font-family: Tahoma, Verdana, Arial;
	text-decoration: none;
	color: #3F7ABE;
	background-color: #FFFFFF;
}
/* Disabled */
.dxccDisabled_Aqua
{
	color: #BEDAFF;
	cursor: default;
}

/* -- ASPxDataView -- */
.dxdvControl_Aqua
{
	font: 10px Tahoma;
	color: #8EAED4;
	border: Solid 1px #AECAF0;
}
.dxdvControl_Aqua td.dxdvCtrl
{
	padding: 0px;
}
.dxdvLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxdvLoadingPanel_Aqua td.dx
{
    white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxdvContent_Aqua
{
    padding: 20px 20px 20px 20px;   
    border-bottom: Solid 1px #A3C0E8; 
    border-top: Solid 1px #A3C0E8;
}
.dxdvItem_Aqua, .dxdvFlowItem_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #FFFFFF;
	padding: 20px;
	height: 180px;
	/*if IE*/	
	height:expression("154px");
}
.dxdvFlowItem_Aqua
{
	float: left;
	overflow: hidden;
}
.dxdvFlowItemsContainer_Aqua
{
}
.dxdvEmptyItem_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding: 20px;
	height: 180px;
	/*if IE*/
	height:expression("154px");
}
.dxdvPagerPanel_Aqua
{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #C7DFFF;
}
.dxdvEmptyData_Aqua
{
    color: #4F4F4F;
    padding: 12px 40px 12px 40px;
    
}
/* Disabled */
.dxdvDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxHeadline -- */
.dxhlControl_Aqua 
{
	font: 9pt Tahoma;
	color: #000000;
}
.dxhlContent_Aqua
{
    line-height: 120%!important;
    font-family: Tahoma;
    font-size: 9pt;
	color: #000000;
} 
.dxhlDate_Aqua
{
	color: #AECAF0;
	white-space: nowrap;
	font-family: Tahoma;
    font-size: 7pt;
}
.dxhlHeader_Aqua
{
	color: #5689C5;
	font-weight: normal;
    line-height: 121%!important;
    font-size: 12pt;
    font-family: Tahoma;
}
.dxhlDateHeader_Aqua
{
    font-size: 7pt;
    line-height: 121%!important;
	color: #283B56;
	white-space: nowrap;
	background-color: #AECAF0;
	font-weight: normal;
	padding: 3px 5px 3px 5px;
}
.dxhlLeftPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	line-height: 121%!important;
    text-align: right;
}
.dxhlRightPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	line-height: 121%!important;
}
.dxhlLeftPanel_Aqua img,
.dxhlRightPanel_Aqua img 
{
    margin-top: 5px;
    border: Solid 1px #AECAF0!important;
}

.dxhlDateLeftPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #AECAF0;
	white-space: nowrap;
}
.dxhlDateRightPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #AECAF0;
	white-space: nowrap;
}
.dxhlTailDiv_Aqua
{
	font: 9pt Tahoma;
	color: #AECAF0;
}
.dxhlTailDiv_Aqua a
{
	color: #AECAF0;
}
.dxhlTailDiv a:hover
{
    color: #BE458B;
}
.dxhlTailDiv_Aqua a:visited
{
    color: #928489;
}
.dxhlContent_Aqua a.dxhl
{
	color: #5689C5;
} 
.dxhlContent_Aqua a.dxhl:hover
{
    color: #F39128;
}
.dxhlContent_Aqua a.dxhl:visited
{
    color: #5689C5;
}
/* Disabled */
.dxhlDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxLoadingPanel -- */
.dxlpLoadingPanel_Aqua 
{
	font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxlpLoadingPanel_Aqua  td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxlpLoadingDiv_Aqua 
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}

/* -- ASPxMenu -- */
.dxmControl_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
}
.dxmControl_Aqua a, .dxmMenu_Aqua a, .dxmVerticalMenu_Aqua a, .dxmSubMenu_Aqua a
{
	color: #283B56;
	text-decoration: none;
}
.dxmControl_Aqua a:hover
{
	text-decoration:none;
}
.dxmLoadingPanel_Aqua
{
	font: 9pt Tahoma;
	color: #2C4D79;
}
.dxmLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 6px;
}
.dxmMenu_Aqua, .dxmVerticalMenu_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #E2F0FF;
	border: Solid 1px #AECAF0;
	
	padding: 0px 0px 0px 0px;
	
	background-image: url('mItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}

.dxmVerticalMenu_Aqua
{
	padding: 1px 1px 1px 1px;
}

.dxmMenuGutter_Aqua
{
}

.dxmMenuSeparator_Aqua .dx,
.dxmMenuFullHeightSeparator_Aqua .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_Aqua,
.dxmMenuFullHeightSeparator_Aqua
{
	width: 1px;
}

.dxmMenuSeparator_Aqua .dx,
.dxmMenuFullHeightSeparator_Aqua,
.dxmMenuVerticalSeparator_Aqua
{
	background-color: #AECAF0;
	width: 1px;
}
.dxmMenuSeparator_Aqua
{
	display: none;
}
.dxmMenuVerticalSeparator_Aqua
{
	width: 100%;
	height: 1px;
}

.dxmMenuItem_Aqua, .dxmMenuItemWithImage_Aqua, .dxmMenuItemWithPopOutImage_Aqua, .dxmMenuItemWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuItem_Aqua, .dxmVerticalMenuItemWithImage_Aqua, .dxmVerticalMenuItemWithPopOutImage_Aqua, .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua, 
.dxmMenuLargeItem_Aqua, .dxmMenuLargeItemWithImage_Aqua, .dxmMenuLargeItemWithPopOutImage_Aqua, .dxmMenuLargeItemWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItem_Aqua, .dxmVerticalMenuLargeItemWithImage_Aqua, .dxmVerticalMenuLargeItemWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	
	background-image: url('mItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}
.dxmVerticalMenuItem_Aqua, .dxmVerticalMenuItemWithImage_Aqua, .dxmVerticalMenuItemWithPopOutImage_Aqua, .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua
{
	/*border-bottom: Solid 1px #D5D5D5;*/
	border-bottom-style: none;	
	border-top-style: none;	
	border-left-style: none;
	border-right-style: none;	
	
	background-image: url('mVertBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmVerticalMenuLargeItem_Aqua, .dxmVerticalMenuLargeItemWithImage_Aqua, .dxmVerticalMenuLargeItemWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
	/*border-bottom: Solid 1px #D5D5D5;*/
	border-bottom-style: none;
	border-top-style:  none;	
	border-left-style: none;
	border-right-style: none;
	
	background-image: url('mVertBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmMenuLargeItem_Aqua, .dxmMenuLargeItemWithImage_Aqua, .dxmMenuLargeItemWithPopOutImage_Aqua, .dxmMenuLargeItemWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItem_Aqua, .dxmVerticalMenuLargeItemWithImage_Aqua, .dxmVerticalMenuLargeItemWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
	background-image: url('mVertBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmMenuItem_Aqua, .dxmMenuItemWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItem_Aqua
{
	padding-right: 13px;
	padding-left: 13px;	    
}

.dxmMenuItemWithPopOutImage_Aqua, .dxmMenuItemWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemWithPopOutImage_Aqua
{
	padding-right: 13px;
	padding-left: 13px;    
}
.dxmVerticalMenuItem_Aqua
{
	padding-top: 5px;
	padding-right: 19px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmVerticalMenuItemWithImage_Aqua
{
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;
}
.dxmVerticalMenuItemWithPopOutImage_Aqua
{
	padding-top: 5px;	
	padding-right: 6px;	
	padding-bottom: 6px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemWithImageWithPopOutImage_Aqua
{
	padding-top: 5px;	
	padding-right: 6px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmMenuLargeItem_Aqua, .dxmMenuLargeItemWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemWithPopOutImage_Aqua, .dxmMenuLargeItemWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItem_Aqua, .dxmVerticalMenuLargeItemWithImage_Aqua
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButton_Aqua, .dxmMenuLargeItemDropDownButton_Aqua
{
	padding-right: 13px;
	padding-left: 13px;
}
.dxmVerticalMenuItemDropDownButton_Aqua, .dxmVerticalMenuLargeItemDropDownButton_Aqua
{
	padding-right: 8px;
	padding-left: 2px;
}

.dxmMenuItemSelected_Aqua, .dxmMenuItemSelectedWithImage_Aqua, .dxmMenuItemSelectedWithPopOutImage_Aqua, .dxmMenuItemSelectedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuItemSelected_Aqua, .dxmVerticalMenuItemSelectedWithImage_Aqua, .dxmVerticalMenuItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Aqua,
.dxmMenuLargeItemSelected_Aqua, .dxmMenuLargeItemSelectedWithImage_Aqua, .dxmMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemSelected_Aqua, .dxmVerticalMenuLargeItemWithImageSelected_Aqua, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	background-color: #FEE17B;
	color: #283B56;
	background-image: url('mVertSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmVerticalMenuItemSelected_Aqua, .dxmVerticalMenuItemSelectedWithImage_Aqua, .dxmVerticalMenuItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemSelected_Aqua, .dxmVerticalMenuLargeItemWithImageSelected_Aqua, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	background-color: #FEE385;
	color: #283B56;
	
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	
	background-image: url('mVertHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				
}
.dxmMenuLargeItemSelected_Aqua, .dxmMenuLargeItemSelectedWithImage_Aqua, .dxmMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemSelected_Aqua, .dxmVerticalMenuLargeItemWithImageSelected_Aqua, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	background-image: url('mItemSBack.gif');
    background-repeat:repeat-x;	
    background-position:top;				    
}

.dxmMenuItemSelected_Aqua, .dxmMenuItemSelectedWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItemSelected_Aqua
{
	padding-right: 13px;
	padding-left: 13px;
}

.dxmMenuItemSelectedWithPopOutImage_Aqua, .dxmMenuItemSelectedWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemSelectedWithPopOutImage_Aqua
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemSelected_Aqua
{
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithImage_Aqua
{
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithPopOutImage_Aqua
{
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Aqua
{
	padding-top: 5px;	
	padding-right: 6px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemSelected_Aqua, .dxmMenuLargeItemSelectedWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemSelected_Aqua, .dxmVerticalMenuLargeItemSelectedWithImage_Aqua
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonSelected_Aqua, .dxmMenuLargeItemDropDownButtonSelected_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 13px;
	padding-left: 12px;
}
.dxmVerticalMenuItemDropDownButtonSelected_Aqua, .dxmVerticalMenuLargeItemDropDownButtonSelected_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 8px;
	padding-left: 1px;
}

.dxmMenuItemChecked_Aqua, .dxmMenuItemCheckedWithImage_Aqua, .dxmMenuItemCheckedWithPopOutImage_Aqua, .dxmMenuItemCheckedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuItemChecked_Aqua, .dxmVerticalMenuItemCheckedWithImage_Aqua, .dxmVerticalMenuItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Aqua,
.dxmMenuLargeItemChecked_Aqua, .dxmMenuLargeItemCheckedWithImage_Aqua, .dxmMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemChecked_Aqua, .dxmVerticalMenuLargeItemWithImageChecked_Aqua, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Aqua
{
	background-color: #FEE17B;
	color: #283B56;
	background-image: url('mVertSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmVerticalMenuItemChecked_Aqua, .dxmVerticalMenuItemCheckedWithImage_Aqua, .dxmVerticalMenuItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemChecked_Aqua, .dxmVerticalMenuLargeItemWithImageChecked_Aqua, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Aqua
{
	background-color: #FEE385;
	color: #283B56;
	
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	
	background-image: url('mVertHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				
}
.dxmMenuLargeItemChecked_Aqua, .dxmMenuLargeItemCheckedWithImage_Aqua, .dxmMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemChecked_Aqua, .dxmVerticalMenuLargeItemWithImageChecked_Aqua, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Aqua
{
	background-image: url('mItemSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				    
}

.dxmMenuItemChecked_Aqua, .dxmMenuItemCheckedWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItemChecked_Aqua
{
	padding-right: 13px;
	padding-left: 13px;
}

.dxmMenuItemCheckedWithPopOutImage_Aqua, .dxmMenuItemCheckedWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemCheckedWithPopOutImage_Aqua
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemChecked_Aqua
{
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithImage_Aqua
{
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithPopOutImage_Aqua
{
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Aqua
{
	padding-top: 5px;	
	padding-right: 6px;	
	padding-bottom: 6px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemChecked_Aqua, .dxmMenuLargeItemCheckedWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemChecked_Aqua, .dxmVerticalMenuLargeItemCheckedWithImage_Aqua
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Aqua
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonChecked_Aqua, .dxmMenuLargeItemDropDownButtonChecked_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 13px;
	padding-left: 12px;
}
.dxmVerticalMenuItemDropDownButtonChecked_Aqua, .dxmVerticalMenuLargeItemDropDownButtonChecked_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 8px;
	padding-left: 1px;
}

.dxmMenuItemHover_Aqua, .dxmMenuItemHoverWithImage_Aqua, .dxmMenuItemHoverWithPopOutImage_Aqua, .dxmMenuItemHoverWithImageWithPopOutImage_Aqua, 
.dxmVerticalMenuItemHover_Aqua, .dxmVerticalMenuItemHoverWithImage_Aqua, .dxmVerticalMenuItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua, 
.dxmMenuLargeItemHover_Aqua, .dxmMenuLargeItemHoverWithImage_Aqua, .dxmMenuLargeItemHoverWithPopOutImage_Aqua, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua, 
.dxmVerticalMenuLargeItemHover_Aqua, .dxmVerticalMenuLargeItemHoverWithImage_Aqua, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	background-color: #FEE899;
	color: #283B56;
	
	background-image: url('mItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmVerticalMenuItemHover_Aqua, .dxmVerticalMenuItemHoverWithImage_Aqua, .dxmVerticalMenuItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua, 
.dxmVerticalMenuLargeItemHover_Aqua, .dxmVerticalMenuLargeItemHoverWithImage_Aqua, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-top-style: none;	
	border-left-style: none;
	border-right-style: none;
	color: #283B56;	
	
	background-image: url('mVertHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmMenuLargeItemHover_Aqua, .dxmMenuLargeItemHoverWithImage_Aqua, .dxmMenuLargeItemHoverWithPopOutImage_Aqua, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua,
.dxmVerticalMenuLargeItemHover_Aqua, .dxmVerticalMenuLargeItemHoverWithImage_Aqua, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	background-image: url('mItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;    
}

.dxmMenuItemHover_Aqua, .dxmMenuItemHoverWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;		
}
.dxmMenuItemHover_Aqua
{
	padding-right: 13px;
	padding-left: 13px;		
}
.dxmMenuItemHoverWithPopOutImage_Aqua, .dxmMenuItemHoverWithImageWithPopOutImage_Aqua
{	
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;		
}	
.dxmMenuItemHoverWithPopOutImage_Aqua
{	
	padding-right: 13px;
	padding-left: 13px;		
}	
.dxmVerticalMenuItemHover_Aqua
{
	padding-top: 5px;
	padding-right: 19px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmVerticalMenuItemHoverWithImage_Aqua
{    
	padding-top: 5px;	
	padding-right: 19px;	
	padding-bottom: 6px;	
	padding-left: 8px;		
}
.dxmVerticalMenuItemHoverWithPopOutImage_Aqua
{
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua
{
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
}
.dxmMenuLargeItemHover_Aqua, .dxmMenuLargeItemHoverWithImage_Aqua
{    
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;		
}
.dxmMenuLargeItemHoverWithPopOutImage_Aqua, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;    		
}
.dxmVerticalMenuLargeItemHover_Aqua, .dxmVerticalMenuLargeItemHoverWithImage_Aqua
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonHover_Aqua, .dxmMenuLargeItemDropDownButtonHover_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 13px;
	padding-left: 12px;
}
.dxmVerticalMenuItemDropDownButtonHover_Aqua, .dxmVerticalMenuLargeItemDropDownButtonHover_Aqua
{
	border-left: solid #E5B77A 1px;
	padding-right: 8px;
	padding-left: 1px;
}
.dxmSubMenu_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #F9F9F9;
	border: solid 1px #A3C0E8;
	padding: 2px 2px 2px 2px;
}
.dxmSubMenuGutter_Aqua
{
	background-color: #F9F9F9;
}
.dxmSubMenuSeparator_Aqua
{
	background-color: #A3C0E8;
	width: 100%;
	height: 1px;
}
.dxmSubMenuItem_Aqua, .dxmSubMenuItemWithImage_Aqua, .dxmSubMenuItemWithPopOutImage_Aqua, .dxmSubMenuItemWithImageWithPopOutImage_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	white-space: nowrap;
}
.dxmSubMenuItem_Aqua, .dxmSubMenuItemWithImage_Aqua
{
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmSubMenuItemWithPopOutImage_Aqua
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmSubMenuItemWithImageWithPopOutImage_Aqua
{	
    padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;    
}
.dxmSubMenuItemDropDownButton_Aqua
{
	padding-right: 8px;
	padding-left: 2px;
}
.dxmSubMenuItemSelected_Aqua, .dxmSubMenuItemSelectedWithImage_Aqua, .dxmSubMenuItemSelectedWithPopOutImage_Aqua, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Aqua
{
	background-color: #FFBD69;
	border: solid 1px #FFAB3F;
}
.dxmSubMenuItemSelected_Aqua, .dxmSubMenuItemSelectedWithImage_Aqua
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemSelectedWithPopOutImage_Aqua
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemSelectedWithImageWithPopOutImage_Aqua
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxmSubMenuItemDropDownButtonSelected_Aqua
{
	padding-right: 7px;
	padding-left: 1px;
}
.dxmSubMenuItemChecked_Aqua, .dxmSubMenuItemCheckedWithImage_Aqua, .dxmSubMenuItemCheckedWithPopOutImage_Aqua, .dxmSubMenuItemCheckedWithImageWithPopOutImage_Aqua
{
}
.dxmSubMenuItemChecked_Aqua, .dxmSubMenuItemCheckedWithImage_Aqua
{
}
.dxmSubMenuItemCheckedWithPopOutImage_Aqua
{
}
.dxmSubMenuItemCheckedWithImageWithPopOutImage_Aqua
{
}
.dxmSubMenuItemDropDownButtonChecked_Aqua
{
}
.dxmSubMenuItemHover_Aqua, .dxmSubMenuItemHoverWithImage_Aqua, .dxmSubMenuItemHoverWithPopOutImage_Aqua, .dxmSubMenuItemHoverWithImageWithPopOutImage_Aqua
{
	background-color: #FFE7A2;
	border: solid 1px #FFBD69;
}
.dxmSubMenuItemHover_Aqua, .dxmSubMenuItemHoverWithImage_Aqua
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemHoverWithPopOutImage_Aqua
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemHoverWithImageWithPopOutImage_Aqua
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxmSubMenuItemDropDownButtonHover_Aqua
{
	padding-right: 7px;
	padding-left: 1px;
}
.dxmSubMenuBorderCorrector_Aqua
{
    position: absolute;
    border: 0px;
	padding: 0px;
}


.dxmMenuItemSpacing_Aqua,
.dxmMenuLargeItemSpacing_Aqua,
.dxmMenuItemSeparatorSpacing_Aqua,
.dxmMenuLargeItemSeparatorSpacing_Aqua,
.dxmVerticalMenuItemSeparatorSpacing_Aqua,
.dxmVerticalMenuLargeItemSeparatorSpacing_Aqua
{
	display: none;
}
.dxmVerticalMenuItemSpacing_Aqua,
.dxmVerticalMenuLargeItemSpacing_Aqua,
.dxmSubMenuItemSpacing_Aqua,
.dxmSubMenuItemSeparatorSpacing_Aqua
{
	height: 1px;
}

.dxmMenuItemLeftImageSpacing_Aqua
{
	padding-right: 5px;
}
.dxmMenuItemRightImageSpacing_Aqua
{
	padding-left: 5px;
}
.dxmVerticalMenuItemLeftImageSpacing_Aqua,
.dxmVerticalMenuItemRightImageSpacing_Aqua,
.dxmSubMenuItemImageSpacing_Aqua
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxmVerticalMenuItemLeftImageSpacing_Aqua div,
.dxmVerticalMenuItemRightImageSpacing_Aqua div
{
	width: 5px;
	height: 1px;
}
.dxmMenuItemTopImageSpacing_Aqua,
.dxmVerticalMenuItemTopImageSpacing_Aqua
{
	margin-bottom: 5px;
}
.dxmMenuItemBottomImageSpacing_Aqua,
.dxmVerticalMenuItemBottomImageSpacing_Aqua
{
	margin-top: 5px;
}
.dxmSubMenuItemImageSpacing_Aqua div
{
	width: 7px;
	height: 1px;
}

/* Disabled */
.dxmDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}

/*                     */
/* -- ASPxMenu Lite -- */
/*                     */
.dxm-main,
.dxm-horizontal ul.dx {
	float: left;
}
.dxm-popup {
	position: relative;
}
ul.dx {
	list-style: none none outside;
	margin: 0;
	padding: 0;
	
	background-repeat: repeat-y;
	background-position: left top;
}
.dxm-image,
.dxm-pImage {
	border-width: 0px;
	vertical-align: top;
}
.dxm-popOut,
.dxm-spacing,
.dxm-separator,
.dxm-separator b {
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.dxm-horizontal .dxm-item,
.dxm-horizontal .dxm-spacing,
.dxm-horizontal .dxm-separator,
.dxm-content,
.dxm-horizontal .dxm-popOut,
.dxm-vertical .dxm-image-r .dxm-popOut {
    float: left;
}
.dxm-vertical .dxm-image-l .dxm-popOut,
.dxm-vertical .dxm-image-t .dxm-popOut,
.dxm-vertical .dxm-image-b .dxm-popOut,
.dxm-popup .dxm-popOut {
	float: right;
}
.dxm-ie7 .dxm-vertical ul.dx,
.dxm-ie7 .dxm-popup ul.dx {
	height: 1%;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-popup .dxm-item {
	margin-bottom: -2px;
}
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-spacing {
	margin-top: -3px;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-item,
.dxm-ie7 .dxm-popup .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-separator {
	zoom: 1;
}
.dxm-vertical .dxm-separator b,
.dxm-popup .dxm-separator b {
	margin: 0px auto;
}
.dxm-ie7 .dxm-vertical .dxm-separator b,
.dxm-ie7 .dxm-popup .dxm-separator b {
	margin: 0px;
}
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-separator {
	text-align: center;
}

/* Appearance */
.dxmLite_Aqua .dxm-main {
	border: solid 1px #AECAF0;
    background-color: #E2F0FF;
}

.dxmLite_Aqua .dxm-horizontal {
	background-image: url('mItemBack.gif');
	background-repeat: repeat-x;
	background-position: top;
	
	padding: 0px;
}
.dxmLite_Aqua .dxm-vertical {
	width: 150px;
	
	padding: 1px;
}

.dxmLite_Aqua .dxm-popup {
	border: solid 1px #A3C0E8;
	background-color: #F9F9F9;
	padding: 2px;
}

.dxmBC_Aqua {
	background-color: #F9F9F9;
}

.dxmLite_Aqua ul.dx {
	font: 9pt Tahoma;
}

.dxmLite_Aqua .dxm-item {
	cursor: default;
}

.dxmLite_Aqua .dxm-image-t .dxm-item,
.dxmLite_Aqua .dxm-image-b .dxm-item,
.dxmLite_Aqua .dxm-content {
	text-align: center;
	white-space: nowrap;
}

.dxmLite_Aqua,
.dxmLite_Aqua .dxm-content a.dx {
	color: Black;
}
.dxmLite_Aqua .dxm-selected,
.dxmLite_Aqua .dxm-checked,
.dxmLite_Aqua .dxm-hovered,
.dxmLite_Aqua .dxm-selected .dxm-content a.dx,
.dxmLite_Aqua .dxm-checked .dxm-content a.dx,
.dxmLite_Aqua .dxm-hovered .dxm-content a.dx,
.dxmLite_Aqua .dxm-popup,
.dxmLite_Aqua .dxm-popup .dxm-content a.dx {
	color: #283B56;
}

.dxmLite_Aqua .dxm-disabled,
.dxmLite_Aqua .dxm-disabled .dxm-content a.dx {
	color: #A6A6A6;
}

.dxmLite_Aqua .dxm-content a.dx {
	text-decoration: none;
}

/* Checked, Selected, Hovered */
.dxmLite_Aqua .dxm-vertical .dxm-item {
	background-image: url('mVertBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxmLite_Aqua .dxm-popup .dxm-item {
	border-width: 1px;
}
.dxmLite_Aqua .dxm-dropDownMode .dxm-popOut {
	border-width: 0px 0px 0px 1px;
}
.dxmLite_Aqua .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	border-width: 0px 1px 0px 0px;
}
.dxmLite_Aqua .dxm-popup .dxm-item,
.dxmLite_Aqua .dxm-dropDownMode .dxm-popOut {
	border-color: transparent;
	border-style: solid;
}
.dxmLite_Aqua .dxm-dropDownMode.dxm-hovered .dxm-popOut {
	border-color: #E5B77A;
}
.dxmLite_Aqua .dxm-horizontal .dxm-checked,
.dxmLite_Aqua .dxm-horizontal .dxm-selected {
	background: url('mItemSBack.gif') repeat-x top #FEE385;
}
.dxmLite_Aqua .dxm-horizontal .dxm-hovered {
	background: url('mItemHBack.gif') repeat-x top #FEE899;
}
.dxmLite_Aqua .dxm-vertical .dxm-checked,
.dxmLite_Aqua .dxm-vertical .dxm-selected {
	background: url('mVertSBack.gif') repeat-x top #FEE17B;
}
.dxmLite_Aqua .dxm-vertical .dxm-hovered {
	background: url('mItemHBack.gif') repeat-x top #FEE899;
}
.dxmLite_Aqua .dxm-popup .dxm-selected {
	background-color: #FFBD69;
	border-color: #FFAB3F;
}
.dxmLite_Aqua .dxm-popup .dxm-hovered {
	background-color: #FFE7A2;
	border-color: #FFBD69;
}

/* Content */
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-content {
	padding: 4px 13px 5px 9px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-content {
	padding: 5px 12px 4px 11px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-subMenu .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-subMenu .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-subMenu .dxm-content {
	padding-right: 18px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-dropDownMode .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-dropDownMode .dxm-content,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-dropDownMode .dxm-content {
	padding-right: 12px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-subMenu .dxm-content {
	padding-left: 18px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-left: 12px;
}

.dxmLite_Aqua .dxm-vertical .dxm-image-l .dxm-content,
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-content {
	padding: 5px 19px 6px 8px;
}

.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-noSubMenu .dxm-content,
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-subMenu .dxm-content,
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-left: 18px;
	padding-right: 5px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-t .dxm-content,
.dxmLite_Aqua .dxm-vertical .dxm-image-b .dxm-content {
	padding: 6px 12px 6px 11px;
}

.dxmLite_Aqua .dxm-popup .dxm-content {
	padding: 3px 9px 4px 5px;
}
.dxmLite_Aqua .dxm-popup .dxm-noSubMenu .dxm-content,
.dxmLite_Aqua .dxm-popup .dxm-subMenu .dxm-content,
.dxmLite_Aqua .dxm-popup .dxm-dropDownMode .dxm-content {
	padding-right: 17px;
}

/* Image */
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-image {
	margin-right: 5px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-image {
	margin-left: 5px;
}
.dxmLite_Aqua .dxm-image-t .dxm-image {
	margin-bottom: 5px;
}
.dxmLite_Aqua .dxm-image-b .dxm-image {
	margin-top: 5px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-l .dxm-image {
	margin-right: 12px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-image {
	margin-left: 12px;
}
.dxmLite_Aqua .dxm-popup .dxm-image {
	margin-right: 16px;
}

/* Image replacement */
.dxmLite_Aqua .dxm-horizontal .dxm-image-l.dxm-noImages .dxm-item,
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-noImage,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r.dxm-noImages .dxm-item,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-noImage {
	padding-left: 4px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-noImage.dxm-dropDownMode {
	padding-left: 0px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-l .dxm-noImage {
	padding-left: 26px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-noImage {
	padding-right: 26px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-t .dxm-noImage,
.dxmLite_Aqua .dxm-vertical .dxm-image-b .dxm-noImage {
	padding-left: 3px;
}
.dxmLite_Aqua .dxm-popup .dxm-noImage {
	padding-left: 30px;
}
.dxmLite_Aqua .dxm-popup .dxm-noImages .dxm-item {
	padding-left: 6px;
}

/* PopOut */
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 8px;
	padding-bottom: 8px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-top: 26px;
	padding-bottom: 27px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-popOut {
	padding-right: 13px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-popOut {
	padding-left: 9px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-right: 6px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-dropDownMode .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-dropDownMode .dxm-popOut,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-dropDownMode .dxm-popOut {
	padding-left: 12px;
	padding-right: 13px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	padding-left: 13px;
	padding-right: 12px;
}

.dxmLite_Aqua .dxm-vertical .dxm-image-l .dxm-popOut,
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-popOut {
	padding-top: 7px;
	padding-bottom: 7px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Aqua .dxm-vertical .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Aqua .dxm-vertical .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Aqua .dxm-vertical .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 8px;
	padding-bottom: 7px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-t .dxm-popOut,
.dxmLite_Aqua .dxm-vertical .dxm-image-b .dxm-popOut {
	padding-top: 26px;
	padding-bottom: 26px;
}
.dxmLite_Aqua .dxm-vertical .dxm-popOut {
	padding-right: 6px;
}
.dxmLite_Aqua .dxm-vertical .dxm-dropDownMode .dxm-popOut {
	padding-right: 8px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-popOut {
	padding-left: 8px;
	padding-right: 4px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	padding-left: 1px;
	padding-right: 10px;
}

.dxmLite_Aqua .dxm-popup .dxm-popOut {
	padding-top: 5px;
	padding-bottom: 5px;
}
.dxmLite_Aqua .dxm-popup .dxm-popOut {
	padding-right: 5px;
}
.dxmLite_Aqua .dxm-popup .dxm-dropDownMode .dxm-popOut {
	padding-left: 1px;
	padding-right: 7px;
}

/* PopOut replacement */
.dxmLite_Aqua .dxm-vertical .dxm-noSubMenu {
	padding-right: 13px;
}
.dxmLite_Aqua .dxm-vertical .dxm-image-r .dxm-noSubMenu {
	padding-left: 23px;
}
.dxmLite_Aqua .dxm-popup .dxm-noSubMenu {
	padding-right: 17px;
}

/* Spacings, Separator */
.dxmLite_Aqua .dxm-horizontal .dxm-spacing {
	width: 0px;
	height: 1px;
}
.dxmLite_Aqua .dxm-vertical .dxm-spacing,
.dxmLite_Aqua .dxm-popup .dxm-spacing {
	height: 1px;
}

.dxmLite_Aqua .dxm-horizontal .dxm-separator b {
	width: 1px;
}
.dxmLite_Aqua .dxm-vertical .dxm-separator b,
.dxmLite_Aqua .dxm-popup .dxm-separator b {
	height: 1px;
}
.dxmLite_Aqua .dxm-main .dxm-separator b {
	background-color: #AECAF0;
}
.dxmLite_Aqua .dxm-popup .dxm-separator b {
	background-color: #A3C0E8;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-l .dxm-separator b,
.dxmLite_Aqua .dxm-horizontal .dxm-image-r .dxm-separator b,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-separator b,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-separator b {
	height: 23px;
}
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-spacing,
.dxmLite_Aqua .dxm-horizontal .dxm-image-t .dxm-separator b,
.dxmLite_Aqua .dxm-horizontal .dxm-image-b .dxm-separator b {
	height: 60px;
}
.dxmLite_Aqua .dxm-popup .dxm-separator {
	padding-left: 36px;
	
	margin-top: 1px;
	margin-bottom: 1px;
}
.dxm-ie7.dxmLite_Aqua .dxm-vertical .dxm-separator {
	margin-top: -3px;
}
.dxm-ie7.dxmLite_Aqua .dxm-popup .dxm-separator {
	margin-top: 0px;
}
.dxmLite_Aqua .dxm-popup .dxm-noImages .dxm-separator {
	padding-left: 0px;
}

/* -- ASPxNavBar -- */
.dxnbControl_Aqua 
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #F2F8FF;
}
.dxnbControl_Aqua td.dxnbCtrl
{
    padding: 0px;
}
.dxnbControl_Aqua a
{
    color: #283B56;
}

.dxnbLoadingPanel_Aqua
{
	font: 9pt Tahoma;
	color: #2C4D79;
}
.dxnbLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxnbGroupHeader_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #F2F8FF;
	border: Solid 1px #AECAF0;
	padding: 4px 4px 4px 8px;
	
	background-image: url('nbGroupHeaderBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxnbGroupHeader_Aqua table.dxnb
{
	font: 9pt Tahoma;
	color: #283B56;
}
.dxnbGroupHeader_Aqua td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #F2F8FF;
	border: Solid 1px #AECAF0;
	padding: 4px 4px 4px 8px;
	
	background-image: url('nbGroupHeaderBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxnbGroupHeaderCollapsed_Aqua table.dxnb
{
	font: 9pt Tahoma;
	color: #283B56;
}
.dxnbGroupHeaderCollapsed_Aqua td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupContent_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	border: Solid 1px #AECAF0;
	padding: 1px;
    background-color: #F2F8FF;
}
.dxnbItem_Aqua, .dxnbLargeItem_Aqua, .dxnbBulletItem_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
	background-color: #F2F8FF;
    border-top: Solid 1px #F2F8FF;	
    border-bottom: Solid 1px #F2F8FF;	
}
.dxnbItem_Aqua
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbLargeItem_Aqua
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbBulletItem_Aqua
{
	margin-bottom: 9px;
}
.dxnbItemSelected_Aqua, .dxnbLargeItemSelected_Aqua, .dxnbBulletItemSelected_Aqua
{
	background-color: #FFBD69;
	color: #283B56;
	border: Solid 1px #FFAB3F;
}
.dxnbItemSelected_Aqua a, .dxnbLargeItemSelected_Aqua a, .dxnbBulletItemSelected_Aqua a
{
	color: #283B56;
}
.dxnbItemSelected_Aqua
{
	padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 6px;
	padding-left: 14px;
}
.dxnbLargeItemSelected_Aqua
{
	padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 6px;
	padding-left: 14px;
}
.dxnbItemHover_Aqua, .dxnbLargeItemHover_Aqua, .dxnbBulletItemHover_Aqua
{
	background-color: #FFE7A2;
	border: Solid 1px #FFBD69;
	color: #283B56;
}
.dxnbItemHover_Aqua a, .dxnbLargeItemHover_Aqua a, .dxnbBulletItemHover_Aqua a
{
	color: #283B56;
}
.dxnbItemHover_Aqua
{
	padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 6px;
	padding-left: 14px;
}
.dxnbLargeItemHover_Aqua
{
	padding-top: 5px;
	padding-right: 14px;
	padding-bottom: 6px;
	padding-left: 14px;
}
.dxnbGroupHeader_Aqua, .dxnbGroupHeaderCollapsed_Aqua
{
    text-align: left;
}
.dxnbItem_Aqua, .dxnbItemHover_Aqua, .dxnbItemSelected_Aqua,
.dxnbBulletItem_Aqua, .dxnbBulletItemHover_Aqua, .dxnbBulletItemSelected_Aqua
{
    text-align: left;
}
.dxnbLargeItem_Aqua, .dxnbLargeItemHover_Aqua, .dxnbLargeItemSelected_Aqua
{
    text-align: center;
}
.dxnbGroupHeaderHover_Aqua
{
}
.dxnbGroupHeaderCollapsedHover_Aqua
{
}
/* Spacings */
.dxnbGroupSpacing_Aqua,
.dxnbItemSpacing_Aqua
{
	width: 100%;
	height: 1px;
}
.dxnbImgCellLeft_Aqua 
{
	padding-right: 10px;	
}
.dxnbImgCellRight_Aqua
{
	padding-left: 10px;	
}
.dxnbLargeItemImgTop_Aqua
{
	margin-bottom: 10px;
}
.dxnbLargeItemImgBottom_Aqua
{
	margin-top: 10px;
}
/* Disabled */
.dxnbDisabled_Aqua, .dxnbDisabled_Aqua td.dxnb
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_Aqua 
{
    color: #283B56;
    background: #F2F8FF;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;  
    padding: 0;          
    float: left;
    width: 200px;
}
.dxnbLite_Aqua a
{
	color: #283B56;
}
.dxnbLite_Aqua .dxnb-gr 
{
	margin-bottom: 1px;
}
.dxnbLite_Aqua .dxnb-header,
.dxnbLite_Aqua .dxnb-headerCollapsed 
{
	border: solid 1px #AECAF0;
	overflow: hidden;
    padding: 4px 4px 4px 8px;
	cursor: pointer;
	clear: both;
	background-image: url('nbGroupHeaderBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxnbLite_Aqua .dxnb-content 
{
    list-style: none none outside;
    margin: 0;
    padding: 1px;
    overflow: hidden;
	border: solid 1px #AECAF0;
	border-top-width: 0;
}
.dxnb-noHeads .dxnb-content
{
	border-top-width: 1px;
}
.dxnbLite_Aqua .dxnb-item,
.dxnbLite_Aqua .dxnb-large,
.dxnbLite_Aqua .dxnb-bullet 
{
    border-top: Solid 1px #F2F8FF;	
    border-bottom: Solid 1px #F2F8FF;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_Aqua .dxnb-item,
.dxnbLite_Aqua .dxnb-large,
.dxnbLite_Aqua .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_Aqua .dxnb-item,
.dxnbLite_Aqua .dxnb-large
{
	padding: 5px 15px 6px;
}
.dxnbLite_Aqua .dxnb-bullet,
.dxnbLite_Aqua .dxnb-bulletHover,
.dxnbLite_Aqua .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_Aqua .dxnb-itemSelected,
.dxnbLite_Aqua .dxnb-itemHover,
.dxnbLite_Aqua .dxnb-largeSelected,
.dxnbLite_Aqua .dxnb-largeHover
{
	padding: 5px 14px 6px;
}
.dxnbLite_Aqua .dxnb-itemSelected,
.dxnbLite_Aqua .dxnb-largeSelected
{
	background-color: #FFBD69;
	border: Solid 1px #FFAB3F;
}
.dxnbLite_Aqua .dxnb-itemHover,
.dxnbLite_Aqua .dxnb-largeHover
{
	background-color: #FFE7A2;
	border: Solid 1px #FFBD69;
}
.dxnbLite_Aqua .dxnb-header,
.dxnbLite_Aqua .dxnb-headerCollapsed, 
.dxnbLite_Aqua .dxnb-item,
.dxnbLite_Aqua .dxnb-itemHover,
.dxnbLite_Aqua .dxnb-itemSelected,
.dxnbLite_Aqua .dxnb-bullet,
.dxnbLite_Aqua .dxnb-bulletHover,
.dxnbLite_Aqua .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_Aqua .dxnb-large,
.dxnbLite_Aqua .dxnb-largeHover,
.dxnbLite_Aqua .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_Aqua .dxnb-headerHover
{
}
.dxnbLite_Aqua .dxnb-headerCollapsedHover
{
}
.dxnbLite_Aqua .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_Aqua .dxnb-btn,
.dxnbLite_Aqua .dxnb-btnLeft,
.dxnbLite_Aqua .dxnb-img
{
	border-width: 0;
}
.dxnbLite_Aqua .dxnb-btn
{
	float: right;
	margin-left: 10px;
}
.dxnbLite_Aqua .dxnb-btnLeft 
{
	float: left;
	margin-right: 10px;
}
.dxnbLite_Aqua .dxnb-img
{
	margin:0 10px 0 0;
	float: left;
}
.dxnbLite_Aqua .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 10px;
}
.dxnbLite_Aqua .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 10px;
}
.dxnbLite_Aqua .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 10px;
}
.dxnbLite_Aqua .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_Aqua,
.dxnbLite_Aqua .dxnbLiteDisabled_Aqua,
.dxnbLiteDisabled_Aqua a,
.dxnbLiteDisabled_Aqua .dxnb-item,
.dxnbLiteDisabled_Aqua .dxnb-large,
.dxnbLiteDisabled_Aqua .dxnb-bullet,
.dxnbLiteDisabled_Aqua .dxnb-header,
.dxnbLiteDisabled_Aqua .dxnb-headerCollapsed 
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxNewsControl -- */
.dxncControl_Aqua 
{
	font: 9pt Tahoma;
	background-color: White;
}
.dxncControl_Aqua td.dxncCtrl
{
	padding: 18px;
}
.dxncLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxncLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxncContent_Aqua
{
    padding: 20px 20px 20px 20px; 
}
.dxncPagerPanel_Aqua
{
    padding: 9px 100px 7px 100px;
}
.dxncItem_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	padding: 12px 8px 12px 8px;
}
.dxncEmptyItem_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	padding: 12px 12px 12px 14px;
}
.dxncBackToTop_Aqua, .dxncBackToTop_Aqua a
{
    color: #5689C5;
}
.dxncBackToTop_Aqua a:hover
{
    color: #5689C5;
}
.dxncBackToTop_Aqua a:visited
{
    color: #5689C5;
}
/* Headline */
.dxncItemContent_Aqua
{
    line-height: 120%!important;
    font-family: Tahoma;
    font-size: 9pt;
	color: #000000;
} 
.dxncItemDate_Aqua
{
	color: #C1C1C1;
	white-space: nowrap;
	font-family: Tahoma;
    font-size: 7pt;
}
.dxncItemHeader_Aqua
{
	color: #749BCA;
	font-weight: normal;
    line-height: 121%!important;
    font-size: 12pt;
    font-family: Tahoma;
}
.dxncItemHeader_Aqua .dxncItemDate_Aqua 
{
    font-size: 8pt;
    line-height: 121%!important;
	color: #C1C1C1;
	white-space: nowrap;
	background-color: #FFFFFF;
	font-weight: normal;
	padding: 3px 5px 3px 5px;
}

.dxncItemLeftPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	line-height: 121%!important;
    text-align: right;
}
.dxncItemRightPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	line-height: 121%!important;
}
.dxncItemLeftPanel_Aqua img,
.dxncItemRightPanel_Aqua img 
{
    margin-top: 5px;
    border: none;
}
.dxncItemDateLeftPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #FFFFFF;
	white-space: nowrap;
}
.dxncItemDateRightPanel_Aqua
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #FFFFFF;
	white-space: nowrap;
}
.dxncItemTailDiv_Aqua
{
	font: 9pt Tahoma;
	color: #5689C5;
}
.dxncItemTailDiv_Aqua a
{
	color: #5689C5;
	text-decoration: inline;
}
.dxncItemTailDiv_Aqua a:hover
{
    color: #5689C5;
    text-decoration: inline;
}
.dxncItemTailDiv_Aqua a:visited
{
    color: #5689C5;
    text-decoration: inline;
}
.dxncItemContent_Aqua a.dxhl
{
    color: #5689C5;
    text-decoration: inline;
} 
.dxncItemContent_Aqua a.dxhl:hover
{
    color: #5689C5;
    text-decoration: inline;   
}
.dxncItemContent_Aqua a.dxhl:visited
{
    color: #5689C5;
    text-decoration: inline; 
}
.dxncEmptyData_Aqua
{
    color: #4F4F4F;
}
/* Disabled */
.dxncDisabled_Aqua, .dxncDisabled_Aqua span.dxhl,
.dxncDisabled_Aqua a, .dxncDisabled_Aqua a:hover
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxPager -- */

.dxpControl_Aqua
{
	font: 9pt Tahoma;
	color: #C7DFFF;
}
.dxpControl_Aqua td.dxpCtrl
{
	padding: 2px 2px 2px 2px;
}
.dxpButton_Aqua
{
	font: 9pt Tahoma;
	color: #394EA2;
	text-decoration: underline;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.dxpButton_Aqua a
{
	font: 9pt Tahoma;
	color: #394EA2;
	text-decoration: underline;
	white-space: nowrap;
}
.dxpDisabledButton_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	text-decoration: none;
}
.dxpPageNumber_Aqua
{
	font: 9pt Tahoma;
	color: #3F66A0;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}
.dxpPageNumber_Aqua a
{
	font: 9pt Tahoma;
	color: #3F66A0;
	text-decoration: underline;
}
.dxpCurrentPageNumber_Aqua
{
	font: 9pt Tahoma;
	color: #000000;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
	background-color: #FFE7A2;
	border: solid 1px #FFBD69;
}
.dxpSummary_Aqua
{
	font: 9pt Tahoma;
	color: #749BCA;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 0px 4px 0px 4px;
}
.dxpSeparator_Aqua
{
	background-color: #A3C0E8;
}
/* Disabled */
.dxpDisabled_Aqua
{
	color: #A6A6A6;
	border-color: #A6A6A6;
	cursor: default;
}

/* -- ASPxPager Lite -- */

.dxpLite_Aqua
{
	font: 9pt Tahoma;
	color: #C7DFFF;
	padding: 2px;
	float: left;
}

.dxpLite_Aqua .dxp-summary,
.dxpLite_Aqua .dxp-sep,
.dxpLite_Aqua .dxp-button,
.dxpLite_Aqua .dxp-num,
.dxpLite_Aqua .dxp-current,
.dxpLite_Aqua .dxp-ellip
{
	display: block;	
	float: left;
	margin-left: 4px;
	font-weight: normal;	
}
.dxpLite_Aqua .dxp-lead
{
	margin-left: 0 !important;
}

.dxpLite_Aqua a
{
	color: #394EA2;
	text-decoration: underline;
}

.dxpLite_Aqua .dxp-button
{
	color: #394EA2;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}
.dxpLite_Aqua .dxp-button img
{
	border: 0;
	vertical-align: middle;
	text-decoration: none;
}
.dxpLite_Aqua .dxp-wideButton
{
	 padding: 0 5px;
}
.dxpLite_Aqua .dxp-disabledButton
{
	text-decoration: none;
	color: #acacac;
	cursor: default;	
}

.dxpLite_Aqua .dxp-num
{
	color: #3F66A0;
	text-decoration: underline;	
	padding: 2px 5px 1px;
	cursor: pointer;
}

.dxpLite_Aqua .dxp-current
{
	color: Black;
	background: #FFE7A2;
	border: solid 1px #FFBD69;
	text-decoration: none;
	padding: 1px 3px 2px;
	cursor: text;
}

.dxpLite_Aqua .dxp-summary,
.dxpLite_Aqua .dxp-ellip
{
	color: #749BCA;
	white-space: nowrap;
	padding: 2px 4px 1px;
}

.dxpLite_Aqua .dxp-sep
{
	background: #A3C0E8;
    width: 1px;
    height: 11px;
    margin-top: 5px;
}

.dxpLiteDisabled_Aqua,
.dxpLiteDisabled_Aqua a,
.dxpLiteDisabled_Aqua .dxp-summary,
.dxpLiteDisabled_Aqua .dxp-sep,
.dxpLiteDisabled_Aqua .dxp-button,
.dxpLiteDisabled_Aqua .dxp-num,
.dxpLiteDisabled_Aqua .dxp-current,
.dxpLiteDisabled_Aqua .dxp-ellip
{
	color: #A6A6A6;
	border-color: #A6A6A6;
	cursor: default;
}

/* -- ASPxPopupControl -- */
.dxpcControl_Aqua
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	cursor: default;
	color: #000000;
	background-color: #ECF4FE;
	border: Solid 1px #8BB6EF;
}
.dxpcControl_Aqua a
{
	color: #5689C5;
	text-decoration: underline;
}
.dxpcControl_Aqua a:hover
{
    color: #F39128;
    text-decoration: underline;
}
.dxpcControl_Aqua a:visited
{
    color: #5689C5;
    text-decoration: underline;
}
.dxpcCloseButton_Aqua
{
	cursor: pointer;
	padding: 1px;
	padding-right: 3px;
}
.dxpcCloseButtonHover_Aqua
{
}
.dxpcContent_Aqua
{
	color: #000000;
	background-color: #FFFFFF;
	font-size: 9pt;
	line-height: 128%;
	font-family: Tahoma, Verdana, Arial;
	white-space: normal;
	border-width: 0px;
	padding: 14px 20px 15px 20px;
    vertical-align: top;
}
.dxpcFooter_Aqua
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #283B56;
	background-color: #CAE1FF;
	background-image: url('dxpcFooterBack.gif');
	background-position: bottom;
	background-repeat: repeat-x;
	border-width: 0px;
	border-top: Solid 1px #A3C0E8;
}
.dxpcFooter_Aqua td.dxpc
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
	color: #283B56;
	white-space: nowrap;
	padding: 12px 21px 14px 20px;
}
.dxpcHeader_Aqua
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
	color: #283B56;
	background-color: #E2F0FF;
	background-image: url('pcHeaderBack.gif');
	background-repeat: repeat-x;
	border-bottom: Solid 1px #A3C0E8;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 0px;
}
.dxpcHeader_Aqua td.dxpc
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
	color: #283B56;
	white-space: nowrap;
	font-weight: normal;
    padding: 4px 0px 5px 0px;
}
.dxpcModalBackground_Aqua
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}
/* Disabled */
.dxpcDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxRoundPanel -- */
.dxrpControl_Aqua td.dxrp,
.dxrpControlGB_Aqua td.dxrp
{
	font-size: 9pt;
	color: #010101;	
	font-family: Tahoma, Verdana, Arial;
}
/* Header */
.dxrpHeader_Aqua td.dxrp,
.dxrpControlGB_Aqua span.dxrpHeader_Aqua
{
	font-family: Tahoma, Verdana, Arial;
	color: #283B56;
	font-size: 12px;
	padding: 0px;
}
.dxrpControl_Aqua .dxrpHI,
.dxrpControl_Aqua .dxrpHeader_Aqua,
.dxrpControl_Aqua .dxrpHeader_Aqua td.dxrp
{
	vertical-align: top;
	white-space: nowrap;
}
.dxrpControl_Aqua .dxrpHeader_Aqua
{
	border-bottom: 1px solid #AECAF0;
}
/* Header image */
.dxrpControl_Aqua .dxrpHI
{
    padding-right: 4px;
}
/* Content */
.dxrpControl_Aqua .dxrpContent,
.dxrpControlGB_Aqua .dxrpContent
{
	vertical-align: top;
}
/* Edges */
.dxrpControl_Aqua .dxrpTE
{
	background-color: #E0EDFF;
}
.dxrpControl_Aqua .dxrpContent,
.dxrpControl_Aqua .dxrpLE,
.dxrpControl_Aqua .dxrpRE,
.dxrpControl_Aqua .dxrpBE,
.dxrpControl_Aqua .dxrpNHTE,
.dxrpControlGB_Aqua .dxrpContent,
.dxrpControlGB_Aqua .dxrpLE,
.dxrpControlGB_Aqua .dxrpRE,
.dxrpControlGB_Aqua .dxrpBE,
.dxrpControlGB_Aqua .dxrpNHTE,
.dxrpControlGB_Aqua span.dxrpHeader_Aqua
{
	background-color: White;
}
.dxrpControl_Aqua .dxrpTE,
.dxrpControl_Aqua .dxrpNHTE,
.dxrpControlGB_Aqua .dxrpNHTE
{
	border-top: 1px solid #AECAF0;
}
.dxrpControl_Aqua .dxrpLE,
.dxrpControl_Aqua .dxrpHLE,
.dxrpControlGB_Aqua .dxrpLE
{
	border-left: 1px solid #AECAF0;
}
.dxrpControl_Aqua .dxrpRE,
.dxrpControl_Aqua .dxrpHRE,
.dxrpControlGB_Aqua .dxrpRE
{
	border-right: 1px solid #AECAF0;
}
.dxrpControl_Aqua .dxrpBE,
.dxrpControl_Aqua .dxrpHLE,
.dxrpControl_Aqua .dxrpHRE,
.dxrpControlGB_Aqua .dxrpBE
{
	border-bottom: 1px solid #AECAF0;
}
.dxrpControl_Aqua .dxrpLE,
.dxrpControl_Aqua .dxrpRE,
.dxrpControlGB_Aqua .dxrpLE,
.dxrpControlGB_Aqua .dxrpRE
{
	background: url('rpLeftEdge.gif') repeat-y left top;
}
.dxrpControl_Aqua .dxrpNHTE,
.dxrpControlGB_Aqua .dxrpNHTE
{
	background: White url('rpNoHeaderTopEdge.gif') repeat-x left top;
}
.dxrpControl_Aqua .dxrpBE,
.dxrpControlGB_Aqua .dxrpBE
{
	background: url('rpBottomEdge.gif') repeat-x left top;
}
.dxrpControl_Aqua .dxrpHeader_Aqua,
.dxrpControl_Aqua .dxrpHLE, 
.dxrpControl_Aqua .dxrpHRE
{
	background: #E0EDFF url('rpHeaderBackground.gif') repeat-x left top;
}
/* Disabled */
.dxrpDisabled_Aqua, .dxrpDisabled_Aqua td.dxrp
{
	color: #A6A6A6;
	cursor: default;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl_Aqua a
{
	color: #5689C5;
	text-decoration: none;
}
.dxsmControl_Aqua a:hover
{
    color: #5689C5;
    background-color: #FFE7A2;
    text-decoration: underline;
}
.dxsmControl_Aqua a:visited
{
    color: #5689C5;
}

.dxsmControl_Aqua 
{	
	color: #5689C5;
	background-color: #FFFFFF;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	border: 0px;	
}
/* - Category Level - */
.dxsmCategoryLevel_Aqua, .dxsmCategoryLevel_Aqua a
{
	color: #5689C5;
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Tahoma;
    text-decoration: underline;
}
.dxsmCategoryLevel_Aqua
{
    white-space: nowrap;
    padding: 0px 0px 5px 0px;

    border-bottom: Solid 1px #D2E5FF;    
}
 /*flow layout*/
.dxsmLevelCategoryFlow_Aqua, .dxsmLevelCategoryFlow_Aqua a
{
    color: #5689C5;    
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;
}
/* - Level 0 - */
.dxsmLevel0_Aqua, .dxsmLevel0_Aqua a, .dxsmLevel0Categorized_Aqua a, .dxsmLevel0Categorized_Aqua
{
    color: #283B56!important;
    text-decoration: none!important;
	font-weight: normal;
    font-size: 12pt;
	font-family: Tahoma, Arial;
    text-decoration: none;
}
.dxsmLevel0_Aqua, .dxsmLevel0Categorized_Aqua
{
    white-space: nowrap;
    padding: 0px 0px 1px 0px;
}
.dxsmLevel0_Aqua
{
    border-bottom: Solid 3px #D2E5FF;
    padding: 0px 0px 1px 0px;
}

 /*flow layout*/
.dxsmLevel0Flow_Aqua, .dxsmLevel0Flow_Aqua a, .dxsmLevel0CategorizedFlow_Aqua a, .dxsmLevel0CategorizedFlow_Aqua
{
    color: #283B56;    
    font-family: Tahoma, Verdana, Arial;	
    font-weight: bold;
    font-size: 12pt;
	text-decoration: underline;
}
.dxsmLevel0Flow_Aqua
{
    padding: 0px 0px 0px 0px;    
}
.dxsmLevel0Flow_Aqua
{
    text-decoration: none;    
}

/* - Level 1 - */
.dxsmLevel1_Aqua, .dxsmLevel1_Aqua a, .dxsmLevel1Categorized_Aqua a, .dxsmLevel1Categorized_Aqua
{    
    color: #5689C5;  
    font-size: 9pt;
	font-family: Tahoma, Arial;
}
.dxsmLevel1_Aqua a, .dxsmLevel1Categorized_Aqua a 
{
    text-decoration: underline;
}
.dxsmLevel1_Aqua, .dxsmLevel1Categorized_Aqua
{
    white-space: nowrap;  
    padding: 0px 0px 0px 0px;
}

/*flow layout*/
.dxsmLevel1Flow_Aqua, .dxsmLevel1Flow_Aqua a, .dxsmLevel1CategorizedFlow_Aqua, .dxsmLevel1CategorizedFlow_Aqua a
{    
    color: #5689C5;    
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;
}
.dxsmLevel1Flow_Aqua
{
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

/* - Level 2 - */
.dxsmLevel2_Aqua, .dxsmLevel2_Aqua a, .dxsmLevel2Categorized_Aqua a, .dxsmLevel2Categorized_Aqua
{    
    color: #5689C5;
    font-size: 9pt;
	font-family: Tahoma, Arial;
    text-decoration: underline;    
}
.dxsmLevel2_Aqua, .dxsmLevel2Categorized_Aqua
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px;    
    text-decoration: none;
}
/*flow layout*/
.dxsmLevel2Flow_Aqua, .dxsmLevel2Flow_Aqua a
{
    color: #5689C5;
    font-size: 9pt;    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;    
}
.dxsmLevel2Flow_Aqua
{
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
/* - Level 3 - */
.dxsmLevel3_Aqua, .dxsmLevel3_Aqua a
{    
    color: #5689C5;
    font-size: 9pt;
	font-family: Tahoma, Arial;
    text-decoration: underline;    
}
.dxsmLevel3_Aqua
{
    white-space: nowrap;        
    padding: 0px 0px 0px 0px; 
    text-decoration: none;   
}
/*flow layout*/
.dxsmLevel3Flow_Aqua, .dxsmLevel3Flow_Aqua a
{    
    color: #5689C5;
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;    
}
/* - Level 4 - */
.dxsmLevel4_Aqua, .dxsmLevel4_Aqua a
{    
    color: #5689C5;
    font-size: 9pt;
	font-family: Tahoma, Arial;
    text-decoration: underline;    
}
.dxsmLevel4_Aqua
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px; 
    text-decoration: none;   
}
/*flow layout*/
.dxsmLevel4Flow_Aqua, .dxsmLevel4Flow_Aqua a
{
    color: #5689C5;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;        
}
.dxsmLevel4Flow_Aqua
{
    padding: 0px 0px 0px 0px;   
    text-decoration: none;     
}
/* - Other Levels - */
.dxsmLevelOther_Aqua
{    
    color: #5689C5;
    font-size: 9pt;
	font-family: Tahoma, Arial;
    text-decoration: underline;    
}
.dxsmLevelOther_Aqua
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px; 
    text-decoration: none;           
}
/*flow layout*/
.dxsmLevelOtherFlow_Aqua, .dxsmLevelOtherFlow_Aqua a
{
    color: #5689C5;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;            
}
/* Disabled */
.dxsmDisabled_Aqua
{
	color: #808080;
	cursor: default;
}

/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl_Aqua 
{
	font: 9pt Tahoma;
	color: #707070;
}
.dxtcLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
}
.dxtcLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

/* Tab Hyperlink*/
.dxtcTab_Aqua a, .dxtcTabWithTabPositionLeft_Aqua a, .dxtcTabWithTabPositionBottom_Aqua a, .dxtcTabWithTabPositionRight_Aqua a,
.dxtcActiveTab_Aqua a, .dxtcActiveTabWithTabPositionBottom_Aqua a, .dxtcActiveTabWithTabPositionLeft_Aqua a, .dxtcActiveTabWithTabPositionRight_Aqua a,
.dxtcTabHover_Aqua a, .dxtcTabHoverWithTabPositionBottom_Aqua a, .dxtcTabHoverWithTabPositionLeft_Aqua a, .dxtcTabHoverWithTabPositionRight_Aqua a
{
	text-decoration: none;
	color: #000000;    
}
/* Active Tab */
.dxtcActiveTab_Aqua, .dxtcActiveTabWithTabPositionBottom_Aqua,
.dxtcActiveTabWithTabPositionLeft_Aqua, .dxtcActiveTabWithTabPositionRight_Aqua
{
	font: 9pt Tahoma;
	color: #3F66A0;
	border: Solid 1px #AECAF0;
	padding: 3px 9px 5px 10px;
	background-color: #FFFFFF;
	text-align: center;
}
.dxtcActiveTab_Aqua
{
	border-top: Solid 3px #FFBD69;
	padding-top: 0px;
}
.dxtcActiveTabWithTabPositionBottom_Aqua
{
	border-bottom: Solid 3px #FFBD69;
	padding: 3px 9px 4px 10px;
}
.dxtcActiveTabWithTabPositionLeft_Aqua
{
	border-left: Solid 3px #FFBD69;
	padding-left: 0px;
}
.dxtcActiveTabWithTabPositionRight_Aqua
{
	border-right: Solid 3px #FFBD69;
	padding: 4px 8px 6px 10px;
}
.dxtcActiveTabWithTabPositionLeft_Aqua
{
	padding: 4px 9px 6px 8px;
}

.dxtcActiveTab_Aqua table.dxtc, .dxtcActiveTabWithTabPositionBottom_Aqua table.dxtc,
.dxtcActiveTabWithTabPositionLeft_Aqua table.dxtc, .dxtcActiveTabWithTabPositionRight_Aqua table.dxtc
{
	font: 9pt Tahoma;
	color: #3F66A0;    
}
.dxtcActiveTab_Aqua td.dxtc, .dxtcActiveTabWithTabPositionBottom_Aqua td.dxtc,
.dxtcActiveTabWithTabPositionLeft_Aqua td.dxtc, .dxtcActiveTabWithTabPositionRight_Aqua td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcActiveTabHover_Aqua
{
}
/* Tab */
.dxtcTab_Aqua, .dxtcTabWithTabPositionLeft_Aqua, 
.dxtcTabWithTabPositionBottom_Aqua, .dxtcTabWithTabPositionRight_Aqua
{
	font: 9pt Tahoma;
	color: #283B56;
    background-color: #E0EDFF;	
	border: Solid 1px #AECAF0;
	padding: 3px 9px 6px 10px;
	background-image: url('tcTabTopBack.gif');
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
}
.dxtcTabWithTabPositionBottom_Aqua
{
    background-color: #E0EDFF;
	background-image: url('tcTabBottomBack.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}
.dxtcTabWithTabPositionLeft_Aqua
{
	padding: 4px 10px 6px 10px;
    background-color: #E0EDFF;
	background-image: url('tcTabLeftBack.gif');
	background-repeat: repeat-x;
	background-position: right top;
}
.dxtcTabWithTabPositionRight_Aqua
{
	padding: 4px 10px 6px 10px;
    background-color: #E0EDFF;
	background-image: url('tcTabRightBack.gif');
	background-repeat: repeat-x;
	background-position: left top;
}
.dxtcTab_Aqua table.dxtc, .dxtcTabWithTabPositionBottom_Aqua table.dxtc, 
.dxtcTabWithTabPositionLeft_Aqua table.dxtc, .dxtcTabWithTabPositionRight_Aqua table.dxtc
{
	font: 9pt Tahoma;
	color: #283B56;    
}
.dxtcTab_Aqua td.dxtc, .dxtcTabWithTabPositionBottom_Aqua td.dxtc, 
.dxtcTabWithTabPositionLeft_Aqua td.dxtc, .dxtcTabWithTabPositionRight_Aqua td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Hover */
.dxtcTabHover_Aqua, .dxtcTabHoverWithTabPositionBottom_Aqua,
.dxtcTabHoverWithTabPositionLeft_Aqua, .dxtcTabHoverWithTabPositionRight_Aqua
{
	background-color: #FFD7A8;
    border: Solid 1px #DAB364;
    padding: 3px 9px 6px 10px;
	background-image: url('tcTabTopHottrackedBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxtcTabHoverWithTabPositionBottom_Aqua
{
	padding: 3px 9px 6px 10px;
	background-image: url('tcTabBottomHottrackedBack.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}
.dxtcTabHoverWithTabPositionLeft_Aqua
{
    padding: 4px 10px 6px 10px;
	background-image: url('tcTabLeftHottrackedBack.gif');
	background-repeat: repeat-x;
	background-position: left top;
}
.dxtcTabHoverWithTabPositionRight_Aqua
{
    padding: 4px 10px 6px 10px;
	background-image: url('tcTabRightHottrackedBack.gif');
	background-repeat: repeat-x;
	background-position: right top;
}
.dxtcTabHover_Aqua td.dxtc, .dxtcTabHoverWithTabPositionBottom_Aqua td.dxtc,
.dxtcTabHoverWithTabPositionLeft_Aqua td.dxtc, .dxtcTabHoverWithTabPositionRight_Aqua td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: none!important;
    border-width: 0px!important;
    padding: 0px!important;
}

.dxtcPageContent_Aqua, .dxtcPageContentWithTabPositionBottom_Aqua, 
.dxtcPageContentWithTabPositionLeft_Aqua, .dxtcPageContentWithTabPositionRight_Aqua,
.dxtcPageContentWithoutTabs_Aqua
{
	font: 9pt Tahoma;
	color: #707070;
	background-color: #FFFFFF;
    vertical-align:top;
}
.dxtcPageContentWithTabPositionLeft_Aqua
{
}
.dxtcPageContentWithTabPositionRight_Aqua
{
}
.dxtcPageContentWithTabPositionBottom_Aqua
{
}
.dxtcPageContentWithoutTabs_Aqua
{
}
.dxtcContent_Aqua
{
	font: 9pt Tahoma;
	color: #707070;

	background-color: #FFFFFF;
	vertical-align: top;
}
.dxtcControl_Aqua td.dxtcTabsCell, .dxtcControl_Aqua td.dxtcTabsCellWithTabPositionBottom,
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionLeft, .dxtcControl_Aqua td.dxtcTabsCellWithTabPositionRight 
{

}
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionBottom
{
   
}
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionLeft
{
   
}
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionLeft table
{
}
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionRight
{
    
}
.dxtcControl_Aqua td.dxtcTabsCellWithTabPositionRight table
{
}
/* Disabled */
.dxtcDisabled_Aqua, .dxtcDisabled_Aqua table.dxtc
{
	color: #707070;
	cursor: default;
}

/* -- ASPxTitleIndex -- */
.dxtiControl_Aqua a
{
	color: #5689C5;
	text-decoration: underline;
}
.dxtiControl_Aqua a:hover
{
	background-color: #FFFFFF;
    text-decoration: underline;
    color: #5689C5;
}
.dxtiControl_Aqua a:visited
{
    color: #5689C5;
    text-decoration: underline;
}

.dxtiControl_Aqua 
{
	font: 9pt Tahoma;
	color: #5689C5;
    text-decoration: none;
    font-weight: normal;
	background-color: #FFFFFF;
	border: 0px;
}
.dxtiLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxtiLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxtiItem_Aqua, .dxtiItem_Aqua a
{
    font-weight: normal;
    text-decoration: none;
	color: #5689C5;
	font: 9pt Tahoma;
}
.dxtiItem_Aqua a
{
	text-decoration: underline;
}
.dxtiItem_Aqua
{
	white-space: nowrap;
}
.dxtiIndexPanelItem_Aqua a
{
	text-decoration: underline;
	padding: 0px 2px 0px 2px;	
}

.dxtiIndexPanelItem_Aqua a:hover
{
	border: Solid 1px #ADB4BC;
	padding: 0px 1px 0px 1px;
	/*margin: 0px -3px 0px -3px;*/
}

.dxtiGroupHeader_Aqua, .dxtiGroupHeaderCategorized_Aqua
{
	font: 12pt Tahoma;
	color: #FFFFFF; 
	width: 26px;
	height: 1%; 
	background-color: #E1EEFF;
    padding: 4px 0px 4px 0px;
    border: Solid 1px #C8DCF7;
}
.dxtiGroupHeaderCategorized_Aqua
{
	padding: 3px 16px 4px 7px;
}
.dxtiGroupHeader_Aqua table 
{
	width: 100%;
	text-align: center;
}
/* - GroupHeaderText - */
.dxtiGroupHeaderText_Aqua
{
	color: #3F66A0; 
    text-decoration: none;
    font-weight: bold;
    padding-left: 0px;
}
.dxtiGroupHeaderTextCategorized_Aqua
{
    text-decoration: none;
    font-weight: normal;
    color: #3F66A0;
}
.dxtiGroupHeaderTextCategorized_Aqua
{
}
/* - FilterBox - */
.dxtiFilterBoxInfoText_Aqua
{
    text-decoration: none;
    font-weight: normal;
    font: 8pt Tahoma;
    color: #7D7D7D;
}
.dxtiFilterBoxEdit_Aqua
{
    font-size: 9pt;
    color: #000000;
    background-color: #FFFFFF;
    width: 193px;
    border: Solid 1px #AECAF0;
    padding: 3px 5px 3px 5px;
}
.dxtiFilterBox_Aqua, .dxtiFilterBox_Aqua table
{
    color: #232323;
    font-weight: normal;
    text-decoration: none;
    font: 9pt Tahoma;
}
.dxtiFilterBox_Aqua
{
    background-color: #F0F6FF;
    padding: 13px;    
    border: Solid 1px #AECAF0;
    border-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;    
}
/* - IndexPanel - */
.dxtiIndexPanel_Aqua
{
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: Solid 1px #AECAF0;
}
.dxtiIndexPanel_Aqua td
{
	padding-bottom: expression("1px"); /* problem with border-bottom in IE7 */
}
.dxtiIndexPanelItem_Aqua, .dxtiIndexPanelItem_Aqua a
{
    color: #5689C5;
    text-decoration: underline;
}

.dxtiIndexPanelItem_Aqua
{
	text-decoration: none;
}

.dxtiIndexPanelItem_Aqua, .dxtiCurrentIndexPanelItem_Aqua
{
    padding: 2px 2px 2px 3px;
}
.dxtiCurrentIndexPanelItem_Aqua
{
    padding: 1px 1px 1px 2px;	
	background-color: #FFDB9D;
	border: Solid 1px #ADB4BC;
	color: #000000;
}
/* - BackToTop - */
.dxtiBackToTop_Aqua, .dxtiBackToTop_Aqua a
{
    font-size: 7pt;
    text-decoration: none;
    color: #5689C5;
}
.dxtiBackToTop_Aqua
{
    padding: 0px 0px 12px 98px;
}
/* Disabled */
.dxtiDisabled_Aqua
{
	color: #A6A6A6;
	cursor: default;
}
/* -- ASPxUploadControl -- */
.dxucControl_Aqua, .dxucEditArea_Aqua
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;    
}
.dxucErrorCell_Aqua
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
.dxucButton_Aqua, .dxucButton_Aqua a
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;
    color: #394ea2;
    cursor: pointer;
    white-space: nowrap;
}
/* UploadControl - ProgressBar */
.dxucProgressBar_Aqua, .dxucProgressBar_Aqua td
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
   	color: Black;
}
.dxucProgressBar_Aqua .dxucPBMainCell, .dxucProgressBar_Aqua td.dx
{
    padding: 0;
}
.dxucProgressBar_Aqua
{
    border: Solid 1px #A3C0E8;
	background-image: url('ucProgressBack.gif');
    background-repeat: repeat-x;
    background-color: #efefef;
}
.dxucProgressBarIndicator_Aqua
{
    background-color: #deedff;
	background-image: url('ucProgressIndicatorBack.gif');
    background-repeat: repeat-x;
}

/* -- ASPxSplitter -- */
.dxsplControl_Aqua
{
	background-color: White;
}
.dxsplControl_Aqua, .dxsplVSeparator_Aqua, .dxsplHSeparator_Aqua, .dxsplPane_Aqua, .dxsplPaneCollapsed_Aqua, .dxsplVSeparator_Aqua, .dxsplHSeparator_Aqua, .dxsplVSeparatorCollapsed_Aqua, .dxsplHSeparatorCollapsed_Aqua
{
	border: solid 0px #A3C0E8;
}
.dxsplPane_Aqua, .dxsplPaneCollapsed_Aqua
{
	border-width: 1px;
}
.dxsplPaneCollapsed_Aqua
{
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.dxsplVSeparator_Aqua
{
	background-image: url('splVSeparatorBackground.png');
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.dxsplHSeparator_Aqua
{
	background-image: url('splHSeparatorBackground.png');
	border-left-width: 1px;
	border-right-width: 1px;
}
.dxsplVSeparatorHover_Aqua
{
	cursor: w-resize;
}
.dxsplHSeparatorHover_Aqua
{
	cursor: n-resize;
}
.dxsplVSeparator_Aqua, .dxsplHSeparator_Aqua
{
	background-color: #D4E6FE;
}
.dxsplVSeparatorHover_Aqua, .dxsplVSeparatorButtonHover_Aqua
{
	background-image: url('splVSeparatorBackgroundHover.png');
}
.dxsplHSeparatorHover_Aqua, .dxsplHSeparatorButtonHover_Aqua
{
	background-image: url('splHSeparatorBackgroundHover.png');
}
.dxsplVSeparatorCollapsed_Aqua, .dxsplHSeparatorCollapsed_Aqua
{
	cursor: default !important;
}
.dxsplVSeparatorButton_Aqua
{
	cursor: pointer;
	padding: 5px 0px;
}
.dxsplHSeparatorButton_Aqua
{
	cursor: pointer;
	padding: 0px 5px;
}
.dxsplVSeparatorHover_Aqua, .dxsplHSeparatorHover_Aqua, .dxsplVSeparatorButtonHover_Aqua, .dxsplHSeparatorButtonHover_Aqua
{
	background-color: #FFD286;
}
.dxsplVSeparator_Aqua, .dxsplVSeparatorButtonHover_Aqua
{
	background-repeat: repeat-y;
	background-position: top left;
}
.dxsplHSeparator_Aqua, .dxsplHSeparatorButtonHover_Aqua
{
	background-repeat: repeat-x;
	background-position: top left;
}
.dxsplResizingPointer_Aqua
{
	background-image: url('splResizingPointer.gif');
	background-repeat: repeat;
}
.dxsplResizingPointer_Aqua, .dxsplS
{
	font-size: 0px;
	line-height: 0px;
}
.dxsplLCC, .dxsplCC, .dxsplS
{
	overflow: hidden;
}
.dxsplLCC, .dxsplCC, .dxsplP
{
	width: 100%;
	height: 100%;
}
.dxsplLCC
{
	padding: 8px 8px 8px 8px;
}

.dx-clear
{		
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

/* menuButtons_Aqua and menuLinks_Aqua uses in XAF */
.menuButtons_Aqua 
{
	font: 9pt Tahoma;
	color: #2C4D79;
	background:none repeat scroll 0 0 transparent;
}

.menuButtons_Aqua .dxmMenuSeparator_Aqua .dx,
.menuButtons_Aqua .dxmMenuFullHeightSeparator_Aqua .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.menuButtons_Aqua .dxmMenuSeparator_Aqua,
.menuButtons_Aqua .dxmMenuFullHeightSeparator_Aqua
{
	width: 1px;
}

.menuButtons_Aqua .dxmMenuSeparator_Aqua .dx,
.menuButtons_Aqua .dxmMenuFullHeightSeparator_Aqua,
.menuButtons_Aqua .dxmMenuVerticalSeparator_Aqua
{
	background-color: Transparent;
	width: 10px;
}
.menuButtons_Aqua .dxmMenuSeparator_Aqua
{
	display: none;
}
.menuButtons_Aqua .dxmMenuVerticalSeparator_Aqua
{
	width: 100%;
	height: 1px;
}

.menuButtons_Aqua .dxmMenuItem_Aqua,
.menuButtons_Aqua .dxmMenuItemWithImage_Aqua,
.menuButtons_Aqua .dxmMenuItemWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuItemWithImageWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItem_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemWithImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua, 
.menuButtons_Aqua .dxmMenuLargeItem_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemWithImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemWithImageWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItem_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemWithImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
	
    font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
    vertical-align: middle;	 		
    background: #E2F0FF url('mItemBack.gif') top;
	background-repeat:repeat-x;
    padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 11px;
	cursor: pointer;
	
	color: #2C4D79;
    border: solid 1px #A3C0E8;
}
.menuButtons_Aqua .dxmMenuItemHover_Aqua,
.menuButtons_Aqua .dxmMenuItemHoverWithImage_Aqua
.menuButtons_Aqua .dxmMenuItemHoverWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuItemHoverWithImageWithPopOutImage_Aqua, 
.menuButtons_Aqua .dxmVerticalMenuItemHover_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemHoverWithImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemHoverWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua, 
.menuButtons_Aqua .dxmMenuLargeItemHover_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemHoverWithImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemHoverWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua, 
.menuButtons_Aqua .dxmVerticalMenuLargeItemHover_Aqua,
.menuButtons_Aqua  .dxmVerticalMenuLargeItemHoverWithImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	color: #7E3C31;  
	background: #FEDC75 url('mItemHBack.gif') repeat-x top center;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 11px;	
	font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
    vertical-align: middle;	 		
    border: solid 1px #D6A886;
    cursor: pointer;
    
}
.menuButtons_Aqua .dxmMenuItemSelected_Aqua,
.menuButtons_Aqua .dxmMenuItemSelectedWithImage_Aqua,
.menuButtons_Aqua .dxmMenuItemSelectedWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuItemSelectedWithImageWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemSelected_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemSelectedWithImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemSelectedWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemSelected_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemSelectedWithImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemSelectedWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemSelected_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemWithImageSelected_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua,
.menuButtons_Aqua .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{
	background-color: #FEE17B;
	color: #283B56;
	background-image: url('mVertSBack.gif') 
    background-repeat:repeat-x;	
    background-position:top;
}

.menuLinks_Aqua
{
	font: 9pt Tahoma;
	background:none repeat scroll 0 0 transparent;
	border: 0px;
}

.menuLinks_Aqua .dxmMenuItemHover_Aqua a,
.menuLinks_Aqua .dxmMenuItemHoverWithImage_Aqua a,
.menuLinks_Aqua .dxmMenuItemHoverWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuItemHoverWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemHover_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemHover_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHover_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua a
{
    color: #F39128 !important;
	text-decoration: underline;
}

.menuLinks_Aqua .dxmMenuItemHover_Aqua,
.menuLinks_Aqua .dxmMenuItemHoverWithImage_Aqua,
.menuLinks_Aqua .dxmMenuItemHoverWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuItemHoverWithImageWithPopOutImage_Aqua, 
.menuLinks_Aqua .dxmVerticalMenuItemHover_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Aqua, 
.menuLinks_Aqua .dxmMenuLargeItemHover_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemHoverWithImageWithPopOutImage_Aqua, 
.menuLinks_Aqua .dxmVerticalMenuLargeItemHover_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Aqua
{
	background: none repeat scroll 0 0 transparent;
	padding-right: 10px;
	padding-left: 11px;	
	font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
    vertical-align: middle;
    cursor: pointer;
}

.menuLinks_Aqua .dxmMenuItem_Aqua a,
.menuLinks_Aqua .dxmMenuItem_Aqua a:visited,
.menuLinks_Aqua .dxmMenuItemWithImage_Aqua a,
.menuLinks_Aqua .dxmMenuItemWithImage_Aqua a:visited,
.menuLinks_Aqua .dxmMenuItemWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuItemWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmMenuItemWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuItemWithImageWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuItem_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItem_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuItemWithImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemWithImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuItemWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmMenuLargeItem_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItem_Aqua a:visited,
.menuLinks_Aqua .dxmMenuLargeItemWithImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemWithImage_Aqua a:visited,
.menuLinks_Aqua .dxmMenuLargeItemWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmMenuLargeItemWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmMenuLargeItemWithImageWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuLargeItem_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItem_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithPopOutImage_Aqua a:visited,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua a,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua a:visited
{
    color: #5689C5;
	text-decoration: underline;
}

.menuLinks_Aqua .dxmMenuItem_Aqua,
.menuLinks_Aqua .dxmMenuItemWithImage_Aqua,
.menuLinks_Aqua .dxmMenuItemWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuItemWithImageWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItem_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemWithImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemWithImageWithPopOutImage_Aqua, 
.menuLinks_Aqua .dxmMenuLargeItem_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemWithImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemWithImageWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItem_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Aqua
{
    font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
    vertical-align: middle;	 		
    background: none repeat scroll 0 0 transparent;
	padding-right: 10px;
	padding-left: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}

.menuLinks_Aqua .dxmMenuItemSelected_Aqua,
.menuLinks_Aqua .dxmMenuItemSelectedWithImage_Aqua,
.menuLinks_Aqua .dxmMenuItemSelectedWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuItemSelectedWithImageWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemSelected_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemSelectedWithImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemSelectedWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemSelected_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemSelectedWithImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemSelectedWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemSelected_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemWithImageSelected_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Aqua,
.menuLinks_Aqua .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Aqua
{	
	background-color: #FEE17B;
	background-image: url('mVertSBack.gif') 
	background-repeat:repeat-x;	
    background-position:top;
}
