/* -- ASPxNavBar -- */ 
.dxnbControl_Office2003OliveNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #CBDAA5;
	padding: 3px 0px;
}
.dxnbControl_Office2003OliveNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation 
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_Office2003OliveNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_Office2003OliveNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #AFC38B;
    border: Solid 1px #9FBB78;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_Office2003OliveNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #B5C48F;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #758D5E;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_Office2003OliveNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_Office2003OliveNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_Office2003OliveNavigation
{
    font: 11px Tahoma;
	background-color: #F2F1E5;
	border: 0px;
	border-bottom: Solid 1px #758D5E;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_Office2003OliveNavigation
{
    font: 11px Tahoma;
    color: #535A62;
    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_Office2003OliveNavigation
{
    color: #535A62;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_Office2003OliveNavigation
{
	background-color: #DCE4CA;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_Office2003OliveNavigation 
{
    color: Black;
    background: #CBDAA5;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_Office2003OliveNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbLite_Office2003OliveNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-header,
.dxnbLite_Office2003OliveNavigation .dxnb-headerCollapsed 
{
	color: Black;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_Office2003OliveNavigation .dxnb-header
{
	background: #B5C48F url('nbHeaderGroup.gif') repeat-x;
	font-weight: bold;	
	border: Solid 1px #758D5E;
	padding: 3px 6px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-headerHover
{
}
.dxnbLite_Office2003OliveNavigation .dxnb-headerCollapsedHover
{
    background: #AFC38B url('nbHeaderGroupHover.gif') repeat-x;
    border: Solid 1px #9FBB78;
	padding: 3px 6px 4px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-content 
{
	background: #F2F1E5;
	border: none;
	border-bottom: Solid 1px #758D5E;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_Office2003OliveNavigation .dxnb-item,
.dxnbLite_Office2003OliveNavigation .dxnb-large,
.dxnbLite_Office2003OliveNavigation .dxnb-bullet 
{
	font-size: 11px;
	color: #535A62;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_Office2003OliveNavigation .dxnb-item,
.dxnbLite_Office2003OliveNavigation .dxnb-large,
.dxnbLite_Office2003OliveNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-item,
.dxnbLite_Office2003OliveNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-bullet,
.dxnbLite_Office2003OliveNavigation .dxnb-bulletHover,
.dxnbLite_Office2003OliveNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-itemSelected,
.dxnbLite_Office2003OliveNavigation .dxnb-itemHover
{
}
.dxnbLite_Office2003OliveNavigation .dxnb-largeSelected,
.dxnbLite_Office2003OliveNavigation .dxnb-largeHover
{
}
.dxnbLite_Office2003OliveNavigation .dxnb-itemSelected,
.dxnbLite_Office2003OliveNavigation .dxnb-largeSelected
{
	color: #535A62;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-itemHover,
.dxnbLite_Office2003OliveNavigation .dxnb-largeHover
{
	background-color: #DCE4CA;
}
.dxnbLite_Office2003OliveNavigation .dxnb-header,
.dxnbLite_Office2003OliveNavigation .dxnb-headerCollapsed, 
.dxnbLite_Office2003OliveNavigation .dxnb-item,
.dxnbLite_Office2003OliveNavigation .dxnb-itemHover,
.dxnbLite_Office2003OliveNavigation .dxnb-itemSelected,
.dxnbLite_Office2003OliveNavigation .dxnb-bullet,
.dxnbLite_Office2003OliveNavigation .dxnb-bulletHover,
.dxnbLite_Office2003OliveNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_Office2003OliveNavigation .dxnb-large,
.dxnbLite_Office2003OliveNavigation .dxnb-largeHover,
.dxnbLite_Office2003OliveNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_Office2003OliveNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_Office2003OliveNavigation .dxnb-btn,
.dxnbLite_Office2003OliveNavigation .dxnb-btnLeft,
.dxnbLite_Office2003OliveNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_Office2003OliveNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_Office2003OliveNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_Office2003OliveNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_Office2003OliveNavigation,
.dxnbLite_Office2003OliveNavigation .dxnbLiteDisabled_Office2003OliveNavigation,
.dxnbLiteDisabled_Office2003OliveNavigation a,
.dxnbLiteDisabled_Office2003OliveNavigation .dxnb-item,
.dxnbLiteDisabled_Office2003OliveNavigation .dxnb-large,
.dxnbLiteDisabled_Office2003OliveNavigation .dxnb-bullet,
.dxnbLiteDisabled_Office2003OliveNavigation .dxnb-header,
.dxnbLiteDisabled_Office2003OliveNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
