.dxgvControl_Office2003Silver,
.dxgvDisabled_Office2003Silver
{
	border: solid 1px #9c9ab7;
	font: 9pt Tahoma;
	background-color: White;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Office2003Silver 
{
	color: Gray;
}
.dxgvControl_Office2003Silver a 
{
	color: black;
}
.dxgvDisabled_Office2003Silver a
{
	color: Gray;
}
.dxgvLoadingPanel_Office2003Silver
{
	border:solid 1px #9c9ab7;
	background-color: white;
	font: 9pt Tahoma;
	color: #7C7C94;
}
.dxgvLoadingPanel_Office2003Silver td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxgvLoadingPanelStatusBar_Office2003Silver
{
	background-color: transparent;
	font: 9pt Tahoma;
	color: #7C7C94;
}
.dxgvLoadingPanelStatusBar_Office2003Silver td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px 0px 2px;
}

.dxgvFilterPopupWindow_Office2003Silver
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #7b7b93;
}
.dxgvFilterPopupItemsArea_Office2003Silver
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_Office2003Silver
{
	font: 9pt Tahoma;
	background-color: #dfdfdf;
	border: 1px solid #dcdcdc;
	border-left-width: 0px;
	color: Black;
}

.dxgvFilterPopupItem_Office2003Silver td.dxgv,
.dxgvFilterPopupActiveItem_Office2003Silver td.dxgv,
.dxgvFilterPopupSelectedItem_Office2003Silver td.dxgv
{
	padding: 3px 2px 4px 3px;
	border-left: 1px solid White;
	border-bottom: 1px solid White;
	border-right: 1px solid White;
	cursor: default;
	white-space: nowrap;	
}
.dxgvFilterPopupActiveItem_Office2003Silver
{
	background: #dfdfdf;
    color: Black;
}
.dxgvFilterPopupSelectedItem_Office2003Silver
{
	background: #ffc076;
    color: Black;
}

.dxgvTable_Office2003Silver
{
	background-color: transparent;
	border:0;
	border-collapse: separate !important;
	overflow:hidden;
	font: 9pt Tahoma;
	color: Black;
}
.dxgvInlineEditRow_Office2003Silver,
.dxgvDataRow_Office2003Silver
{
}
.dxgvInlineEditRow_Office2003Silver td.dxgv
{
	border-bottom: solid 1px #9c9ab7;
	border-right: 1px solid #9c9ab7;
	background: #e2e3ed;
}
.dxgvDataRowAlt_Office2003Silver
{
	background-color: #f3f3f3;
}
.dxgvFilterRow_Office2003Silver 
{
	background: #c8c8d9;	
}
.dxgvEditForm_Office2003Silver 
{	
	background-color: #e2e3ed;
}
.dxgvEditForm_Office2003Silver td.dxgv
{
	border-bottom: solid 1px #9c9ab7;
	padding: 0px 0px 2px 0px;
}
.dxgvSelectedRow_Office2003Silver
{	
	background: #ffc076;
}
.dxgvFocusedRow_Office2003Silver
{
	background: url('gvFocusedBack.gif') repeat-x center bottom #fff2c8;
}
.dxgvPreviewRow_Office2003Silver
{
	background-color: white;
}
.dxgvDetailCell_Office2003Silver,
.dxgvPreviewRow_Office2003Silver td.dxgv,
.dxgvEmptyDataRow_Office2003Silver td.dxgv
{
	padding: 2px 2px 4px 4px;
	border-bottom: solid 1px #c8c8d9;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.dxgvDetailRow_Office2003Silver td.dxgvIndentCell
{
    border-bottom: solid 1px #c8c8d9;    
}
.dxgvEmptyDataRow_Office2003Silver
{
	color: #848484;
}
.dxgvEmptyDataRow_Office2003Silver td.dxgv
{
	text-align:center;
}

.dxgvEditFormDisplayRow_Office2003Silver td.dxgv,
.dxgvDataRow_Office2003Silver td.dxgv,
.dxgvDataRowAlt_Office2003Silver td.dxgv,
.dxgvSelectedRow_Office2003Silver td.dxgv,
.dxgvFocusedRow_Office2003Silver td.dxgv
{
	overflow:hidden;
	border-bottom: solid 1px #c8c8d9;
	border-right: solid 1px #c8c8d9;
	border-top: 0;
	border-left: 0;
	padding:  2px 6px 5px 6px;
}
.dxgvEditFormDisplayRow_Office2003Silver td.dxgv 
{
	background: #e2e3ed;	
}
.dxgvSelectedRow_Office2003Silver td.dxgv
{
	border-color: #fe9552;
}
.dxgvEditingErrorRow_Office2003Silver
{
	background-color: #FE9552;
	color: #FFFFFF;
}
.dxgvEditingErrorRow_Office2003Silver td.dxgv
{
	white-space: pre-wrap;
	font-weight: bold;
	border-bottom: solid 1px #9c9ab7;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	padding: 6px 10px 6px 10px;
}

.dxgvFilterRow_Office2003Silver td.dxgv
{
	border-bottom: solid 1px #9c9ab7;
	border-right: 1px solid #9c9ab7;
	border-top: 0;
	border-left: 0;
	padding: 2px 2px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_Office2003Silver
{
	background-color: #c8c8d9;
}
.dxgvFocusedGroupRow_Office2003Silver
{
	background: url('gvFocusedBack.gif') repeat-x center bottom #fff2c8;
}
.dxgvGroupRow_Office2003Silver td.dxgv,
.dxgvFocusedGroupRow_Office2003Silver td.dxgv
{
	border: none 0;
	vertical-align:middle;
	white-space:nowrap;
	border-top: solid 1px white;
	border-bottom: solid 1px #9c9ab7;
	padding: 2px 6px 3px 6px;
}
.dxgvFocusedRow_Office2003Silver td.dxgvIndentCell,
.dxgvFocusedGroupRow_Office2003Silver td.dxgvIndentCell,
.dxgvSelectedRow_Office2003Silver td.dxgvIndentCell
{
	background-color: #C8C8D9!important;
	border-right: solid 1px #9C9AB7;
	border-top: 0px;
}
.dxgvHeaderPanel_Office2003Silver {	
	background: url('gvGradient.gif') repeat-x center top #9c9ab7;
	color: Black;
	padding: 8px 6px 8px 6px;
	border-bottom: solid 1px #9c9ab7;
}

.dxgvHeader_Office2003Silver {
	cursor:pointer;
	white-space:nowrap;
	padding:  4px 6px 5px 6px;
	border: solid 1px #9c9ab7;
	background: url('gvGradient.gif') repeat-x center top #9c9ab7;
	overflow:hidden;
    font-weight: normal;
    text-align: left;
}
.dxgvHeader_Office2003Silver, .dxgvHeader_Office2003Silver table {
	color: Black;
	font: 9pt Tahoma;
}
.dxgvHeader_Office2003Silver td {
	white-space:nowrap;
}
.dxgvCustomization_Office2003Silver,
.dxgvPopupEditForm_Office2003Silver  
{
	width:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.dxgvGroupPanel_Office2003Silver
{
	white-space:nowrap;	
	font-size: 9pt;
	background: #c8c8d9;
	border-bottom: solid 1px #9c9ab7;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_Office2003Silver
{	
	background-color: #a4a2bd;
	white-space:nowrap;
}
.dxgvFooter_Office2003Silver td.dxgv
{
	padding: 3px 6px 5px;
	border-bottom: solid 1px #9c9ab7;
	border-right: solid 1px #9c9ab7;
}
.dxgvGroupFooter_Office2003Silver
{
	background-color: #a4a2bd;
	white-space: nowrap;
}
.dxgvGroupFooter_Office2003Silver td.dxgv
{
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;	
	border-bottom: solid 1px #c8c8d9;
	border-right: solid 1px #c8c8d9;
}
.dxgvDataRow_Office2003Silver td.dxgvIndentCell,
.dxgvGroupRow_Office2003Silver td.dxgvIndentCell,
.dxgvGroupFooter_Office2003Silver td.dxgvIndentCell
{
    background-color: #c8c8d9;
	border-right: solid 1px #9C9AB7;
	border-top: 0px;
}
.dxgvTitlePanel_Office2003Silver,
.dxgvTable_Office2003Silver caption
{
	color: White;
	font-weight:bold;
	padding: 3px;
	text-align:center;	
	border-bottom: solid 1px #9c9ab7;
	background: url('gvTitleBack.gif') repeat-x center top #787797;
}
.dxgvLoadingDiv_Office2003Silver
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvStatusBar_Office2003Silver 
{
	border-top: solid 1px #9c9ab7;
}
.dxgvStatusBar_Office2003Silver tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_Office2003Silver
{
	padding: 2px 2px 2px 2px;
}
.dxgvCommandColumn_Office2003Silver a
{
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_Office2003Silver
{	
}
.dxgvEditFormTable_Office2003Silver
{
	padding: 2px 6px 6px 4px;
	font: 9pt Tahoma;
	color: Black;
}
.dxgvEditFormCaption_Office2003Silver
{
	padding: 4px 4px 4px 10px; 
}

.dxgvInlineEditCell_Office2003Silver
{
	padding: 1px 1px 1px 1px; 
}

.dxgvEditFormCell_Office2003Silver
{
	padding: 4px 4px 4px 4px; 
	border: 0;
}

.dxgvFilterBar_Office2003Silver 
{
	border-top: solid 1px #9c9ab7;
	background-color: #c8c8d9;
}
.dxgvFilterBar_Office2003Silver a
{
	color: black;
	text-decoration: underline;		
}
.dxgvFilterBarCheckBoxCell_Office2003Silver
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxgvFilterBarImageCell_Office2003Silver
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Office2003Silver
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Office2003Silver
{
	font-size: 9pt;
	padding: 5px 6px 8px;	
}
.dxgvFilterBuilderMainArea_Office2003Silver 
{
	background: white;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Office2003Silver
{
	background-color: #D4D4E2;
	border-top: solid 1px #BBBBD1;
	padding: 6px;
}

.dxgvDataRowHover_Office2003Silver
{
	background: #dfdfdf;
	color: Black;
}
