.dxtlControl_Office2003Blue
{
	cursor: default;
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #4f93e3;
}
.dxtlControl_Office2003Blue caption
{
    background: url('CaptionBack.gif') repeat-x center top #0f439d;
	color: White;
	border: solid 1px #4f93e3;
    border-bottom: 0;	
	font-weight:bold;
	padding: 3px 3px 4px;
	text-align:center;	    
}

/* Indent cells */
.dxtlIndent_Office2003Blue, .dxtlIndentWithButton_Office2003Blue
{			
	background: white;
	vertical-align: top;
	background-position: center top;
	background-repeat: no-repeat;
}
.dxtlIndent_Office2003Blue
{
	padding: 0 11px;
}
.dxtlIndentWithButton_Office2003Blue
{
	padding: 5px 6px;
}
.dxtlSelectionCell_Office2003Blue
{
	padding: 0 2px;
	border: solid 1px #bfd3ee;
}

/* Tree-lines cells */
.dxtlLineFirst_Office2003Blue
{
	background-image: url('CssImages/TreeLineFirst.gif');
}
.dxtlLineMiddle_Office2003Blue
{
	background-image: url('CssImages/TreeLineMiddle.gif');
}
.dxtlLineLast_Office2003Blue
{
	background-image: url('CssImages/TreeLineLast.gif');
}
.dxtlLineRoot_Office2003Blue
{
	background-image: url('CssImages/TreeLineRoot.gif');
	background-repeat: repeat-y;
}

/* Headers */
.dxtlHeader_Office2003Blue 
{
	background: url('CssImages/HeaderBack.gif') repeat-x #94b6e8;
	border: solid 1px #4f93e3;
	padding: 4px 6px 5px;
	font-weight: normal;		
}
.dxtlHeader_Office2003Blue table.dxtl 
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_Office2003Blue td.dxtl
{
	padding: 0;
}
.dxtlHeader_Office2003Blue, .dxtlHeader_Office2003Blue td.dxtl 
{	
	font: 9pt Tahoma;
	white-space: nowrap;
	text-align: left;
}

/* Nodes */
.dxtlNode_Office2003Blue
{
	background: white;	
}
.dxtlAltNode_Office2003Blue
{
	background: #edf5ff;	
}
.dxtlSelectedNode_Office2003Blue
{
	background: #ffc076;	
}
.dxtlFocusedNode_Office2003Blue
{
	background: url('CssImages/FocusedBack.gif') repeat-x center bottom #fff2c8;    
}
.dxtlInlineEditNode_Office2003Blue 
{
	background: #c1d7f8;
}
.dxtlEditFormDisplayNode_Office2003Blue
{
	background: #e1f7ff;
}
.dxtlNode_Office2003Blue td.dxtl, 
.dxtlAltNode_Office2003Blue  td.dxtl, 
.dxtlSelectedNode_Office2003Blue td.dxtl, 
.dxtlFocusedNode_Office2003Blue td.dxtl,
.dxtlEditFormDisplayNode_Office2003Blue td.dxtl,
.dxtlCommandCell_Office2003Blue
{
	padding: 3px 6px 4px;
	border: solid 1px #bfd3ee;
	white-space: nowrap;
	font-size: 9pt;
    font-family: Tahoma;
}
.dxtlInlineEditNode_Office2003Blue td.dxtl
{
	border: solid 1px #bfd3ee;
	padding: 1px;
}

/* Preview */
.dxtlPreview_Office2003Blue
{
    background: #e9f3fe;
	padding: 14px;
	border: solid 1px #bfd3ee;
	font: 9pt Tahoma;	
}

/* Footers */
.dxtlGroupFooter_Office2003Blue
{
	background-color: #a9c5ed;	
}
.dxtlFooter_Office2003Blue
{
	background-color: #94B6E8;	
}
.dxtlGroupFooter_Office2003Blue td.dxtl,
.dxtlFooter_Office2003Blue td.dxtl
{
	padding: 5px 6px 6px;
	white-space: nowrap;
	text-align: left;
	border: solid 1px #bfd3ee;
	font: 9pt Tahoma;
}

/* Pagers */
.dxtlPagerTopPanel_Office2003Blue
{
	border-bottom: solid 1px #4f93e3;
}
.dxtlPagerBottomPanel_Office2003Blue
{
	border-top: solid 1px #4f93e3;
}
.dxtlPagerTopPanel_Office2003Blue,
.dxtlPagerBottomPanel_Office2003Blue
{
	background: white;
	padding-top: 1px;	
}

/* Editing */
.dxtlEditForm_Office2003Blue
{
	background: #c1d7f8;
	border: solid 1px #bfd3ee;	
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_Office2003Blue,
.dxtlEditFormEditCell_Office2003Blue
{
	padding: 4px;
}
.dxtlEditFormCaption_Office2003Blue
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_Office2003Blue
{
	background: #FFC8C8;
	color: #FF0000;
	padding: 6px 10px;
	border: solid 1px #cfcfcf;
	font: 9pt Tahoma;		
}

/* Links */
.dxtlControl_Office2003Blue a,
.dxtlCommandCell_Office2003Blue a 
{
	color: black;
}
.dxtlCommandCell_Office2003Blue a 
{
    margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_Office2003Blue
{
	border: solid 1px #4f93e3;
	background-color: white;
	font: 9pt Tahoma;
	color: #4B77B8;
}
.dxtlLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxtlLoadingDiv_Office2003Blue
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

/* Disabled */
.dxtlDisabled_Office2003Blue,
.dxtlDisabled_Office2003Blue .dxtl_Office2003Blue
{
	color: #808080;
	cursor: default;
}
