.dxPivotGrid_pgCollapsedButton_BlackGlass,
.dxPivotGrid_pgExpandedButton_BlackGlass,
.dxPivotGrid_pgSortDownButton_BlackGlass,
.dxPivotGrid_pgSortUpButton_BlackGlass,
.dxPivotGrid_pgFilterResizer_BlackGlass,
.dxPivotGrid_pgFilterButton_BlackGlass,
.dxPivotGrid_pgFilterButtonActive_BlackGlass,
.dxPivotGrid_pgCustomizationFormCloseButton_BlackGlass,
.dxPivotGrid_pgDragArrowDown_BlackGlass,
.dxPivotGrid_pgDragArrowUp_BlackGlass,
.dxPivotGrid_pgDragHideField_BlackGlass,
.dxPivotGrid_pgDataHeaders_BlackGlass,
.dxPivotGrid_pgGroupSeparator_BlackGlass,
.dxPivotGrid_pgSortByColumn_BlackGlass,
.dxPivotGrid_pgPrefilterButton_BlackGlass {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_BlackGlass {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgExpandedButton_BlackGlass {
    background-position: 0px -18px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgSortDownButton_BlackGlass {
    background-position: -36px 0px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgSortUpButton_BlackGlass {
    background-position: -36px -18px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgFilterResizer_BlackGlass {
    background-position: -69px -37px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgFilterButton_BlackGlass {
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButtonActive_BlackGlass {
    background-position: -23px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_BlackGlass {
    background-position: -46px -39px;
    width: 18px;
    height: 17px;
}

.dxPivotGrid_pgDragArrowDown_BlackGlass {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_BlackGlass {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_BlackGlass {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_BlackGlass {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_BlackGlass {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_BlackGlass {
    background-position: -53px 0px;
    width: 17px;
    height: 10px;
}

.dxPivotGrid_pgPrefilterButton_BlackGlass {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}


