.dxpgControl_Aqua
{
	color: #000000;
	font: 9pt Tahoma;
	border: Solid 1px #A3C0E8;
	background-color: #F7FAFF;
}
.dxpgContainerCell_Aqua
{
	vertical-align: top;
}
.dxpgMainTable_Aqua
{
	color: #4F4F4F;
	font: 9pt Tahoma;
	border: 0px;
	border-collapse: separate;
	width: 100%;
}
.dxpgMainTable_Aqua caption
{
    background: #F7FAFF;
    color: #283B56;
    border-bottom: Solid 1px #A3C0E8;
    padding: 5px 5px 6px;
	font-weight: normal;		
	text-align: center;	
}    
.dxpgHeader_Aqua
{
	border-width: 0px;
	color: #283B56;
	background-color: #DDECFF;
	cursor: pointer;
	white-space: nowrap;

	background-image: url('pgHeaderBack.gif');
	background-repeat: repeat-x;
	background-position: left top;
}
.dxpgHeaderTable_Aqua
{
	border-width: 1px;
	width: 100%;
}
.dxpgHeaderGroupButton_Aqua
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_Aqua
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 5px;
}
.dxpgHeaderSort_Aqua
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_Aqua
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgHeaderHover_Aqua
{
	background-color: #FFD770;
	background-image: url('pgHeaderHoverBack.gif');
	background-repeat: repeat-x;
	background-position: left top;
}
.dxpgArea_Aqua, .dxpgArea_Aqua table
{
	color: #283B56;
	font: 9pt Tahoma;
}
.dxpgArea_Aqua
{
	border: Solid 1px #A3C0E8;
	background-color: #F7FAFF;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_Aqua
{
	border-bottom-style: solid;
}
.dxpgRowArea_Aqua
{
}
.dxpgDataArea_Aqua
{
}
.dxpgFilterArea_Aqua
{
	background-color: #D7E9FD;
	color: #4F4F4F;
	border-bottom-style: Solid;
}
.dxpgEmptyArea_Aqua 
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_Aqua
{
    color: #4F4F4F;
	background-color: #E2F0FF;
	border: Solid 1px #A3C0E8;
	border-left-style: Solid;
	border-bottom-style: Solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
	padding-bottom: 5px;
    font-weight: normal;
    text-align: left;    
}
.dxpgColumnTotalFieldValue_Aqua
{
	background-color: #C3DCFF;
	background-image: none;
	border-left-style: Solid;
	border-bottom-style: Solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_Aqua
{
	background-color: #C3DCFF;
	border-left-style: Solid;
	border-bottom-style: Solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_Aqua
{
    color: #4F4F4F;
	background-color: #D7E9FD;
	border: Solid 1px #A3C0E8;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: Solid;
	border-top-style: Solid;
	padding: 4px 6px 5px 6px;
    font-weight: normal;
    text-align: left;    
}
.dxpgRowTotalFieldValue_Aqua
{
	background-color: #C3DCFF;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: Solid;
	border-top-style: Solid;
}
.dxpgRowTreeFieldValue_Aqua
{
	padding: 0px;
	font: 0pt;
}
.dxpgRowGrandTotalFieldValue_Aqua
{
	background-color: #AFCDF8;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: Solid;
	border-top-style: Solid;
	padding: 6px 6px 7px 6px;
}
.dxpgCollapsedButton_Aqua
{
	vertical-align: -3px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_Aqua
{
	vertical-align: -3px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_Aqua
{
	text-align: right;
	background-color: #FFFFFF;	
	border-color: #C9D6E9;
	border-width: 1px;
	border-top-style: Solid;
	border-left-style: Solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	padding-bottom: 5px;
	white-space: nowrap;
}
.dxpgKPICell_Aqua
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_Aqua
{
	background-color: #F7FAFF;
}
.dxpgGrandTotalCell_Aqua
{
	background-color: #EEF3FF;
}
.dxpgRowGrandTotalCell_Aqua
{
	background-color: #EEF3FF;
}
.dxpgColumnGrandTotalCell_Aqua
{
	background-color: #EEF3FF;
}
.dxpgFilterWindow_Aqua
{
	color: #000000;
	font: 9pt Tahoma;
	border: Solid 1px #A3C0E8;
}
.dxpgFilterItemsArea_Aqua
{
	color: #000000;
	background-color: #FFFFFF;
}
.dxpgFilterItem_Aqua
{
	font: 9pt Tahoma;
}
.dxpgFilterButton_Aqua
{
	font: 9pt Tahoma;
	padding: 2px 6px;
}
.dxpgFilterButtonPanel_Aqua
{
	font: 9pt Tahoma;
	background-color: #ECF4FE;
	border: 1px Solid #C9D6E9;
	color: #2C4D79;
}
.dxpgLoadingDiv_Aqua
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxpgTopPager_Aqua
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: Solid 1px #A3C0E8;
	background: #C7DFFF url('pgPagerBack.gif') top;
	padding:6px 0px;
}
.dxpgBottomPager_Aqua
{
	border-top: Solid 1px #A3C0E8;
	border-bottom: none;
	border-right: none;
	border-left: none;
	background: #C7DFFF url('pgPagerBack.gif') top;
	padding:6px 0px;
}
.dxpgCustomizationFieldsHeader_Aqua
{
	color: #000000;
	font: 9pt Tahoma;
}
.dxpgCustomizationFieldsContent_Aqua
{
	padding: 0px!important;
}
.dxpgLoadingPanel_Aqua
{
    font: 9pt Tahoma;
	color: #2C4D79;
	background-color: White;
	border: solid 1px #67A2C6;
}
.dxpgLoadingPanel_Aqua td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 20px 8px;
}
.dxpgMenuItem_Aqua 
{
	font: 9pt Tahoma;	
}
.dxpgDataHeadersImage_Aqua
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_Aqua
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanelLink_Aqua
{
	color: #283B56;
	text-decoration: underline;	
}
.dxpgPrefilterPanel_Aqua
{
	border: none;
	background: #B7D7FF;
}
.dxpgPrefilterPanelCheckBoxCell_Aqua
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_Aqua
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelClearButtonCell_Aqua
{
	font-size: 9pt;
	padding: 5px 6px 8px;
}
.dxpgPrefilterPanelExpressionCell_Aqua
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgFilterBuilderMainArea_Aqua
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_Aqua
{
	background-color: #EEF3FF;
	border-top: solid 1px #A3C0E8;
	padding: 6px;
}
.dxpgGroupSeparator_Aqua
{
	vertical-align: middle;
}
