.dxTreeList_CollapsedButton_Youthful,
.dxTreeList_ExpandedButton_Youthful,
.dxTreeList_SortAsc_Youthful,
.dxTreeList_SortDesc_Youthful,
.dxTreeList_DragAndDropArrowDown_Youthful,
.dxTreeList_DragAndDropArrowUp_Youthful,
.dxTreeList_DragAndDropHide_Youthful,
.dxTreeList_DragAndDropNode_Youthful {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxTreeList_CollapsedButton_Youthful {
    background-position: -66px 0px;
    width: 9px;
    height: 9px;
}

.dxTreeList_ExpandedButton_Youthful {
    background-position: -66px -18px;
    width: 9px;
    height: 9px;
}

.dxTreeList_SortAsc_Youthful {
    background-position: -49px 0px;
    width: 9px;
    height: 9px;
}

.dxTreeList_SortDesc_Youthful {
    background-position: -49px -19px;
    width: 9px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowDown_Youthful {
    background-position: -30px 0px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowUp_Youthful {
    background-position: -30px -17px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropHide_Youthful {
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}

.dxTreeList_DragAndDropNode_Youthful {
    background-position: -83px 0px;
    width: 13px;
    height: 13px;
}


