/* -- ASPxNavBar -- */
.dxnbControl_AquaNavigation
{
	font: 9pt Tahoma;
	color: White;
	background-color: #CFE3FB;
	padding: 3px 0px;
}
.dxnbControl_AquaNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_AquaNavigation
{
    font: 11px Tahoma;
	color: White;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_AquaNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_AquaNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_AquaNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #E0EFFF;
    border: Solid 1px #92B2DD;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_AquaNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #E0EFFF;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #92B2DD;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_AquaNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_AquaNavigation table td
{
    color: #283B56;
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_AquaNavigation
{
    font: 11px Tahoma;
	background-color: #E0EDFF;
	background-image: url('nbGroupContentBackground.gif');
	background-repeat: repeat-x;
	border: 0px;
	border-bottom: Solid 1px #AECAF0;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_AquaNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_AquaNavigation
{
    color: Black;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_AquaNavigation
{
	background-color: #B4D4FA;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_AquaNavigation 
{
    color: Black;
    background: #CFE3FB;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_AquaNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbLite_AquaNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_AquaNavigation .dxnb-header,
.dxnbLite_AquaNavigation .dxnb-headerCollapsed 
{
	border: none;
	font-size: 11px;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_AquaNavigation .dxnb-header
{
	color: #283B56;
	background-color: #E0EFFF;
	font-weight: bold;
	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	border: Solid 1px #92B2DD;
	padding: 3px 6px 3px 6px;
}
.dxnbLite_AquaNavigation .dxnb-content 
{
	background-color: #E0EDFF;
	background-image: url('nbGroupContentBackground.gif');
	background-repeat: repeat-x;
	border: none;
	border-bottom: Solid 1px #AECAF0;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_AquaNavigation .dxnb-item,
.dxnbLite_AquaNavigation .dxnb-large,
.dxnbLite_AquaNavigation .dxnb-bullet 
{
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_AquaNavigation .dxnb-item,
.dxnbLite_AquaNavigation .dxnb-large,
.dxnbLite_AquaNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_AquaNavigation .dxnb-item,
.dxnbLite_AquaNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_AquaNavigation .dxnb-bullet,
.dxnbLite_AquaNavigation .dxnb-bulletHover,
.dxnbLite_AquaNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_AquaNavigation .dxnb-itemSelected,
.dxnbLite_AquaNavigation .dxnb-itemHover
{
}
.dxnbLite_AquaNavigation .dxnb-largeSelected,
.dxnbLite_AquaNavigation .dxnb-largeHover
{
}
.dxnbLite_AquaNavigation .dxnb-itemSelected,
.dxnbLite_AquaNavigation .dxnb-largeSelected
{
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_AquaNavigation .dxnb-itemHover,
.dxnbLite_AquaNavigation .dxnb-largeHover
{
	background-color: #B4D4FA;
}
.dxnbLite_AquaNavigation .dxnb-header,
.dxnbLite_AquaNavigation .dxnb-headerCollapsed, 
.dxnbLite_AquaNavigation .dxnb-item,
.dxnbLite_AquaNavigation .dxnb-itemHover,
.dxnbLite_AquaNavigation .dxnb-itemSelected,
.dxnbLite_AquaNavigation .dxnb-bullet,
.dxnbLite_AquaNavigation .dxnb-bulletHover,
.dxnbLite_AquaNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_AquaNavigation .dxnb-large,
.dxnbLite_AquaNavigation .dxnb-largeHover,
.dxnbLite_AquaNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_AquaNavigation .dxnb-headerHover
{
}
.dxnbLite_AquaNavigation .dxnb-headerCollapsedHover
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #E0EFFF;
    border: Solid 1px #92B2DD;
	padding: 3px 6px 4px;
}
.dxnbLite_AquaNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_AquaNavigation .dxnb-btn,
.dxnbLite_AquaNavigation .dxnb-btnLeft,
.dxnbLite_AquaNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_AquaNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
	margin-top: 2px;
}
.dxnbLite_AquaNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_AquaNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_AquaNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_AquaNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_AquaNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_AquaNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_AquaNavigation,
.dxnbLite_AquaNavigation .dxnbLiteDisabled_AquaNavigation,
.dxnbLiteDisabled_AquaNavigation a,
.dxnbLiteDisabled_AquaNavigation .dxnb-item,
.dxnbLiteDisabled_AquaNavigation .dxnb-large,
.dxnbLiteDisabled_AquaNavigation .dxnb-bullet,
.dxnbLiteDisabled_AquaNavigation .dxnb-header,
.dxnbLiteDisabled_AquaNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
