.dxPivotGrid_pgCollapsedButton_Youthful,
.dxPivotGrid_pgExpandedButton_Youthful,
.dxPivotGrid_pgSortDownButton_Youthful,
.dxPivotGrid_pgSortUpButton_Youthful,
.dxPivotGrid_pgFilterResizer_Youthful,
.dxPivotGrid_pgFilterButton_Youthful,
.dxPivotGrid_pgFilterButtonActive_Youthful,
.dxPivotGrid_pgCustomizationFormCloseButton_Youthful,
.dxPivotGrid_pgDragArrowDown_Youthful,
.dxPivotGrid_pgDragArrowUp_Youthful,
.dxPivotGrid_pgDragHideField_Youthful,
.dxPivotGrid_pgDataHeaders_Youthful,
.dxPivotGrid_pgGroupSeparator_Youthful,
.dxPivotGrid_pgSortByColumn_Youthful,
.dxPivotGrid_pgPrefilterButton_Youthful {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_Youthful {
    background-position: 0px 0px;
    width: 9px;
    height: 10px;
}

.dxPivotGrid_pgExpandedButton_Youthful {
    background-position: 0px -18px;
    width: 9px;
    height: 10px;
}

.dxPivotGrid_pgSortDownButton_Youthful {
    background-position: -36px 0px;
    width: 9px;
    height: 9px;
}

.dxPivotGrid_pgSortUpButton_Youthful {
    background-position: -36px -18px;
    width: 9px;
    height: 9px;
}

.dxPivotGrid_pgFilterResizer_Youthful {
    background-position: -69px -37px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButton_Youthful {
    background-position: 0px -36px;
    width: 15px;
    height: 17px;
}

.dxPivotGrid_pgFilterButtonActive_Youthful {
    background-position: -23px -36px;
    width: 15px;
    height: 17px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_Youthful {
    background-position: -46px -39px;
    width: 13px;
    height: 12px;
}

.dxPivotGrid_pgDragArrowDown_Youthful {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_Youthful {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_Youthful {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_Youthful {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_Youthful {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_Youthful {
    background-position: -53px 0px;
    width: 18px;
    height: 10px;
}

.dxPivotGrid_pgPrefilterButton_Youthful {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}


