/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Glass
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_Glass
{
    font: 9pt Tahoma;
    color: #303030;
}
.dxheLoadingPanel_Glass td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px 12px 12px 12px;
}

.dxheControl_Glass
{
    border: Solid 1px #4986A2;
}

/* Area */
.dxheContentArea_Glass
{
    padding: 4px;
	padding-bottom: 6px;
    background-color: #D3E9F0;
}
.dxheViewArea_Glass
{
    border: Solid 1px #4986A2;    
}
.dxheHtmlViewEdit_Glass, .dxheDesignViewArea_Glass, .dxhePreviewArea_Glass 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
    font-size: smaller;
    font: normal 12px Arial;
}
td.dxheHtmlViewEdit_Glass, body.dxheDesignViewArea_Glass, body.dxhePreviewArea_Glass
{
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Glass table.dxEmptyBorderTable,
body.dxheDesignViewArea_Glass table.dxEmptyBorderTable td  {
    border:1px dotted gray;
}
/* Status Bar */
.dxheStatusBar_Glass 
{
}
.dxheStatusBarTab_Glass 
{    
}
.dxheStatusBarActiveTab_Glass 
{
}
/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell, #dxInsertLinkForm .buttonsCell, #dxInsertImageForm .buttonsCell, #dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell
{
	background-color: #D3E6F3;
	border-top-style: none;
	
	background-image: url('dfFooterBack.gif');
    background-repeat:repeat-x;
    background-position:top;	

    padding: 11px;
}
#dxInsertTableForm .captionIndent, #dxInsertLinkForm .captionIndent, #dxInsertImageForm .captionIndent,
#dxTableColumnPropertiesForm .captionIndent
{
	overflow: hidden;
	height: 5px;
}
#dxInsertTableForm .contentCell, #dxInsertLinkForm .contentCell, #dxInsertImageForm .contentCell, #dxPasteFromWordForm .contentCell,
#dxTableColumnPropertiesForm .contentCell
{
	padding: 11px;
}
#dxInsertLinkForm .typeRadionButtonListCell, #dxInsertImageForm .typeRadionButtonListCell
{
	padding-bottom: 12px;
}
#dxInsertTableForm .separatorCell, #dxInsertLinkForm .separatorCell, #dxInsertImageForm .separatorCell,
#dxTableColumnPropertiesForm .separatorCell
{
	height: 7px;
}
#dxInsertTableForm .buttons, #dxInsertLinkForm .buttons, #dxInsertImageForm .buttons,
#dxTableColumnPropertiesForm .buttons
{
    padding-top: 3px;
}
#dxInsertTableForm .cancelButton, #dxInsertLinkForm .cancelButton, #dxInsertImageForm .cancelButton, #dxPasteFromWordForm .cancelButton,
#dxTableColumnPropertiesForm .cancelButton
{
    padding-left: 10px;
}
#dxInsertTableForm .captionCell, #dxInsertTableForm .rowsCaptionCell, #dxInsertLinkForm .captionCell,
#dxTableColumnPropertiesForm .captionCell, #dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 9px;
    padding-top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
#dxInsertTableForm .inputCell, #dxInsertTableForm .rowsInputCell, #dxInsertLinkForm .inputCell,
#dxTableColumnPropertiesForm .inputCell, #dxTableColumnPropertiesForm .rowsInputCell
{
    vertical-align: middle;
}

/* Insert Link Form */
#dxInsertLinkForm .displayPropertiesCell 
{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#dxInsertLinkForm .targetCheckBoxCell
{
    padding-top:10px;
}
/* Insert Image Form */
#dxInsertImageForm .fieldSeparator 
{
    height: 9px;
}
#dxInsertImageForm .imagePreview
{
    padding: 10px 0px;
    padding-top: 5px;
}
#dxInsertImageForm .fromTheWeb
{
    width: 100%;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
    width: 100%;
    height: 170px;
}
#dxInsertImageForm .imagePropertiesCell
{
    padding-left: 20px;
    vertical-align:top;
}
#dxInsertImageForm .moreOptionsCell
{
	padding-top: 11px;
}
#dxInsertImageForm .radioButtonTable
{
	width: 317px;
}
#dxInsertImageForm .saveToServerCheckBoxCell
{
    padding-top:0px;
    padding-bottom: 13px;
}
/* Image Properties Form */
#dxImagePropertiesForm .captionCell
{
    padding-right: 2px;
    white-space: nowrap;
}
#dxImagePropertiesForm .constrainProportionsCell
{
    padding-left: 4px;
    padding-top: 2px;
}
#dxImagePropertiesForm .imageSizeEditorsCell
{
    padding-top: 7px;
    padding-bottom: 10px;
}
#dxImagePropertiesForm .pixelSizeCell
{
    padding-left: 7px;
}
#dxImagePropertiesForm .hSeparator
{
    width: 25px;
    overflow: hidden;
}
#dxImagePropertiesForm .thumbnailFileNameArea
{
    padding-top: 8px;
}
/* IE, FireFox, WebKit*/
#dxImagePropertiesForm .ckbWrapTextCell div
{
	margin-left: -4px;
	padding-top: 2px;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio) {   
	#dxImagePropertiesForm .ckbWrapTextCell div
	{
		margin-left: 0px;
	}
}

/* PasteFromWord Form */
#dxPasteFromWordForm .pasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
#dxPasteFromWordForm .pasteContainerCell
{
	padding:0px;
	padding-top: 10px;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #7EACB1;
}
#dxPasteFromWordForm .checkBoxCell
{
	padding-top: 10px;
}
#dxPasteFromWordForm .contentCell 
{
	padding-left: 20px;
	padding-right: 20px;
}

/* Insert table */
#dxInsertTableForm .propFieldSeparator, #dxTableColumnPropertiesForm .propFieldSeparator
{
    width: 20px;
}
#dxInsertTableForm .propGroupSeparator, #dxTableColumnPropertiesForm .propGroupSeparator
{
    height: 11px;
}
#dxInsertTableForm .propGroupCell, #dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm .propGroupCell, #dxTableColumnPropertiesForm .accessibilityPropGroupCell
{
    font-weight: bold;
    padding-bottom: 7px;
}
#dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm accessibilityPropGroupCell
{
    padding-left: 10px;
}
#dxInsertTableForm .propGroupContentCell,
#dxTableColumnPropertiesForm .propGroupContentCell
{
    padding-left: 20px;
}
#dxInsertTableForm .sizeTypeCell,
#dxTableColumnPropertiesForm .sizeTypeCell
{
    padding-left: 3px;
}
#dxInsertTableForm .rowsInputCell,
#dxTableColumnPropertiesForm .rowsInputCell
{
    padding-left: 9px;
}
#dxInsertTableForm .rowsCaptionCell,
#dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 0px;
}
#dxInsertTableForm .rowsSeparator,
#dxTableColumnPropertiesForm .rowsSeparator
{
    height: 18px;
}
#dxInsertTableForm .rowsHorizontalSeparator,
#dxTableColumnPropertiesForm .rowsHorizontalSeparator
{
    width: 50px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Glass
{
	height: 1px;
}
.dxtbControl_Glass 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #7BA8BD;
    border-bottom: Solid 1px #4986A2;
}

.dxtbMenu_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #F0F0F0;
	border-style: none;
	padding: 0px 0px 0px 0px;
	
	background-image: url('tbItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}

.dxtbMenuSeparator_Glass .dx,
.dxtbMenuFullHeightSeparator_Glass .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxtbMenuSeparator_Glass,
.dxtbMenuFullHeightSeparator_Glass
{
	width: 1px;
}

.dxtbMenuSeparator_Glass .dx,
.dxtbMenuFullHeightSeparator_Glass
{
	background-color: #C4C5C6;
	width: 1px;
}
.dxtbMenuSeparator_Glass
{
	display: none;
}

.dxtbMenuItem_Glass, .dxtbMenuItemWithImage_Glass, .dxtbMenuItemWithPopOutImage_Glass, .dxtbMenuItemWithImageWithPopOutImage_Glass
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	
	background-image: url('tbItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}
.dxtbMenuItem_Glass, .dxtbMenuItemWithImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;	
}
.dxtbMenuItemWithPopOutImage_Glass, .dxtbMenuItemWithImageWithPopOutImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}	
.dxtbComboBoxMenuItem_Glass
{
    padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
}
.dxtbMenuItemSelected_Glass, .dxtbMenuItemSelectedWithImage_Glass, .dxtbMenuItemSelectedWithPopOutImage_Glass, .dxtbMenuItemSelectedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	background-image: url('tbItemSBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.dxtbMenuItemSelected_Glass, .dxtbMenuItemSelectedWithImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;	
}
.dxtbMenuItemSelectedWithPopOutImage_Glass, .dxtbMenuItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}

.dxtbMenuItemChecked_Glass, .dxtbMenuItemCheckedWithImage_Glass, .dxtbMenuItemCheckedWithPopOutImage_Glass, .dxtbMenuItemCheckedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	background-image: url('tbItemSBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.dxtbMenuItemChecked_Glass, .dxtbMenuItemCheckedWithImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;	
}
.dxtbMenuItemCheckedWithPopOutImage_Glass, .dxtbMenuItemCheckedWithImageWithPopOutImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
}	

.dxtbMenuItemHover_Glass, .dxtbMenuItemHoverWithImage_Glass, .dxtbMenuItemHoverWithPopOutImage_Glass, .dxtbMenuItemHoverWithImageWithPopOutImage_Glass
{
	background-color: #CBCBCB;
	color: black;
	
	background-image: url('tbItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxtbMenuItemHover_Glass, .dxtbMenuItemHoverWithImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;		
}
.dxtbMenuItemHoverWithPopOutImage_Glass, .dxtbMenuItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-left: 8px;		
}

.dxtbSubMenu_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: solid 1px #7EACB1;
	padding: 2px 2px 2px 2px;
}
.dxtbSubMenuGutter_Glass
{
	background-color: #EDF3F4;
}
.dxtbSubMenuSeparator_Glass
{
	width: 100%;
	height: 1px;
	background-color: #A8A8A8;
}
.dxtbSubMenuItem_Glass, .dxtbSubMenuItemWithImage_Glass, .dxtbSubMenuItemWithPopOutImage_Glass, .dxtbSubMenuItemWithImageWithPopOutImage_Glass
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxtbSubMenuItem_Glass, .dxtbSubMenuItemWithImage_Glass
{
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxtbSubMenuItemWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxtbSubMenuItemWithImageWithPopOutImage_Glass
{	
    padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;    
}
.dxtbSubMenuItemDropDownButton_Glass
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxtbSubMenuItemSelected_Glass, .dxtbSubMenuItemSelectedWithImage_Glass, .dxtbSubMenuItemSelectedWithPopOutImage_Glass, .dxtbSubMenuItemSelectedWithImageWithPopOutImage_Glass
{
	background-color: #9ECED6;
	border: solid 1px #87B8C7;
}
.dxtbSubMenuItemSelected_Glass, .dxtbSubMenuItemSelectedWithImage_Glass
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxtbSubMenuItemSelectedWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxtbSubMenuItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxtbSubMenuItemDropDownButtonSelected_Glass
{
	padding-right: 6px;
	padding-left: 6px;
}
.dxtbSubMenuItemHover_Glass, .dxtbSubMenuItemHoverWithImage_Glass, .dxtbSubMenuItemHoverWithPopOutImage_Glass, .dxtbSubMenuItemHoverWithImageWithPopOutImage_Glass
{
	background-color: #D9ECED;
	border: solid 1px #C0DDE0;
}
.dxtbSubMenuItemHover_Glass, .dxtbSubMenuItemHoverWithImage_Glass
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxtbSubMenuItemHoverWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxtbSubMenuItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxtbSubMenuItemDropDownButtonHover_Glass
{
	padding-right: 6px;
	padding-left: 6px;
}
.dxtbSubMenuBorderCorrector_Glass
{
    position: absolute;
    border: 0px;
	padding: 0px;
}

.dxtbMenuItemSpacing_Glass,
.dxtbMenuItemSeparatorSpacing_Glass
{
	display: none;
}
.dxtbSubMenuItemSpacing_Glass,
.dxtbSubMenuItemSeparatorSpacing_Glass
{
	height: 1px;
}

.dxtbMenuItemLeftImageSpacing_Glass
{
	padding-right: 5px;
}
.dxtbSubMenuItemImageSpacing_Glass
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxtbSubMenuItemImageSpacing_Glass div
{
	width: 7px;
	height: 1px;
}

/* ToolbarColorButton */
.dxtcbControl_Glass
{
	border-collapse:collapse;
	border-width: 0px;
}
.dxtcbControl_Glass td
{
	/*padding: 1px;	*/
}
.dxtcbImageCell_Glass, .dxtcbColorCell_Glass
{
	height:0px;
}
.dxtcbColorDiv_Glass
{
	width: 16px;
	height: 4px;
	font-size:0pt;
	background-color: Red;
}
/*----------------- RoundPanel -----------------*/
.dxheRPControl_Glass td.dxheRP
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* Header */
.dxheRPHeader_Glass, .dxrpHeader_Glass td.dxheRP
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;	
}
/* Disabled */
.dxheRPDisabled_Glass, .dxheRPDisabled_Glass td.dxheRP
{
	color: #808080;
	cursor: default;
}

/*----------------- UploadControl -----------------*/
.dxheucControl_Glass, .dxheucEditArea_Glass
{
    font: 9pt Tahoma, Verdana, Arial;
}
.dxheucErrorCell_Glass
{
    padding-left: 4px;
    font: 10px Tahoma, Verdana, Arial;
    color: #A91123;
    text-align: left;
}
