/* -- ASPxCallbackPanel -- */
.dxcpLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxcpLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingPanelWithContent_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CBCBCB;
	background-color: White;
}
.dxcpLoadingPanelWithContent_PlasticBlue td.dx 
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingDiv_PlasticBlue
{
	background-color: Gray;
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxcpDisabled_PlasticBlue
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxCloudControl -- */
.dxccControl_PlasticBlue a:hover
{
    text-decoration:underline!important;
} 
.dxccControl_PlasticBlue a
{
	text-decoration:none!important;
	color: #91ACE0;	
}
.dxccControl_PlasticBlue
{
	font-family: Tahoma, Verdana, Arial;
	text-decoration:none;
	color: #91ACE0;
	background-color: transparent;
	font-size: 23px;
}
/* Disabled */
.dxccDisabled_PlasticBlue
{
	color: #808080;
	cursor: default;
}

/* -- ASPxDataView -- */
.dxdvControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: White;
	background-color: transparent;
}
.dxdvControl_PlasticBlue td.dxdvCtrl
{
	padding: 3px 3px 3px 3px;
}
.dxdvLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CBCBCB;
	background-color: White;
}
.dxdvLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxdvContent_PlasticBlue
{
}
.dxdvItem_PlasticBlue, .dxdvFlowItem_PlasticBlue
{
	font: 9pt Tahoma;
	color: #98a3c4;
	background-color: #E9E9E9;
	border: Solid 1px #CCCCCC;
	padding: 12px 12px 12px 14px;	
	height: 180px;
	/*if IE*/	
	height:expression("154px");
}
.dxdvFlowItem_PlasticBlue
{
	float: left;
	overflow: hidden;
}
.dxdvFlowItemsContainer_PlasticBlue
{
}
.dxdvEmptyItem_PlasticBlue
{
	font: 9pt Tahoma;
	color: #98a3c4;
	text-align: left;
	vertical-align: top;
	padding: 12px 12px 12px 14px;	
	height: 180px;
	/*if IE*/
	height:expression("154px");
}
.dxdvPagerPanel_PlasticBlue
{
    background-color: #3F5496;
    padding: 2px 10px 2px 10px;
    border: Solid 1px #2C4182;
    background-image: url('dvPagerBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.dxdvEmptyData_PlasticBlue
{
	color: #848484;
	padding: 9px 37px 9px 37px;
}
/* Disabled */
.dxdvDisabled_PlasticBlue
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxHeadline -- */
.dxhlControl_PlasticBlue
{
	font: 8pt Tahoma;
	color: black;
	padding: 0px;
}
.dxhlContent_PlasticBlue
{
	font: 9pt Tahoma;
	color: #575757;
	line-height: 120%!important;
}
.dxhlTail_PlasticBlue
{
	text-decoration: none;
    font: 8pt Tahoma;
}
.dxhlDateHeader_PlasticBlue
{
	background-color: #5066AC;	    
	color: #FFFFFF;	
	font-size: 12px;	
	padding: 4px 6px 5px 7px;	
}
.dxhlDate_PlasticBlue
{
	background-color: #5066AC;
	color: #FFFFFF;
	padding: 4px 6px 5px 7px;
	white-space: nowrap;
}
.dxhlHeader_PlasticBlue
{	
	font: 1.3em Tahoma;
	text-decoration: none;
	color: #5A83D0;
	line-height: 141%!important;
}
.dxhlLeftPanel_PlasticBlue
{
	font: 8pt Tahoma;
	color: #575757;
}
.dxhlRightPanel_PlasticBlue
{
  	font: 8pt Tahoma;
	color: #575757;
}
.dxhlTailDiv_PlasticBlue a
{
	color: #5A83D0;
	text-decoration: none;
}
.dxhlTailDiv_PlasticBlue a:hover
{
    text-decoration: none;
}
.dxhlTailDiv_PlasticBlue a:visited
{
    color: #98A3C4;
}
.dxhlContent_PlasticBlue a.dxhl
{
	color: #5A83D0;
	text-decoration: none;
} 
.dxhlContent_PlasticBlue a.dxhl:hover
{
    text-decoration: none;
}
.dxhlContent_PlasticBlue a.dxhl:visited
{
    color: #98A3C4;
}
/* Disabled */
.dxhlDisabled_PlasticBlue
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxLoadingPanel -- */
.dxlpLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CBCBCB;
	background-color: White;
}
.dxlpLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxlpLoadingDiv_PlasticBlue
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}

/* -- ASPxMenu -- */
.dxmControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	background-color: #2C4182;
}
.dxmControl_PlasticBlue a, .dxmMenu_PlasticBlue a, .dxmVerticalMenu_PlasticBlue a, .dxmSubMenu_PlasticBlue a
{
	color: white;
	text-decoration: none;
}
.dxmControl_PlasticBlue a:hover
{
	text-decoration:none;
}
.dxmLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxmLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 6px 6px 6px 6px;
}
.dxmMenu_PlasticBlue, .dxmVerticalMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	background-color: #2C4182;
	border: Solid 1px #2C4182;	
	padding: 0px;
}
.dxmVerticalMenu_PlasticBlue
{
	background-color: #CCCCCC;
	border: Solid 1px #CCCCCC;
	padding: 0px;
}
.dxmMenuGutter_PlasticBlue
{
}

.dxmMenuSeparator_PlasticBlue .dx,
.dxmMenuFullHeightSeparator_PlasticBlue .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_PlasticBlue,
.dxmMenuFullHeightSeparator_PlasticBlue
{
	width: 1px;
}

.dxmMenuSeparator_PlasticBlue .dx,
.dxmMenuFullHeightSeparator_PlasticBlue
{
	background: transparent url('mSeparatorHor.gif') left top repeat-y;
	width: 2px;
}
.dxmMenuSeparator_PlasticBlue
{
	display: none;
}
.dxmMenuVerticalSeparator_PlasticBlue
{
	background-color: #cccccc;
	width: 100%;
	height: 1px;
}

.dxmMenuItem_PlasticBlue, .dxmMenuItemWithImage_PlasticBlue, .dxmMenuItemWithPopOutImage_PlasticBlue, .dxmMenuItemWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuItem_PlasticBlue, .dxmVerticalMenuItemWithImage_PlasticBlue, .dxmVerticalMenuItemWithPopOutImage_PlasticBlue, .dxmVerticalMenuItemWithImageWithPopOutImage_PlasticBlue, 
.dxmMenuLargeItem_PlasticBlue, .dxmMenuLargeItemWithImage_PlasticBlue, .dxmMenuLargeItemWithPopOutImage_PlasticBlue, .dxmMenuLargeItemWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuLargeItem_PlasticBlue, .dxmVerticalMenuLargeItemWithImage_PlasticBlue, .dxmVerticalMenuLargeItemWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	white-space: nowrap;
	border-width: 0px;
	
	background-color: #3E5496;
	background-image: url('mItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}

.dxmVerticalMenuItem_PlasticBlue, .dxmVerticalMenuItemWithImage_PlasticBlue, 
.dxmVerticalMenuItemWithPopOutImage_PlasticBlue, 
.dxmVerticalMenuItemWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuLargeItem_PlasticBlue, .dxmVerticalMenuLargeItemWithImage_PlasticBlue, 
.dxmVerticalMenuLargeItemWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;	
	background-color: #F5F5F5;	
	border: Solid 1px White;
	white-space: nowrap;    
	background-image: none;

}
/*HyperLink*/
.dxmMenuItem_PlasticBlue a, .dxmMenuItemWithImage_PlasticBlue a, .dxmMenuItemWithPopOutImage_PlasticBlue a, .dxmMenuItemWithImageWithPopOutImage_PlasticBlue a,
.dxmVerticalMenuItem_PlasticBlue a, .dxmVerticalMenuItemWithImage_PlasticBlue a, .dxmVerticalMenuItemWithPopOutImage_PlasticBlue a, 
.dxmVerticalMenuItemWithImageWithPopOutImage_PlasticBlue a, .dxmMenuLargeItem_PlasticBlue a, .dxmMenuLargeItemWithImage_PlasticBlue a, .dxmMenuLargeItemWithPopOutImage_PlasticBlue a, 
.dxmMenuLargeItemWithImageWithPopOutImage_PlasticBlue a, .dxmVerticalMenuLargeItem_PlasticBlue a, 
.dxmVerticalMenuLargeItemWithImage_PlasticBlue a, .dxmVerticalMenuLargeItemWithPopOutImage_PlasticBlue a, 
.dxmVerticalMenuLargeItemWithImageWithPopOutImage_PlasticBlue a
{
	font: 9pt Tahoma;
	color: white;
	white-space: nowrap;
}
.dxmVerticalMenuItem_PlasticBlue a, .dxmVerticalMenuItemWithImage_PlasticBlue a, 
.dxmVerticalMenuItemWithPopOutImage_PlasticBlue a, .dxmVerticalMenuItemWithImageWithPopOutImage_PlasticBlue a,
.dxmVerticalMenuLargeItem_PlasticBlue a, .dxmVerticalMenuLargeItemWithImage_PlasticBlue a, 
.dxmVerticalMenuLargeItemWithPopOutImage_PlasticBlue a, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_PlasticBlue a
{
	font: 9pt Tahoma;
	color: black;	
	white-space: nowrap;    
}


.dxmMenuLargeItem_PlasticBlue, .dxmMenuLargeItemWithImage_PlasticBlue, .dxmMenuLargeItemWithPopOutImage_PlasticBlue, .dxmMenuLargeItemWithImageWithPopOutImage_PlasticBlue
{	
	background-color: #3E5496;
	background-image: url('mItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}

.dxmMenuItem_PlasticBlue, .dxmMenuItemWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmMenuItemWithPopOutImage_PlasticBlue, .dxmMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemWithPopOutImage_PlasticBlue
{
	padding-right: 13px;
	padding-left: 13px;    	
}
.dxmVerticalMenuItem_PlasticBlue
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxmVerticalMenuItemWithImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 3px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemWithPopOutImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 3px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 3px;	
	padding-left: 8px;
}
.dxmMenuLargeItem_PlasticBlue, .dxmMenuLargeItemWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmMenuLargeItemWithPopOutImage_PlasticBlue, .dxmMenuLargeItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmVerticalMenuLargeItem_PlasticBlue, .dxmVerticalMenuLargeItemWithImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButton_PlasticBlue, .dxmMenuLargeItemDropDownButton_PlasticBlue
{
	padding-right: 14px;
	padding-left: 12px;
}
.dxmVerticalMenuItemDropDownButton_PlasticBlue, .dxmVerticalMenuLargeItemDropDownButton_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}

.dxmMenuItemSelected_PlasticBlue, .dxmMenuItemSelectedWithImage_PlasticBlue, .dxmMenuItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuItemSelectedWithImageWithPopOutImage_PlasticBlue,
.dxmMenuLargeItemSelected_PlasticBlue, .dxmMenuLargeItemSelectedWithImage_PlasticBlue, .dxmMenuLargeItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	
	background-color: #273A79;
	background-image: url('mItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxmVerticalMenuItemSelected_PlasticBlue, .dxmVerticalMenuItemSelectedWithImage_PlasticBlue, .dxmVerticalMenuItemSelectedWithPopOutImage_PlasticBlue, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuLargeItemSelected_PlasticBlue, .dxmVerticalMenuLargeItemWithImageSelected_PlasticBlue, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	color: Black;
	background-color: #dedede;    
	background-image: none;
	border:Solid 1px #dedede;
}
/*HyperLink*/
.dxmMenuItemSelected_PlasticBlue a, .dxmMenuItemSelectedWithImage_PlasticBlue a, .dxmMenuItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuItemSelectedWithImageWithPopOutImage_PlasticBlue a,
.dxmMenuLargeItemSelected_PlasticBlue a, .dxmMenuLargeItemSelectedWithImage_PlasticBlue a, .dxmMenuLargeItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue a
{
	color: White;	
}
.dxmVerticalMenuItemSelected_PlasticBlue a, .dxmVerticalMenuItemSelectedWithImage_PlasticBlue a, .dxmVerticalMenuItemSelectedWithPopOutImage_PlasticBlue a, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_PlasticBlue a,
.dxmVerticalMenuLargeItemSelected_PlasticBlue a, .dxmVerticalMenuLargeItemWithImageSelected_PlasticBlue a, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_PlasticBlue a, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue a
{
	color:  Black;
}

.dxmMenuItemSelected_PlasticBlue, .dxmMenuItemSelectedWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	    
}
.dxmMenuItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemSelectedWithPopOutImage_PlasticBlue
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemSelected_PlasticBlue
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 3px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemSelected_PlasticBlue, .dxmMenuLargeItemSelectedWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmMenuLargeItemSelectedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.dxmVerticalMenuLargeItemSelected_PlasticBlue, .dxmVerticalMenuLargeItemSelectedWithImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonSelected_PlasticBlue, .dxmMenuLargeItemDropDownButtonSelected_PlasticBlue
{
	border-left: solid #2C4182 1px;
	padding-right: 14px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonSelected_PlasticBlue, .dxmVerticalMenuLargeItemDropDownButtonSelected_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxmMenuItemChecked_PlasticBlue, .dxmMenuItemCheckedWithImage_PlasticBlue, .dxmMenuItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuItemCheckedWithImageWithPopOutImage_PlasticBlue,
.dxmMenuLargeItemChecked_PlasticBlue, .dxmMenuLargeItemCheckedWithImage_PlasticBlue, .dxmMenuLargeItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	
	background-color: #273A79;
	background-image: url('mItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxmVerticalMenuItemChecked_PlasticBlue, .dxmVerticalMenuItemCheckedWithImage_PlasticBlue, .dxmVerticalMenuItemCheckedWithPopOutImage_PlasticBlue, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuLargeItemChecked_PlasticBlue, .dxmVerticalMenuLargeItemWithImageChecked_PlasticBlue, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	background-color: #dedede;    
	background-image: none;
	border:Solid 1px #dedede;
	color:  Black;
}
/*HyperLink*/
.dxmMenuItemChecked_PlasticBlue a, .dxmMenuItemCheckedWithImage_PlasticBlue a, .dxmMenuItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuItemCheckedWithImageWithPopOutImage_PlasticBlue a,
.dxmMenuLargeItemChecked_PlasticBlue a, .dxmMenuLargeItemCheckedWithImage_PlasticBlue a, .dxmMenuLargeItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue a
{
	color: White;	
}
.dxmVerticalMenuItemChecked_PlasticBlue a, .dxmVerticalMenuItemCheckedWithImage_PlasticBlue a, .dxmVerticalMenuItemCheckedWithPopOutImage_PlasticBlue a, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_PlasticBlue a,
.dxmVerticalMenuLargeItemChecked_PlasticBlue a, .dxmVerticalMenuLargeItemWithImageChecked_PlasticBlue a, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_PlasticBlue a, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue a
{
	color:  Black;
}

.dxmMenuItemChecked_PlasticBlue, .dxmMenuItemCheckedWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	    
}
.dxmMenuItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemCheckedWithPopOutImage_PlasticBlue
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemChecked_PlasticBlue
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 3px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemChecked_PlasticBlue, .dxmMenuLargeItemCheckedWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmMenuLargeItemCheckedWithPopOutImage_PlasticBlue, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.dxmVerticalMenuLargeItemChecked_PlasticBlue, .dxmVerticalMenuLargeItemCheckedWithImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonChecked_PlasticBlue, .dxmMenuLargeItemDropDownButtonChecked_PlasticBlue
{
	border-left: solid #2C4182 1px;
	padding-right: 14px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonChecked_PlasticBlue, .dxmVerticalMenuLargeItemDropDownButtonChecked_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxmMenuItemHover_PlasticBlue, .dxmMenuItemHoverWithImage_PlasticBlue, .dxmMenuItemHoverWithPopOutImage_PlasticBlue, .dxmMenuItemHoverWithImageWithPopOutImage_PlasticBlue, 
.dxmMenuLargeItemHover_PlasticBlue, .dxmMenuLargeItemHoverWithImage_PlasticBlue, .dxmMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue
{
	color: #FFFFFF;
	background-color: #E9E9E9;
	background-image: url('mItemHBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxmVerticalMenuItemHover_PlasticBlue, .dxmVerticalMenuItemHoverWithImage_PlasticBlue, .dxmVerticalMenuItemHoverWithPopOutImage_PlasticBlue, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_PlasticBlue,
.dxmVerticalMenuLargeItemHover_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithImage_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue
{
	color: #000000!important;
    background-color: #e9e9e9;
    border-bottom-color:#e9e9e9;
    border-right-color:#e9e9e9;
	background-image: none;
}
.dxmMenuLargeItemHover_PlasticBlue, .dxmMenuLargeItemHoverWithImage_PlasticBlue, .dxmMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue
{
	color: #FFFFFF!important;

	background-color: #E9E9E9;
	background-image: url('mItemHBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}

/*HyperLink*/
.dxmMenuItemHover_PlasticBlue a, .dxmMenuItemHoverWithImage_PlasticBlue a, .dxmMenuItemHoverWithPopOutImage_PlasticBlue a, .dxmMenuItemHoverWithImageWithPopOutImage_PlasticBlue a, 
.dxmMenuLargeItemHover_PlasticBlue a, .dxmMenuLargeItemHoverWithImage_PlasticBlue a, .dxmMenuLargeItemHoverWithPopOutImage_PlasticBlue a, .dxmMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue a
{
	color: #FFFFFF!important;
}
.dxmVerticalMenuItemHover_PlasticBlue a, .dxmVerticalMenuItemHoverWithImage_PlasticBlue a, .dxmVerticalMenuItemHoverWithPopOutImage_PlasticBlue a, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_PlasticBlue a, 
.dxmVerticalMenuLargeItemHover_PlasticBlue a, .dxmVerticalMenuLargeItemHoverWithImage_PlasticBlue a, .dxmVerticalMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue a
{
	color: #000000!important;
}

.dxmMenuItemHover_PlasticBlue, .dxmMenuItemHoverWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	    
}
.dxmMenuItemHoverWithPopOutImage_PlasticBlue, .dxmMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{	
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;		
}	
.dxmMenuItemHoverWithPopOutImage_PlasticBlue
{	
	padding-right: 13px;
	padding-left: 13px;		
}	
.dxmMenuLargeItemHover_PlasticBlue, .dxmMenuLargeItemHoverWithImage_PlasticBlue
{    
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;	
}
.dxmMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.dxmVerticalMenuLargeItemHover_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemHoverWithPopOutImage_PlasticBlue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonHover_PlasticBlue, .dxmMenuLargeItemDropDownButtonHover_PlasticBlue
{
	border-left: solid #2C4182 1px;
	padding-right: 14px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonHover_PlasticBlue, .dxmVerticalMenuLargeItemDropDownButtonHover_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxmSubMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
	
	border-bottom-width: 0px;
	padding: 0px 0px 0px 0px;
}
.dxmSubMenuGutter_PlasticBlue
{
}
.dxmSubMenuSeparator_PlasticBlue
{
	width: 100%;
	height: 1px;
}
.dxmSubMenuItem_PlasticBlue, .dxmSubMenuItemWithImage_PlasticBlue, 
.dxmSubMenuItemWithPopOutImage_PlasticBlue, .dxmSubMenuItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;	
	background-color: #F5F5F5;	
	border: Solid 1px White;
	white-space: nowrap;
}
/*Hyperlink*/
.dxmSubMenuItem_PlasticBlue a, .dxmSubMenuItemWithImage_PlasticBlue a, 
.dxmSubMenuItemWithPopOutImage_PlasticBlue a, .dxmSubMenuItemWithImageWithPopOutImage_PlasticBlue a
{
	font: 9pt Tahoma;
	color: black;	
	white-space: nowrap;
}

.dxmSubMenuItem_PlasticBlue, .dxmSubMenuItemWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.dxmSubMenuItemWithPopOutImage_PlasticBlue, .dxmSubMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxmSubMenuItemDropDownButton_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxmSubMenuItemSelected_PlasticBlue, .dxmSubMenuItemSelectedWithImage_PlasticBlue, .dxmSubMenuItemSelectedWithPopOutImage_PlasticBlue, .dxmSubMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	background-color: #dedede;
	border: Solid 1px #dedede;
}
.dxmSubMenuItemDropDownButtonSelected_PlasticBlue
{
	padding-right: 6px;
	padding-left: 7px;
}
.dxmSubMenuItemChecked_PlasticBlue, .dxmSubMenuItemCheckedWithImage_PlasticBlue, .dxmSubMenuItemCheckedWithPopOutImage_PlasticBlue, .dxmSubMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
}
.dxmSubMenuItemDropDownButtonChecked_PlasticBlue
{
}
.dxmSubMenuItemHover_PlasticBlue, .dxmSubMenuItemHoverWithImage_PlasticBlue, .dxmSubMenuItemHoverWithPopOutImage_PlasticBlue, .dxmSubMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	background-color: #e9e9e9;
	border-bottom: Solid 1px #e9e9e9;
	border-right: Solid 1px #e9e9e9;
}
.dxmSubMenuItemDropDownButtonHover_PlasticBlue
{
	padding-right: 6px;
	padding-left: 7px;
}
.dxmSubMenuBorderCorrector_PlasticBlue
{
    position: absolute;
    border: 0px;
	padding: 0px;
}

.dxmMenuItemSpacing_PlasticBlue,
.dxmMenuLargeItemSpacing_PlasticBlue,
.dxmMenuItemSeparatorSpacing_PlasticBlue,
.dxmMenuLargeItemSeparatorSpacing_PlasticBlue,
.dxmVerticalMenuItemSeparatorSpacing_PlasticBlue,
.dxmVerticalMenuLargeItemSeparatorSpacing_PlasticBlue,
.dxmSubMenuItemSeparatorSpacing_PlasticBlue
{
	display: none;
}
.dxmVerticalMenuItemSpacing_PlasticBlue,
.dxmVerticalMenuLargeItemSpacing_PlasticBlue,
.dxmSubMenuItemSpacing_PlasticBlue 
{
	height: 1px;
}

.dxmMenuItemLeftImageSpacing_PlasticBlue
{
	padding-right: 4px;
}
.dxmMenuItemRightImageSpacing_PlasticBlue
{
	padding-left: 4px;
}
.dxmVerticalMenuItemLeftImageSpacing_PlasticBlue,
.dxmVerticalMenuItemRightImageSpacing_PlasticBlue,
.dxmSubMenuItemImageSpacing_PlasticBlue
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxmVerticalMenuItemLeftImageSpacing_PlasticBlue div,
.dxmVerticalMenuItemRightImageSpacing_PlasticBlue div
{
	width: 4px;
	height: 1px;
}
.dxmMenuItemTopImageSpacing_PlasticBlue,
.dxmVerticalMenuItemTopImageSpacing_PlasticBlue
{
	margin-bottom: 4px;
}
.dxmMenuItemBottomImageSpacing_PlasticBlue,
.dxmVerticalMenuItemBottomImageSpacing_PlasticBlue
{
	margin-top: 4px;
}
.dxmSubMenuItemImageSpacing_PlasticBlue div
{
	width: 0px;
	height: 1px;
}

/* Disabled */
.dxmDisabled_PlasticBlue
{
	color: #787878;
	cursor: default;
}

/*                     */
/* -- ASPxMenu Lite -- */
/*                     */
.dxm-main,
.dxm-horizontal ul.dx {
	float: left;
}
.dxm-popup {
	position: relative;
}
ul.dx {
	list-style: none none outside;
	margin: 0;
	padding: 0;
	
	background-repeat: repeat-y;
	background-position: left top;
}
.dxm-image,
.dxm-pImage {
	border-width: 0px;
	vertical-align: top;
}
.dxm-popOut,
.dxm-spacing,
.dxm-separator,
.dxm-separator b {
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.dxm-horizontal .dxm-item,
.dxm-horizontal .dxm-spacing,
.dxm-horizontal .dxm-separator,
.dxm-content,
.dxm-horizontal .dxm-popOut,
.dxm-vertical .dxm-image-r .dxm-popOut {
    float: left;
}
.dxm-vertical .dxm-image-l .dxm-popOut,
.dxm-vertical .dxm-image-t .dxm-popOut,
.dxm-vertical .dxm-image-b .dxm-popOut,
.dxm-popup .dxm-popOut {
	float: right;
}
.dxm-ie7 .dxm-vertical ul.dx,
.dxm-ie7 .dxm-popup ul.dx {
	height: 1%;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-popup .dxm-item {
	margin-bottom: -2px;
}
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-spacing {
	margin-top: -3px;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-item,
.dxm-ie7 .dxm-popup .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-separator {
	zoom: 1;
}
.dxm-vertical .dxm-separator b,
.dxm-popup .dxm-separator b {
	margin: 0px auto;
}
.dxm-ie7 .dxm-vertical .dxm-separator b,
.dxm-ie7 .dxm-popup .dxm-separator b {
	margin: 0px;
}
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-separator {
	text-align: center;
}

/* Appearance */
.dxmLite_PlasticBlue .dxm-horizontal {
	border: solid 1px #2C4182;
	background: #3E5496 url('mItemBack.gif') repeat-x left top;
	padding: 0px;
}
.dxmLite_PlasticBlue .dxm-vertical,
.dxmLite_PlasticBlue .dxm-popup {
	border: solid 1px #CCCCCC;
	background-color: #CCCCCC;
	padding: 0px;
}

.dxmLite_PlasticBlue .dxm-vertical {
	width: 150px;
}

.dxmBC_PlasticBlue {
	background-color: #CCCCCC;
}

.dxmLite_PlasticBlue ul.dx {
	font: 9pt Tahoma;
}

.dxmLite_PlasticBlue .dxm-item {
	cursor: default;
}

.dxmLite_PlasticBlue .dxm-image-t .dxm-item,
.dxmLite_PlasticBlue .dxm-image-b .dxm-item,
.dxmLite_PlasticBlue .dxm-content {
	text-align: center;
	white-space: nowrap;
}

.dxmLite_PlasticBlue .dxm-horizontal,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-content a.dx {
	color: White;
}

.dxmLite_PlasticBlue .dxm-vertical,
.dxmLite_PlasticBlue .dxm-vertical .dxm-content a.dx,
.dxmLite_PlasticBlue .dxm-popup,
.dxmLite_PlasticBlue .dxm-popup .dxm-content a.dx {
	color: Black;
}

.dxmLite_PlasticBlue .dxm-disabled,
.dxmLite_PlasticBlue .dxm-disabled .dxm-content a.dx {
	color: #787878;
}

.dxmLite_PlasticBlue .dxm-content a.dx {
	text-decoration: none;
}

.dxmLite_PlasticBlue .dxm-vertical .dxm-item,
.dxmLite_PlasticBlue .dxm-popup .dxm-item {
	background-color: #F5F5F5;
}

.dxmLite_PlasticBlue .dxm-vertical .dxm-item,
.dxmLite_PlasticBlue .dxm-popup .dxm-item {
	border-width: 1px;
}
.dxmLite_PlasticBlue .dxm-popOut {
	border-width: 0px 0px 0px 1px;
}
.dxmLite_PlasticBlue .dxm-image-r .dxm-popOut {
	border-width: 0px 1px 0px 0px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-item,
.dxmLite_PlasticBlue .dxm-popup .dxm-item,
.dxmLite_PlasticBlue .dxm-popOut {
	border-color: transparent;
	border-style: solid;
}

/* Checked, Selected, Hovered */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-selected,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-selected .dxm-content a.dx,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-checked,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-checked .dxm-content a.dx {
	color: White;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-dropDownMode.dxm-hovered .dxm-popOut {
	border-color: #2C4182;	
}

.dxmLite_PlasticBlue .dxm-vertical .dxm-item,
.dxmLite_PlasticBlue .dxm-vertical .dxm-dropDownMode .dxm-popOut,
.dxmLite_PlasticBlue .dxm-popup .dxm-item,
.dxmLite_PlasticBlue .dxm-popup .dxm-dropDownMode .dxm-popOut {
	border-color: White;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-checked,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-selected {
	background: url('mItemSBack.gif') repeat-x left top #273A79;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-hovered {
	background: url('mItemHBack.gif') repeat-x left top #E9E9E9;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-checked,
.dxmLite_PlasticBlue .dxm-vertical .dxm-selected,
.dxmLite_PlasticBlue .dxm-popup .dxm-selected {
	background-color: #DEDEDE;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-checked,
.dxmLite_PlasticBlue .dxm-vertical .dxm-checked.dxm-dropDownMode .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-selected,
.dxmLite_PlasticBlue .dxm-vertical .dxm-selected.dxm-dropDownMode .dxm-popOut,
.dxmLite_PlasticBlue .dxm-popup .dxm-selected,
.dxmLite_PlasticBlue .dxm-popup .dxm-selected.dxm-dropDownMode .dxm-popOut {
	border-color: #DEDEDE;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-hovered,
.dxmLite_PlasticBlue .dxm-popup .dxm-hovered {
	background-color: #E9E9E9;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
}

/* Content */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-content {
	padding: 3px 16px 5px 18px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-subMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-dropDownMode .dxm-content {
	padding-left: 9px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-subMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-subMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-subMenu .dxm-content {
	padding-right: 3px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-subMenu .dxm-content {
	padding-right: 13px;
	padding-left: 3px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-dropDownMode.dxm-noImage .dxm-content {
	padding-left: 13px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-dropDownMode .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-dropDownMode .dxm-content {
	padding-right: 13px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-content,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-content {
	padding: 3px 16px 5px 18px;
}

.dxmLite_PlasticBlue .dxm-vertical .dxm-image-l .dxm-content,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-content {
	padding: 3px 19px 3px 8px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-noSubMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-subMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-right: 5px;
	padding-left: 13px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-t .dxm-content,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-b .dxm-content {
	padding: 6px 12px 6px 11px;
}

.dxmLite_PlasticBlue .dxm-popup .dxm-content {
	padding: 3px 8px 3px 10px;
}
.dxmLite_PlasticBlue .dxm-popup .dxm-noSubMenu .dxm-content,
.dxmLite_PlasticBlue .dxm-popup .dxm-subMenu .dxm-content {
}
.dxmLite_PlasticBlue .dxm-popup .dxm-dropDownMode .dxm-content {
	padding-right: 16px;
}

/* Image */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-image {
	margin-right: 4px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-image {
	margin-left: 4px;
}
.dxmLite_PlasticBlue .dxm-image-t .dxm-image {
	margin-bottom: 4px;
}
.dxmLite_PlasticBlue .dxm-image-b .dxm-image {
	margin-top: 4px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-l .dxm-image {
	margin-right: 7px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-image {
	margin-left: 7px;
}
.dxmLite_PlasticBlue .dxm-popup .dxm-image {
	margin-right: 9px;
}

/* Image replacement */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-subMenu.dxm-noImage {
	padding-left: 4px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-l .dxm-noImage {
	padding-left: 21px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-noImage {
	padding-right: 21px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-t .dxm-noImage,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-b .dxm-noImage {
	padding-left: 3px;
}
.dxmLite_PlasticBlue .dxm-popup .dxm-noImage {
	padding-left: 23px;
}

/* PopOut */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 6px;
	padding-bottom: 7px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-top: 24px;
	padding-bottom: 25px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-l .dxm-popOut {
	padding-right: 13px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-popOut {
	padding-left: 9px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-right: 16px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-noImage .dxm-popOut {
	padding-left: 13px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-dropDownMode .dxm-popOut {
	padding-left: 12px;
	padding-right: 13px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	padding-left: 11px;
	padding-right: 14px;
}

.dxmLite_PlasticBlue .dxm-vertical .dxm-image-l .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-popOut,
.dxmLite_PlasticBlue .dxm-popup .dxm-popOut {
	padding-top: 7px;
	padding-bottom: 6px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 9px;
	padding-bottom: 9px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-t .dxm-popOut,
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-b .dxm-popOut {
	padding-top: 28px;
	padding-bottom: 27px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-popOut,
.dxmLite_PlasticBlue .dxm-popup .dxm-popOut {
	padding-right: 7px;
	padding-left: 7px;
}

/* PopOut replacement */
.dxmLite_PlasticBlue .dxm-vertical .dxm-noSubMenu,
.dxmLite_PlasticBlue .dxm-popup .dxm-noSubMenu {
	padding-right: 20px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-image-r .dxm-noSubMenu {
	padding-left: 20px;
}

/* Spacings, Separator */
.dxmLite_PlasticBlue .dxm-horizontal .dxm-spacing {
	width: 0px;
	height: 1px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-spacing,
.dxmLite_PlasticBlue .dxm-popup .dxm-spacing {
	height: 1px;
}
.dxm-ie7.dxmLite_PlasticBlue .dxm-vertical .dxm-separator,
.dxm-ie7.dxmLite_PlasticBlue .dxm-popup .dxm-separator {
	margin-top: -3px;
}

.dxmLite_PlasticBlue .dxm-horizontal .dxm-separator b {
	width: 2px;
}
.dxmLite_PlasticBlue .dxm-vertical .dxm-separator b,
.dxmLite_PlasticBlue .dxm-popup .dxm-separator b {
	height: 1px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-separator b {
	background: transparent url('mSeparatorHor.gif') left top repeat-y;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-spacing,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-separator b,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-spacing,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-spacing,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-separator b,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-separator b {
	height: 22px;
}
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-spacing,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-spacing,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-t .dxm-separator b,
.dxmLite_PlasticBlue .dxm-horizontal .dxm-image-b .dxm-separator b {
	height: 58px;
}

/* -- ASPxNavBar -- */
.dxnbControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: White;
	background-color: #FFFFFF;
}
.dxnbControl_PlasticBlue td.dxnbCtrl
{
    padding: 0px;
}
.dxnbControl_PlasticBlue a
{
	color: #FFFFFF;
	text-decoration: none;
}
.dxnbLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxnbLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxnbGroupHeader_PlasticBlue
{
	font: normal 9pt Tahoma;
	color: #FFFFFF;
	background-image: url('nbHeaderBack.gif');	
    background-repeat:repeat-x;	
	border: solid 1px #2C4182; 
	background-color: #3F5396;	   
	padding: 4px 4px 6px 8px;	
}
.dxnbGroupHeader_PlasticBlue table.dxnb
{
    font: normal 9pt Tahoma;
	color: #FFFFFF;
}
.dxnbGroupHeader_PlasticBlue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_PlasticBlue
{
	font: normal 9pt Tahoma;
	color: #FFFFFF;
	background-image: url('nbHeaderBack.gif');	
    background-repeat:repeat-x;	
	border: solid 1px #2C4182; 
	background-color: #3F5396;	   
	padding: 4px 4px 6px 8px;	
}
.dxnbGroupHeaderCollapsed_PlasticBlue table.dxnb
{
	font: normal 9pt Tahoma;
	color: #FFFFFF;
}
.dxnbGroupHeaderCollapsed_PlasticBlue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupContent_PlasticBlue
{
	font: 9pt Tahoma;
	background-color: #CCCCCC;
	border: solid 1px #A8A8A8;
	padding: 0px;
}
.dxnbItem_PlasticBlue, .dxnbLargeItem_PlasticBlue, .dxnbBulletItem_PlasticBlue,
.dxnbItem_PlasticBlue a, .dxnbLargeItem_PlasticBlue a, .dxnbBulletItem_PlasticBlue a
{
	font: 9pt Tahoma;
	color: #000000;    
	text-align: left;
}
.dxnbItem_PlasticBlue, .dxnbLargeItem_PlasticBlue, .dxnbBulletItem_PlasticBlue
{
	border: Solid 1px #FFFFFF;
	background-color: #f5f5f5;
}
.dxnbItem_PlasticBlue
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 6px;
}
.dxnbLargeItem_PlasticBlue
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
}
.dxnbBulletItem_PlasticBlue
{
	margin-bottom: 9px;
}
.dxnbItemSelected_PlasticBlue, .dxnbLargeItemSelected_PlasticBlue, .dxnbBulletItemSelected_PlasticBlue
{
	background-color: #DEDEDE;
	border: solid 1px #DEDEDE;
}
.dxnbItemHover_PlasticBlue, .dxnbLargeItemHover_PlasticBlue, .dxnbBulletItemHover_PlasticBlue
{
	background-color: #E9E9E9;
	color: Black;
	border: solid 1px #E9E9E9;
	border-left-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.dxnbGroupHeader_PlasticBlue, .dxnbGroupHeaderCollapsed_PlasticBlue
{
    text-align: left;
}
.dxnbItem_PlasticBlue, .dxnbItemHover_PlasticBlue, .dxnbItemSelected_PlasticBlue,
.dxnbBulletItem_PlasticBlue, .dxnbBulletItemHover_PlasticBlue, .dxnbBulletItemSelected_PlasticBlue
{
    text-align: left;
}
.dxnbLargeItem_PlasticBlue, .dxnbLargeItemHover_PlasticBlue, .dxnbLargeItemSelected_PlasticBlue
{
    text-align: center;
}
/* Spacings */
.dxnbGroupSpacing_PlasticBlue,
.dxnbItemSpacing_PlasticBlue
{
	width: 100%;
	height: 1px;
}
.dxnbImgCellLeft_PlasticBlue 
{
	padding-right: 8px;	
}
.dxnbImgCellRight_PlasticBlue
{
	padding-left: 8px;	
}
.dxnbLargeItemImgTop_PlasticBlue
{
	margin-bottom: 8px;
}
.dxnbLargeItemImgBottom_PlasticBlue
{
	margin-top: 8px;
}
/* Disabled */
.dxnbDisabled_PlasticBlue
{
	color: #787878;
	cursor: default;
}
.dxnbDisabled_PlasticBlue td.dxnb {
    color: #B8B8B8;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_PlasticBlue 
{
    color: White; 
    background: #FFFFFF;
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 0;  
    float: left;
    width: 200px;
}
.dxnbLite_PlasticBlue a
{
	color: #FFFFFF;
	text-decoration: none;
}
.dxnbLite_PlasticBlue .dxnb-gr 
{
	margin-bottom: 1px;
}
.dxnbLite_PlasticBlue .dxnb-header,
.dxnbLite_PlasticBlue .dxnb-headerCollapsed 
{
	background: #3F5396 url('nbHeaderBack.gif') repeat-x;	
	border: solid 1px #2C4182;
	overflow: hidden;
    margin: 0;
    padding: 4px 4px 6px 8px;
	cursor: pointer;
	white-space: nowrap;
	clear: both;
}
.dxnbLite_PlasticBlue .dxnb-content 
{
	background: #CCCCCC;
	border: solid 1px #A8A8A8;	
    list-style: none none outside;
    margin: 0;
    padding: 0;
    overflow: hidden;	
	border-top-width: 0;
}
.dxnb-noHeads .dxnb-content
{
	border-top-width: 1px;
}
.dxnbLite_PlasticBlue .dxnb-item,
.dxnbLite_PlasticBlue .dxnb-large,
.dxnbLite_PlasticBlue .dxnb-bullet
{
	color: Black;
	background: #f5f5f5;
	border: Solid 1px #FFFFFF;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_PlasticBlue .dxnb-item a,
.dxnbLite_PlasticBlue .dxnb-large a,
.dxnbLite_PlasticBlue .dxnb-bullet a
{
	color: Black;
}
.dxnbLite_PlasticBlue .dxnb-item,
.dxnbLite_PlasticBlue .dxnb-large,
.dxnbLite_PlasticBlue .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_PlasticBlue .dxnb-item
{
	padding: 3px 5px 4px 6px;
}
.dxnbLite_PlasticBlue .dxnb-large
{
	padding: 6px 12px; 
}
.dxnbLite_PlasticBlue .dxnb-bullet,
.dxnbLite_PlasticBlue .dxnb-bulletHover,
.dxnbLite_PlasticBlue .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_PlasticBlue .dxnb-itemSelected,
.dxnbLite_PlasticBlue .dxnb-itemHover
{
}
.dxnbLite_PlasticBlue .dxnb-largeSelected,
.dxnbLite_PlasticBlue .dxnb-largeHover
{
}
.dxnbLite_PlasticBlue .dxnb-itemSelected,
.dxnbLite_PlasticBlue .dxnb-largeSelected
{
	background-color: #DEDEDE;
	border: solid 1px #DEDEDE;
}
.dxnbLite_PlasticBlue .dxnb-itemHover,
.dxnbLite_PlasticBlue .dxnb-largeHover
{
	background-color: #E9E9E9;
	color: Black;
	border: solid 1px #E9E9E9;
	border-left-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.dxnbLite_PlasticBlue .dxnb-header,
.dxnbLite_PlasticBlue .dxnb-headerCollapsed, 
.dxnbLite_PlasticBlue .dxnb-item,
.dxnbLite_PlasticBlue .dxnb-itemHover,
.dxnbLite_PlasticBlue .dxnb-itemSelected,
.dxnbLite_PlasticBlue .dxnb-bullet,
.dxnbLite_PlasticBlue .dxnb-bulletHover,
.dxnbLite_PlasticBlue .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_PlasticBlue .dxnb-large,
.dxnbLite_PlasticBlue .dxnb-largeHover,
.dxnbLite_PlasticBlue .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_PlasticBlue .dxnb-headerHover
{
}
.dxnbLite_PlasticBlue .dxnb-headerCollapsedHover
{
}
.dxnbLite_PlasticBlue .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_PlasticBlue .dxnb-btn,
.dxnbLite_PlasticBlue .dxnb-btnLeft,
.dxnbLite_PlasticBlue .dxnb-img
{
	border-width: 0;
}

.dxnbLite_PlasticBlue .dxnb-btn
{
	float: right;
	margin-left: 8px;
}
.dxnbLite_PlasticBlue .dxnb-btnLeft 
{
	float: left;
	margin-right: 8px;
}
.dxnbLite_PlasticBlue .dxnb-img
{
	margin:0 8px 0 0;
	float: left;
}
.dxnbLite_PlasticBlue .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 8px;
}
.dxnbLite_PlasticBlue .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 8px;
}
.dxnbLite_PlasticBlue .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 8px;
}
.dxnbLite_PlasticBlue .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_PlasticBlue,
.dxnbLite_PlasticBlue .dxnbLiteDisabled_PlasticBlue,
.dxnbLiteDisabled_PlasticBlue a,
.dxnbLiteDisabled_PlasticBlue .dxnb-item,
.dxnbLiteDisabled_PlasticBlue .dxnb-large,
.dxnbLiteDisabled_PlasticBlue .dxnb-bullet,
.dxnbLiteDisabled_PlasticBlue .dxnb-header,
.dxnbLiteDisabled_PlasticBlue .dxnb-headerCollapsed 
{
	color: #787878;
	cursor: default;
}
.dxnbLiteDisabled_PlasticBlue .dxnb-header,
.dxnbLiteDisabled_PlasticBlue .dxnb-headerCollapsed
{
	color: #B8B8B8;
}

/* -- ASPxNewsControl -- */
.dxncControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	background-color: White;
}
.dxncControl_PlasticBlue td.dxncCtrl
{
	padding: 18px;
}
.dxncLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CBCBCB;
	background-color: White;
}
.dxncLoadingPanel_PlasticBlue td.dx
{
	padding: 12px 12px 12px 12px;
	text-align: center;	
	white-space: nowrap;	
}
.dxncContent_PlasticBlue
{
}
.dxncPagerPanel_PlasticBlue
{
	border-top: Solid 1px #CCCCCC;
	padding: 5px 3px 0px 1px;	
}
.dxncItem_PlasticBlue
{
	font: 9pt Tahoma;
	vertical-align: top;
	padding: 12px 8px 7px 7px;
	color: black;
	border-bottom-width: 0px;
}
.dxncEmptyItem_PlasticBlue
{
	font: 9pt Tahoma;
	vertical-align: top;
	padding: 12px 12px 12px 14px;
}
div.dxncBackToTop_PlasticBlue a
{
    color: #5A83D0;    
    white-space:nowrap;
}
div.dxncBackToTop_PlasticBlue a:hover
{
    color: #2443AA!important;    
}
div.dxncBackToTop_PlasticBlue a:visited
{
    color: #996085;    
}
/* - Headline - */
.dxncItemContent_PlasticBlue
{
	font: 9pt Tahoma;
	color: #575757;
	line-height: 120%!important;
}
.dxncItemTail_PlasticBlue
{
	text-decoration: none;
    font: 8pt Tahoma;
}
.dxncItemHeader_PlasticBlue .dxncItemDate_PlasticBlue
{
	background-color: #5066AC;	    
	color: #FFFFFF;	
	font-size: 12px;
	padding: 4px 6px 5px 7px;	
}
.dxncItemDate_PlasticBlue
{
	background-color: #5066AC;
	color: #FFFFFF;
	padding: 4px 6px 5px 7px;
	white-space: nowrap;
}
.dxncItemHeader_PlasticBlue
{	
	font: 1.3em Tahoma;
	text-decoration: none;
	color: #5A83D0;
	line-height: 141%!important;
}
.dxncItemLeftPanel_PlasticBlue
{
	font: 8pt Tahoma;
	color: #575757;
}
.dxncItemRightPanel_PlasticBlue
{
  	font: 8pt Tahoma;
	color: #575757;
}
.dxncItemTailDiv_PlasticBlue a
{
	color: #5A83D0;
	text-decoration: none;
}
.dxncItemTailDiv_PlasticBlue a:hover
{
    text-decoration: none;
}
.dxncItemTailDiv_PlasticBlue a:visited
{
    color: #98A3C4;
}
.dxncItemContent_PlasticBlue a.dxhl
{
	color: #5A83D0;
	text-decoration: none;
} 
.dxncItemContent_PlasticBlue a.dxhl:hover
{
    text-decoration: none;
}
.dxncItemContent_PlasticBlue a.dxhl:visited
{
    color: #98A3C4;
}
.dxncEmptyData_PlasticBlue
{
	color: #848484;
}
/* Disabled */
.dxncDisabled_PlasticBlue, .dxncDisabled_PlasticBlue span.dxhl
{
	color: #B8B8B8;
	cursor: default;
}
div.dxncDisabled_PlasticBlue a,
div.dxncDisabled_PlasticBlue a:hover,
div.dxncDisabled_PlasticBlue a:visited
{
	color: #B8B8B8;
}

/* -- ASPxPager -- */
.dxpControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: #5A83D0;
}
.dxpControl_PlasticBlue
{
	/*padding: 5px 2px 5px 2px;*/
	padding: 0px;	
}
.dxpButton_PlasticBlue
{
	font: 9pt Tahoma;
	color: #5A83D0;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.dxpButton_PlasticBlue a
{
	font: 9pt Tahoma;
	color: #5A83D0;
	text-decoration: none;
	white-space: nowrap;
}
.dxpDisabledButton_PlasticBlue
{
	font: 9pt Tahoma;
	color: #5A83D0;
	text-decoration: none;
}
.dxpPageNumber_PlasticBlue
{
	font: 9pt Tahoma;
	color: #5A83D0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}
.dxpPageNumber_PlasticBlue a
{
	font: 9pt Tahoma;
	color: #5A83D0;
	text-decoration: none;
}
.dxpCurrentPageNumber_PlasticBlue
{
	font: 9pt Tahoma;
	color: #FFFFFF;
	background-color: #5066AC;
	font-weight: normal;
	text-decoration: none;
	padding: 2px 3px 3px 3px;
}
.dxpSummary_PlasticBlue
{
	font: 9pt Tahoma;
	color: #909090;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 0px 4px 0px 4px;
}
.dxpSeparator_PlasticBlue
{
	background-color: #CCCCCC;
}
/* Disabled */
.dxpDisabled_PlasticBlue
{
	color: #B8B8B8;
	border-color: #B8B8B8;
	cursor: default;
}

/* -- ASPxPager Lite -- */

.dxpLite_PlasticBlue
{
	font: 9pt Tahoma;
	color: #909090;
	float: left;
}

.dxpLite_PlasticBlue .dxp-summary,
.dxpLite_PlasticBlue .dxp-sep,
.dxpLite_PlasticBlue .dxp-button,
.dxpLite_PlasticBlue .dxp-num,
.dxpLite_PlasticBlue .dxp-current,
.dxpLite_PlasticBlue .dxp-ellip
{
	display: block;	
	float: left;
	margin-left: 4px;
	font-weight: normal;	
}
.dxpLite_PlasticBlue .dxp-lead
{
	margin-left: 0 !important;
}

.dxpLite_PlasticBlue a
{
	color: #5A83D0;
	text-decoration: none;
}

.dxpLite_PlasticBlue .dxp-button
{
	color: #5A83D0;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
}
.dxpLite_PlasticBlue .dxp-button img
{
	border: 0;
	vertical-align: middle;
	text-decoration: none;
}
.dxpLite_PlasticBlue .dxp-wideButton
{
	padding: 2px 5px;
}
.dxpLite_PlasticBlue .dxp-disabledButton
{
	color: #B8B8B8;
	cursor: default;	
}

.dxpLite_PlasticBlue .dxp-num
{
	color: #5A83D0;
	padding: 2px 5px 3px;
	cursor: pointer;
}

.dxpLite_PlasticBlue .dxp-current
{
	color: white;
	background: #5066AC;
	text-decoration: none;
	padding: 2px 3px 3px;	
	cursor: text;
}

.dxpLite_PlasticBlue .dxp-summary,
.dxpLite_PlasticBlue .dxp-ellip
{
	white-space: nowrap;
	padding: 2px 4px 1px;
}

.dxpLite_PlasticBlue .dxp-sep
{
	background: #CCCCCC;
    width: 1px;
    height: 11px;
    margin-top: 5px;
}

.dxpLiteDisabled_PlasticBlue,
.dxpLiteDisabled_PlasticBlue a,
.dxpLiteDisabled_PlasticBlue .dxp-summary,
.dxpLiteDisabled_PlasticBlue .dxp-sep,
.dxpLiteDisabled_PlasticBlue .dxp-button,
.dxpLiteDisabled_PlasticBlue .dxp-num,
.dxpLiteDisabled_PlasticBlue .dxp-current,
.dxpLiteDisabled_PlasticBlue .dxp-ellip
{
	color: #B8B8B8;
	border-color: #B8B8B8;
	cursor: default;
}

/* -- ASPxPopupControl -- */
.dxpcControl_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: solid 0px transparent;
	padding: 0px;	
}
.dxpcControl_PlasticBlue a
{
	color: #1E3695;
}
.dxpcCloseButton_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	padding: 1px 1px 1px 1px;
}
.dxpcCloseButtonHover_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
}
.dxpcContent_PlasticBlue
{
	border: Solid 1px #CCCCCC;
	color: #323232;	
	font: 9pt Tahoma;
	padding: 7px 10px 36px 10px;
	background-color: #F5F5F5;	
	white-space: normal;	
	vertical-align:top;
}
.dxpcFooter_PlasticBlue
{
	font: 9pt Tahoma;
	color: #909090;
	background-color: #E9E9E9;
	border: Solid 1px #CCCCCC;
	border-top-style: none;	
	
	background-image: url('pcFooterBack.gif');
    background-repeat:no-repeat;
}
.dxpcFooter_PlasticBlue td.dxpc
{
	font: 9pt Tahoma;
	color: #909090;
	white-space: nowrap;
	padding: 7px 1px 7px 10px;
}
.dxpcHeader_PlasticBlue
{
	font: 9pt Tahoma;
	border: solid 1px #2C4182;	
	
	background-color: #3D5294;
	background-image: url('pcHeaderBack.gif');
    background-repeat:repeat-x;
    background-position:top;
}
.dxpcHeader_PlasticBlue td.dxpc
{
	font: 9pt Tahoma;
	font-weight: normal;	
	color: #FFFFFF;
	white-space: nowrap;	
}
.dxpcModalBackground_PlasticBlue
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}
/* Disabled */
.dxpcDisabled_PlasticBlue
{
	color: #808080;
	cursor: default;
}

/* -- ASPxRoundPanel -- */
.dxrpControl_PlasticBlue td.dxrp,
.dxrpControlGB_PlasticBlue td.dxrp
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* - Header - */
.dxrpControl_PlasticBlue .dxrpHeader_PlasticBlue td.dxrp,
.dxrpControlGB_PlasticBlue span.dxrpHeader_PlasticBlue
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;    
	color: #404040;
	text-align:left;	
}
.dxrpControl_PlasticBlue .dxrpHI,
.dxrpControl_PlasticBlue .dxrpHeader_PlasticBlue,
.dxrpControl_PlasticBlue .dxrpHeader_PlasticBlue td.dxrp
{
	vertical-align: top;
	white-space: nowrap;
}
/* Header image */
.dxrpControl_PlasticBlue .dxrpHI
{
    padding-right: 4px;
}
/* Content */
.dxrpControl_PlasticBlue .dxrpContent
{
	vertical-align: top;
}
/* Edges */
.dxrpControl_PlasticBlue .dxrpHeader_PlasticBlue,
.dxrpControl_PlasticBlue .dxrpTE,
.dxrpControl_PlasticBlue .dxrpHLE,
.dxrpControl_PlasticBlue .dxrpHRE
{
	background-color: #E9E9E9;
}
.dxrpControl_PlasticBlue .dxrpContent,
.dxrpControl_PlasticBlue .dxrpNHTE,
.dxrpControlGB_PlasticBlue .dxrpContent,
.dxrpControlGB_PlasticBlue .dxrpNHTE,
.dxrpControlGB_PlasticBlue span.dxrpHeader_PlasticBlue
{
	background-color: WhiteSmoke;
}
.dxrpControl_PlasticBlue .dxrpLE,
.dxrpControl_PlasticBlue .dxrpRE,
.dxrpControl_PlasticBlue .dxrpBE,
.dxrpControlGB_PlasticBlue .dxrpLE,
.dxrpControlGB_PlasticBlue .dxrpRE,
.dxrpControlGB_PlasticBlue .dxrpBE
{
	background-color: #F7F7F7;
}
.dxrpControl_PlasticBlue .dxrpHeader_PlasticBlue
{
	background: #E9E9E9 url('rpHeaderSeparator.gif') repeat-x left bottom;
}
.dxrpControl_PlasticBlue .dxrpHLE
{
	background: #E9E9E9 url('rpHeaderLeftEdge.gif') repeat-x left bottom;
}
.dxrpControl_PlasticBlue .dxrpHRE
{
	background: #E9E9E9 url('rpHeaderRightEdge.gif') repeat-x left bottom;
}
.dxrpControl_PlasticBlue .dxrpTE
{
	background: #E9E9E9 url('rpHeaderTopEdge.gif');
}
.dxrpControl_PlasticBlue .dxrpNHTE,
.dxrpControlGB_PlasticBlue .dxrpNHTE
{
	background: WhiteSmoke url('rpNoHeaderTopEdge.gif');
}
.dxrpControl_PlasticBlue .dxrpLE,
.dxrpControlGB_PlasticBlue .dxrpLE
{
	background: #F7F7F7 url('rpLeftEdge.gif');
}
.dxrpControl_PlasticBlue .dxrpRE,
.dxrpControlGB_PlasticBlue .dxrpRE
{
	background: #F7F7F7 url('rpRightEdge.gif');
}
.dxrpControl_PlasticBlue .dxrpBE,
.dxrpControlGB_PlasticBlue .dxrpBE
{
	background: #F7F7F7 url('rpBottomEdge.gif');
}
/* Disabled */
.dxrpDisabled_PlasticBlue, .dxrpDisabled_PlasticBlue td.dxrp
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl_PlasticBlue a
{
    color: #5A83D0;    
}
.dxsmControl_PlasticBlue a:hover
{
    color: #b5ccf9;    
    text-decoration: none;
}
.dxsmControl_PlasticBlue a:visited
{
    color: #d6b6cb;
}
.dxsmControl_PlasticBlue 
{	
	color: #000000;
	background-color: white;
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
	border: Solid 1px #A8A8A8;
}
/* - Category Level - */
.dxsmCategoryLevel_PlasticBlue, .dxsmCategoryLevel_PlasticBlue a
{
    color: #FFFFFF;    
    font-size: 9pt;
    font-family: Tahoma;
    text-decoration: none;
}
.dxsmCategoryLevel_PlasticBlue
{
    white-space: nowrap;
    padding: 5px 8px 5px 8px;
    background-color: #415799;
	background-image: url('smLevel0Back.gif');	
    background-repeat:repeat-x;      
}
.dxsmCategoryLevel_PlasticBlue
{
    border-bottom-width: 0px;    
}
 /*flow layout*/
.dxsmLevelCategoryFlow_PlasticBlue, .dxsmLevelCategoryFlow_PlasticBlue a
{
    color: #1E3695;    
    font-weight: bold;
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;
}
/* - Level 0 - */
.dxsmLevel0_PlasticBlue, .dxsmLevel0_PlasticBlue a, 
.dxsmLevel0Categorized_PlasticBlue a, .dxsmLevel0Categorized_PlasticBlue
{
    color: #FFFFFF;    
    font-size: 9pt;
    font-family: Tahoma;
    text-decoration: none;
}
.dxsmLevel0Categorized_PlasticBlue a, .dxsmLevel0Categorized_PlasticBlue
{
    color: #000000;    
    font-weight: bold;
}
.dxsmLevel0_PlasticBlue, .dxsmLevel0Categorized_PlasticBlue
{
    white-space: nowrap;
    padding: 5px 8px 2px 8px;
}
.dxsmLevel0_PlasticBlue
{
    background-color: #415799;
	background-image: url('smLevel0Back.gif');	
    background-repeat:repeat-x;    
}
.dxsmLevel0_PlasticBlue
{        
    border-bottom-width:0px;
    padding: 5px 8px 5px 8px;
}
 /*flow layout*/
.dxsmLevel0Flow_PlasticBlue, .dxsmLevel0Flow_PlasticBlue a, .dxsmLevel0CategorizedFlow_PlasticBlue a, .dxsmLevel0CategorizedFlow_PlasticBlue
{
    color: #FFFFFF;    
    font-family: Tahoma, Verdana, Arial;	
    font-weight: bold;
    font-size: 9pt;
	text-decoration: underline;
}
.dxsmLevel0Flow_PlasticBlue
{
    padding: 0px 0px 0px 0px;    
}
.dxsmLevel0Flow_PlasticBlue
{
    text-decoration: none;    
}

/* - Level 1 - */
.dxsmLevel1_PlasticBlue, .dxsmLevel1_PlasticBlue a, .dxsmLevel1Categorized_PlasticBlue a, .dxsmLevel1Categorized_PlasticBlue
{    
    font-family: Tahoma;
    color: #5A83D0;  
    font-size: 9pt;
    text-decoration: none;    
}
.dxsmLevel1_PlasticBlue, .dxsmLevel1Categorized_PlasticBlue
{
    white-space: nowrap;  
    padding: 0px 0px 0px 0px;
}

/*flow layout*/
.dxsmLevel1Flow_PlasticBlue, .dxsmLevel1Flow_PlasticBlue a, .dxsmLevel1CategorizedFlow_PlasticBlue, .dxsmLevel1CategorizedFlow_PlasticBlue a
{    
    color: #5A83D0;    
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;
}
.dxsmLevel1Flow_PlasticBlue
{
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

/* - Level 2 - */
.dxsmLevel2_PlasticBlue, .dxsmLevel2_PlasticBlue a, .dxsmLevel2Categorized_PlasticBlue a, .dxsmLevel2Categorized_PlasticBlue
{    
    font-size: 9pt;
    font-family: Tahoma;
    color: #5A83D0;
    text-decoration: none;    
}
.dxsmLevel2_PlasticBlue, .dxsmLevel2Categorized_PlasticBlue
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel2Flow_PlasticBlue, .dxsmLevel2Flow_PlasticBlue a
{
    color: #5A83D0;
    font-size: 9pt;    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;    
}
.dxsmLevel2Flow_PlasticBlue
{
    padding: 0px 0px 0px 0px;
}
/* - Level 3 - */
.dxsmLevel3_PlasticBlue, .dxsmLevel3_PlasticBlue a
{    
    font-size: 9pt;
    font-family: Tahoma;
    color: #5A83D0;
    text-decoration: none;
}
.dxsmLevel3_PlasticBlue
{
    white-space: nowrap;        
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel3Flow_PlasticBlue, .dxsmLevel3Flow_PlasticBlue a
{    
    color: #5A83D0;
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;    
}
/* - Level 4 - */
.dxsmLevel4_PlasticBlue, .dxsmLevel4_PlasticBlue a
{    
    font-size: 9pt;
    font-family: Tahoma;
    color: #5A83D0;
    text-decoration: none;
}
.dxsmLevel4_PlasticBlue
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel4Flow_PlasticBlue, .dxsmLevel4Flow_PlasticBlue a
{
    color: #5A83D0;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;        
}
.dxsmLevel4Flow_PlasticBlue
{
    padding: 0px 0px 0px 0px;        
}
/* - Other Levels - */
.dxsmLevelOther_PlasticBlue, .dxsmLevelOther_PlasticBlue a
{    
    font-size: 9pt;
    font-family: Tahoma;
    color: #5A83D0;
    text-decoration: none;
}
.dxsmLevelOther_PlasticBlue
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;            
}
/*flow layout*/
.dxsmLevelOtherFlow_PlasticBlue, .dxsmLevelOtherFlow_PlasticBlue a
{
    color: #5A83D0;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;            
}
/* Disabled */
.dxsmDisabled_PlasticBlue
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl_PlasticBlue 
{
	font: 9pt Tahoma;
	color: black;
}
.dxtcLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxtcLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
/* Tab hyperlink */
.dxtcTab_PlasticBlue a, .dxtcTabWithTabPositionLeft_PlasticBlue a, .dxtcTabWithTabPositionBottom_PlasticBlue a, .dxtcTabWithTabPositionRight_PlasticBlue a,
.dxtcActiveTab_PlasticBlue a, .dxtcActiveTabWithTabPositionBottom_PlasticBlue a, .dxtcActiveTabWithTabPositionLeft_PlasticBlue a, .dxtcActiveTabWithTabPositionRight_PlasticBlue a,
.dxtcTabHover_PlasticBlue a, .dxtcTabHoverWithTabPositionBottom_PlasticBlue a, .dxtcTabHoverWithTabPositionLeft_PlasticBlue a, .dxtcTabHoverWithTabPositionRight_PlasticBlue a
{
	text-decoration: none;
	color: black;    
}

/* Active Tab */
.dxtcActiveTab_PlasticBlue, .dxtcActiveTabWithTabPositionBottom_PlasticBlue,
.dxtcActiveTabWithTabPositionLeft_PlasticBlue, .dxtcActiveTabWithTabPositionRight_PlasticBlue
{
	font: 9pt Tahoma;
	color: #FFFFFF;
	border: Solid 1px #2C4182;
	padding: 4px 14px 4px 14px;
	
	background-color: #3E5395;
	
	background-image: url('tcTabABack.gif');
	background-repeat: repeat-x;
	background-position: left top;
	
	text-align: center;
}
.dxtcActiveTabWithTabPositionBottom_PlasticBlue
{
    background-color: #3E5395;

	background-image: url('tcTabBottomABack.gif');
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dxtcActiveTabWithTabPositionLeft_PlasticBlue
{
	padding: 4px 11px 4px 17px;

    background-color: #3E5395;
    
	background-image: url('tcTabLeftABack.gif');
	background-repeat: repeat-y;
	background-position: left top;
}
.dxtcActiveTabWithTabPositionRight_PlasticBlue
{
	padding: 4px 11px 4px 17px;

    background-color: #3E5395;
    
	background-image: url('tcTabRightABack.gif');
	background-repeat: repeat-y;
	background-position: right top;
}
.dxtcActiveTab_PlasticBlue table.dxtc, .dxtcActiveTabWithTabPositionBottom_PlasticBlue table.dxtc,
.dxtcActiveTabWithTabPositionLeft_PlasticBlue table.dxtc, .dxtcActiveTabWithTabPositionRight_PlasticBlue table.dxtc
{
	font: 9pt Tahoma;
	color: #FFFFFF;    
}
.dxtcActiveTab_PlasticBlue td.dxtc, .dxtcActiveTabWithTabPositionBottom_PlasticBlue td.dxtc,
.dxtcActiveTabWithTabPositionLeft_PlasticBlue td.dxtc, .dxtcActiveTabWithTabPositionRight_PlasticBlue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Tab */
.dxtcTab_PlasticBlue, .dxtcTabWithTabPositionLeft_PlasticBlue, 
.dxtcTabWithTabPositionBottom_PlasticBlue, .dxtcTabWithTabPositionRight_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;	
	border: solid 1px #CCCCCC;
	padding: 4px 14px 4px 14px;		

	background-color: #F5F5F5;

	background-image: url('tcTabBack.gif');
	background-repeat: no-repeat;
	background-position: left top;

    text-align: center;
}
.dxtcTab_PlasticBlue table.dxtc, .dxtcTabWithTabPositionBottom_PlasticBlue table.dxtc, 
.dxtcTabWithTabPositionLeft_PlasticBlue table.dxtc, .dxtcTabWithTabPositionRight_PlasticBlue table.dxtc
{
	font: 9pt Tahoma;
	color: black;    
}
.dxtcTab_PlasticBlue td.dxtc, .dxtcTabWithTabPositionBottom_PlasticBlue td.dxtc, 
.dxtcTabWithTabPositionLeft_PlasticBlue td.dxtc, .dxtcTabWithTabPositionRight_PlasticBlue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcTabWithTabPositionBottom_PlasticBlue
{
    background-color: #F5F5F5;

	background-image: url('tcTabBottomBack.gif');
	background-repeat: no-repeat;
	background-position: right bottom;
}
.dxtcTabWithTabPositionLeft_PlasticBlue
{
    background-color: #F5F5F5;
    
	background-image: url('tcTabLeftBack.gif');
	background-repeat: no-repeat;
	background-position: left bottom;
}
.dxtcTabWithTabPositionRight_PlasticBlue
{
    background-color: #F5F5F5;
    
	background-image: url('tcTabRightBack.gif');
	background-repeat: no-repeat;
	background-position: right top;
}
/* Hover */
.dxtcTabHover_PlasticBlue, .dxtcTabHoverWithTabPositionBottom_PlasticBlue,
.dxtcTabHoverWithTabPositionLeft_PlasticBlue, .dxtcTabHoverWithTabPositionRight_PlasticBlue
{
	border: Solid 1px #CCCCCC;
	background-color: #E9E9E9;

	background-image: url('tcTabHBack.gif');
	background-repeat: no-repeat;
	background-position: left top;
	
	text-align: center;
}
.dxtcTabHover_PlasticBlue table.dxtc, .dxtcTabHoverWithTabPositionBottom_PlasticBlue table.dxtc,
.dxtcTabHoverWithTabPositionLeft_PlasticBlue table.dxtc, .dxtcTabHoverWithTabPositionRight_PlasticBlue table.dxtc
{
    color: #000000;
}
.dxtcTabHoverWithTabPositionBottom_PlasticBlue,
.dxtcActiveTabHoverWithTabPositionBottom_PlasticBlue
{
	background-color: #E9E9E9;

	background-image: url('tcTabBottomHBack.gif');
	background-repeat: no-repeat;
	background-position: right bottom;
}
.dxtcTabHoverWithTabPositionLeft_PlasticBlue,
.dxtcActiveTabHoverWithTabPositionLeft_PlasticBlue
{
	background-color: #E9E9E9;
    
	background-image: url('tcTabLeftHBack.gif');
	background-repeat: no-repeat;
	background-position: left bottom;
}
.dxtcTabHoverWithTabPositionRight_PlasticBlue,
.dxtcActiveTabHoverWithTabPositionRight_PlasticBlue
{
	background-color: #E9E9E9;

	background-image: url('tcTabRightHBack.gif');
	background-repeat: no-repeat;
	background-position: right top;
}
.dxtcTabHover_PlasticBlue td.dxtc, .dxtcTabHoverWithTabPositionBottom_PlasticBlue td.dxtc,
.dxtcTabHoverWithTabPositionLeft_PlasticBlue td.dxtc, .dxtcTabHoverWithTabPositionRight_PlasticBlue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: none!important;
    border-width: 0px!important;
    padding: 0px!important;
}

/*Content*/
.dxtcPageContent_PlasticBlue, .dxtcPageContentWithTabPositionBottom_PlasticBlue, 
.dxtcPageContentWithTabPositionLeft_PlasticBlue, .dxtcPageContentWithTabPositionRight_PlasticBlue,
.dxtcPageContentWithoutTabs_PlasticBlue
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #FFFFFF;

	background-image: url('tcContentBack.gif');
	background-repeat: repeat-x;
	background-position: left top;

    border: Solid 1px #CCCCCC!important;
    border-top-width: 0px!important;
    vertical-align: top;
}
.dxtcPageContentWithTabPositionLeft_PlasticBlue
{
	background-image: url('tcContentBackHor.gif');
	background-repeat: repeat-y;
	background-position: left top;

    border: Solid 1px #CCCCCC!important;
    border-left-width: 0px!important;
}
.dxtcPageContentWithTabPositionRight_PlasticBlue
{
	background-image: url('tcContentBackHor.gif');
	background-repeat: repeat-y;
	background-position: right top;

    border: Solid 1px #CCCCCC!important;
    border-right-width: 0px!important;
}
.dxtcPageContentWithTabPositionBottom_PlasticBlue
{
	background-image: url('tcContentBack.gif');
	background-repeat: repeat-x;
	background-position: left bottom;

    border: Solid 1px #CCCCCC!important;
    border-bottom-width: 0px!important;
}
.dxtcPageContentWithoutTabs_PlasticBlue
{
	background: none;
	border: Solid 1px #CCCCCC!important;
}
.dxtcContent_PlasticBlue, .dxtcContentWithTabPositionBottom_PlasticBlue, .dxtcContentWithTabPositionLeft_PlasticBlue, .dxtcContentWithTabPositionRight_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #CCCCCC;
	background-color: white;
	vertical-align: top;
	background-image: url('tcContentBack.gif');
	background-repeat: repeat-x;
	height: 1px;	
}

.dxtcControl_PlasticBlue td.dxtcTabsCell, .dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionBottom,
.dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionLeft, .dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionRight 
{
}
.dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionBottom
{
}
.dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionLeft
{
}
.dxtcControl_PlasticBlue td.dxtcTabsCellWithTabPositionRight
{
}
/* Disabled */
.dxtcDisabled_PlasticBlue, .dxtcDisabled_PlasticBlue table.dxtc
{
	color: #B8B8B8;
	cursor: default;
}

/* -- ASPxTitleIndex -- */
.dxtiControl_PlasticBlue a, 
.dxtiBackToTop_PlasticBlue a
{
    color: #5A83D0;    
    text-decoration: none!important;
}
.dxtiControl_PlasticBlue a:hover,
.dxtiBackToTop_PlasticBlue a:hover
{
    color: #2443AA;    
    text-decoration: none!important;
    font-weight: normal;
}
.dxtiControl_PlasticBlue a:visited,
.dxtiBackToTop_PlasticBlue a:visited
{
    color: #996085;    
}
.dxtiControl_PlasticBlue 
{
	font: 9pt Tahoma;
	color: #1E3695;
	background-color: white;
	font-family: Tahoma, Verdana, Arial;
	border: Solid 1px #A8A8A8;
	text-decoration: underline;
}
.dxtiLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CBCBCB;
	background-color: White;
}
.dxtiLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxtiItem_PlasticBlue, .dxtiItem_PlasticBlue a
{
	color: #5A83D0;
	font: 9pt Tahoma; 	
	font-weight: normal;
	text-decoration: none;		
}
.dxtiItem_PlasticBlue
{
	white-space: nowrap;
}
.dxtiGroupHeader_PlasticBlue, .dxtiGroupHeaderCategorized_PlasticBlue
{
	font: 14pt Tahoma;
	text-decoration: none;
	font-weight: normal;
}
.dxtiGroupHeader_PlasticBlue, .dxtiGroupHeaderCategorized_PlasticBlue
{
	white-space:nowrap;
	padding: 0px 0px 0px 8px;
	border: Solid 1px #CCCCCC;
	background-image: url('tiGroupHeader.gif');
}
.dxtiGroupHeaderCategorized_PlasticBlue
{
    border: Solid 1px #CCCCCC;
    padding-bottom: 0px;
}
/* - GroupHeaderText - */
.dxtiGroupHeaderText_PlasticBlue,
.dxtiGroupHeaderTextCategorized_PlasticBlue
{
    background-color: transparent;
    color: #848484;
    font-size: 17px;
    font-family: Tahoma;
}
.dxtiGroupHeaderText_PlasticBlue
{
    padding: 0px 7px 0px 7px;
}
.dxtiGroupHeaderTextCategorized_PlasticBlue
{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
}
/* - FilterBox - */
.dxtiFilterBoxInfoText_PlasticBlue
{
    font: 7pt Tahoma;
    color: #999999;
    font-weight: normal;
    padding-top: 0px;
    padding-bottom: 4px;
    text-decoration: none;
}
.dxtiFilterBoxEdit_PlasticBlue
{
    border: Solid 1px #CCCCCC;    
    font-size: 9pt;
    font-weight: normal;    
    padding-left: 3px;
    text-decoration: none;
    width: 158px;    
}
.dxtiFilterBox_PlasticBlue, .dxtiFilterBox_PlasticBlue table
{
    color: #898989;
    font-size: 8pt;
    font-family: Tahoma;    
    font-weight: normal;        
    text-decoration: none;    
}
.dxtiFilterBox_PlasticBlue
{
    background-color: transparent;   
    padding-right: 0px;
}
/* - IndexPanel - */
.dxtiIndexPanel_PlasticBlue
{
    background-color: #F5F5F5;
    border: Solid 1px #CCCCCC;
    color: #CCCCCC;
    font-family: Tahoma;
    padding: 10px 15px 10px 15px;
    text-decoration: none;    
}
.dxtiIndexPanelItem_PlasticBlue, .dxtiIndexPanelItem_PlasticBlue a, 
.dxtiCurrentIndexPanelItem_PlasticBlue, .dxtiCurrentIndexPanelItem_PlasticBlue a
{
    color: #5A83D0;
    font: 8.3pt Tahoma;
    text-decoration: none;
}
.dxtiIndexPanelItem_PlasticBlue, .dxtiCurrentIndexPanelItem_PlasticBlue
{
    padding: 2px 2px 2px 2px;
}
.dxtiCurrentIndexPanelItem_PlasticBlue
{
    color: #5B5B5B;
    background-color: transparent;
    text-decoration: none;
}
/* - BackToTop - */
.dxtiBackToTop_PlasticBlue, .dxtiBackToTop_PlasticBlue a
{
    font-size: 7pt;
    text-decoration: none;
    font-weight: normal;
    color: #5A83D0;
}
.dxtiBackToTop_PlasticBlue
{
    padding: 3px 0px 0px 17px;   
}
/* Disabled */
.dxtiDisabled_PlasticBlue
{
	color: #B8B8B8;
	cursor: default;
}
/* -- ASPxUploadControl -- */
.dxucControl_PlasticBlue, .dxucEditArea_PlasticBlue
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;    
}
.dxucErrorCell_PlasticBlue
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
.dxucButton_PlasticBlue, .dxucButton_PlasticBlue a
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;
    color: #394ea2;
    cursor: pointer;
    white-space: nowrap;
}
/* UploadControl - ProgressBar */
.dxucProgressBar_PlasticBlue
{
    border: Solid 1px #B8B8B8;
    background-color: #F5F5F5;
}
.dxucProgressBar_PlasticBlue .dxucPBMainCell
{
    padding: 1px;
}
.dxucProgressBar_PlasticBlue td.dx
{
    padding: 0;
}
.dxucProgressBar_PlasticBlue, .dxucProgressBar_PlasticBlue td.dx
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: #000000;
}
.dxucProgressBarIndicator_PlasticBlue
{
    background-color: #3E5496;
	background-image: url('ucProgressIndicatorBack.gif');
    background-repeat: repeat-x;
}

/* -- ASPxSplitter -- */
.dxsplControl_PlasticBlue, .dxsplVSeparator_PlasticBlue, .dxsplHSeparator_PlasticBlue
{
	background-color: White;
}
.dxsplControl_PlasticBlue, .dxsplVSeparator_PlasticBlue, .dxsplHSeparator_PlasticBlue, .dxsplPane_PlasticBlue, .dxsplPaneCollapsed_PlasticBlue, .dxsplVSeparator_PlasticBlue, .dxsplHSeparator_PlasticBlue, .dxsplVSeparatorCollapsed_PlasticBlue, .dxsplHSeparatorCollapsed_PlasticBlue
{
	border: solid 0px #CCCCCC;
}
.dxsplPane_PlasticBlue, .dxsplPaneCollapsed_PlasticBlue
{
	border-width: 1px;
	background-color: #F5F5F5;
}
.dxsplPaneCollapsed_PlasticBlue
{
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.dxsplVSeparatorHover_PlasticBlue
{
	cursor: w-resize;
}
.dxsplHSeparatorHover_PlasticBlue
{
	cursor: n-resize;
}
.dxsplVSeparatorCollapsed_PlasticBlue
{
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.dxsplHSeparatorCollapsed_PlasticBlue
{
	border-left-width: 1px;
	border-right-width: 1px;
}
.dxsplVSeparatorHover_PlasticBlue, .dxsplVSeparatorButtonHover_PlasticBlue
{
	background-image: url('splVSeparatorBackgroundHover.png');
	background-repeat: repeat-y;
	background-position: top left;
}
.dxsplHSeparatorHover_PlasticBlue, .dxsplHSeparatorButtonHover_PlasticBlue
{
	background-image: url('splHSeparatorBackgroundHover.png');
	background-repeat: repeat-x;
	background-position: top left;
}
.dxsplVSeparatorCollapsed_PlasticBlue, .dxsplHSeparatorCollapsed_PlasticBlue
{
	cursor: default !important;
}
.dxsplVSeparatorButton_PlasticBlue
{
	cursor: pointer;
	padding: 5px 0px;
}
.dxsplHSeparatorButton_PlasticBlue
{
	cursor: pointer;
	padding: 0px 5px;
}
.dxsplVSeparatorHover_PlasticBlue, .dxsplHSeparatorHover_PlasticBlue, .dxsplVSeparatorButtonHover_PlasticBlue, .dxsplHSeparatorButtonHover_PlasticBlue
{
	background-color: #E9E9E9;
}
.dxsplResizingPointer_PlasticBlue
{
	background-image: url('splResizingPointer.gif');
	background-repeat: repeat;
}
.dxsplResizingPointer_PlasticBlue, .dxsplS
{
	font-size: 0px;
	line-height: 0px;
}
.dxsplLCC, .dxsplCC, .dxsplS
{
	overflow: hidden;
}
.dxsplLCC, .dxsplCC, .dxsplP
{
	width: 100%;
	height: 100%;
}
.dxsplLCC
{
	padding: 8px 8px 8px 8px;
}

.dx-clear
{
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}
