.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtCheckBoxOn_Glass,
.dxEditors_edtCheckBoxOff_Glass,
.dxEditors_edtCheckBoxUndefined_Glass,
.dxEditors_edtRadioButtonOn_Glass,
.dxEditors_edtRadioButtonOff_Glass,
.dxEditors_edtRadioButtonUndefined_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass,
.dxEditors_fcadd_Glass,
.dxEditors_fcaddhot_Glass,
.dxEditors_fcremove_Glass,
.dxEditors_fcremovehot_Glass,
.dxEditors_fcgroupaddcondition_Glass,
.dxEditors_fcgroupaddgroup_Glass,
.dxEditors_fcgroupremove_Glass,
.dxEditors_fcopany_Glass,
.dxEditors_fcopbegin_Glass,
.dxEditors_fcopbetween_Glass,
.dxEditors_fcopcontain_Glass,
.dxEditors_fcopnotcontain_Glass,
.dxEditors_fcopnotequal_Glass,
.dxEditors_fcopend_Glass,
.dxEditors_fcopequal_Glass,
.dxEditors_fcopgreater_Glass,
.dxEditors_fcopgreaterorequal_Glass,
.dxEditors_fcopnotblank_Glass,
.dxEditors_fcopblank_Glass,
.dxEditors_fcopless_Glass,
.dxEditors_fcoplessorequal_Glass,
.dxEditors_fcoplike_Glass,
.dxEditors_fcopnotany_Glass,
.dxEditors_fcopnotbetween_Glass,
.dxEditors_fcopnotlike_Glass,
.dxEditors_fcgroupand_Glass,
.dxEditors_fcgroupor_Glass,
.dxEditors_fcgroupnotand_Glass,
.dxEditors_fcgroupnotor_Glass,
.dxEditors_caRefresh_Glass  {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxEditors_edtError_Glass {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_Glass {
    background-position: -76px 0px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarPrevYearDisabled_Glass {
    background-position: -76px -20px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonth_Glass {
    background-position: -42px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarPrevMonthDisabled_Glass {
    background-position: -63px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonth_Glass {
    background-position: 0px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextMonthDisabled_Glass {
    background-position: -21px -130px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarNextYear_Glass {
    background-position: -38px 0px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarNextYearDisabled_Glass {
    background-position: -38px -20px;
    width: 22px;
    height: 18px;
}

.dxEditors_edtCalendarFNPrevYear_Glass {
    background-position: 0px 0px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCalendarFNNextYear_Glass {
    background-position: 0px -20px;
    width: 20px;
    height: 18px;
}

.dxEditors_edtCheckBoxOn_Glass {
    background-position: -23px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxOff_Glass {
    background-position: 0px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxUndefined_Glass {
    background-position: -46px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtRadioButtonOn_Glass {
    background-position: -91px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonOff_Glass {
    background-position: -69px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonUndefined_Glass {
    background-position: -113px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtEllipsis_Glass {
    background-position: -113px 0px;
    width: 12px;
    height: 6px;
}

.dxEditors_edtEllipsisDisabled_Glass {
    background-position: -113px -22px;
    width: 12px;
    height: 6px;
}

.dxEditors_edtDropDown_Glass {
    background-position: -102px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtDropDownDisabled_Glass {
    background-position: -102px -22px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditIncrementImage_Glass {
    background-position: -150px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_Glass {
    background-position: -150px -13px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditDecrementImage_Glass {
    background-position: -132px 0px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_Glass {
    background-position: -132px -13px;
    width: 7px;
    height: 4px;
}

.dxEditors_edtSpinEditLargeIncImage_Glass {
    background-position: -145px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_Glass {
    background-position: -171px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImage_Glass {
    background-position: -132px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_Glass {
    background-position: -158px -26px;
    width: 6px;
    height: 9px;
}

.dxEditors_fcadd_Glass {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_Glass {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_Glass {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_Glass {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_Glass {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_Glass {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_Glass {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_Glass {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_Glass {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_Glass {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_Glass {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_Glass {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_Glass {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_Glass {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_Glass {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_Glass {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_Glass {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_Glass {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_Glass {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_Glass {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_Glass {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_Glass {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_Glass {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_Glass {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_Glass {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_Glass {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_Glass {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_Glass {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_Glass {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_Glass {
	background-position: -88px -130px;
    width: 13px;
    height: 13px;
}
