.dxtlControl_Office2003Silver
{
	cursor: default;
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #9c9ab7;
}
.dxtlControl_Office2003Silver caption
{
	background: url('CaptionBack.gif') repeat-x center top #787797;
	color: White;
	border: solid 1px #9c9ab7;
    border-bottom: 0;
	font-weight: bold;
	padding: 3px 3px 4px;
	text-align: center;	
}

/* Indent cells */
.dxtlIndent_Office2003Silver, .dxtlIndentWithButton_Office2003Silver
{			
	background: white;
	vertical-align: top;
	background-position: center top;
	background-repeat: no-repeat;
}
.dxtlIndent_Office2003Silver
{
	padding: 0 11px;
}
.dxtlIndentWithButton_Office2003Silver
{
	padding: 5px 6px;
}
.dxtlSelectionCell_Office2003Silver
{
	padding: 0 2px;
	border: solid 1px #c8c8d9;
}

/* Tree-lines cells */
.dxtlLineFirst_Office2003Silver
{
	background-image: url('CssImages/TreeLineFirst.gif');
}
.dxtlLineMiddle_Office2003Silver
{
	background-image: url('CssImages/TreeLineMiddle.gif');
}
.dxtlLineLast_Office2003Silver
{
	background-image: url('CssImages/TreeLineLast.gif');
}
.dxtlLineRoot_Office2003Silver
{
	background-image: url('CssImages/TreeLineRoot.gif');
	background-repeat: repeat-y;
}

/* Headers */
.dxtlHeader_Office2003Silver
{
	background: url('CssImages/HeaderBack.gif') repeat-x #9c9ab7;
	border: solid 1px #9c9ab7;
	padding: 4px 6px 5px;
	font-weight: normal;		
}
.dxtlHeader_Office2003Silver table.dxtl 
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_Office2003Silver td.dxtl
{
	padding: 0;
}
.dxtlHeader_Office2003Silver, .dxtlHeader_Office2003Silver td.dxtl 
{	
	font: 9pt Tahoma;
	white-space: nowrap;
	text-align: left;
}

/* Nodes */
.dxtlNode_Office2003Silver
{
	background: white;	
}
.dxtlAltNode_Office2003Silver
{
	background: #f3f3f3;	
}
.dxtlSelectedNode_Office2003Silver
{
	background: #ffc076;	
}
.dxtlFocusedNode_Office2003Silver
{
	background: url('CssImages/FocusedBack.gif') repeat-x center bottom #fff2c8;    
}
.dxtlInlineEditNode_Office2003Silver
{
	background: #e2e3ed;
}
.dxtlEditFormDisplayNode_Office2003Silver
{
	background: #f2f3fd;
}
.dxtlNode_Office2003Silver td.dxtl, 
.dxtlAltNode_Office2003Silver  td.dxtl, 
.dxtlSelectedNode_Office2003Silver td.dxtl, 
.dxtlFocusedNode_Office2003Silver td.dxtl,
.dxtlEditFormDisplayNode_Office2003Silver td.dxtl,
.dxtlCommandCell_Office2003Silver
{
	padding: 3px 6px 4px;
	border: solid 1px #c8c8d9;
	white-space: nowrap;
	font-size: 9pt;
    font-family: Tahoma;
}
.dxtlInlineEditNode_Office2003Silver td.dxtl
{
	border: solid 1px #c8c8d9;
	padding: 1px;
}

/* Preview */
.dxtlPreview_Office2003Silver
{
    background: #f2f2f2;
	padding: 14px;
	border: solid 1px #c8c8d9;
	font: 9pt Tahoma;	
}

/* Footers */
.dxtlGroupFooter_Office2003Silver
{
	background-color: #bab8d7;	
}
.dxtlFooter_Office2003Silver
{
	background-color: #a4a2bd;	
}
.dxtlGroupFooter_Office2003Silver td.dxtl,
.dxtlFooter_Office2003Silver td.dxtl
{
	padding: 5px 6px 6px;
	white-space: nowrap;
	text-align: left;
	border: solid 1px #c8c8d9;
	font: 9pt Tahoma;
}

/* Pagers */
.dxtlPagerTopPanel_Office2003Silver
{
	border-bottom: solid 1px #c8c8d9;
}
.dxtlPagerBottomPanel_Office2003Silver
{
	border-top: solid 1px #c8c8d9;
}
.dxtlPagerTopPanel_Office2003Silver,
.dxtlPagerBottomPanel_Office2003Silver
{
	background: white;
	padding-top: 1px;	
}

/* Editing */
.dxtlEditForm_Office2003Silver 
{
	background: #e2e3ed;
	border: solid 1px #c8c8d9;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_Office2003Silver,
.dxtlEditFormEditCell_Office2003Silver
{
	padding: 4px;
}
.dxtlEditFormCaption_Office2003Silver
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_Office2003Silver
{
	background: #FFC8C8;
	color: #FF0000;
	padding: 6px 10px;
	border: solid 1px #cfcfcf;
	font: 9pt Tahoma;		
}

/* Links */
.dxtlControl_Office2003Silver a, 
.dxtlCommandCell_Office2003Silver a
{
	color: black;
}
.dxtlCommandCell_Office2003Silver a
{
    margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_Office2003Silver
{
	border: solid 1px #9c9ab7;
	background-color: white;
	font: 9pt Tahoma;
	color: #7C7C94;
}
.dxtlLoadingPanel_Office2003Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxtlLoadingDiv_Office2003Silver
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

/* Disabled */
.dxtlDisabled_Office2003Silver,
.dxtlDisabled_Office2003Silver .dxtl_Office2003Silver
{
	color: #808080;
	cursor: default;
}
