/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_PlasticBlue
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma, Verdana, Arial;
	color: #303030;
}
.dxheLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxheControl_PlasticBlue
{
    border: Solid 1px #2C4182;
}

/* Area */
.dxheContentArea_PlasticBlue
{
    padding: 4px;
	padding-bottom: 6px;
    background-color: #E5E7F0;
}
.dxheViewArea_PlasticBlue
{
    border: Solid 1px #CCCCCC;    
}
.dxheHtmlViewEdit_PlasticBlue, .dxheDesignViewArea_PlasticBlue, .dxhePreviewArea_PlasticBlue 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
    font-size: smaller;
    font: normal 12px Arial;
}
td.dxheHtmlViewEdit_PlasticBlue, body.dxheDesignViewArea_PlasticBlue, body.dxhePreviewArea_PlasticBlue
{
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_PlasticBlue table.dxEmptyBorderTable,
body.dxheDesignViewArea_PlasticBlue table.dxEmptyBorderTable td  {
    border:1px dotted gray;
}
/* Status Bar */
.dxheStatusBar_PlasticBlue 
{
}
.dxheStatusBarTab_PlasticBlue 
{    
}
.dxheStatusBarActiveTab_PlasticBlue 
{
}

/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell, #dxInsertLinkForm .buttonsCell, #dxInsertImageForm .buttonsCell, #dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell
{
	font: 9pt Tahoma;
	color: #909090;
	background-color: #E9E9E9;
	border-style: none;
	border-top: solid 1px #E0E0E0;	
	
	background-image: url('dfFooterBack.gif');
    background-repeat:no-repeat;
	
    padding: 11px;
}
#dxInsertTableForm .captionIndent, #dxInsertLinkForm .captionIndent, #dxInsertImageForm .captionIndent,
#dxTableColumnPropertiesForm .captionIndent
{
	overflow: hidden;
	height: 5px;
}
#dxInsertTableForm .contentCell, #dxInsertLinkForm .contentCell, #dxInsertImageForm .contentCell, #dxPasteFromWordForm .contentCell,
#dxTableColumnPropertiesForm .contentCell
{
	padding: 11px;
}
#dxInsertLinkForm .typeRadionButtonListCell, #dxInsertImageForm .typeRadionButtonListCell
{
	padding-bottom: 12px;
}
#dxInsertTableForm .separatorCell, #dxInsertLinkForm .separatorCell, #dxInsertImageForm .separatorCell,
#dxTableColumnPropertiesForm .separatorCell
{
	height: 7px;
}
#dxInsertTableForm .buttons, #dxInsertLinkForm .buttons, #dxInsertImageForm .buttons,
#dxTableColumnPropertiesForm .buttons
{
    padding-top: 3px;
}
#dxInsertTableForm .cancelButton, #dxInsertLinkForm .cancelButton, #dxInsertImageForm .cancelButton, #dxPasteFromWordForm .cancelButton,
#dxTableColumnPropertiesForm .cancelButton
{
    padding-left: 10px;
}
#dxInsertTableForm .captionCell, #dxInsertTableForm .rowsCaptionCell, #dxInsertLinkForm .captionCell,
#dxTableColumnPropertiesForm .captionCell, #dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 9px;
    padding-top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
#dxInsertTableForm .inputCell, #dxInsertTableForm .rowsInputCell, #dxInsertLinkForm .inputCell,
#dxTableColumnPropertiesForm .inputCell, #dxTableColumnPropertiesForm .rowsInputCell
{
    vertical-align: middle;
}

/* Insert Link Form */
#dxInsertLinkForm .displayPropertiesCell 
{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#dxInsertLinkForm .targetCheckBoxCell
{
    padding-top:10px;
}
/* Insert Image Form */
#dxInsertImageForm .fieldSeparator 
{
    height: 9px;
}
#dxInsertImageForm .imagePreview
{
    padding: 10px 0px;
    padding-top: 5px;
}
#dxInsertImageForm .fromTheWeb
{
    width: 100%;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
    width: 100%;
    height: 170px;
}
#dxInsertImageForm .imagePropertiesCell
{
    padding-left: 20px;
    vertical-align:top;
}
#dxInsertImageForm .moreOptionsCell
{
	padding-top: 11px;
}
#dxInsertImageForm .radioButtonTable
{
	width: 317px;
}
#dxInsertImageForm .saveToServerCheckBoxCell
{
    padding-top:0px;
    padding-bottom: 13px;
}
/* Image Properties Form */
#dxImagePropertiesForm .captionCell
{
    padding-right: 2px;
    white-space: nowrap;
}
#dxImagePropertiesForm .constrainProportionsCell
{
    padding-left: 4px;
    padding-top: 2px;
}
#dxImagePropertiesForm .imageSizeEditorsCell
{
    padding-top: 7px;
    padding-bottom: 10px;
}
#dxImagePropertiesForm .pixelSizeCell
{
    padding-left: 7px;
}
#dxImagePropertiesForm .hSeparator
{
    width: 25px;
    overflow: hidden;
}
#dxImagePropertiesForm .thumbnailFileNameArea
{
    padding-top: 8px;
}
/* IE, FireFox, WebKit*/
#dxImagePropertiesForm .ckbWrapTextCell div
{
	margin-left: -4px;
	padding-top: 2px;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio) {   
	#dxImagePropertiesForm .ckbWrapTextCell div
	{
		margin-left: 0px;
	}
}

/* PasteFromWord Form */
#dxPasteFromWordForm .pasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
#dxPasteFromWordForm .pasteContainerCell
{
	padding:0px;
	padding-top: 10px;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #B8B8B8;
}
#dxPasteFromWordForm .checkBoxCell
{
	padding-top: 10px;
}
#dxPasteFromWordForm .contentCell 
{
	padding-left: 20px;
	padding-right: 20px;
}

/* Insert table */
#dxInsertTableForm .propFieldSeparator, #dxTableColumnPropertiesForm .propFieldSeparator
{
    width: 20px;
}
#dxInsertTableForm .propGroupSeparator, #dxTableColumnPropertiesForm .propGroupSeparator
{
    height: 11px;
}
#dxInsertTableForm .propGroupCell, #dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm .propGroupCell, #dxTableColumnPropertiesForm .accessibilityPropGroupCell
{
    font-weight: bold;
    padding-bottom: 7px;
}
#dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm accessibilityPropGroupCell
{
    padding-left: 10px;
}
#dxInsertTableForm .propGroupContentCell,
#dxTableColumnPropertiesForm .propGroupContentCell
{
    padding-left: 20px;
}
#dxInsertTableForm .sizeTypeCell,
#dxTableColumnPropertiesForm .sizeTypeCell
{
    padding-left: 3px;
}
#dxInsertTableForm .rowsInputCell,
#dxTableColumnPropertiesForm .rowsInputCell
{
    padding-left: 9px;
}
#dxInsertTableForm .rowsCaptionCell,
#dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 0px;
}
#dxInsertTableForm .rowsSeparator,
#dxTableColumnPropertiesForm .rowsSeparator
{
    height: 18px;
}
#dxInsertTableForm .rowsHorizontalSeparator,
#dxTableColumnPropertiesForm .rowsHorizontalSeparator
{
    width: 50px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_PlasticBlue
{
	height: 1px;
}
.dxtbControl_PlasticBlue 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #2C4182;
    border-bottom: Solid 1px #2C4182;
}

.dxtbMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	background-color: #2C4182;
	background-image: url('tbItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
	border-style: none;
	padding: 0px;
}

.dxtbMenuSeparator_PlasticBlue .dx,
.dxtbMenuFullHeightSeparator_PlasticBlue .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxtbMenuSeparator_PlasticBlue,
.dxtbMenuFullHeightSeparator_PlasticBlue
{
	width: 1px;
}
.dxtbMenuSeparator_PlasticBlue .dx,
.dxtbMenuFullHeightSeparator_PlasticBlue
{
	background: transparent url('tbSeparatorHor.gif') left top repeat-y;
	width: 2px;
}
.dxtbMenuSeparator_PlasticBlue
{
	display: none;
}

.dxtbMenuItem_PlasticBlue, .dxtbMenuItemWithImage_PlasticBlue, .dxtbMenuItemWithPopOutImage_PlasticBlue, .dxtbMenuItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	white-space: nowrap;
	border-width: 0px;
	
	background-color: #3E5496;
	background-image: url('tbItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItem_PlasticBlue, .dxtbMenuItemWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemWithPopOutImage_PlasticBlue, .dxtbMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}	
.dxtbComboBoxMenuItem_PlasticBlue
{
    padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.dxtbMenuItemSelected_PlasticBlue, .dxtbMenuItemSelectedWithImage_PlasticBlue, .dxtbMenuItemSelectedWithPopOutImage_PlasticBlue, .dxtbMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	

	background-color: #273A79;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemSelected_PlasticBlue, .dxtbMenuItemSelectedWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemSelectedWithPopOutImage_PlasticBlue, .dxtbMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}

.dxtbMenuItemChecked_PlasticBlue, .dxtbMenuItemCheckedWithImage_PlasticBlue, .dxtbMenuItemCheckedWithPopOutImage_PlasticBlue, .dxtbMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	

	background-color: #273A79;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemChecked_PlasticBlue, .dxtbMenuItemCheckedWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemCheckedWithPopOutImage_PlasticBlue, .dxtbMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}	

.dxtbMenuItemHover_PlasticBlue, .dxtbMenuItemHoverWithImage_PlasticBlue, .dxtbMenuItemHoverWithPopOutImage_PlasticBlue, .dxtbMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	color: #FFFFFF;
	
	background-color: #E9E9E9;
	background-image: url('tbItemHBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemHover_PlasticBlue, .dxtbMenuItemHoverWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemHoverWithPopOutImage_PlasticBlue, .dxtbMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}

.dxtbSubMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
	
	border-bottom-width: 0px;
	padding: 0px 0px 0px 0px;
}
.dxtbSubMenuGutter_PlasticBlue
{
}
.dxtbSubMenuSeparator_PlasticBlue
{
	width: 100%;
	height: 1px;
	background-color: #FFFFFF!important;
}
.dxtbSubMenuItem_PlasticBlue, .dxtbSubMenuItemWithImage_PlasticBlue, 
.dxtbSubMenuItemWithPopOutImage_PlasticBlue, .dxtbSubMenuItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;	
	background-color: #F5F5F5;	
	border: Solid 1px White;
	white-space: nowrap;
}
/*Hyperlink*/
.dxtbSubMenuItem_PlasticBlue a, .dxtbSubMenuItemWithImage_PlasticBlue a, 
.dxtbSubMenuItemWithPopOutImage_PlasticBlue a, .dxtbSubMenuItemWithImageWithPopOutImage_PlasticBlue a
{
	font: 9pt Tahoma;
	color: black;	
	white-space: nowrap;
}

.dxtbSubMenuItem_PlasticBlue, .dxtbSubMenuItemWithImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.dxtbSubMenuItemWithPopOutImage_PlasticBlue, .dxtbSubMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxtbSubMenuItemDropDownButton_PlasticBlue
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxtbSubMenuItemSelected_PlasticBlue, .dxtbSubMenuItemSelectedWithImage_PlasticBlue, .dxtbSubMenuItemSelectedWithPopOutImage_PlasticBlue, .dxtbSubMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	background-color: #dedede;
	border: Solid 1px #dedede;
}
.dxtbSubMenuItemDropDownButtonSelected_PlasticBlue
{
	padding-right: 6px;
	padding-left: 7px;
}
.dxtbSubMenuItemChecked_PlasticBlue, .dxtbSubMenuItemCheckedWithImage_PlasticBlue, .dxtbSubMenuItemCheckedWithPopOutImage_PlasticBlue, .dxtbSubMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
}
.dxtbSubMenuItemDropDownButtonChecked_PlasticBlue
{
}
.dxtbSubMenuItemHover_PlasticBlue, .dxtbSubMenuItemHoverWithImage_PlasticBlue, .dxtbSubMenuItemHoverWithPopOutImage_PlasticBlue, .dxtbSubMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	background-color: #e9e9e9;
	border-bottom: Solid 1px #e9e9e9;
	border-right: Solid 1px #e9e9e9;
}
.dxtbSubMenuItemDropDownButtonHover_PlasticBlue
{
	padding-right: 6px;
	padding-left: 7px;
}
.dxtbSubMenuBorderCorrector_PlasticBlue
{
    position: absolute;
    border: 0px;
	padding: 0px;
}

.dxtbMenuItemSpacing_PlasticBlue,
.dxtbMenuItemSeparatorSpacing_PlasticBlue,
.dxtbSubMenuItemSeparatorSpacing_PlasticBlue
{
	display: none;
}
.dxtbSubMenuItemSpacing_PlasticBlue 
{
	height: 1px;
}

.dxtbMenuItemLeftImageSpacing_PlasticBlue
{
	padding-right: 4px;
}
.dxtbSubMenuItemImageSpacing_PlasticBlue
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxtbSubMenuItemImageSpacing_PlasticBlue div
{
	width: 0px;
	height: 1px;
}

/* ToolbarColorButton */
.dxtcbControl_PlasticBlue
{
	border-collapse:collapse;
	border-width: 0px;
}
.dxtcbControl_PlasticBlue td
{
	/*padding: 1px;	*/
}
.dxtcbImageCell_PlasticBlue, .dxtcbColorCell_PlasticBlue
{
	height:0px;
}
.dxtcbColorDiv_PlasticBlue
{
	width: 16px;
	height: 4px;
	font-size:0pt;
	background-color: Red;
}
/*----------------- RoundPanel -----------------*/
.dxheRPControl_PlasticBlue td.dxheRP
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* Header */
.dxheRPHeader_PlasticBlue, .dxrpHeader_PlasticBlue td.dxheRP
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;	
}
/* Disabled */
.dxheRPDisabled_PlasticBlue, .dxheRPDisabled_PlasticBlue td.dxheRP
{
	color: #808080;
	cursor: default;
}

/*----------------- UploadControl -----------------*/
.dxheucControl_PlasticBlue, .dxheucEditArea_PlasticBlue
{
    font: 9pt Tahoma, Verdana, Arial;
}
.dxheucErrorCell_PlasticBlue
{
    padding-left: 4px;
    font: 10px Tahoma, Verdana, Arial;
    color: #A91123;
    text-align: left;
}
