/* -- ASPxNavBar -- */ 
.dxnbControl_RedWineNavigation
{
	font: 9pt Tahoma;
	color: White;
	background-color: #9F1B4A;
	padding: 3px 0px;
}
.dxnbControl_RedWineNavigation a
{
	color: White; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_RedWineNavigation
{
    font: 11px Tahoma;
	color: White;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_RedWineNavigation table
{
    font: 11px Tahoma;
	color: White;
}
.dxnbGroupHeaderCollapsed_RedWineNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_RedWineNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #A92756;
    border: Solid 1px #B9426D;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_RedWineNavigation
{
    font: 11px Tahoma;
	color: White;

	background-color: #D45582;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #8A0A37;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_RedWineNavigation table
{
    font: 11px Tahoma;
	color: White;
	font-weight: bold;
}
.dxnbGroupHeader_RedWineNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_RedWineNavigation
{
    font: 11px Tahoma;
	background-color: #B73966;
	background-image: url('nbGroupContentBackground.gif');
	background-repeat: repeat-x;
	border: 0px;
	border-bottom: Solid 1px #C8678A;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_RedWineNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_RedWineNavigation
{
    color: #F0D8E1;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_RedWineNavigation
{
	background-color: #C64B78;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_RedWineNavigation 
{
    color: Black;
    background: #9F1B4A;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_RedWineNavigation a
{
	color: White; 
	text-decoration: none;
}
.dxnbLite_RedWineNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_RedWineNavigation .dxnb-header,
.dxnbLite_RedWineNavigation .dxnb-headerCollapsed 
{
	color: White;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_RedWineNavigation .dxnb-header
{
	color: White;
	background: #D45582 url('nbHeaderGroup.gif') repeat-x;
	font-weight: bold;	
	border: Solid 1px #8A0A37;
	padding: 3px 6px;
}
.dxnbLite_RedWineNavigation .dxnb-headerHover
{
}
.dxnbLite_RedWineNavigation .dxnb-headerCollapsedHover
{
    background: #A92756 url('nbHeaderGroupHover.gif') repeat-x;
    border: Solid 1px #B9426D;
	padding: 3px 6px 4px;
}
.dxnbLite_RedWineNavigation .dxnb-content 
{
	background: #B73966 url('nbGroupContentBackground.gif') repeat-x;
	border: none;
	border-bottom: Solid 1px #C8678A;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_RedWineNavigation .dxnb-item,
.dxnbLite_RedWineNavigation .dxnb-large,
.dxnbLite_RedWineNavigation .dxnb-bullet 
{
	font-size: 11px;
	color: White;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_RedWineNavigation .dxnb-item,
.dxnbLite_RedWineNavigation .dxnb-large,
.dxnbLite_RedWineNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_RedWineNavigation .dxnb-item,
.dxnbLite_RedWineNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_RedWineNavigation .dxnb-bullet,
.dxnbLite_RedWineNavigation .dxnb-bulletHover,
.dxnbLite_RedWineNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_RedWineNavigation .dxnb-itemSelected,
.dxnbLite_RedWineNavigation .dxnb-itemHover
{
}
.dxnbLite_RedWineNavigation .dxnb-largeSelected,
.dxnbLite_RedWineNavigation .dxnb-largeHover
{
}
.dxnbLite_RedWineNavigation .dxnb-itemSelected,
.dxnbLite_RedWineNavigation .dxnb-largeSelected
{
	color: #F0D8E1;
	font-weight: bold;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_RedWineNavigation .dxnb-itemHover,
.dxnbLite_RedWineNavigation .dxnb-largeHover
{
	background-color: #C64B78;
}
.dxnbLite_RedWineNavigation .dxnb-header,
.dxnbLite_RedWineNavigation .dxnb-headerCollapsed, 
.dxnbLite_RedWineNavigation .dxnb-item,
.dxnbLite_RedWineNavigation .dxnb-itemHover,
.dxnbLite_RedWineNavigation .dxnb-itemSelected,
.dxnbLite_RedWineNavigation .dxnb-bullet,
.dxnbLite_RedWineNavigation .dxnb-bulletHover,
.dxnbLite_RedWineNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_RedWineNavigation .dxnb-large,
.dxnbLite_RedWineNavigation .dxnb-largeHover,
.dxnbLite_RedWineNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_RedWineNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_RedWineNavigation .dxnb-btn,
.dxnbLite_RedWineNavigation .dxnb-btnLeft,
.dxnbLite_RedWineNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_RedWineNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_RedWineNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_RedWineNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_RedWineNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_RedWineNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_RedWineNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_RedWineNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_RedWineNavigation,
.dxnbLite_RedWineNavigation .dxnbLiteDisabled_RedWineNavigation,
.dxnbLiteDisabled_RedWineNavigation a,
.dxnbLiteDisabled_RedWineNavigation .dxnb-item,
.dxnbLiteDisabled_RedWineNavigation .dxnb-large,
.dxnbLiteDisabled_RedWineNavigation .dxnb-bullet,
.dxnbLiteDisabled_RedWineNavigation .dxnb-header,
.dxnbLiteDisabled_RedWineNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
