.dxeLoadingDiv_Office2003Olive
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingDivWithContent_Office2003Olive
{
	background: White;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.dxeLoadingPanel_Office2003Olive
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxeLoadingPanelWithContent_Office2003Olive
{
    font: 9pt Tahoma;
	color: #303030;
	border:solid 1px #a4b26d;
	background-color: white;
}

.dxeLoadingPanel_Office2003Olive td.dx,
.dxeLoadingPanelWithContent_Office2003Olive td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxeBase_Office2003Olive
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2003Olive, .dxeErrorCell_Office2003Olive td
{
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxeErrorCell_Office2003Olive
{
	padding-left: 4px;
	padding-right:5px;		
}
.dxeErrorFrame_Office2003Olive
{

}
.dxeErrorFrameWithoutError_Office2003Olive {
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2003Olive .dxeControlsCell_Office2003Olive {
    padding: 2px;
}
.dxeEditArea_Office2003Olive 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: solid 1px #608058;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary_Office2003Olive {
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxvsValidationSummary_Office2003Olive td.dxvsRC {
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2003Olive .dxvsE {
    
}

/* ValidationSummary - Header */

.dxvsValidationSummary_Office2003Olive table.dxvsHT {
    width: 100%;
}
.dxvsValidationSummary_Office2003Olive td.dxvsH {
    padding: 2px 0 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_Office2003Olive a.dxvsHL,
.dxvsValidationSummary_Office2003Olive a.dxvsHL:visited {
    color: red;
}
.dxvsValidationSummary_Office2003Olive a.dxvsHL {
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2003Olive a.dxvsHL:hover {
    color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_Office2003Olive table.dxvsT {
    
}
.dxvsValidationSummary_Office2003Olive tr.dxvsE {
    
}
.dxvsValidationSummary_Office2003Olive td.dxvsETC {
    padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_Office2003Olive ul.dxvsL {
    
}
.dxvsValidationSummary_Office2003Olive ol.dxvsL {
    
}
.dxvsValidationSummary_Office2003Olive li.dxvsE {
    padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2003Olive, .dxeCalendarButton_Office2003Olive,
.dxeSpinIncButton_Office2003Olive, .dxeSpinDecButton_Office2003Olive,
.dxeSpinLargeIncButton_Office2003Olive, .dxeSpinLargeDecButton_Office2003Olive
{
	vertical-align: middle;
	border: solid 1px #608058;
	cursor: pointer;
} 
.dxeButtonEditButton_Office2003Olive, .dxeCalendarButton_Office2003Olive, .dxeButtonEditButton_Office2003Olive td.dx, .dxeCalendarButton_Office2003Olive td.dx,
.dxeSpinIncButton_Office2003Olive, .dxeSpinDecButton_Office2003Olive,
.dxeSpinLargeIncButton_Office2003Olive, .dxeSpinLargeDecButton_Office2003Olive,
.dxeSpinIncButton_Office2003Olive td.dx, .dxeSpinDecButton_Office2003Olive td.dx,
.dxeSpinLargeIncButton_Office2003Olive td.dx, .dxeSpinLargeDecButton_Office2003Olive td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;    
	text-align: center;
} 
.dxeButtonEditButton_Office2003Olive
{
    padding: 0px 1px;
	background: url('edtButtonBack.gif') repeat-x center bottom #d8e3b6;
}
.dxeSpinIncButton_Office2003Olive, .dxeSpinDecButton_Office2003Olive
{
	border-style: none;	
	padding: 0px;
}
.dxeSpinLargeIncButton_Office2003Olive, .dxeSpinLargeDecButton_Office2003Olive
{
	border-style: none;
	padding: 0px;
}

.dxeButtonEditButton_Office2003Olive table.dxbebt
{
	width: 14px;
}
.dxeSpinLargeIncButton_Office2003Olive
{
    padding-left: 1px;
}
.dxeSpinIncButton_Office2003Olive
{
    background: url('edtSpinIncBtnBack.gif') no-repeat top left #9abbea;
	border-bottom: Solid 1px #FFFFFF;
}
.dxeSpinDecButton_Office2003Olive
{
	background: url('edtSpinDecBtnBack.gif') no-repeat top left #a2c1ec;
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_Office2003Olive, .dxeSpinLargeDecButton_Office2003Olive
{
   	background: url('edtSpinLargeIncBtnBack.gif') no-repeat top left #c1cf9e;
}

.dxeCalendarButton_Office2003Olive
{
	background: url('edtButtonBack.gif') repeat-x center bottom #d8e3b6;
	padding: 4px 11px;
	padding-top: 2px;
	width: 32px;
}
.dxeCalendarButton_Office2003Olive table.dxbebt
{
	width: 100%;
}
.dxeCalendarButton_Office2003Olive td.dx
{
	text-align: center;
	white-space: nowrap;
}
/* SpinButtons */
.dxeSpinIncButton_Office2003Olive table.dxbebt, .dxeSpinDecButton_Office2003Olive table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_Office2003Olive table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeIncButton_Office2003Olive table.dxbebt
{
	width: 14px;    
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2003Olive, .dxeButtonEditButtonPressed_Office2003Olive
{
	border: solid 1px #608058;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
/* SpinButtons */
.dxeSpinIncButtonPressed_Office2003Olive, .dxeSpinDecButtonPressed_Office2003Olive
{
    border-style: none;    
}
.dxeSpinIncButtonPressed_Office2003Olive
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonPressed_Office2003Olive
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonPressed_Office2003Olive, .dxeSpinLargeDecButtonPressed_Office2003Olive
{
	background: url('edtSpinLargeIncBtnPBack.gif') no-repeat top left #ffc17c;
	border-style: none;
}

/* -- Hover -- */
.dxeCalendarButtonHover_Office2003Olive, .dxeButtonEditButtonHover_Office2003Olive
{
	border: solid 1px #608058;
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
}
/* SpinButtons */
.dxeSpinIncButtonHover_Office2003Olive, .dxeSpinDecButtonHover_Office2003Olive
{
    border-style: none;    
}
.dxeSpinIncButtonHover_Office2003Olive
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom: Solid 1px #ffffff;    
}
.dxeSpinDecButtonHover_Office2003Olive
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonHover_Office2003Olive, .dxeSpinLargeDecButtonHover_Office2003Olive
{
	background: url('edtSpinLargeIncBtnHBack.gif') no-repeat top left #ffdaa1;
	border-style: none;
}

.dxeButtonEdit_Office2003Olive
{
    background-color: white;
    border: solid 1px #608058;
    width: 170px;
}
.dxeButtonEdit_Office2003Olive .dxeEditArea_Office2003Olive
{
    background-color: white;
}
.dxeButtonEdit_Office2003Olive .dxeEditArea_Office2003Olive, .dxeButtonEdit_Office2003Olive td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Office2003Olive td.dxic
{
    padding: 0px 2px 0px 1px;
}
.dxeButtonEdit_Office2003Olive .dxeIIC img {
    padding-left: 3px;
}
.dxeTextBox_Office2003Olive, .dxeMemo_Office2003Olive
{
    background-color: white;
    border: solid 1px #608058;
}
.dxeTextBox_Office2003Olive td.dxic
{
	padding: 1px 2px;
	width: 100%;
}
.dxeTextBox_Office2003Olive .dxeEditArea_Office2003Olive
{
    background-color: white;
}
.dxeRadioButtonList_Office2003Olive, .dxeRadioButtonList_Office2003Olive table
{
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_Office2003Olive
{
    border: Solid 1px #608058;
}
.dxeRadioButtonList_Office2003Olive td.dxe
{
    padding: 6px 11px;
    padding-right: 5px;
}
.dxeRadioButtonList_Office2003Olive label
{
	margin-right: 6px;    
}

/* -- Memo -- */
.dxeMemo_Office2003Olive
{

}
.dxeMemoEditArea_Office2003Olive 
{
	background-color: white;
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_Office2003Olive td
{
	padding: 0 0 0 4px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2003Olive
{
    font-family: Tahoma;
    font-size: 9pt;
	font-weight: normal;    
    color: black;    
	text-decoration: underline;
}

/* -- ListBox -- */
.dxeListBox_Office2003Olive
{
	background-color: white;
	border: solid 1px #608058;
	font-family: Tahoma;
    font-size: 9pt;
    height: 113px;    
    width: 70px;
}
.dxeListBox_Office2003Olive div.dxlbd
{
	padding-top: 1px;    
    height: 112px; 
}
.dxeListBox_Office2003Olive
{
    cursor: default;
}
.dxeListBoxItem_Office2003Olive
{    
    border-bottom: solid 1px white;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    color: Black;        
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;
    padding: 3px 2px 4px 3px;
    white-space: nowrap;
    text-align: left;
}
.dxeListBoxItem_Office2003Olive em
{ 
    background:none repeat scroll 0 0 #e3f0bb;
    color:#333333;
    font-weight:bold;
    font-style:normal;
}
.dxeListBoxItemSelected_Office2003Olive     /* inherits dxeListBoxItem */
{    
    color: black;
    background-color: #ffc076;
}
.dxeListBoxItemHover_Office2003Olive        /* inherits dxeListBoxItem */
{
    background-color: #e3f0bb;
}
.dxeListBoxItemHover_Office2003Olive em, .dxeListBoxItemSelected_Office2003Olive em
{
    background: none;
}
.dxeListBox_Office2003Olive td.dxeI, .dxeListBox_Office2003Olive td.dxeIM, .dxeListBox_Office2003Olive .dxeHIC,
.dxeListBox_Office2003Olive td.dxeFTM, .dxeListBox_Office2003Olive td.dxeTM,
.dxeListBox_Office2003Olive td.dxeC, .dxeListBox_Office2003Olive td.dxeCM, .dxeListBox_Office2003Olive td.dxeHCC, .dxeListBox_Office2003Olive td.dxeMI, .dxeListBox_Office2003Olive td.dxeMIM
{
    border-right-width: 0px!important;
}
.dxeListBox_Office2003Olive td.dxeCM, .dxeListBox_Office2003Olive td.dxeHCC
{
    width: 25px;
}
.dxeListBox_Office2003Olive td.dxeIM
{
    width: 0;
}
.dxeListBox_Office2003Olive td.dxeT
{
    width: 100%;    
    padding-left: 0px!important;
}
.dxeListBox_Office2003Olive td.dxeT, .dxeListBox_Office2003Olive td.dxeMI
{
    border-left-width: 0px!important;
}
.dxeListBox_Office2003Olive td.dxeFTM, .dxeListBox_Office2003Olive td.dxeTM, .dxeListBox_Office2003Olive td.dxeLTM,
.dxeListBox_Office2003Olive .dxeHFC, .dxeListBox_Office2003Olive .dxeHC, .dxeListBox_Office2003Olive .dxeHLC
{
    overflow: hidden;
}
.dxeListBox_Office2003Olive td.dxeFTM, .dxeListBox_Office2003Olive td.dxeTM, 
.dxeListBox_Office2003Olive .dxeHFC, .dxeListBox_Office2003Olive .dxeHC
{
    padding-right: 6px!important;
}
.dxeListBox_Office2003Olive td.dxeLTM, .dxeListBox_Office2003Olive td.dxeTM, 
.dxeListBox_Office2003Olive .dxeHC,  .dxeListBox_Office2003Olive .dxeHLC
{
    padding-left: 6px!important;
}
/*Grid lines*/
.dxeListBox_Office2003Olive td.dxeLTM, .dxeListBox_Office2003Olive td.dxeTM, .dxeListBox_Office2003Olive td.dxeMIM
{
    border-left: 1px solid #CDD6A7 !important;
}
.dxeListBox_Office2003Olive td.dxeIM, .dxeListBox_Office2003Olive td.dxeFTM, .dxeListBox_Office2003Olive td.dxeTM, .dxeListBox_Office2003Olive td.dxeLTM,
.dxeListBox_Office2003Olive td.dxeCM, .dxeListBox_Office2003Olive td.dxeMIM
{
    border-bottom: solid 1px #CDD6A7;
}
/*Header*/
.dxeListBox_Office2003Olive .dxeHD
{
    background-color: #B8C692;
    background-image:url('lbHeaderBackground.gif');
    background-position:center top;
    background-repeat:repeat-x;
    border-bottom: solid 1px #608058;
}
.dxeListBox_Office2003Olive .dxeHFC, .dxeListBox_Office2003Olive .dxeHIC, .dxeListBox_Office2003Olive .dxeHC,  .dxeListBox_Office2003Olive .dxeHLC,
.dxeListBox_Office2003Olive td.dxeHCC, .dxeListBox_Office2003Olive td.dxeHMIC
{
    border-bottom-width: 0px;
    padding-top: 4px;
    padding-bottom: 5px;
}
.dxeListBox_Office2003Olive .dxeHC,  .dxeListBox_Office2003Olive .dxeHLC, .dxeListBox_Office2003Olive td.dxeHMIC
{
    border-left: solid 1px #608058;
}
.dxeListBox_Office2003Olive .dxeHIC, .dxeListBox_Office2003Olive .dxeHFC, .dxeListBox_Office2003Olive .dxeHCC
{
    border-left:1px solid #B8C692;
}
.dxeListBox_Office2003Olive .dxeHFC, .dxeListBox_Office2003Olive .dxeHC, .dxeListBox_Office2003Olive .dxeHMIC
{
    border-right-width:0;
}
.dxeListBox_Office2003Olive .dxeHLC
{
    border-right: solid 1px #608058;
}

/* -- Calendar -- */
.dxeCalendar_Office2003Olive
{
 	color: black;
	font-weight: normal; 	
    border: solid 1px #608058;
    background-color: white;
}
.dxeCalendar_Office2003Olive td.dxMonthGrid 
{
    padding: 8px 20px;
    cursor: default;
}
.dxeCalendar_Office2003Olive td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
    cursor: default;
}
.dxeCalendarDayHeader_Office2003Olive
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 5px;    
    border-bottom: solid 1px #d5e1b1;    
}
.dxeCalendarWeekNumber_Office2003Olive
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;    
	padding: 6px 8px 2px 4px;
    color: #b7c691;
}
.dxeCalendarDay_Office2003Olive
{    
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;    
    text-align: center;    
}
.dxeCalendarWeekend_Office2003Olive        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_Office2003Olive     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_Office2003Olive      /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarToday_Office2003Olive               /* inherits dxeCalendarDay */
{
    padding: 3px;
    border: solid 1px #c00000;
}
.dxeCalendarSelected_Office2003Olive       /* inherits dxeCalendarDay */
{
    color: black;
    background-color: #ffc076;
}
.dxeCalendarHeader_Office2003Olive
{
    background: url('edtCalendarHeadBack.gif') repeat-x center bottom #f4f7de;
    border: solid 1px #d4e5a9;
	border-width: 1px 0;
    padding: 4px 7px;
}
.dxeCalendarHeader_Office2003Olive td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_Office2003Olive 
{
    background-color: #e3ebc5;
    padding: 8px 0px;    
    border-top: solid 1px #d4e5a9;
}
.dxeCalendarFastNav_Office2003Olive
{
    background: white;
    border: solid 1px #608058;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_Office2003Olive
{
    padding: 0px 9px;
}
.dxeCalendarFastNavFooter_Office2003Olive
{
	color: black;
    background-color: #e3ebc5;
    padding: 8px 0px;   
    border: solid 1px #608058;
    border-top: solid 1px #d4e5a9;
}
.dxeCalendarFastNavMonth_Office2003Olive, .dxeCalendarFastNavYear_Office2003Olive
{
    font: normal 9pt Tahoma;
    color: Black;
    padding: 3px 5px;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_Office2003Olive
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_Office2003Olive, .dxeCalendarFastNavYearSelected_Office2003Olive
{
    border: solid 1px #608058;
    background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_Office2003Olive
{
	padding: 5px;
}
.dxeCalendarFastNavMonthHover_Office2003Olive, .dxeCalendarFastNavYearHover_Office2003Olive
{        
    background: #e3ebc5;
    border: solid 1px #608058;
    padding: 2px 4px;    
}
.dxeCalendarFastNavMonthHover_Office2003Olive
{
	padding: 5px;
}
/* Disabled */
.dxeDisabled_Office2003Olive, .dxeDisabled_Office2003Olive td.dxe
{
	color: #aaaaaa;
	cursor: default;
}
.dxeButtonDisabled_Office2003Olive, .dxeButtonDisabled_Office2003Olive td.dxe
{
    border-color: #bfbfbf;
    background: #cccccc url('edtButtonBackDis.gif') repeat-x top;
	color: #aaaaaa;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2003Olive
{	
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
	vertical-align: middle;	 		
	border: solid 1px #608058;
	background: url('edtButtonBack.gif') repeat-x center bottom #d8e3b6;    
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
.dxbButtonHover_Office2003Olive 
{
  	color: #000000;        
	border: solid 1px #608058;
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
}
.dxbButtonChecked_Office2003Olive 
{
    color: #000000;
	border: solid 1px #608058;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
.dxbButtonPressed_Office2003Olive 
{
  	color: #000000;        
	border: solid 1px #608058;
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
}
.dxbButton_Office2003Olive div.dxb
{    
    padding: 4px 8px 5px 8px;
	border: 0px;
}
.dxbButton_Office2003Olive div.dxbf
{     
    padding: 3px 7px 4px 7px;
	border: dotted 1px black;		
}
.dxbButton_Office2003Olive div.dxb table
{    
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
}
.dxbButton_Office2003Olive div.dxb td.dxb
{    
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Disabled */
.dxbDisabled_Office2003Olive
{
    background: #cecece url('edtButtonBackDis.gif') repeat-x top;
    border-color: #BFBFBF;
	color: #808080;
	cursor: default;
}
.dxbDisabled_Office2003Olive td.dxb
{
	color: #808080;
}
/* -- FilterControl -- */
.dxfcTable_Office2003Olive
{
	border-collapse: separate!important;
}
.dxfcTable_Office2003Olive td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 9pt Tahoma;
	color: Black;	
}
a.dxfcPropertyName_Office2003Olive
{
	white-space:nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2003Olive
{
	white-space:nowrap!important;
	padding:0px 3px 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2003Olive
{
	white-space:nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2003Olive
{
	white-space:nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_Office2003Olive 
{
	cursor: pointer;
}
.dxfcLoadingPanel_Office2003Olive
{
	border: solid 1px #a4b26d;
	background-color: white;
	font: 9pt Tahoma;
	color: #758D5E;
}
.dxfcLoadingPanel_Office2003Olive td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxfcLoadingDiv_Office2003Olive
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeMaskHint_Office2003Olive 
{
	background: #ffffe1;
	border: solid 1px black;
	padding: 2px 5px 3px;
	color: Black;
	font: 9pt Tahoma;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2003Olive
{
    border: Solid 1px #758d5e;
    background-color: #e2e8c9;
}
.dxeProgressBar_Office2003Olive .dxePBMainCell {
    padding: 1px;
}
.dxeProgressBar_Office2003Olive td.dxe
{
    padding: 0;
}
.dxeProgressBar_Office2003Olive, .dxeProgressBar_Office2003Olive td.dxe
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: Black;    
}
.dxeProgressBarIndicator_Office2003Olive
{
    background-color: #b5c48f;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_Office2003Olive
{
    background-color: white;
    border: solid 1px #608058;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2003Olive
{
    border: solid 1px #608058;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeColorTable_Office2003Olive
{
    background-color: white;
    border: solid 1px #608058;
}
.dxeColorTable_Office2003Olive td.dx
{
   padding: 4px 4px;
}
.dxeColorTableCell_Office2003Olive {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_Office2003Olive {
    border: solid 1px #808080;
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.dxeColorTableCellSelected_Office2003Olive {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;

    background-color: #CBCBCB;
    border: solid 1px #888888;
}
.dxeColorTableCellHover_Office2003Olive {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    
    background-color: #F2F2F2;
    border: solid 1px #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2003Olive
{

}
.dxeInvalid_Office2003Olive .dxeEditArea_Office2003Olive,
.dxeInvalid_Office2003Olive .dxeMemoEditArea_Office2003Olive {
    
}

/* -- Focused Style -- */
.dxeFocused_Office2003Olive 
{
    border: solid 1px #293e24;
}

/* -- Null Text Style -- */
.dxeNullText_Office2003Olive .dxeEditArea_Office2003Olive,
.dxeNullText_Office2003Olive .dxeMemoEditArea_Office2003Olive
{
    color: #aaa;
}


/* -- Captcha -- */
.dxcaRefreshButton_Office2003Olive
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_Office2003Olive
{
	color: #aaaaaa;
}

.dxcaRefreshButtonCell_Office2003Olive
{
	padding-left: 4px;
	padding-right: 4px;
}

.dxcaRefreshButtonText_Office2003Olive
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_Office2003Olive
{
	text-decoration: none;
}

.dxcaTextBoxCell_Office2003Olive
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCell_Office2003Olive, .dxcaTextBoxCellNoIndent_Office2003Olive
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCellNoIndent_Office2003Olive .dxeErrorCell_Office2003Olive
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2003Olive
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_Office2003Olive
{
	font: 9pt Tahoma;
	color: #303030;
}

.dxcaLoadingPanel_Office2003Olive td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}


