body {
    background-color: #F6F9FF;
    color: #171D2D;

    background-image: url('Gradient.jpg'); 
    background-position: left top; 
    background-repeat: no-repeat;
}

.BannerLime a { color: #E9E9F0; }
.BannerLime { color: #E9E9F0; }
.BannerVersion { color: #DEDEE5; }
.Copyright { color: #9A99B2; }

.Features b * { font-weight: normal; color: #171D2D; font-size: 16px; font-family: Tahoma; }
.RootPage {
    color: #171D2D; 
}
.RootPage a { color: #171D2D; }

/* Label for Appearance combobox */
.lblSkins { color: #282828; }
.Title h1.h1Blue { color: #000000; }
.ContentMargin { margin-left: 0px!important; }
.Slogan { color: #9695AE!important; }
.MiniSlogan { color: #FB9766!important; }

/* Icon menu */
.dxmMenu_Demo
{
	color: #282828;
}
.dxmMenuSeparator_Demo .dx,
.dxmMenuFullHeightSeparator_Demo .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_Demo,
.dxmMenuFullHeightSeparator_Demo
{
	width: 1px;
}
.dxmMenuSeparator_Demo .dx,
.dxmMenuFullHeightSeparator_Demo
{
	background-color: #282828;
	width: 1px;
}
.dxmMenuSeparator_Demo .dx 
{
	height: 15px;
}
.dxmMenuFullHeightSeparator_Demo
{
	display: none;
}
.dxmMenu_Demo a
{
	color: #282828;
	text-decoration: underline;
}
/* Icon menu lite */
.dxmLite_Demo {
	color: black;
}
.dxmLite_Demo .dxm-separator {
	padding: 1px 7px 0px !important;
}
.dxmLite_Demo .dxm-separator b {
    width: 1px;
    height: 15px;
	background-color: black;
}
.dxmLite_Demo a.dx {
	color: black;
	text-decoration: underline;
}

/* Header for TitleImage Area*/
.DetailsPageHeader {
    background-color: #E3E3EC;
    width: 100%;
    border: Solid 4px #EDEDF3;
}
.DetailsPageHeader table {
    width: 100%;
    border: Solid 1px #7C7C94;
    padding: 1px 5px 6px;
    height: 60px;
}
.DetailsPageHeader table td {
    width: 100%;
}
.DetailsPageHeader table img {
    margin-top: 8px;
    margin-left: 15px;
}
.DetailsPageHeaderBottom {
    height: 0px; 
    background-color: #EDEDF3; 
}
.DetailsPageLeftEdgeHeader { display: none; }
.DetailsPageRightEdgeHeader { display: none; }
.DetailsPageLeftEdge { display: none; }
.DetailsPageRightEdge {	display: none; }
.DetailsPageContent {
    background-color: #EDEDF3;
    padding: 25px 31px 28px;
}
.DetailsPageFooter {
    width: 100%; 
    background-color: #EDEDF3;
}
.DetailsSorceCodeArea {
    width: 100%; 
    padding-top: 21px;
}

