/* -- ASPxNavBar -- */ 
.dxnbControl_SoftOrangeNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #F0F0F0;
	padding: 3px 0px;
}
.dxnbControl_SoftOrangeNavigation a
{
	color: #5b5b5b; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_SoftOrangeNavigation
{
    font: 11px Tahoma;
	color: #5b5b5b;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_SoftOrangeNavigation table
{
    font: 11px Tahoma;
    color: #5b5b5b;
}
.dxnbGroupHeaderCollapsed_SoftOrangeNavigation table td
{
    white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_SoftOrangeNavigation
{
    background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #CFCFCF;
    border-top: Dotted 1px #4B4B4B;
    border-bottom: Dotted 1px #4B4B4B;
    padding: 3px 7px 4px 7px;
}
.dxnbGroupHeader_SoftOrangeNavigation
{
    font: 11px Tahoma;
    color: #707070;

    background-color: #E3E3E3;
    font-weight: bold;

    background-image: url('nbHeaderGroup.gif');
    background-repeat : repeat-x;

    border-top: Dotted 1px #5C5C5C;
    border-bottom: Dotted 1px #5C5C5C;

    padding: 2px 7px 2px 7px;
}
.dxnbGroupHeader_SoftOrangeNavigation table
{
    font: 11px Tahoma;
	color: #707070;
	font-weight: bold;
}
.dxnbGroupHeader_SoftOrangeNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_SoftOrangeNavigation
{
    font: 11px Tahoma;
	background-color: White;
	border: 0px;
	border-bottom: Dotted 1px #767676;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_SoftOrangeNavigation
{
    color: #707070;
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_SoftOrangeNavigation
{
    color: #707070;
    font-weight: bold;
    background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_SoftOrangeNavigation
{
	background-color: #D3D3D3;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_SoftOrangeNavigation 
{
    color: Black;
    background: #F0F0F0;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_SoftOrangeNavigation a
{
	color: #5b5b5b; 
	text-decoration: none;
}
.dxnbLite_SoftOrangeNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-header,
.dxnbLite_SoftOrangeNavigation .dxnb-headerCollapsed 
{
	color: #5b5b5b;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_SoftOrangeNavigation .dxnb-header
{
	color: #707070;
	background: #E3E3E3 url('nbHeaderGroup.gif') repeat-x;
	font-weight: bold;	
	 border-top: Dotted 1px #5C5C5C;
    border-bottom: Dotted 1px #5C5C5C;
	padding: 2px 7px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-headerHover
{
}
.dxnbLite_SoftOrangeNavigation .dxnb-headerCollapsedHover
{
    background: #CFCFCF url('nbHeaderGroupHover.gif') repeat-x;
    border-top: Dotted 1px #4B4B4B;
    border-bottom: Dotted 1px #4B4B4B;
	padding: 3px 7px 4px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-content 
{
	background: White;
	border: none;
	border-bottom: Dotted 1px #767676;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_SoftOrangeNavigation .dxnb-item,
.dxnbLite_SoftOrangeNavigation .dxnb-large,
.dxnbLite_SoftOrangeNavigation .dxnb-bullet 
{
	color: #707070;
	font-size: 11px;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_SoftOrangeNavigation .dxnb-item,
.dxnbLite_SoftOrangeNavigation .dxnb-large,
.dxnbLite_SoftOrangeNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-item,
.dxnbLite_SoftOrangeNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-bullet,
.dxnbLite_SoftOrangeNavigation .dxnb-bulletHover,
.dxnbLite_SoftOrangeNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-itemSelected,
.dxnbLite_SoftOrangeNavigation .dxnb-itemHover
{
}
.dxnbLite_SoftOrangeNavigation .dxnb-largeSelected,
.dxnbLite_SoftOrangeNavigation .dxnb-largeHover
{
}
.dxnbLite_SoftOrangeNavigation .dxnb-itemSelected,
.dxnbLite_SoftOrangeNavigation .dxnb-largeSelected
{
	color: #707070;
	font-weight: bold;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-itemHover,
.dxnbLite_SoftOrangeNavigation .dxnb-largeHover
{
	background-color: #D3D3D3;
}
.dxnbLite_SoftOrangeNavigation .dxnb-header,
.dxnbLite_SoftOrangeNavigation .dxnb-headerCollapsed, 
.dxnbLite_SoftOrangeNavigation .dxnb-item,
.dxnbLite_SoftOrangeNavigation .dxnb-itemHover,
.dxnbLite_SoftOrangeNavigation .dxnb-itemSelected,
.dxnbLite_SoftOrangeNavigation .dxnb-bullet,
.dxnbLite_SoftOrangeNavigation .dxnb-bulletHover,
.dxnbLite_SoftOrangeNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_SoftOrangeNavigation .dxnb-large,
.dxnbLite_SoftOrangeNavigation .dxnb-largeHover,
.dxnbLite_SoftOrangeNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_SoftOrangeNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_SoftOrangeNavigation .dxnb-btn,
.dxnbLite_SoftOrangeNavigation .dxnb-btnLeft,
.dxnbLite_SoftOrangeNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_SoftOrangeNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_SoftOrangeNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_SoftOrangeNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_SoftOrangeNavigation,
.dxnbLite_SoftOrangeNavigation .dxnbLiteDisabled_SoftOrangeNavigation,
.dxnbLiteDisabled_SoftOrangeNavigation a,
.dxnbLiteDisabled_SoftOrangeNavigation .dxnb-item,
.dxnbLiteDisabled_SoftOrangeNavigation .dxnb-large,
.dxnbLiteDisabled_SoftOrangeNavigation .dxnb-bullet,
.dxnbLiteDisabled_SoftOrangeNavigation .dxnb-header,
.dxnbLiteDisabled_SoftOrangeNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
