.dxgvControl_Office2003Olive,
.dxgvDisabled_Office2003Olive
{
	border: solid 1px #a4b26d;
	font: 9pt Tahoma;
	background-color: White;
	color: Black;
	cursor: default;
}
.dxgvDisabled_Office2003Olive 
{
	color: Gray;
}
.dxgvControl_Office2003Olive a 
{
	color: black;
}
.dxgvDisabled_Office2003Olive a
{
	color: Gray;
}
.dxgvLoadingPanel_Office2003Olive
{
	border:solid 1px #a4b26d;
	background-color: white;
	font: 9pt Tahoma;
	color: #758D5E;
}
.dxgvLoadingPanel_Office2003Olive td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxgvLoadingPanelStatusBar_Office2003Olive
{
	background-color: transparent;
	font: 9pt Tahoma;
	color: #758D5E;
}
.dxgvLoadingPanelStatusBar_Office2003Olive td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px 0px 2px;
}

.dxgvFilterPopupWindow_Office2003Olive
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #5f7f57;
}
.dxgvFilterPopupItemsArea_Office2003Olive
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_Office2003Olive
{
	font: 9pt Tahoma;
	background-color: #e3f0bb;
	border: 1px solid #dcdcdc;
	border-left-width: 0px;
	color: Black;
}

.dxgvFilterPopupItem_Office2003Olive td.dxgv,
.dxgvFilterPopupActiveItem_Office2003Olive td.dxgv,
.dxgvFilterPopupSelectedItem_Office2003Olive td.dxgv
{
	padding: 3px 2px 4px 3px;
	border-left: 1px solid White;
	border-bottom: 1px solid White;
	border-right: 1px solid White;
	cursor: default;
	white-space: nowrap;	
}
.dxgvFilterPopupActiveItem_Office2003Olive
{   
    background: #e3f0bb;
    color: Black;
}
.dxgvFilterPopupSelectedItem_Office2003Olive
{
    background: #ffc076;
    color: Black;
}

.dxgvTable_Office2003Olive
{
	background-color: transparent;
	border:0;
	border-collapse: separate !important;
	overflow:hidden;
	font: 9pt Tahoma;
	color: Black;
}
.dxgvInlineEditRow_Office2003Olive,
.dxgvDataRow_Office2003Olive
{
}
.dxgvInlineEditRow_Office2003Olive td.dxgv
{
	border-bottom: solid 1px #a4b26d;
	border-right: 1px solid #a4b26d;
	background: #e1e9be;
}
.dxgvDataRowAlt_Office2003Olive
{
	background-color: #f1fed8;
}
.dxgvFilterRow_Office2003Olive 
{
	background: #cfd9a3;	
}
.dxgvEditForm_Office2003Olive 
{	
	background-color: #e1e9be;
}
.dxgvEditForm_Office2003Olive td.dxgv
{
	border-bottom: solid 1px #a4b26d;
	padding: 0px 0px 2px 0px;
}
.dxgvSelectedRow_Office2003Olive
{	
	background: #ffc076;
}
.dxgvFocusedRow_Office2003Olive
{
	background: url('gvFocusedBack.gif') repeat-x center bottom #fff2c8;
}
.dxgvPreviewRow_Office2003Olive
{
	background-color: white;
}
.dxgvDetailCell_Office2003Olive,
.dxgvPreviewRow_Office2003Olive td.dxgv,
.dxgvEmptyDataRow_Office2003Olive td.dxgv
{
	padding: 2px 2px 4px 4px;
	border-bottom: solid 1px #cdd6a7;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.dxgvDetailRow_Office2003Olive td.dxgvIndentCell
{
    border-bottom: solid 1px #cdd6a7;    
}
.dxgvEmptyDataRow_Office2003Olive
{
	color: Gray;
}
.dxgvEmptyDataRow_Office2003Olive td.dxgv
{
	text-align:center;
}

.dxgvEditFormDisplayRow_Office2003Olive td.dxgv,
.dxgvDataRow_Office2003Olive td.dxgv,
.dxgvDataRowAlt_Office2003Olive td.dxgv,
.dxgvSelectedRow_Office2003Olive td.dxgv,
.dxgvFocusedRow_Office2003Olive td.dxgv
{
	overflow:hidden;
	border-bottom: solid 1px #cdd6a7;
	border-right: solid 1px #cdd6a7;
	border-top: 0;
	border-left: 0;
	padding: 2px 6px 5px 6px;
}
.dxgvEditFormDisplayRow_Office2003Olive td.dxgv 
{
	background: #e1e9be;	
}
.dxgvSelectedRow_Office2003Olive td.dxgv
{
	border-color: #fe9552;
}
.dxgvEditingErrorRow_Office2003Olive
{
	background-color: #FE9552;
	color: #FFFFFF;
}
.dxgvEditingErrorRow_Office2003Olive td.dxgv
{
	white-space: pre-wrap;
	font-weight: bold;
	border-bottom: solid 1px #a4b26d;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	padding: 6px 10px 6px 10px;
}

.dxgvFilterRow_Office2003Olive td.dxgv
{
	border-bottom: solid 1px #a4b26d;
	border-right: 1px solid #a4b26d;
	border-top: 0;
	border-left: 0;
	padding: 2px 2px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_Office2003Olive
{
	background-color: #cfd9a3;
}
.dxgvFocusedGroupRow_Office2003Olive
{
	background: url('gvFocusedBack.gif') repeat-x center bottom #fff2c8;
}
.dxgvGroupRow_Office2003Olive td.dxgv,
.dxgvFocusedGroupRow_Office2003Olive td.dxgv
{
	border: none 0;
	vertical-align:middle;
	white-space:nowrap;
	border-top: solid 1px white;
	border-bottom: solid 1px #a4b26d;
	padding: 2px 6px 3px 6px;
}
.dxgvFocusedRow_Office2003Olive td.dxgvIndentCell,
.dxgvFocusedGroupRow_Office2003Olive td.dxgvIndentCell,
.dxgvSelectedRow_Office2003Olive td.dxgvIndentCell
{
	background-color: #CFD9A3!important;
	border-right: solid 1px #A4B26D;
	border-top: 0px;
}
.dxgvHeaderPanel_Office2003Olive {	
	background: url('gvGradient.gif') repeat-x center top #b8c692;
	color: Black;
	padding: 8px 6px 8px 6px;
	border-bottom: solid 1px #a4b26d;
}

.dxgvHeader_Office2003Olive {
	cursor:pointer;
	white-space:nowrap;
	padding:  4px 6px 5px 6px;
	border: solid 1px #a4b26d;
	background: url('gvGradient.gif') repeat-x center top #b8c692;
	overflow:hidden;
    font-weight: normal;
    text-align: left;
}
.dxgvHeader_Office2003Olive, .dxgvHeader_Office2003Olive table {
	color: Black;
	font: 9pt Tahoma;
}
.dxgvHeader_Office2003Olive td {
	white-space:nowrap;
}
.dxgvCustomization_Office2003Olive,
.dxgvPopupEditForm_Office2003Olive  
{
	width:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.dxgvGroupPanel_Office2003Olive
{
	white-space:nowrap;	
	background: #cfd9a3;
	border-bottom: solid 1px #a4b26d;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_Office2003Olive
{	
	background-color: #bdcb85;
	white-space:nowrap;
}
.dxgvFooter_Office2003Olive td.dxgv
{
	padding: 3px 6px 5px;
	border-bottom: solid 1px #a4b26d;
	border-right: solid 1px #a4b26d;
}
.dxgvGroupFooter_Office2003Olive
{
	background-color: #bdcb85;
	white-space: nowrap;
}
.dxgvGroupFooter_Office2003Olive td.dxgv
{
	padding: 4px;
	border-bottom: solid 1px #cdd6a7;
	border-right: solid 1px #cdd6a7;
}
.dxgvDataRow_Office2003Olive td.dxgvIndentCell,
.dxgvGroupRow_Office2003Olive td.dxgvIndentCell,
.dxgvGroupFooter_Office2003Olive td.dxgvIndentCell
{
    background-color: #CFD9A3;
	border-right: Solid 1px #A4B26D;
	border-top: 0px;
}

.dxgvTitlePanel_Office2003Olive,
.dxgvTable_Office2003Olive caption
{
	color: White;
	font-weight:bold;
	padding:3px;
	text-align:center;	
	border-bottom: solid 1px #a4b26d;
	background: url('gvTitleBack.gif') repeat-x center top #6d834d;
}
.dxgvLoadingDiv_Office2003Olive
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvStatusBar_Office2003Olive 
{
	border-top: solid 1px #a4b26d;
}
.dxgvStatusBar_Office2003Olive tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_Office2003Olive
{
	padding: 2px 2px 2px 2px;
}
.dxgvCommandColumn_Office2003Olive a
{
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumnItem_Office2003Olive
{	
}
.dxgvEditFormTable_Office2003Olive
{
	padding: 2px 6px 6px 4px;
	font: 9pt Tahoma;
	color: Black;
}
.dxgvEditFormCaption_Office2003Olive
{
	padding: 4px 4px 4px 10px; 
}

.dxgvInlineEditCell_Office2003Olive
{
	padding: 1px 1px 1px 1px; 
}

.dxgvEditFormCell_Office2003Olive
{
	padding: 4px 4px 4px 4px; 
	border: 0;
}

.dxgvFilterBar_Office2003Olive 
{	
	border-top: solid 1px #a4b26d;
	background-color: #cfd9a3;	
}
.dxgvFilterBar_Office2003Olive a
{
	color: black;	
	text-decoration: underline;		
}
.dxgvFilterBarCheckBoxCell_Office2003Olive
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxgvFilterBarImageCell_Office2003Olive
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_Office2003Olive
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Office2003Olive
{
	font-size: 9pt;
	padding: 5px 6px 8px;	
}
.dxgvFilterBuilderMainArea_Office2003Olive 
{
	background: white;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_Office2003Olive
{
	background-color: #E2E8C9;
	border-top: solid 1px #C3CF9D;
	padding: 6px;
}

.dxgvDataRowHover_Office2003Olive
{
	background: #e3f0bb;
	color: Black;
}
