/* -- ASPxSpellChecker -- */
.dxwscLoadingDiv_Youthful
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscCheckedTextContainer_Youthful
{
	background-color: white;
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	border: solid 1px #afc185;
	vertical-align:top;
	overflow:auto;
	width: 340px;
	height: 110px;
	padding: 5px;

}
.dxwscErrorWord_Youthful
{
	color: #ce0808;
	font-weight: bold;
}
.dxwscLoadingPanel_Youthful
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxwscLoadingPanel_Youthful td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

/*-- Dialog Forms --*/
.leftBottomButton {
	padding-top: 10px;
	padding-bottom: 10px;
}

.rightBottomButton 
{
	padding: 10px 15px 10px 10px;
	width: 100px;	
}

.footerBackground 
{
	background-color: #9CC525;
}

#dxMainSpellCheckFormTable 
{
	width: 480px;
}
#dxMainSpellCheckFormTable .contentSCFormContainer
{
	padding:15px 15px 0px 15px;
}

#dxSpellCheckForm .buttonsTable 
{
	width: 100px;
}

#dxSpellCheckForm .buttonTableContainer
{
	padding-left: 10px;
	padding-top: 5px;
}

#dxSpellCheckForm .checkedDivContainer 
{
	overflow: hidden;
	padding-top:5px;
}

#dxSpellCheckForm .changeToText
{
	padding-top: 15px;
}

#dxSpellCheckForm .verticalSeparator 
{
	padding-top: 5px;
}

#dxSpellCheckForm .listBoxContainer 
{
	padding-top:5px;
	padding-bottom:20px;
}

#dxMainSpellCheckOptionsFormTable 
{
	width: 400px;
}

#dxMainSpellCheckOptionsFormTable .contentSCOptionsFormContainer
{
	padding:15px 15px 0px 15px;
}


#dxOptionsForm .languagePanel 
{
	padding-top:10px;
	padding-bottom: 20px;
}
