/* -- ASPxNavBar -- */ 
.dxnbControl_PlasticBlueNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #96B3EE;
	padding: 3px 0px;
}
.dxnbControl_PlasticBlueNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_PlasticBlueNavigation
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_PlasticBlueNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_PlasticBlueNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_PlasticBlueNavigation
{
	background-image: url('nbHeaderGroupHover.gif');
    background-repeat: repeat-x;
    background-color: #9EB9F3;
    border: Solid 1px #B0C6F8;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_PlasticBlueNavigation
{
    font: 11px Tahoma;
	color: #405497;

	background-color: #405497;
	font-weight: bold;

	background-image: url('nbHeaderGroup.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #2C4182;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_PlasticBlueNavigation table
{
    font: 11px Tahoma;
	color: White;
	font-weight: bold;
}
.dxnbGroupHeader_PlasticBlueNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_PlasticBlueNavigation
{
    font: 11px Tahoma;
	background-color: #F5F5F5;
	border: 0px;
	border-bottom: Solid 1px #829CD9;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_PlasticBlueNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_PlasticBlueNavigation
{
    color: Black;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_PlasticBlueNavigation
{
	background-color: #C9D6F7;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_PlasticBlueNavigation 
{
    color: Black;
    background: #96B3EE;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_PlasticBlueNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbLite_PlasticBlueNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-header,
.dxnbLite_PlasticBlueNavigation .dxnb-headerCollapsed 
{
	color: Black;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_PlasticBlueNavigation .dxnb-header
{
	color: White;
	background: #405497 url('nbHeaderGroup.gif') repeat-x;
	font-weight: bold;	
	border: Solid 1px #2C4182;
	padding: 3px 6px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-headerHover
{
}
.dxnbLite_PlasticBlueNavigation .dxnb-headerCollapsedHover
{
    background: #9EB9F3 url('nbHeaderGroupHover.gif') repeat-x;
    border: Solid 1px #B0C6F8;
	padding: 3px 6px 4px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-content 
{
	background: #F5F5F5;
	border: none;
	border-bottom: Solid 1px #829CD9;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_PlasticBlueNavigation .dxnb-item,
.dxnbLite_PlasticBlueNavigation .dxnb-large,
.dxnbLite_PlasticBlueNavigation .dxnb-bullet 
{
	font-size: 11px;
	color: Black;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_PlasticBlueNavigation .dxnb-item,
.dxnbLite_PlasticBlueNavigation .dxnb-large,
.dxnbLite_PlasticBlueNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-item,
.dxnbLite_PlasticBlueNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-bullet,
.dxnbLite_PlasticBlueNavigation .dxnb-bulletHover,
.dxnbLite_PlasticBlueNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-itemSelected,
.dxnbLite_PlasticBlueNavigation .dxnb-itemHover
{
}
.dxnbLite_PlasticBlueNavigation .dxnb-largeSelected,
.dxnbLite_PlasticBlueNavigation .dxnb-largeHover
{
}
.dxnbLite_PlasticBlueNavigation .dxnb-itemSelected,
.dxnbLite_PlasticBlueNavigation .dxnb-largeSelected
{
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-itemHover,
.dxnbLite_PlasticBlueNavigation .dxnb-largeHover
{
	background-color: #C9D6F7;
}
.dxnbLite_PlasticBlueNavigation .dxnb-header,
.dxnbLite_PlasticBlueNavigation .dxnb-headerCollapsed, 
.dxnbLite_PlasticBlueNavigation .dxnb-item,
.dxnbLite_PlasticBlueNavigation .dxnb-itemHover,
.dxnbLite_PlasticBlueNavigation .dxnb-itemSelected,
.dxnbLite_PlasticBlueNavigation .dxnb-bullet,
.dxnbLite_PlasticBlueNavigation .dxnb-bulletHover,
.dxnbLite_PlasticBlueNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_PlasticBlueNavigation .dxnb-large,
.dxnbLite_PlasticBlueNavigation .dxnb-largeHover,
.dxnbLite_PlasticBlueNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_PlasticBlueNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_PlasticBlueNavigation .dxnb-btn,
.dxnbLite_PlasticBlueNavigation .dxnb-btnLeft,
.dxnbLite_PlasticBlueNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_PlasticBlueNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_PlasticBlueNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_PlasticBlueNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_PlasticBlueNavigation,
.dxnbLite_PlasticBlueNavigation .dxnbLiteDisabled_PlasticBlueNavigation,
.dxnbLiteDisabled_PlasticBlueNavigation a,
.dxnbLiteDisabled_PlasticBlueNavigation .dxnb-item,
.dxnbLiteDisabled_PlasticBlueNavigation .dxnb-large,
.dxnbLiteDisabled_PlasticBlueNavigation .dxnb-bullet,
.dxnbLiteDisabled_PlasticBlueNavigation .dxnb-header,
.dxnbLiteDisabled_PlasticBlueNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
