<%@ Page Language="VB" MasterPageFile="~/MasterPages/NoWizard2.master" AutoEventWireup="false"
    CodeFile="IPRTX.aspx.vb" Inherits="IPRTX" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main_body" runat="server">
    </div>
</asp:Content>
