﻿body {
    font-family: Verdana,Segoe UI, Helvetica, Sans-Serif;
    font-size: .7em;
    color: #3c3c3c;
    border-collapse: collapse;
}

a {
    color: #5a9ddb;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #c983e4;
    }

    a[disabled=disabled] {
        cursor: default;
        text-decoration: none;
        pointer-events: none;
    }

select,
input[type=text] {
    font-size: 1em;
    margin: 3px;
    width: 92%;
}

.InValidTextBox {
    border: 1px solid red;
    height: 15px;
}

label {
    margin-left: 3px;
    margin-right: 3px;
}

input[type=button],
input[type=submit] {
    color: #1e395b;
    font-size: 1.1em;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid #abbad0;
    border-collapse: separate;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
}

    [disabled],
    input[type=button]:disabled,
    input[type=submit]:disabled {
        color: #C6C6C6;
        cursor: default;
        pointer-events: none;
    }

.styled-select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(downarrow.png) no-repeat right;
    background-position: 30px 7px;
    width: 40px;
    height: 15px;
    text-indent: 0.01px;
    overflow: hidden;
}

.LoginHtmlButton {
    background-image: url(../images/login_icon.gif);
    background-position: left;
    padding-left: 16px;
    height: 36px;
    width: 100px;
    border-collapse: separate;
}

    .LoginHtmlButton:hover {
        border: 1px solid rgb(238, 204, 83);
        background-color: rgb(248, 225, 138);
    }

.LoginButton {
    background-color: #d1dfef;
    background-image: url(../images/login_icon26px.gif);
    background-position-x: 5px;
    background-position-y: 5px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border-collapse: separate;
    height: 36px;
}

    .LoginButton:hover {
        border: 1px solid rgb(238, 204, 83);
        background-color: #f8e18a;
    }

.MenuButton {
    display: inline-block;
    background-color: #d1dfef;
}

    .MenuButton:hover {
        border-collapse: separate;
        border: 1px solid rgb(238, 204, 83);
        background-color: #f8e18a; /*rgb(248, 225, 138);*/
    }

.divHeader {
    border-left: 1px solid #8ba0bc;
    border-right: 1px solid #8ba0bc;
    border-top: 1px solid #8ba0bc;
    border-bottom: 1px solid #c0c2c6;
    margin: auto;
    display: block;
    background-color: #cdd9e8;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 11px;
    padding-left: 9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    width: 268px;
}

.divContents {
    margin: auto;
    border: 1px solid #8ba0bc;
    display: block;
    border-top-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #eaf1fa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 9px;
    /*box-shadow: 0 0 10px #999;*/
}

.dateBox {
    background-image: url(../images/icons/Calendar16px.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    border: 1px solid #999;
    height: 16px;
}

.ajax-content {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: no-repeat rgb(0,0,0);
    background: no-repeat rgba(0,0,0,.75);
    filter: alpha(opacity=75);
    z-index: 10000;
    display: none;
    background-attachment: fixed;
    background-position: center;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px; /* -1 * image width / 2 */
    margin-top: -80px; /* -1 * image height / 2 */
    display: block;
    width: 330px;
    height: 81px;
    border: 1px solid Black;
    border-radius: 5px;
    background-color: white;
}

.PopUp {
    display: none; /* Hide the DIV */
    position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    z-index: 100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    top: 20%;
    left: 33%;
}

.successMsg {
    color: green;
}

.failureMsg {
    color: red;
}
.rightAlign { 
    text-align:right; 
}

