/* -- ASPxCallbackPanel -- */
.dxcpLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxcpLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingPanelWithContent_Glass 
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #7EACB1;
	background-color: White;
}
.dxcpLoadingPanelWithContent_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingDiv_Glass
{
	background-color: Gray;
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxcpDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
	cursor: default;
}

/* -- ASPxCloudControl -- */
.dxccControl_Glass a:hover
{
    text-decoration:underline!important;
}
.dxccControl_Glass a
{
	text-decoration:none!important;
	color: #B4CFEC;	
}
.dxccControl_Glass
{
	font-family: Tahoma, Verdana, Arial;
	text-decoration:none;
	color: #B4CFEC;
	background-color: #FFFFFF;
	font-size: 25px;
}
/* Disabled */
.dxccDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxDataView -- */
.dxdvControl_Glass 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: Solid 1px #98BFC2;	
}
.dxdvControl_Glass td.dxdvCtrl
{
	padding: 1px 1px 1px 1px;
}
.dxdvLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #7EACB1;
	background-color: White;
}
.dxdvLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxdvContent_Glass
{
}
.dxdvItem_Glass, .dxdvFlowItem_Glass
{
	font: 9pt Tahoma;
	color: #333434;
	background-color: #EDF3F4;
	padding: 12px 50px 12px 50px;
	height: 180px;
	/*if IE*/	
	height:expression("154px");
}
.dxdvFlowItem_Glass
{
	float: left;
	overflow: hidden;
}
.dxdvFlowItemsContainer_Glass
{
}
.dxdvEmptyItem_Glass
{
	font: 9pt Tahoma;
	color: #333434;
	text-align: left;
	vertical-align: top;
	padding: 12px 50px 12px 50px;
	height: 180px;
	/*if IE*/
	height:expression("154px");
}
.dxdvEmptyData_Glass
{
	color: Gray;
	padding: 11px 39px 11px 39px;
}
/* Disabled */
.dxdvDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxHeadline -- */
.dxhlControl_Glass
{
	font: 10px Tahoma;
	color: black;
	background-color: white;
	padding: 12px 8px 12px 3px;
}
.dxhlContent_Glass
{
	font: 9pt Tahoma;
	color: #575757;
}
.dxhlDate_Glass
{
	color: #9B9B9B;
	white-space: nowrap;    
}
.dxhlHeader_Glass
{
	font: 12pt Tahoma;
	color: #387FA4;
	line-height: 110%;
}
.dxhlLeftPanel_Glass
{
	font: 10px Verdana;
	color: black;
}
.dxhlRightPanel_Glass
{
  	font: 10px Verdana;
	color: black;
}
.dxhlTailDiv_Glass a
{
	text-decoration: underline;
	color: #2A769D;
}
.dxhlTailDiv_Glass a:hover
{
}
.dxhlTailDiv_Glass a:visited
{
    color: #996085;
}
.dxhlContent_Glass a.dxhl
{
	text-decoration: underline;
	color: #2A769D;
} 
.dxhlContent_Glass a.dxhl:hover
{
}
.dxhlContent_Glass a.dxhl:visited
{
    color: #996085;
}
/* Disabled */
.dxhlDisabled_Glass
{
	color: #808080;
	cursor: default;
}

/* -- ASPxLoadingPanel -- */
.dxlpLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #7EACB1;
	background-color: White;
}
.dxlpLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxlpLoadingDiv_Glass
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}

/* -- ASPxMenu -- */
.dxmControl_Glass
{
	font: 9pt Tahoma;
	color: black;
}
.dxmControl_Glass a, .dxmMenu_Glass a, .dxmVerticalMenu_Glass a, .dxmSubMenu_Glass a
{
	color: black;
	text-decoration: none;
}
.dxmControl_Glass a:hover
{
	text-decoration:none;
}
.dxmLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxmLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 6px 6px 6px 6px;
}
.dxmMenu_Glass, .dxmVerticalMenu_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #F0F0F0;
	border: Solid 1px #A5A6A8;
	padding: 0px 0px 0px 0px;
	
	background-image: url('mItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}

.dxmVerticalMenu_Glass
{
	background-color: #EDF3F4;
	padding: 1px 1px 1px 1px;
	
	background-image: url('mVItemBack.gif');
    background-repeat:repeat-x;
    background-position:top;
}

.dxmMenuGutter_Glass
{
}

.dxmMenuSeparator_Glass .dx,
.dxmMenuFullHeightSeparator_Glass .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_Glass,
.dxmMenuFullHeightSeparator_Glass
{
	width: 1px;
}

.dxmMenuSeparator_Glass .dx,
.dxmMenuFullHeightSeparator_Glass,
.dxmMenuVerticalSeparator_Glass
{
	background-color: #A5A6A8;
	width: 1px;
}
.dxmMenuSeparator_Glass
{
	display: none;
}
.dxmMenuVerticalSeparator_Glass
{
	width: 100%;
	height: 1px;
}

.dxmMenuItem_Glass, .dxmMenuItemWithImage_Glass, .dxmMenuItemWithPopOutImage_Glass, .dxmMenuItemWithImageWithPopOutImage_Glass,
.dxmVerticalMenuItem_Glass, .dxmVerticalMenuItemWithImage_Glass, .dxmVerticalMenuItemWithPopOutImage_Glass, .dxmVerticalMenuItemWithImageWithPopOutImage_Glass, 
.dxmMenuLargeItem_Glass, .dxmMenuLargeItemWithImage_Glass, .dxmMenuLargeItemWithPopOutImage_Glass, .dxmMenuLargeItemWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItem_Glass, .dxmVerticalMenuLargeItemWithImage_Glass, .dxmVerticalMenuLargeItemWithPopOutImage_Glass, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Glass
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	
	background-image: url('mItemBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					
}
.dxmVerticalMenuItem_Glass, .dxmVerticalMenuItemWithImage_Glass, .dxmVerticalMenuItemWithPopOutImage_Glass, .dxmVerticalMenuItemWithImageWithPopOutImage_Glass
{
	/*border-bottom: Solid 1px #D5D5D5;*/
	border-bottom-style: none;	
	border-top-style: none;	
	border-left-style: none;
	border-right-style: none;	
	
	background-image: url('mVItemBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmVerticalMenuLargeItem_Glass, .dxmVerticalMenuLargeItemWithImage_Glass, .dxmVerticalMenuLargeItemWithPopOutImage_Glass, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Glass
{
	/*border-bottom: Solid 1px #D5D5D5;*/
	border-bottom-style: none;
	border-top-style:  none;	
	border-left-style: none;
	border-right-style: none;
	
	background-image: url('mLargeItemBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmMenuLargeItem_Glass, .dxmMenuLargeItemWithImage_Glass, .dxmMenuLargeItemWithPopOutImage_Glass, .dxmMenuLargeItemWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItem_Glass, .dxmVerticalMenuLargeItemWithImage_Glass, .dxmVerticalMenuLargeItemWithPopOutImage_Glass, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Glass
{
	background-image: url('mLargeItemBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}

.dxmMenuItem_Glass, .dxmMenuItemWithImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItem_Glass
{
	padding-right: 13px;
	padding-left: 13px;	    
}

.dxmMenuItemWithPopOutImage_Glass, .dxmMenuItemWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemWithPopOutImage_Glass
{
	padding-right: 13px;
	padding-left: 13px;    
}
.dxmVerticalMenuItem_Glass
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmVerticalMenuItemWithImage_Glass
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;
}
.dxmVerticalMenuItemWithPopOutImage_Glass
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 4px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemWithImageWithPopOutImage_Glass
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmMenuLargeItem_Glass, .dxmMenuLargeItemWithImage_Glass
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemWithPopOutImage_Glass, .dxmMenuLargeItemWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItem_Glass, .dxmVerticalMenuLargeItemWithImage_Glass
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemWithPopOutImage_Glass, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Glass
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButton_Glass, .dxmMenuLargeItemDropDownButton_Glass
{
	padding-right: 12px;
	padding-left: 12px;
}
.dxmVerticalMenuItemDropDownButton_Glass, .dxmVerticalMenuLargeItemDropDownButton_Glass
{
	padding-right: 7px;
	padding-left: 7px;
}

.dxmMenuItemSelected_Glass, .dxmMenuItemSelectedWithImage_Glass, .dxmMenuItemSelectedWithPopOutImage_Glass, .dxmMenuItemSelectedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuItemSelected_Glass, .dxmVerticalMenuItemSelectedWithImage_Glass, .dxmVerticalMenuItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Glass,
.dxmMenuLargeItemSelected_Glass, .dxmMenuLargeItemSelectedWithImage_Glass, .dxmMenuLargeItemSelectedWithPopOutImage_Glass, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemSelected_Glass, .dxmVerticalMenuLargeItemWithImageSelected_Glass, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	background-image: url('mItemSBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.dxmMenuItemSelected_Glass a, .dxmMenuItemSelectedWithImage_Glass a, .dxmMenuItemSelectedWithPopOutImage_Glass a, .dxmMenuItemSelectedWithImageWithPopOutImage_Glass a,
.dxmVerticalMenuItemSelected_Glass a, .dxmVerticalMenuItemSelectedWithImage_Glass a, .dxmVerticalMenuItemSelectedWithPopOutImage_Glass a, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Glass a,
.dxmMenuLargeItemSelected_Glass a, .dxmMenuLargeItemSelectedWithImage_Glass a, .dxmMenuLargeItemSelectedWithPopOutImage_Glass a, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Glass a,
.dxmVerticalMenuLargeItemSelected_Glass a, .dxmVerticalMenuLargeItemWithImageSelected_Glass a, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Glass a, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Glass a
{
    color: White;
}
.dxmVerticalMenuItemSelected_Glass, .dxmVerticalMenuItemSelectedWithImage_Glass, .dxmVerticalMenuItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemSelected_Glass, .dxmVerticalMenuLargeItemWithImageSelected_Glass, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	
	background-image: url('mVItemSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				
}
.dxmMenuLargeItemSelected_Glass, .dxmMenuLargeItemSelectedWithImage_Glass, .dxmMenuLargeItemSelectedWithPopOutImage_Glass, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemSelected_Glass, .dxmVerticalMenuLargeItemWithImageSelected_Glass, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Glass
{
	background-image: url('mLargeItemSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				    
}

.dxmMenuItemSelected_Glass, .dxmMenuItemSelectedWithImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItemSelected_Glass
{
	padding-right: 13px;
	padding-left: 13px;
}

.dxmMenuItemSelectedWithPopOutImage_Glass, .dxmMenuItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemSelectedWithPopOutImage_Glass
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemSelected_Glass
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithImage_Glass
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemSelectedWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemSelected_Glass, .dxmMenuLargeItemSelectedWithImage_Glass
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemSelectedWithPopOutImage_Glass, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemSelected_Glass, .dxmVerticalMenuLargeItemSelectedWithImage_Glass
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonSelected_Glass, .dxmMenuLargeItemDropDownButtonSelected_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 12px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonSelected_Glass, .dxmVerticalMenuLargeItemDropDownButtonSelected_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 7px;
	padding-left: 6px;
}

.dxmMenuItemChecked_Glass, .dxmMenuItemCheckedWithImage_Glass, .dxmMenuItemCheckedWithPopOutImage_Glass, .dxmMenuItemCheckedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuItemChecked_Glass, .dxmVerticalMenuItemCheckedWithImage_Glass, .dxmVerticalMenuItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Glass,
.dxmMenuLargeItemChecked_Glass, .dxmMenuLargeItemCheckedWithImage_Glass, .dxmMenuLargeItemCheckedWithPopOutImage_Glass, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemChecked_Glass, .dxmVerticalMenuLargeItemWithImageChecked_Glass, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	background-image: url('mItemSBack.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.dxmVerticalMenuItemChecked_Glass, .dxmVerticalMenuItemCheckedWithImage_Glass, .dxmVerticalMenuItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemChecked_Glass, .dxmVerticalMenuLargeItemWithImageChecked_Glass, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Glass
{
	background-color: white;
	color: White;
	
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	
	background-image: url('mVItemSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				
}
.dxmMenuLargeItemChecked_Glass, .dxmMenuLargeItemCheckedWithImage_Glass, .dxmMenuLargeItemCheckedWithPopOutImage_Glass, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemChecked_Glass, .dxmVerticalMenuLargeItemWithImageChecked_Glass, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Glass
{
	background-image: url('mLargeItemSBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;				    
}

.dxmMenuItemChecked_Glass, .dxmMenuItemCheckedWithImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;	
}
.dxmMenuItemChecked_Glass
{
	padding-right: 13px;
	padding-left: 13px;
}

.dxmMenuItemCheckedWithPopOutImage_Glass, .dxmMenuItemCheckedWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxmMenuItemCheckedWithPopOutImage_Glass
{
	padding-right: 13px;
	padding-left: 13px;	
}	

.dxmVerticalMenuItemChecked_Glass
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithImage_Glass
{
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemCheckedWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Glass
{
	padding-top: 3px;	
	padding-right: 6px;	
	padding-bottom: 4px;	
	padding-left: 8px;	
}
.dxmMenuLargeItemChecked_Glass, .dxmMenuLargeItemCheckedWithImage_Glass
{
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;
}
.dxmMenuLargeItemCheckedWithPopOutImage_Glass, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemChecked_Glass, .dxmVerticalMenuLargeItemCheckedWithImage_Glass
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_Glass, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Glass
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonChecked_Glass, .dxmMenuLargeItemDropDownButtonChecked_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 12px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonChecked_Glass, .dxmVerticalMenuLargeItemDropDownButtonChecked_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 7px;
	padding-left: 6px;
}

.dxmMenuItemHover_Glass, .dxmMenuItemHoverWithImage_Glass, .dxmMenuItemHoverWithPopOutImage_Glass, .dxmMenuItemHoverWithImageWithPopOutImage_Glass, 
.dxmVerticalMenuItemHover_Glass, .dxmVerticalMenuItemHoverWithImage_Glass, .dxmVerticalMenuItemHoverWithPopOutImage_Glass, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Glass, 
.dxmMenuLargeItemHover_Glass, .dxmMenuLargeItemHoverWithImage_Glass, .dxmMenuLargeItemHoverWithPopOutImage_Glass, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Glass, 
.dxmVerticalMenuLargeItemHover_Glass, .dxmVerticalMenuLargeItemHoverWithImage_Glass, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Glass, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Glass
{
	background-color: #CBCBCB;
	color: black;
	
	background-image: url('mItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmMenuItemHover_Glass a, .dxmMenuItemHoverWithImage_Glass a, .dxmMenuItemHoverWithPopOutImage_Glass a, .dxmMenuItemHoverWithImageWithPopOutImage_Glass a, 
.dxmVerticalMenuItemHover_Glass a, .dxmVerticalMenuItemHoverWithImage_Glass a, .dxmVerticalMenuItemHoverWithPopOutImage_Glass a, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Glass a, 
.dxmMenuLargeItemHover_Glass a, .dxmMenuLargeItemHoverWithImage_Glass a, .dxmMenuLargeItemHoverWithPopOutImage_Glass a, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Glass a, 
.dxmVerticalMenuLargeItemHover_Glass a, .dxmVerticalMenuLargeItemHoverWithImage_Glass a, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Glass a, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Glass a
{
    color: black;
}
.dxmVerticalMenuItemHover_Glass, .dxmVerticalMenuItemHoverWithImage_Glass, .dxmVerticalMenuItemHoverWithPopOutImage_Glass, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Glass, 
.dxmVerticalMenuLargeItemHover_Glass, .dxmVerticalMenuLargeItemHoverWithImage_Glass, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Glass, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Glass
{
	/*border-bottom: solid 1px #98BFC2;*/
	border-bottom-style: none;
	border-top-style: none;	
	border-left-style: none;
	border-right-style: none;
	color: black;	
	
	background-image: url('mVItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxmMenuLargeItemHover_Glass, .dxmMenuLargeItemHoverWithImage_Glass, .dxmMenuLargeItemHoverWithPopOutImage_Glass, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Glass,
.dxmVerticalMenuLargeItemHover_Glass, .dxmVerticalMenuLargeItemHoverWithImage_Glass, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Glass, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Glass
{
	background-image: url('mLargeItemHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;    
}

.dxmMenuItemHover_Glass, .dxmMenuItemHoverWithImage_Glass
{
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;		
}
.dxmMenuItemHover_Glass
{
	padding-right: 13px;
	padding-left: 13px;		
}
.dxmMenuItemHoverWithPopOutImage_Glass, .dxmMenuItemHoverWithImageWithPopOutImage_Glass
{	
	padding-top: 4px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 9px;		
}	
.dxmMenuItemHoverWithPopOutImage_Glass
{	
	padding-right: 13px;
	padding-left: 13px;		
}	
.dxmVerticalMenuItemHover_Glass
{
	padding-top: 3px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmVerticalMenuItemHoverWithImage_Glass
{    
	padding-top: 3px;	
	padding-right: 19px;	
	padding-bottom: 4px;	
	padding-left: 8px;		
}
.dxmVerticalMenuItemHoverWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmVerticalMenuItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxmMenuLargeItemHover_Glass, .dxmMenuLargeItemHoverWithImage_Glass
{    
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 11px;		
}
.dxmMenuLargeItemHoverWithPopOutImage_Glass, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;    		
}
.dxmVerticalMenuLargeItemHover_Glass, .dxmVerticalMenuLargeItemHoverWithImage_Glass
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemHoverWithPopOutImage_Glass, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButtonHover_Glass, .dxmMenuLargeItemDropDownButtonHover_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 12px;
	padding-left: 11px;
}
.dxmVerticalMenuItemDropDownButtonHover_Glass, .dxmVerticalMenuLargeItemDropDownButtonHover_Glass
{
	border-left: solid #A5A6A8 1px;
	padding-right: 7px;
	padding-left: 6px;
}
.dxmSubMenu_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: solid 1px #7EACB1;
	padding: 2px 2px 2px 2px;
}
.dxmSubMenuGutter_Glass
{
	background-color: #EDF3F4;
}
.dxmSubMenuSeparator_Glass
{
	width: 100%;
	height: 1px;
	background-color: #7EACB1;
}
.dxmSubMenuItem_Glass, .dxmSubMenuItemWithImage_Glass, .dxmSubMenuItemWithPopOutImage_Glass, .dxmSubMenuItemWithImageWithPopOutImage_Glass
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxmSubMenuItem_Glass, .dxmSubMenuItemWithImage_Glass
{
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmSubMenuItemWithPopOutImage_Glass
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 11px;
}
.dxmSubMenuItemWithImageWithPopOutImage_Glass
{	
    padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;    
}
.dxmSubMenuItemDropDownButton_Glass
{
	padding-right: 7px;
	padding-left: 7px;
}
.dxmSubMenuItemSelected_Glass, .dxmSubMenuItemSelectedWithImage_Glass, .dxmSubMenuItemSelectedWithPopOutImage_Glass, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Glass
{
	background-color: #9ECED6;
	border: solid 1px #87B8C7;
}
.dxmSubMenuItemSelected_Glass, .dxmSubMenuItemSelectedWithImage_Glass
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemSelectedWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemSelectedWithImageWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxmSubMenuItemDropDownButtonSelected_Glass
{
	padding-right: 6px;
	padding-left: 6px;
}
.dxmSubMenuItemChecked_Glass, .dxmSubMenuItemCheckedWithImage_Glass, .dxmSubMenuItemCheckedWithPopOutImage_Glass, .dxmSubMenuItemCheckedWithImageWithPopOutImage_Glass
{
}
.dxmSubMenuItemChecked_Glass, .dxmSubMenuItemCheckedWithImage_Glass
{
}
.dxmSubMenuItemCheckedWithPopOutImage_Glass
{
}
.dxmSubMenuItemCheckedWithImageWithPopOutImage_Glass
{
}
.dxmSubMenuItemDropDownButtonChecked_Glass
{
}
.dxmSubMenuItemHover_Glass, .dxmSubMenuItemHoverWithImage_Glass, .dxmSubMenuItemHoverWithPopOutImage_Glass, .dxmSubMenuItemHoverWithImageWithPopOutImage_Glass
{
	background-color: #D9ECED;
	border: solid 1px #C0DDE0;
}
.dxmSubMenuItemHover_Glass, .dxmSubMenuItemHoverWithImage_Glass
{
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemHoverWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
}
.dxmSubMenuItemHoverWithImageWithPopOutImage_Glass
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;    
}
.dxmSubMenuItemDropDownButtonHover_Glass
{
	padding-right: 6px;
	padding-left: 6px;
}
.dxmSubMenuBorderCorrector_Glass
{
    position: absolute;
    border: 0px;
	padding: 0px;
}

.dxmMenuItemSpacing_Glass,
.dxmMenuLargeItemSpacing_Glass,
.dxmMenuItemSeparatorSpacing_Glass,
.dxmMenuLargeItemSeparatorSpacing_Glass,
.dxmVerticalMenuItemSpacing_Glass,
.dxmVerticalMenuItemSeparatorSpacing_Glass,
.dxmVerticalMenuLargeItemSpacing_Glass,
.dxmVerticalMenuLargeItemSeparatorSpacing_Glass
{
	display: none;
}
.dxmSubMenuItemSpacing_Glass,
.dxmSubMenuItemSeparatorSpacing_Glass
{
	height: 1px;
}

.dxmMenuItemLeftImageSpacing_Glass
{
	padding-right: 5px;
}
.dxmMenuItemRightImageSpacing_Glass
{
	padding-left: 5px;
}
.dxmVerticalMenuItemLeftImageSpacing_Glass,
.dxmVerticalMenuItemRightImageSpacing_Glass,
.dxmSubMenuItemImageSpacing_Glass
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxmVerticalMenuItemLeftImageSpacing_Glass div,
.dxmVerticalMenuItemRightImageSpacing_Glass div
{
	width: 5px;
	height: 1px;
}
.dxmMenuItemTopImageSpacing_Glass,
.dxmVerticalMenuItemTopImageSpacing_Glass
{
	margin-bottom: 5px;
}
.dxmMenuItemBottomImageSpacing_Glass,
.dxmVerticalMenuItemBottomImageSpacing_Glass
{
	margin-top: 5px;
}
.dxmSubMenuItemImageSpacing_Glass div
{
	width: 7px;
	height: 1px;
}

/* Disabled */
.dxmDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
}

/*                     */
/* -- ASPxMenu Lite -- */
/*                     */
.dxm-main,
.dxm-horizontal ul.dx {
	float: left;
}
.dxm-popup {
	position: relative;
}
ul.dx {
	list-style: none none outside;
	margin: 0;
	padding: 0;
	
	background-repeat: repeat-y;
	background-position: left top;
}
.dxm-image,
.dxm-pImage {
	border-width: 0px;
	vertical-align: top;
}
.dxm-popOut,
.dxm-spacing,
.dxm-separator,
.dxm-separator b {
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.dxm-horizontal .dxm-item,
.dxm-horizontal .dxm-spacing,
.dxm-horizontal .dxm-separator,
.dxm-content,
.dxm-horizontal .dxm-popOut,
.dxm-vertical .dxm-image-r .dxm-popOut {
    float: left;
}
.dxm-vertical .dxm-image-l .dxm-popOut,
.dxm-vertical .dxm-image-t .dxm-popOut,
.dxm-vertical .dxm-image-b .dxm-popOut,
.dxm-popup .dxm-popOut {
	float: right;
}
.dxm-ie7 .dxm-vertical ul.dx,
.dxm-ie7 .dxm-popup ul.dx {
	height: 1%;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-popup .dxm-item {
	margin-bottom: -2px;
}
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-spacing {
	margin-top: -4px;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-item,
.dxm-ie7 .dxm-popup .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-separator {
	zoom: 1;
}
.dxm-vertical .dxm-separator b,
.dxm-popup .dxm-separator b {
	margin: 0px auto;
}
.dxm-ie7 .dxm-vertical .dxm-separator b,
.dxm-ie7 .dxm-popup .dxm-separator b {
	margin: 0px;
}
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-separator {
	text-align: center;
}

/* Appearance */
.dxmLite_Glass .dxm-main {
	border: solid 1px #A5A6A8;
}

.dxmLite_Glass .dxm-horizontal {
	padding: 0px;
	background-color: #F0F0F0;
}
.dxmLite_Glass .dxm-vertical {
	width: 150px;
	
	padding: 1px;
	background-color: #EDF3F4;
}

.dxmLite_Glass .dxm-popup {
	border: solid 1px #7EACB1;
	background-color: #EDF3F4;
	padding: 2px;
}

.dxmBC_Glass {
	background-color: #EDF3F4;
}

.dxmLite_Glass ul.dx {
	font: 9pt Tahoma;
}

.dxmLite_Glass .dxm-item {
	cursor: default;
}

.dxmLite_Glass .dxm-image-t .dxm-item,
.dxmLite_Glass .dxm-image-b .dxm-item,
.dxmLite_Glass .dxm-content {
	text-align: center;
	white-space: nowrap;
}

.dxmLite_Glass,
.dxmLite_Glass .dxm-content a.dx {
	color: Black;
}
.dxmLite_Glass .dxm-hovered,
.dxmLite_Glass .dxm-hovered .dxm-content a.dx {
	color: Black !important;
}

.dxmLite_Glass .dxm-disabled,
.dxmLite_Glass .dxm-disabled .dxm-content a.dx {
	color: #93a1a4;
}

.dxmLite_Glass .dxm-content a.dx {
	text-decoration: none;
}

.dxmLite_Glass .dxm-vertical .dxm-item,
.dxmLite_Glass .dxm-vertical .dxm-image-t.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-vertical .dxm-image-b.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-item.dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-item.dxm-noImage {
	background-image: url('mVItemBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.dxmLite_Glass .dxm-horizontal,
.dxmLite_Glass .dxm-horizontal .dxm-item,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-item.dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-item.dxm-noImage {
	background-image: url('mItemBack.gif');
	background-repeat: repeat-x;
	background-position: top;
}

.dxmLite_Glass .dxm-main .dxm-image-t .dxm-item,
.dxmLite_Glass .dxm-main .dxm-image-b .dxm-item {
	background-image: url('mLargeItemBack.gif');
}

.dxmLite_Glass .dxm-popup .dxm-item {
	border-width: 1px;
}
.dxmLite_Glass .dxm-dropDownMode .dxm-popOut {
	border-width: 0px 0px 0px 1px;
}
.dxmLite_Glass .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	border-width: 0px 1px 0px 0px;
}
.dxmLite_Glass .dxm-popup .dxm-item,
.dxmLite_Glass .dxm-dropDownMode .dxm-popOut {
	border-color: transparent;
	border-style: solid;
}

/* Checked, Selected, Hovered */
.dxmLite_Glass .dxm-main .dxm-selected,
.dxmLite_Glass .dxm-main .dxm-selected .dxm-content a.dx,
.dxmLite_Glass .dxm-main .dxm-checked,
.dxmLite_Glass .dxm-main .dxm-checked .dxm-content a.dx {
	color: White;
}

.dxmLite_Glass .dxm-dropDownMode.dxm-hovered .dxm-popOut {
	border-color: #A5A6A8;
}
.dxmLite_Glass .dxm-horizontal .dxm-checked,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-checked,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-checked,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-checked.dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-checked.dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-selected,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-selected,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-selected,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-selected.dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-selected.dxm-noImage {
	background: url('mItemSBack.gif') repeat-x top White;
}
.dxmLite_Glass .dxm-horizontal .dxm-hovered,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-hovered,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-hovered,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-hovered.dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-hovered.dxm-noImage {
	background: url('mItemHBack.gif') repeat-x top #CBCBCB;
}
.dxmLite_Glass .dxm-vertical .dxm-checked,
.dxmLite_Glass .dxm-vertical .dxm-image-t.dxm-noImages .dxm-checked,
.dxmLite_Glass .dxm-vertical .dxm-image-b.dxm-noImages .dxm-checked,
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-checked.dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-checked.dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-selected,
.dxmLite_Glass .dxm-vertical .dxm-image-t.dxm-noImages .dxm-selected,
.dxmLite_Glass .dxm-vertical .dxm-image-b.dxm-noImages .dxm-selected,
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-selected.dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-selected.dxm-noImage {
	background: url('mVItemSBack.gif') repeat-x top White;
}
.dxmLite_Glass .dxm-vertical .dxm-hovered,
.dxmLite_Glass .dxm-vertical .dxm-image-t.dxm-noImages .dxm-hovered,
.dxmLite_Glass .dxm-vertical .dxm-image-b.dxm-noImages .dxm-hovered,
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-hovered.dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-hovered.dxm-noImage {
	background: url('mVItemHBack.gif') repeat-x top #CBCBCB;
}
.dxmLite_Glass .dxm-main .dxm-image-t .dxm-checked,
.dxmLite_Glass .dxm-main .dxm-image-t .dxm-selected,
.dxmLite_Glass .dxm-main .dxm-image-b .dxm-checked,
.dxmLite_Glass .dxm-main .dxm-image-b .dxm-selected {
	background: url('mLargeItemSBack.gif') repeat-x top White;
}
.dxmLite_Glass .dxm-main .dxm-image-t .dxm-hovered,
.dxmLite_Glass .dxm-main .dxm-image-b .dxm-hovered {
	background: url('mLargeItemHBack.gif') repeat-x top #CBCBCB;
}

.dxmLite_Glass .dxm-popup .dxm-selected {
	background-color: #9ECED6;
	border-color: #87B8C7;
}
.dxmLite_Glass .dxm-popup .dxm-hovered,
.dxmLite_Glass .dxm-popup .dxm-dropDownMode.dxm-hovered .dxm-popOut {
	background-color: #D9ECED;
	border-color: #C0DDE0;
}

/* Content */
.dxmLite_Glass .dxm-horizontal .dxm-image-l .dxm-content,
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-content {
	padding: 4px 13px 5px 9px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-content,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-content {
	padding: 5px 12px 4px 11px;
}

.dxmLite_Glass .dxm-vertical .dxm-image-l .dxm-content,
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-content {
	padding: 3px 19px 4px 8px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-subMenu .dxm-content,
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-right: 5px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-content,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-content {
	padding: 6px 12px 6px 11px;
}

.dxmLite_Glass .dxm-image-l .dxm-subMenu .dxm-content,
.dxmLite_Glass .dxm-image-t .dxm-subMenu .dxm-content,
.dxmLite_Glass .dxm-image-b .dxm-subMenu .dxm-content {
	padding-right: 7px;
}
.dxmLite_Glass .dxm-image-r .dxm-subMenu .dxm-content {
	padding-left: 7px;
}
.dxmLite_Glass .dxm-image-l .dxm-dropDownMode .dxm-content,
.dxmLite_Glass .dxm-image-t .dxm-dropDownMode .dxm-content,
.dxmLite_Glass .dxm-image-b .dxm-dropDownMode .dxm-content {
	padding-right: 12px;
}
.dxmLite_Glass .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-left: 12px;
}

.dxmLite_Glass .dxm-popup .dxm-content {
	padding: 3px 9px 4px 5px;
}
.dxmLite_Glass .dxm-popup .dxm-noSubMenu .dxm-content,
.dxmLite_Glass .dxm-popup .dxm-subMenu .dxm-content {
}
.dxmLite_Glass .dxm-popup .dxm-dropDownMode .dxm-content {
	padding-right: 16px;
}

/* Image */
.dxmLite_Glass .dxm-horizontal .dxm-image-l .dxm-image {
	margin-right: 5px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-image {
	margin-left: 5px;
}
.dxmLite_Glass .dxm-image-t .dxm-image {
	margin-bottom: 5px;
}
.dxmLite_Glass .dxm-image-b .dxm-image {
	margin-top: 5px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-l .dxm-image {
	margin-right: 8px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-image {
	margin-left: 8px;
}
.dxmLite_Glass .dxm-popup .dxm-image {
	margin-right: 8px;
}

/* Image replacement */
.dxmLite_Glass .dxm-horizontal .dxm-image-l.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-horizontal .dxm-image-r.dxm-noImages .dxm-item,
.dxmLite_Glass .dxm-horizontal .dxm-image-l .dxm-noImage,
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-noImage {
	padding-left: 4px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-r.dxm-noImages .dxm-dropDownMode,
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-noImage.dxm-dropDownMode {
	padding-left: 0px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-l .dxm-noImage {
	padding-left: 22px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-noImage {
	padding-right: 22px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-noImage,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-noImage {
	padding-left: 3px;
}
.dxmLite_Glass .dxm-popup .dxm-noImage {
	padding-left: 22px;
}
.dxmLite_Glass .dxm-popup .dxm-noImages .dxm-item {
	padding-left: 5px;
}

/* PopOut */
.dxmLite_Glass .dxm-horizontal .dxm-image-l .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 8px;
	padding-bottom: 8px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-top: 26px;
	padding-bottom: 27px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-l .dxm-popOut {
	padding-right: 13px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-right: 6px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-popOut {
	padding-left: 9px;
}
.dxmLite_Glass .dxm-horizontal .dxm-dropDownMode .dxm-popOut {
	padding-left: 11px;
	padding-right: 12px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-popOut {
	padding-left: 12px;
	padding-right: 11px;
}

.dxmLite_Glass .dxm-vertical .dxm-image-l .dxm-popOut,
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-popOut,
.dxmLite_Glass .dxm-popup .dxm-popOut {
	padding-top: 6px;
	padding-bottom: 7px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Glass .dxm-vertical .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 9px;
	padding-bottom: 9px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-t .dxm-popOut,
.dxmLite_Glass .dxm-vertical .dxm-image-b .dxm-popOut {
	padding-top: 28px;
	padding-bottom: 27px;
}
.dxmLite_Glass .dxm-vertical .dxm-popOut,
.dxmLite_Glass .dxm-popup .dxm-popOut {
	padding-right: 6px;
	padding-left: 6px;
}

/* PopOut replacement */
.dxmLite_Glass .dxm-vertical .dxm-noSubMenu,
.dxmLite_Glass .dxm-popup .dxm-noSubMenu {
	padding-right: 17px;
}
.dxmLite_Glass .dxm-vertical .dxm-image-r .dxm-noSubMenu {
	padding-left: 17px;
}

/* Spacings, Separator */
.dxmLite_Glass .dxm-horizontal .dxm-spacing {
	width: 0px;
	height: 1px;
}
.dxmLite_Glass .dxm-vertical .dxm-spacing {
	height: 0px;
}
.dxmLite_Glass .dxm-popup .dxm-spacing {
	height: 1px;
}

.dxmLite_Glass .dxm-horizontal .dxm-separator b {
	width: 1px;
}
.dxmLite_Glass .dxm-vertical .dxm-separator b,
.dxmLite_Glass .dxm-popup .dxm-separator b {
	height: 1px;
}
.dxmLite_Glass .dxm-main .dxm-separator b {
	background-color: #A5A6A8;
}
.dxmLite_Glass .dxm-popup .dxm-separator b {
	background-color: #7EACB1;
}
.dxmLite_Glass .dxm-horizontal .dxm-spacing,
.dxmLite_Glass .dxm-horizontal .dxm-separator b,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-spacing,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-spacing,
.dxmLite_Glass .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-separator b,
.dxmLite_Glass .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-separator b {
	height: 23px;
}
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-spacing,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-spacing,
.dxmLite_Glass .dxm-horizontal .dxm-image-t .dxm-separator b,
.dxmLite_Glass .dxm-horizontal .dxm-image-b .dxm-separator b {
	height: 60px;
}
.dxmLite_Glass .dxm-popup .dxm-separator {
	padding-left: 28px;
	
	margin-top: 1px;
	margin-bottom: 1px;
}
.dxm-ie7.dxmLite_Glass .dxm-vertical .dxm-separator {
	margin-top: -3px;
}
.dxm-ie7.dxmLite_Glass .dxm-popup .dxm-separator {
	margin-top: 0px;
}
.dxmLite_Glass .dxm-popup .dxm-noImages .dxm-separator {
	padding-left: 0px;
}

/* -- ASPxNavBar -- */
.dxnbControl_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: Solid 1px #7EACB1;
}
.dxnbControl_Glass td.dxnbCtrl
{
    padding: 1px;
}
.dxnbControl_Glass a
{
	color: #1E3695;
}
.dxnbLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxnbLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxnbGroupHeader_Glass
{
    font: 9pt Tahoma;
	color: #333333;
	
	background-image: url('nbHeaderBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
    					
	border-left-style: none;
    border-right-style: none;
	border-top-style: none;
	border-bottom: solid 1px #D5D5D5;
	
	padding: 3px 5px 3px 5px;
}
.dxnbGroupHeader_Glass table.dxnb
{
    font: 9pt Tahoma;
	color: #333333;
}
.dxnbGroupHeader_Glass td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_Glass
{
    font: 9pt Tahoma;
	color: #333333;
	
	background-image: url('nbHeaderBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
    					
	border-left-style: none;
    border-right-style: none;
	border-top-style: none;
	border-bottom: solid 1px #D5D5D5;
	
	padding: 3px 5px 3px 5px;
}
.dxnbGroupHeaderCollapsed_Glass table.dxnb
{
    font: 9pt Tahoma;
	color: #333333;
}
.dxnbGroupHeaderCollapsed_Glass td.dxnb
{
	white-space: nowrap;
}

.dxnbGroupContent_Glass
{
	font: 9pt Tahoma;
	color: #828282;
	padding: 2px 1px;
}
.dxnbItem_Glass, .dxnbLargeItem_Glass, .dxnbBulletItem_Glass
{
	font: 9pt Tahoma;
	color: #494949;
	text-align: left;
}
.dxnbItem_Glass
{
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.dxnbLargeItem_Glass
{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
	
	font: 12px Tahoma;
}
.dxnbBulletItem_Glass
{
	margin-bottom: 9px;
}
.dxnbItemSelected_Glass, .dxnbLargeItemSelected_Glass, .dxnbBulletItemSelected_Glass
{
	background-color: #9ECED6;
	border: solid 1px #87B8C7;
}
.dxnbItemSelected_Glass
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 17px;
}
.dxnbLargeItemSelected_Glass
{
	padding-top: 5px;
	padding-right: 11px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxnbItemHover_Glass, .dxnbLargeItemHover_Glass, .dxnbBulletItemHover_Glass
{
	background-color: #D9ECED;
	border: solid 1px #C0DDE0;
}
.dxnbItemHover_Glass
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 17px;
}
.dxnbLargeItemHover_Glass
{
	padding-top: 5px;
	padding-right: 11px;
	padding-bottom: 6px;
	padding-left: 11px;
}
.dxnbGroupHeaderHover_Glass
{
	background-image: url('nbHeaderHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;    
}
.dxnbGroupHeaderCollapsedHover_Glass
{
	background-image: url('nbHeaderHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;    	
}
.dxnbGroupHeader_Glass, .dxnbGroupHeaderCollapsed_Glass
{
    text-align: left;
}
.dxnbItem_Glass, .dxnbItemHover_Glass, .dxnbItemSelected_Glass,
.dxnbBulletItem_Glass, .dxnbBulletItemHover_Glass, .dxnbBulletItemSelected_Glass
{
    text-align: left;
}
.dxnbLargeItem_Glass, .dxnbLargeItemHover_Glass, .dxnbLargeItemSelected_Glass
{
    text-align: center;
}
/* Spacings */
.dxnbItemSpacing_Glass
{
	width: 100%;
	height: 1px;
}
.dxnbGroupSpacing_Glass 
{
	display: none;
}
.dxnbImgCellLeft_Glass 
{
	padding-right: 4px;	
}
.dxnbImgCellRight_Glass
{
	padding-left: 4px;	
}
.dxnbLargeItemImgTop_Glass
{
	margin-bottom: 3px;
}
.dxnbLargeItemImgBottom_Glass
{
	margin-top: 3px;
}
/* Disabled */
.dxnbDisabled_Glass, .dxnbDisabled_Glass td.dxnb
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_Glass 
{
    color: Black;
    background: #EDF3F4;    
	font: 9pt Tahoma;
	border: Solid 1px #7EACB1; 
	list-style: none none outside;
    margin: 0;         
    padding: 1px; 
    float: left;
    width: 200px;
}
.dxnbLite_Glass a
{
	color: #1E3695;
}
.dxnbLite_Glass .dxnb-gr 
{
	margin-bottom: 0;
}
.dxnbLite_Glass .dxnb-header,
.dxnbLite_Glass .dxnb-headerCollapsed 
{
	color: #333333;
	background-image: url('nbHeaderBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
    border: none;
	border-bottom: solid 1px #D5D5D5;
	overflow: hidden;
    padding: 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	clear: both;
}
.dxnbLite_Glass .dxnb-content 
{
	color: #828282;
    list-style: none none outside;
    margin: 0;
    padding: 2px 1px;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_Glass .dxnb-item,
.dxnbLite_Glass .dxnb-large,
.dxnbLite_Glass .dxnb-bullet 
{
	color: #494949;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_Glass .dxnb-item,
.dxnbLite_Glass .dxnb-large,
.dxnbLite_Glass .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_Glass .dxnb-item 
{
	padding: 4px 5px 5px 18px;
}
.dxnbLite_Glass .dxnb-large
{
	padding: 6px 12px 7px; 
}
.dxnbLite_Glass .dxnb-bullet,
.dxnbLite_Glass .dxnb-bulletHover,
.dxnbLite_Glass .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_Glass .dxnb-itemSelected,
.dxnbLite_Glass .dxnb-itemHover
{
	padding: 3px 4px 4px 17px;
}
.dxnbLite_Glass .dxnb-largeSelected,
.dxnbLite_Glass .dxnb-largeHover
{
	padding: 5px 11px 6px;
}
.dxnbLite_Glass .dxnb-itemSelected,
.dxnbLite_Glass .dxnb-largeSelected
{
	background-color: #9ECED6;
	border: solid 1px #87B8C7;
}
.dxnbLite_Glass .dxnb-itemHover,
.dxnbLite_Glass .dxnb-largeHover
{
	background-color: #D9ECED;
	border: solid 1px #C0DDE0;
}
.dxnbLite_Glass .dxnb-header,
.dxnbLite_Glass .dxnb-headerCollapsed, 
.dxnbLite_Glass .dxnb-item,
.dxnbLite_Glass .dxnb-itemHover,
.dxnbLite_Glass .dxnb-itemSelected,
.dxnbLite_Glass .dxnb-bullet,
.dxnbLite_Glass .dxnb-bulletHover,
.dxnbLite_Glass .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_Glass .dxnb-large,
.dxnbLite_Glass .dxnb-largeHover,
.dxnbLite_Glass .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_Glass .dxnb-headerHover
{
	background-image: url('nbHeaderHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top; 
}
.dxnbLite_Glass .dxnb-headerCollapsedHover
{
	background-image: url('nbHeaderHBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxnbLite_Glass .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_Glass .dxnb-btn,
.dxnbLite_Glass .dxnb-btnLeft,
.dxnbLite_Glass .dxnb-img
{
	border-width: 0;
}
.dxnbLite_Glass .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_Glass .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_Glass .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_Glass .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_Glass .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_Glass .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_Glass .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_Glass,
.dxnbLite_Glass .dxnbLiteDisabled_Glass,
.dxnbLiteDisabled_Glass a,
.dxnbLiteDisabled_Glass .dxnb-item,
.dxnbLiteDisabled_Glass .dxnb-large,
.dxnbLiteDisabled_Glass .dxnb-bullet,
.dxnbLiteDisabled_Glass .dxnb-header,
.dxnbLiteDisabled_Glass .dxnb-headerCollapsed 
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxNewsControl -- */
.dxncControl_Glass
{
	font: 10px Tahoma;
	color: black;
	background-color: White;
}
.dxncControl_Glass td.dxncCtrl
{
	padding: 15px 15px 15px 15px;
}
.dxncLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #7EACB1;
	background-color: White;
}
.dxncLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxncContent_Glass
{
}
.dxncPagerPanel_Glass
{
	padding: 0px 3px 0px 3px;
}
.dxncItem_Glass
{
	font: 9pt Tahoma;
	vertical-align: top;
	padding: 12px 8px 12px 3px;
}
.dxncEmptyItem_Glass
{
	font: 9pt Tahoma;
	vertical-align: top;
	padding: 12px 12px 12px 14px;
}
.dxncBackToTop_Glass a
{
    font: 10px Tahoma;
    text-decoration: underline;
    color: #337898;
    white-space:nowrap;
}
/* - Headline - */
.dxncItemContent_Glass
{
	font: 9pt Tahoma;
	color: #575757;
}
.dxncItemDate_Glass
{
	color: #9B9B9B;
	white-space: nowrap;    
}
.dxncItemHeader_Glass
{
	font: 12pt Tahoma;
	color: #387FA4;
	line-height: 110%;
}
.dxncItemLeftPanel_Glass
{
	font: 10px Verdana;
	color: black;
}
.dxncItemRightPanel_Glass
{
  	font: 10px Verdana;
	color: black;
}
.dxncItemTailDiv_Glass a
{
	text-decoration: underline;
	color: #2A769D;
}
.dxncItemTailDiv_Glass a:hover
{
}
.dxncItemTailDiv_Glass a:visited
{
    color: #996085;
}
.dxncItemContent_Glass a.dxhl
{
	text-decoration: underline;
	color: #2A769D;
} 
.dxncItemContent_Glass a.dxhl:hover
{
}
.dxncItemContent_Glass a.dxhl:visited
{
    color: #996085;
}
.dxncEmptyData_Glass
{
	color: Gray;
}
/* Disabled */
.dxncDisabled_Glass, .dxncDisabled_Glass span.dxhl,
.dxncDisabled_Glass a, .dxncDisabled_Glass a.hover
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxPager -- */
.dxpControl_Glass
{
	font: 9pt Arial;
	color: black;
}
.dxpControl_Glass td.dxpCtrl
{
	padding: 5px 2px 5px 2px;
}
.dxpButton_Glass
{
	font: 9pt Arial;
	color: #656566;
	text-decoration: underline;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle; 
}
.dxpButton_Glass a
{
	font: 9pt Arial;
	color: #656566;
	text-decoration: underline;
	white-space: nowrap;
}
.dxpDisabledButton_Glass
{
	font: 9pt Arial;
	color: black;
	text-decoration: none;
}
.dxpPageNumber_Glass
{
	font: 9pt Arial;
	color: #2A769D;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
	padding: 1px 5px 0px 5px;
}
.dxpPageNumber_Glass a
{
	font: 9pt Arial;
	color: #2A769D;
	text-decoration: underline;
}
.dxpCurrentPageNumber_Glass
{
	font: 9pt Arial;
	color: #2A769D;
	background-color: #DEDEDE;
	text-decoration: none;
	padding: 1px 3px 0px 3px;
}
.dxpSummary_Glass
{
	font: 9pt Arial;
	color: #656566;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 1px 4px 0px 4px;
}
.dxpSeparator_Glass
{
	background-color: #CCCCCC;
}
/* Disabled */
.dxpDisabled_Glass
{
	color: #93a1a4;
	border-color: #93a1a4;
	cursor: default;
}

/* -- ASPxPager Lite -- */

.dxpLite_Glass
{
	font: 9pt Arial;
	color: black;
	padding: 5px 2px;
	float: left;
}

.dxpLite_Glass .dxp-summary,
.dxpLite_Glass .dxp-sep,
.dxpLite_Glass .dxp-button,
.dxpLite_Glass .dxp-num,
.dxpLite_Glass .dxp-current,
.dxpLite_Glass .dxp-ellip
{
	display: block;	
	float: left;
	margin-left: 4px;
	font-weight: normal;	
}
.dxpLite_Glass .dxp-lead
{
	margin-left: 0 !important;
}

.dxpLite_Glass a
{
	color: #2A769D;
	text-decoration: underline;
}

.dxpLite_Glass .dxp-button
{
	color: #656566;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}
.dxpLite_Glass .dxp-button img
{
	border: 0;
	vertical-align: middle;
	text-decoration: none;
}
.dxpLite_Glass .dxp-wideButton
{
	padding: 0 5px;
}
.dxpLite_Glass .dxp-disabledButton
{
	text-decoration: none;
	color: #93a1a4;
	cursor: default;	
}

.dxpLite_Glass .dxp-num
{
	color: #2A769D;
	text-decoration: underline;	
	padding: 2px 5px 1px;
	cursor: pointer;
}

.dxpLite_Glass .dxp-current
{
	color: #2A769D;
	background: #DEDEDE;
	text-decoration: none;
	padding: 2px 3px 1px;	
	cursor: text;
}

.dxpLite_Glass .dxp-summary,
.dxpLite_Glass .dxp-ellip
{
	color: #656566;
	white-space: nowrap;
	padding: 2px 4px 1px;
}

.dxpLite_Glass .dxp-sep
{
	background: #CCCCCC;
    width: 1px;
    height: 11px;
    margin-top: 5px;
}

.dxpLiteDisabled_Glass,
.dxpLiteDisabled_Glass a,
.dxpLiteDisabled_Glass .dxp-summary,
.dxpLiteDisabled_Glass .dxp-sep,
.dxpLiteDisabled_Glass .dxp-button,
.dxpLiteDisabled_Glass .dxp-num,
.dxpLiteDisabled_Glass .dxp-current,
.dxpLiteDisabled_Glass .dxp-ellip
{
	color: #93a1a4;
	border-color: #93a1a4;
	cursor: default;
}

/* -- ASPxPopupControl -- */
.dxpcControl_Glass
{
	font: 9pt Tahoma;
	color: black;
	background-color: #EDF3F4;
	border: solid 1px #7EACB1;
	padding: 1px 1px 1px 1px;	
}
.dxpcControl_Glass a
{
	color: #1E3695;
}
.dxpcCloseButton_Glass
{
	font: 9pt Tahoma;
	color: black;
	padding: 1px 1px 1px 1px;
}
.dxpcCloseButtonHover_Glass
{
	font: 9pt Tahoma;
	color: black;
}
.dxpcContent_Glass
{
	font: 9pt Tahoma;
	color: #010000;
	white-space: normal;
	padding: 9px 12px 13px 12px;
	background-color: #EDF3F4;
	vertical-align: top;
}
.dxpcFooter_Glass
{
	font: 9pt Tahoma;
	color: #175B89;
	background-color: #D3E6F3;
	border-top-style: none;
	
	background-image: url('pcFooterBack.gif');
    background-repeat:repeat-x;
    background-position:top;	
}
.dxpcFooter_Glass td.dxpc
{
	font: 9pt Tahoma;
	color: #175B89;
	white-space: nowrap;
	padding: 12px 12px 12px 12px;
}
.dxpcHeader_Glass
{
	font: 9pt Tahoma;
	color: #5A5A5A;
	border-bottom: solid 1px #D5D5D5;	
	
	background-image: url('pcHeaderBack.gif');
    background-repeat:repeat-x;
    background-position:top;
}
.dxpcHeader_Glass td.dxpc
{
	font: 9pt Tahoma;
	color: #5A5A5A;
	white-space: nowrap;
}
.dxpcModalBackground_Glass
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}
/* Disabled */
.dxpcDisabled_Glass
{
	color: #808080;
	cursor: default;
}

/* -- ASPxRoundPanel -- */
.dxrpControl_Glass td.dxrp,
.dxrpControlGB_Glass td.dxrp
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* - Header - */
.dxrpControl_Glass .dxrpHeader_Glass td.dxrp,
.dxrpControlGB_Glass .dxrpHeader_Glass td.dxrp,
.dxrpControlGB_Glass span.dxrpHeader_Glass
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;
}
.dxrpControl_Glass .dxrpHI,
.dxrpControl_Glass .dxrpHeader_Glass,
.dxrpControl_Glass .dxrpHeader_Glass td.dxrp
{
	vertical-align: top;
	white-space: nowrap;
}
/* Header image */
.dxrpControl_Glass .dxrpHI
{
    padding-right: 4px;
}
/* Content */
.dxrpControl_Glass .dxrpContent,
.dxrpControlGB_Glass .dxrpContent
{
	vertical-align: top;
}
/* Edges */
.dxrpControl_Glass .dxrpTE,
.dxrpControl_Glass .dxrpHLE,
.dxrpControl_Glass .dxrpHRE
{
	background-color: White;
}
.dxrpControl_Glass .dxrpContent,
.dxrpControl_Glass .dxrpLE,
.dxrpControl_Glass .dxrpRE,
.dxrpControl_Glass .dxrpNHTE,
.dxrpControlGB_Glass .dxrpContent,
.dxrpControlGB_Glass .dxrpLE,
.dxrpControlGB_Glass .dxrpRE,
.dxrpControlGB_Glass .dxrpNHTE,
.dxrpControlGB_Glass span.dxrpHeader_Glass
{
	background-color: #EBF2F4;
}
.dxrpControl_Glass .dxrpTE,
.dxrpControl_Glass .dxrpNHTE,
.dxrpControlGB_Glass .dxrpNHTE
{
	border-top: 1px solid #7EACB1;
}
.dxrpControl_Glass .dxrpLE,
.dxrpControl_Glass .dxrpHLE,
.dxrpControlGB_Glass .dxrpLE
{
	border-left: 1px solid #7EACB1;
}
.dxrpControl_Glass .dxrpRE,
.dxrpControl_Glass .dxrpHRE,
.dxrpControlGB_Glass .dxrpRE
{
	border-right: 1px solid #7EACB1;
}
.dxrpControl_Glass .dxrpBE,
.dxrpControlGB_Glass .dxrpBE
{
	background-color: #D7E9F1;
	border-bottom: 1px solid #7EACB1;
}
.dxrpControl_Glass .dxrpContent,
.dxrpControlGB_Glass .dxrpContent
{
	background: #EBF2F4 url('rpContentBack.gif') repeat-x left bottom;
}
.dxrpControl_Glass .dxrpLE,
.dxrpControl_Glass .dxrpRE,
.dxrpControlGB_Glass .dxrpLE,
.dxrpControlGB_Glass .dxrpRE
{
	background: #EBF2F4 url('rpLeftRightEdge.gif') repeat-x left bottom;
}
.dxrpControl_Glass .dxrpHeader_Glass
{
	background: White url('rpHeaderBack.gif') repeat-x left bottom;
}
.dxrpControl_Glass .dxrpHLE
{
	background: White url('rpHeaderLeftEdge.gif') repeat-x left bottom;
}
.dxrpControl_Glass .dxrpHRE
{
	background: White url('rpHeaderRightEdge.gif') repeat-x left bottom;
}
/* Disabled */
.dxrpDisabled_Glass, .dxrpDisabled_Glass td.dxrp
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl_Glass a:hover
{
    text-decoration:underline;
}
.dxsmControl_Glass a:visited
{
    color:#996085;
}

.dxsmControl_Glass 
{
	font: 11px Verdana;
	color: #1E3695;
	background-color: white;
	font-family: Verdana, Tahoma, Arial;
	border: Solid 1px #A8A8A8;
}
/* -- Category Level -- */
.dxsmCategoryLevel_Glass, .dxsmCategoryLevel_Glass a
{
    color: #1E3695;
    font: bold 13.5pt Verdana;
    text-decoration: none;
}
.dxsmCategoryLevel_Glass
{
    white-space:nowrap;
    padding: 0px 0px 5px 0px;
}
.dxsmCategoryLevel_Glass
{
    border-bottom:solid 1px #B8B8B8;    
}
 /*flow layout*/
.dxsmLevelCategoryFlow_Glass, .dxsmLevelCategoryFlow_Glass a
{
    color: #1E3695;
    font: bold 13.5pt Tahoma;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;
}

/* -- Level 0 -- */
.dxsmLevel0_Glass, .dxsmLevel0_Glass a, 
.dxsmLevel0Categorized_Glass a, .dxsmLevel0Categorized_Glass
{
    font: 13px Tahoma;
    color: black;  
    text-decoration: none;    
}
.dxsmLevel0_Glass, .dxsmLevel0Categorized_Glass
{
    white-space:nowrap;  
    padding: 3px 7px 4px 7px;
    border: Solid 1px #D5D5D5;
    
	background-image: url('smLevel0Back.gif');	
    background-repeat:repeat-x;	
    background-position:top;					    
}

/*flow layout*/
.dxsmLevel0Flow_Glass, .dxsmLevel0Flow_Glass a,
.dxsmLevel0CategorizedFlow_Glass, .dxsmLevel0CategorizedFlow_Glass a
{
    font: 13px Tahoma;
    color: black;
    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;
}
.dxsmLevel0Flow_Glass
{
    text-decoration: none;
    padding: 0px 0px 0px 0px;    
}

/* -- Level 1 -- */
.dxsmLevel1_Glass, .dxsmLevel1_Glass a, 
.dxsmLevel1Categorized_Glass a, .dxsmLevel1Categorized_Glass
{
    font: 13px Tahoma;
    color: #2A769D;
}
.dxsmLevel1_Glass a,  .dxsmLevel1Categorized_Glass a
{
    text-decoration: underline;    	
}

.dxsmLevel1_Glass, .dxsmLevel1Categorized_Glass
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel1Flow_Glass, .dxsmLevel1Flow_Glass a
{
    font: 13px Tahoma;
    color: #2A769D;
    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;    
}
.dxsmLevel1Flow_Glass
{
    padding: 0px 0px 0px 0px;
}
/* -- Level 2 -- */
.dxsmLevel2_Glass, .dxsmLevel2_Glass a
{
    font: 11px Tahoma;
    color: #2A769D;
	text-decoration: underline;    
}
.dxsmLevel2_Glass
{
    white-space:nowrap;        
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel2Flow_Glass, .dxsmLevel2Flow_Glass a
{
    font: 11px Tahoma;
    color: #2A769D;
    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;    
}
/* -- Level 3 -- */
.dxsmLevel3_Glass, .dxsmLevel3_Glass a
{
    font: 8pt Tahoma; 
    color: #2A769D;
    text-decoration: none;
}
.dxsmLevel3_Glass
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel3Flow_Glass, .dxsmLevel3Flow_Glass a
{
    font: 8pt Tahoma; 
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;        
}
.dxsmLevel3Flow_Glass
{
    padding: 0px 0px 0px 0px;        
}
/* -- Level 4 -- */
.dxsmLevel4_Glass, .dxsmLevel4_Glass a
{
    font: 7pt Tahoma; 
    color: #A8A8A8;
    text-decoration: none;
}
.dxsmLevel4_Glass
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel4Flow_Glass, .dxsmLevel4Flow_Glass a
{
    font: 7pt Tahoma; 
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;        
}
.dxsmLevel4Flow_Glass
{
    padding: 0px 0px 0px 0px;        
}

/* -- Other Levels -- */
.dxsmLevelOther_Glass
{
    font: 6pt Tahoma; 
    color: #A8A8A8;
    text-decoration: none;
}
.dxsmLevelOther_Glass
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;            
}
/*flow layout*/
.dxsmLevelOtherFlow_Glass, .dxsmLevelOtherFlow_Glass a
{
    font: 6pt Tahoma; 
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;            
}
/* Disabled */
.dxsmDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl_Glass
{
	font: 9pt Tahoma;
	color: black;
	
}
.dxtcLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxtcLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

/* Tab Hyperlink */
.dxtcTab_Glass a, .dxtcTabWithTabPositionLeft_Glass a, .dxtcTabWithTabPositionBottom_Glass a, .dxtcTabWithTabPositionRight_Glass a,
.dxtcActiveTab_Glass a, .dxtcActiveTabWithTabPositionBottom_Glass a, .dxtcActiveTabWithTabPositionLeft_Glass a, .dxtcActiveTabWithTabPositionRight_Glass a,
.dxtcTabHover_Glass a, .dxtcTabHoverWithTabPositionBottom_Glass a, .dxtcTabHoverWithTabPositionLeft_Glass a, .dxtcTabHoverWithTabPositionRight_Glass a
{
	text-decoration: none;
	color: black;    
}

/* Active Tab */
.dxtcActiveTab_Glass, .dxtcActiveTabWithTabPositionBottom_Glass,
.dxtcActiveTabWithTabPositionLeft_Glass, .dxtcActiveTabWithTabPositionRight_Glass
{
	font: 9pt Tahoma;
	color: #FFFFFF;
	border: solid 1px #4986A2;	
	padding: 3px 27px 3px 27px;
	background-color: #4986a2;
	text-align: center;
}
.dxtcActiveTab_Glass table.dxtc, .dxtcActiveTabWithTabPositionBottom_Glass table.dxtc,
.dxtcActiveTabWithTabPositionLeft_Glass table.dxtc, .dxtcActiveTabWithTabPositionRight_Glass table.dxtc
{
	font: 9pt Tahoma;
	color: #FFFFFF;
}
.dxtcActiveTab_Glass
{
	background-image: url('tcATabBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;    
    background-color: #4986a2;
}
.dxtcActiveTabWithTabPositionBottom_Glass
{
	background-image: url('tcATabBottomBack.gif');	
    background-repeat:repeat-x;	
    background-position:bottom;      
    background-color: #94b8cc;
}
.dxtcActiveTabWithTabPositionLeft_Glass,
.dxtcActiveTabWithTabPositionRight_Glass
{
	background-image: url('tcATabBack.gif');
    background-repeat:repeat-x;	
    background-position:top;    	
    background-color: #4986a2;
}

.dxtcActiveTab_Glass td.dxtc, .dxtcActiveTabWithTabPositionBottom_Glass td.dxtc
{
	white-space: nowrap;	
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcActiveTabHover_Glass
{
	background-color: #4986A2;
}
.dxtcTabsCellWithTabPositionBottom .dxtcActiveTabHover_Glass
{
	background-color: #94B8CC;
}
.dxtcTabsCellWithTabPositionLeft table.dxtc .dxtcActiveTabHover_Glass,
.dxtcTabsCellWithTabPositionRight table.dxtc .dxtcActiveTabHover_Glass
{
	background-color: transparent;
}

/* Tab */
.dxtcTab_Glass, .dxtcTabWithTabPositionBottom_Glass,
.dxtcTabWithTabPositionLeft_Glass, .dxtcTabWithTabPositionRight_Glass
{
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #C4C5C6;
	padding: 3px 27px 3px 27px;
	text-align: center;
}
.dxtcTabWithTabPositionBottom_Glass
{
    border-top-color: #4986a2;
}
.dxtcTab_Glass 
{
	background-image: url('tcTabBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;		    
	background-color: #F1F2F4;
	border-bottom: none;		
}
.dxtcTabWithTabPositionBottom_Glass
{
	background-image: url('tcTabBottomBack.gif');	
    background-repeat:repeat-x;	
    background-position:bottom;		    
	background-color: #FFFFFF;        
	border-top: none;		    
}
.dxtcTabWithTabPositionLeft_Glass,
.dxtcTabWithTabPositionRight_Glass
{	
    background-repeat:repeat-x;	
    background-position:top;		    
	background-color: #FFFFFF;        
	border-top: none;		    
}

.dxtcTab_Glass table.dxtc, .dxtcTabWithTabPositionBottom_Glass table.dxtc,
.dxtcTabWithTabPositionLeft_Glass table.dxtc, .dxtcTabWithTabPositionRight_Glass table.dxtc
{
	font: 9pt Tahoma;
	color: black;
}
.dxtcTab_Glass td.dxtc, .dxtcTabWithTabPositionBottom_Glass td.dxtc,
.dxtcTabWithTabPositionLeft_Glass td.dxtc, .dxtcTabWithTabPositionRight_Glass td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcTab_Glass a, .dxtcTabWithTabPositionBottom_Glass a,
.dxtcTabWithTabPositionLeft_Glass a, .dxtcTabWithTabPositionRight_Glass a
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	text-decoration:none
}
.dxtcTabWithTabPositionLeft_Glass, .dxtcTabWithTabPositionRight_Glass
{
    border-top: Solid 1px #c4c5c6;    
}
/* Hover */
.dxtcTabHover_Glass, .dxtcTabHoverWithTabPositionBottom_Glass,
.dxtcTabHoverWithTabPositionLeft_Glass, .dxtcTabHoverWithTabPositionRight_Glass
{
	background-image: url('tcHTabBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;		
	background-color: #C0DDE0;
}
.dxtcTabHoverWithTabPositionBottom_Glass
{
	background-color: #EEF5F7;
	background-image: url('tcHTabBottomBack.gif');	
    background-repeat:repeat-x;
    background-position:bottom;
}
.dxtcTabHover_Glass td.dxtc, .dxtcTabHoverWithTabPositionBottom_Glass td.dxtc,
.dxtcTabHoverWithTabPositionLeft_Glass td.dxtc, .dxtcTabHoverWithTabPositionRight_Glass td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: none!important;
    border-width: 0px!important;
    padding: 0px!important;
}

/* Content */
.dxtcPageContent_Glass, .dxtcPageContentWithTabPositionBottom_Glass, 
.dxtcPageContentWithTabPositionLeft_Glass, .dxtcPageContentWithTabPositionRight_Glass,
.dxtcPageContentWithoutTabs_Glass
{
	font: 10pt Tahoma;
	color: black;    
	background-color: #EDF3F4;
	vertical-align: top;
}

.dxtcPageContent_Glass
{
	background-image: url('pcContentBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
}
.dxtcPageContentWithTabPositionBottom_Glass
{
	background-image: url('pcContentWithTabBottomBack.gif');	
    background-repeat:repeat-x;	
    background-position:bottom;
}
.dxtcPageContentWithoutTabs_Glass
{
}
.dxtcContent_Glass, .dxtcContentWithTabPositionBottom_Glass, .dxtcContentWithTabPositionLeft_Glass, .dxtcContentWithTabPositionRight_Glass
{
	font: 9pt Tahoma;
	color: black;		
	background-image: url('tcContentBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;
	height: 5px;	
	vertical-align: top;
}
/* Disabled */
.dxtcDisabled_Glass, .dxtcDisabled_Glass table.dxtc
{
	color: #93a1a4;
	cursor: default;
}

/* -- ASPxTitleIndex -- */
.dxtiControl_Glass a:hover
{
}
.dxtiControl_Glass a:visited
{
    color: #996085!important;
}
.dxtiControl_Glass 
{
	font: 11px Verdana;
	color: #1E3695;
	background-color: white;
	font-family: Verdana, Tahoma, Arial;
}
.dxtiLoadingPanel_Glass
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #7EACB1;
	background-color: White;
}
.dxtiLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxtiItem_Glass, .dxtiItem_Glass a
{
	font: 9pt Tahoma; 
	color: #2A769D;
	text-decoration: underline;	
}
.dxtiItem_Glass a:hover
{
    color: #f15e34;
}
.dxtiItem_Glass a:visited
{
    color: #a1a1a1;
}

.dxtiItem_Glass
{
	white-space: nowrap;
}
.dxtiGroupHeader_Glass, .dxtiGroupHeaderCategorized_Glass
{
	font: 15pt Tahoma;
	text-decoration: none;
	
}
.dxtiGroupHeader_Glass, .dxtiGroupHeaderCategorized_Glass
{
	white-space:nowrap;
	padding: 0px 0px 3px 0px;
}
.dxtiGroupHeaderCategorized_Glass
{
    border-bottom: Solid 1px #C0C0C0;
    padding-bottom: 2px;
}
/* -- GroupHeaderText -- */
.dxtiGroupHeaderText_Glass
{
    background-color: #B4B4B4;
    color: #FFFFFF;    
}
.dxtiGroupHeaderText_Glass
{
    padding: 1px 6px 2px 6px;    
    border: Solid 1px #7895A2;
    
	background-image: url('tiHeaderBack.gif');	
    background-repeat:repeat-x;	
    background-position:top;					    
}

.dxtiGroupHeaderTextCategorized_Glass
{
    color: #666666;
    font-size: 18pt;
}
.dxtiGroupHeaderTextCategorized_Glass
{
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
}
/* -- FilterBox -- */
.dxtiFilterBoxInfoText_Glass
{
    font: 8pt Verdana;
    color: #8B8C8D;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 4px;    
}
.dxtiFilterBoxEdit_Glass
{
    font-size: 9pt;
    width: 158px;    
    border: Solid 1px #7EACB1;
    padding-left: 3px;
}
.dxtiFilterBox_Glass, .dxtiFilterBox_Glass table
{
    color: #59595A;
    font: 9pt Tahoma;
}
.dxtiFilterBox_Glass
{
    background-color: #ECf8FC;
    padding: 15px;
    padding-top: 10px;    
}
/* -- IndexPanel -- */
.dxtiIndexPanel_Glass
{
    padding-bottom: 8px;
    text-decoration: none;
}
.dxtiIndexPanelItem_Glass, .dxtiIndexPanelItem_Glass a, .dxtiCurrentIndexPanelItem_Glass
{
    font-size:12px;
    color: #2A769D;
    font-family: Verdana;
    text-decoration: underline;
}
.dxtiIndexPanelItem_Glass, .dxtiCurrentIndexPanelItem_Glass
{
    padding: 0px 2px 2px 2px;
}
.dxtiCurrentIndexPanelItem_Glass
{
    color: #000000;
    background-color: #E0E0E0;
}
/* -- BackToTop -- */
.dxtiBackToTop_Glass a
{
    font: 10px Tahoma;
    text-decoration: underline;
    color: #337898;
    white-space:nowrap;
}
.dxtiBackToTop_Glass a
{
    color: #337898;
}
.dxtiBackToTop_Glass a:hover
{
    color: #f15e34;    
}
.dxtiBackToTop_Glass a:visited
{
    color: #a1a1a1;
}
.dxtiBackToTop_Glass
{
    padding: 0px 0px 12px 0px;
}
/* Disabled */
.dxtiDisabled_Glass
{
	color: #93a1a4;
	cursor: default;
}
/* -- ASPxUploadControl -- */
.dxucControl_Glass, .dxucEditArea_Glass
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;    
}
.dxucErrorCell_Glass
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
.dxucButton_Glass, .dxucButton_Glass a
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;
    color: #394ea2;
    cursor: pointer;
    white-space: nowrap;
}
/* UploadControl - ProgressBar */
.dxucProgressBar_Glass, .dxucProgressBar_Glass td
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
   	color: Black;
}
.dxucProgressBar_Glass .dxucPBMainCell, .dxucProgressBar_Glass td
{
    padding: 0;
}
.dxucProgressBar_Glass
{
    border: Solid 1px #4986a2;
    background-color: #C6E0E4;
	background-image: url('ucProgressBack.gif');
    background-repeat: repeat-x;    
}
.dxucProgressBarIndicator_Glass
{
    background-color: #4986a2;
	background-image: url('ucProgressIndicatorBack.gif');
    background-repeat: repeat-x;    
}

/* -- ASPxSplitter -- */
.dxsplControl_Glass
{
	background-color: White;
}
.dxsplControl_Glass, .dxsplVSeparator_Glass, .dxsplHSeparator_Glass, .dxsplPane_Glass, .dxsplPaneCollapsed_Glass, .dxsplVSeparator_Glass, .dxsplHSeparator_Glass, .dxsplVSeparatorCollapsed_Glass, .dxsplHSeparatorCollapsed_Glass
{
	border: solid 0px #7EACB1;
}
.dxsplPane_Glass, .dxsplPaneCollapsed_Glass
{
	border-width: 1px;
	background-color: #F8FAFD;
}
.dxsplPaneCollapsed_Glass
{
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.dxsplVSeparator_Glass
{
	background-image: url('splVSeparatorBackground.png');
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.dxsplHSeparator_Glass
{
	background-image: url('splHSeparatorBackground.png');
	border-left-width: 1px;
	border-right-width: 1px;
}
.dxsplVSeparatorHover_Glass
{
	cursor: w-resize;
}
.dxsplHSeparatorHover_Glass
{
	cursor: n-resize;
}
.dxsplVSeparator_Glass, .dxsplHSeparator_Glass
{
	background-color: #ADCEDF;
}
.dxsplVSeparatorHover_Glass, .dxsplVSeparatorButtonHover_Glass
{
	background-image: url('splVSeparatorBackgroundHover.png');
}
.dxsplHSeparatorHover_Glass, .dxsplHSeparatorButtonHover_Glass
{
	background-image: url('splHSeparatorBackgroundHover.png');
}
.dxsplVSeparatorCollapsed_Glass, .dxsplHSeparatorCollapsed_Glass
{
	cursor: default !important;
}
.dxsplVSeparatorButton_Glass
{
	cursor: pointer;
	padding: 5px 0px;
}
.dxsplHSeparatorButton_Glass
{
	cursor: pointer;
	padding: 0px 5px;
}
.dxsplVSeparatorHover_Glass, .dxsplHSeparatorHover_Glass, .dxsplVSeparatorButtonHover_Glass, .dxsplHSeparatorButtonHover_Glass
{
	background-color: #DBEDF0;
}
.dxsplVSeparator_Glass, .dxsplVSeparatorButtonHover_Glass
{
	background-repeat: repeat-y;
	background-position: top left;
}
.dxsplHSeparator_Glass, .dxsplHSeparatorButtonHover_Glass
{
	background-repeat: repeat-x;
	background-position: top left;
}
.dxsplResizingPointer_Glass
{
	background-image: url('splResizingPointer.gif');
	background-repeat: repeat;
}
.dxsplResizingPointer_Glass, .dxsplS
{
	font-size: 0px;
	line-height: 0px;
}
.dxsplLCC, .dxsplCC, .dxsplS
{
	overflow: hidden;
}
.dxsplLCC, .dxsplCC, .dxsplP
{
	width: 100%;
	height: 100%;
}
.dxsplLCC
{
	padding: 8px 8px 8px 8px;
}

.dx-clear
{
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}
