.dxpgControl_Office2003Olive
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #A4B26D;
	background-color: white;
}
.dxpgContainerCell_Office2003Olive
{
	vertical-align: top;
}
.dxpgMainTable_Office2003Olive
{
	color: Black;
	font: 9pt Tahoma;
	border: 0px;
	border-collapse: separate;
	width: 100%;
}
.dxpgMainTable_Office2003Olive caption
{
	background: url('CaptionBack.gif') repeat-x center top #6d834d;
    border-bottom: solid 1px #a4b26d;
	color: white;
    padding: 3px 3px 4px;
	font-weight: bold;	
	text-align: center;
}
.dxpgHeader_Office2003Olive
{
	color: Black;
	background: url('pgHeaderBack.gif') repeat-x #B8C692;
	cursor: pointer;
	white-space: nowrap;
	border: solid 0px #608058;
}
.dxpgHeaderTable_Office2003Olive
{
	border-width: 1px;
	width: 100%;
}
.dxpgHeaderGroupButton_Office2003Olive
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_Office2003Olive
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort_Office2003Olive
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_Office2003Olive
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgHeaderHover_Office2003Olive
{
	background: url('pgHeaderBackHover.gif') repeat-x #FFD091;
}
.dxpgArea_Office2003Olive, .dxpgArea_Office2003Olive table
{
	color: Black;
	font: 11px Tahoma;
}
.dxpgArea_Office2003Olive
{
	border: solid 1px #A4B26D;
	background-color: #EFF4DA;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_Office2003Olive
{
	border-bottom-style: solid;
}
.dxpgRowArea_Office2003Olive
{
}
.dxpgDataArea_Office2003Olive
{
}
.dxpgFilterArea_Office2003Olive
{
	background: url('pgHeaderBack.gif') repeat-x #B8C692;
	color: black;
	border-bottom-style: solid;
}
.dxpgEmptyArea_Office2003Olive
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_Office2003Olive
{
	background-color: #dce3bf;
	border: solid 1px #A4B26D;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
    font-weight: normal;
    text-align: left;    
}
.dxpgColumnTotalFieldValue_Office2003Olive
{
	background-color: #cfd9a3;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_Office2003Olive
{
	background-color: #bdcb85;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_Office2003Olive
{
	background-color: #dce3bf;
	border: solid 1px #A4B26D;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 4px 6px 4px 6px;
    font-weight: normal;
    text-align: left;    
}
.dxpgRowTotalFieldValue_Office2003Olive
{
	background-color: #cfd9a3;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue_Office2003Olive
{
	padding: 0px;
	font: 0pt;
}
.dxpgRowGrandTotalFieldValue_Office2003Olive
{
	background-color: #bdcb85;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 6px 6px 6px 6px;
}
.dxpgCollapsedButton_Office2003Olive
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_Office2003Olive
{
	vertical-align: 0px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_Office2003Olive
{
	text-align: right;
	background-color: #FEFEFE;	
	border-color: #CDD6A7;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	white-space: nowrap;
}
.dxpgKPICell_Office2003Olive
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_Office2003Olive
{
	background-color: #eff4da;
}
.dxpgGrandTotalCell_Office2003Olive
{
	background-color: #e1e9be;
}
.dxpgRowGrandTotalCell_Office2003Olive
{
	background-color: #e1e9be;
}
.dxpgColumnGrandTotalCell_Office2003Olive
{
	background-color: #e1e9be;
}
.dxpgFilterWindow_Office2003Olive
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #5F7F57;
}
.dxpgFilterItemsArea_Office2003Olive
{
	color: Black;
	background-color: White;
}
.dxpgFilterItem_Office2003Olive
{
	font: 9pt Tahoma;
}
.dxpgFilterButton_Office2003Olive
{
	font: 9pt Tahoma;
	padding: 2px 6px;
}
.dxpgFilterButtonPanel_Office2003Olive
{
	font: 9pt Tahoma;
	background-color: #eff4da;	
	color: Black;
	border-top: solid 1px #e3e8cf;
}
.dxpgLoadingDiv_Office2003Olive
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxpgTopPager_Office2003Olive
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #A4B26D;
}
.dxpgBottomPager_Office2003Olive
{
	border-top: solid 1px #A4B26D;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
.dxpgCustomizationFieldsHeader_Office2003Olive
{
	color: White;
	font: 9pt Tahoma;
	background: url('pgHeaderBack.gif') repeat-x #94b6e8;
}
.dxpgCustomizationFieldsContent_Office2003Olive
{
	padding: 0px !important;
}
.dxpgLoadingPanel_Office2003Olive
{
	font: 9pt Tahoma;
	color: #758D5E;
	background-color: White;
	border: solid 1px #A4B26D;
	text-align: center;			
	cursor: wait;
}
.dxpgLoadingPanel_Office2003Olive td.dx
{
	padding: 12px 12px 12px 12px;
}
.dxpgDataHeadersImage_Office2003Olive
{
	margin-right: 5px;
	vertical-align: -2px;
}

.dxpgPrefilterPanelContainer_Office2003Olive
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel_Office2003Olive
{
	border: none;
	background-color: #cfd9a3;
}
.dxpgPrefilterPanelLink_Office2003Olive
{
	color: black;	
	text-decoration: underline;	
}
.dxpgPrefilterPanelCheckBoxCell_Office2003Olive
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_Office2003Olive
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_Office2003Olive
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_Office2003Olive
{
	font-size: 9pt;
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_Office2003Olive
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_Office2003Olive
{
	background-color: #E2E8C9;
	border-top: solid 1px #C3CF9D;
	padding: 6px;
}
.dxpgGroupSeparator_Office2003Olive
{
	vertical-align: middle;
}
