<%@ Page Language="VB" MasterPageFile="~/MasterPages/NoWizard2.master" AutoEventWireup="false" CodeFile="CashCarrySale.aspx.vb" Inherits="CashCarrySale" Title="Untitled Page" %>

<%@ Register Assembly="DevExpress.Web.v13.2" Namespace="DevExpress.Web.ASPxPopupControl" TagPrefix="dxpc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:Label ID="Label1" runat="server" Text=""></asp:Label>
    <asp:Label ID="lbl_Zip" runat="server" Text="" Visible="false"></asp:Label>

    <ucTax:TaxUpdate runat="server" ID="ucTaxUpdate" Visible="false" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
</asp:Content>

