.contentslide{
border: 10px solid lightgrey;
border-bottom-width: 6px;
padding: 8px;
width: 600px;
height: 150px;
}

.contentslide .contentdiv{
display: none;
}

.pagination{
width: 600px; /*Width of pagination DIV. To equal that of Content Slider's width, take into account the later's left/right paddings!*/
text-align: right;
background-color: lightgrey;
font-family: Tahoma;
font-size: 10pt;
border: 10px solid lightgrey;
border-width: 0 10px; /*Left/ right border width of pagination DIV.*/
padding: 0 0 4px 0;
}

* html .pagination{ /*Simplified box model hack to get IE5 to display width equal to that of Content Slider's*/
w\idth: 400px; /*IE5 width*/
width: 600px; /*IE6 width*/
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #2e6ab1;
background-color: white;
}

.pagination a:hover, .pagination a.selected{
color: #000;
background-color: #FEE496;
}