<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Custom_Availability.aspx.vb"
    Inherits="Custom_Availability" MasterPageFile="~/MasterPages/NoWizard2.master" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main_body" runat="server">
    </div>
</asp:Content>
