<%@ Page Language="VB" AutoEventWireup="false" Debug="true" CodeFile="discount_lookup.aspx.vb"
    Inherits="discount_lookup" MasterPageFile="~/MasterPages/NoWizard2.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
        <div>
            <asp:DropDownList ID="disc_cd" runat="server" AutoPostBack="True" Width="270px" AppendDataBoundItems="True"
                DataTextField="DES" DataValueField="DISC_CD" CssClass="style5">
            </asp:DropDownList>
            <br />
            <br />
            <asp:Label ID="lblDiscDesc" runat="server" Width="271px"></asp:Label><br />
            <asp:Label ID="lblDisc" runat="server" Width="271px"></asp:Label>
            <br />
            <br />
            <asp:TextBox ID="txt_Minors" runat="server" Columns="4" Rows="6" TextMode="MultiLine" Height="216px" Width="480px" cssclass="style5"></asp:TextBox>
            <br />
            <br />
        </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <br />
    <br />
    <br />
</asp:Content>
