﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPages/NoWizard2.master" AutoEventWireup="false" CodeFile="ElementPS_Test.aspx.vb" Inherits="ElementPS_Test" %>

<%@ Register Assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <dx:ASPxButton ID="ASPxButton1" runat="server" Text="Submit Transaction">
    </dx:ASPxButton>
    <br />
    <br />
    <dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="">
    </dx:ASPxLabel>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

