<%@ Page Language="VB" AutoEventWireup="false" EnableTheming="false" Theme="" CodeFile="FrontNews.aspx.vb" Inherits="FrontNews" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background-position: top left;
    padding: 5px 5px 5px 5px;" class="style6">
    <form id="form1" runat="server">
        <div id="main_body" runat="server" bgcolor="white">
        </div>
    </form>
</body>
</html>
