<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Help.aspx.vb" Inherits="Help" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">
        body {
        position:absolute;
        border: 2px solid black;
        background-color: lightyellow;
        padding: 4px;
        z-index: 100;
        font-family: Tahoma, Arial, Helvetica;
	    font-size: 11px;
	    }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="main_body" runat="server">
        </div>
    </form>
</body>
</html>
