/* CSS Document */
body {
	/* background: url("images/backgrounds/bg_b.gif");
    background-color: #CDBA96; */
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	margin-right: 0px;
	margin-left: 0px;
}
td {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
}
input {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
}
select {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
}
a {
	color: #1F68D1;
	text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
.login {
	width: 130px;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #000000;
}
.search_field {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	background-color: #6699FF;
}
.header {
	font-size: 13px;
}
