<%@ Master Language="VB" CodeFile="LeonsCustom.master.vb" Inherits="Regular" %>

<%@ Register Assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxMenu" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxRoundPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v13.2, Version=13.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxEditors" TagPrefix="dx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style type="text/css">
        #progressBackgroundFilter
        {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            overflow: hidden;
            padding: 0;
            margin: 0;
            background-color: #000;
            filter: alpha(opacity=50);
            opacity: 0.5;
            z-index: 12010;
        }

        #processMessage
        {
            position: fixed;
            top: 30%;
            left: 30%;
            padding: 10px;
            width: 14%;
            z-index: 12011;
            background-color: #fff;
            border: solid 1px #000;
        }
    </style>

    <script type="text/javascript" language="javascript" src="Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" language="javascript" src="Scripts/jquery.unobtrusive-ajax.js"></script>

    <script language="javascript" type="text/javascript">
        function DetectEnterKey() {
            if (window.event.keyCode == 13) {
                event.returnValue = false;
                event.cancel = true;
            }
        }
    </script>

      <script type="text/javascript">
          $(document).ready(function () {
              CheckingSeassion();
          });
          function CheckingSeassion() {
              $.ajax({
                  type: "POST",
                  url: "Logout.aspx/LogoutCheck",
                  data: "{}",
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (response) {
                      if (response.d == 0) {
                          window.location = "Login.aspx";
                      }
                  },
                  failure: function (msg) {
                      alert(msg);
                  }
              });
          }
    </script>

    <title></title>
</head>

<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="Scriptmanager1" runat="server">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <div style="padding-left: 0px; padding-top: 3px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td width="810px" align="left" valign="middle">
                                <table width="810px" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                    <tr>
                                        <td height="56">
                                            <table width="100%">
                                                <tr>
                                                    <td align="left" valign="top" width="60%">
                                                        <div style="padding-left: 8px; padding-top: 8px;">
                                                            <table cellpadding="0" cellspacing="0" border="0">
                                                                <tr>
                                                                    <td>
                                                                        <img alt="Company Logo" src="<%= ConfigurationManager.AppSettings("company_logo").ToString()%>" />
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <dx:ASPxLabel ID="lbl_header" runat="server" Text="<%$ Resources:LibResources, Label515 %>">
                                                                        </dx:ASPxLabel>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <br />
                                                    </td>
                                                    <td align="right" valign="top" style="width: 222px">
                                                        <div style="padding-right: 13px; padding-top: 8px">
                                                            <dx:ASPxLabel ID="lbl_Header1" runat="server" Text="">
                                                            </dx:ASPxLabel>
                                                            <br />
                                                            <dx:ASPxLabel ID="lbl_Header2" runat="server" Text="">
                                                            </dx:ASPxLabel>
                                                        </div>
                                                    </td>
                                                    <td align="right" valign="top">
                                                        <div style="padding-right: 13px; padding-top: 8px">
                                                            <dx:ASPxButton ID="ASPxButton1" runat="server" PostBackUrl="Logout.aspx" Text="<%$ Resources:LibResources, Label273 %>"
                                                                AllowFocus="False">
                                                                <Image Height="25px" Url="~/images/login_icon.gif" Width="25px">
                                                                </Image>
                                                            </dx:ASPxButton>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="32" align="left">
                                             <dx:ASPxMenu ID="ASPxMenu1" runat="server" Width="100%">
                                                <Items>
                                                    <dx:MenuItem Text="<%$ Resources:LibResources, Label228 %>" NavigateUrl="~/newmain.aspx">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                    <dx:MenuItem Text="">
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </dx:MenuItem>
                                                </Items>
                                            </dx:ASPxMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="22" align="left" valign="top">&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="top">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="left" valign="top" style="padding-left: 3px">
                                                        <dx:ASPxRoundPanel ID="ASPxRoundPanel4" runat="server" Width="100%" HeaderText="">
                                                            <PanelCollection>
                                                                <dx:PanelContent runat="server">
                                                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                                                    </asp:ContentPlaceHolder>
                                                                </dx:PanelContent>
                                                            </PanelCollection>
                                                            <HeaderTemplate>
                                                                <dx:ASPxLabel ID="lbl_Round_Header" runat="server">
                                                                </dx:ASPxLabel>
                                                            </HeaderTemplate>
                                                            <HeaderStyle Font-Bold="False" />
                                                        </dx:ASPxRoundPanel>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br />
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="left" valign="top" width="70%">&nbsp;<asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                                                        &nbsp;
                                                    </asp:ContentPlaceHolder>
                                                    </td>
                                                    <td align="right" valign="top" style="padding-right: 3px; text-align: right;">
                                                        <dx:ASPxRoundPanel ID="ASPxRoundPanel1" runat="server" Width="100%">
                                                            <PanelCollection>
                                                                <dx:PanelContent ID="PanelContent1" runat="server">
                                                                    <div style="display: table; width: 100%;">
                                                                        <div style="display: table-row;">
                                                                            <div style="display: table-cell; width: 65%;">
                                                                                <dx:ASPxLabel runat="server" Text="<%$ Resources:LibResources, Label619 %>"></dx:ASPxLabel>
                                                                            </div>
                                                                            <div style="display: table-cell;">
                                                                                <dx:ASPxLabel ID="lblSubtotal" runat="server" Text="$0.00">
                                                                                </dx:ASPxLabel>
                                                                            </div>
                                                                        </div>
                                                                        <div style="display: table-row;">
                                                                            <div style="display: table-cell; text-align: right;">
                                                                                <div style="display: inline-block; width: 100%; margin-right: 0px; padding-right: 0px;">
                                                                                    <table cellpadding="0" cellspacing="0" style="float: right;">
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr />
                                                                    <div style="display: table; width: 100%;">
                                                                        <div style="display: table-row;">
                                                                            <div style="display: table-cell;">
                                                                                <dx:ASPxLabel runat="server" Text="<%$ Resources:LibResources, Label330 %>"></dx:ASPxLabel>
                                                                            </div>
                                                                            <div style="display: table-cell;">
                                                                                <dx:ASPxLabel ID="lbl_balance" runat="server" Text="$0.00">
                                                                                </dx:ASPxLabel>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </dx:PanelContent>
                                                            </PanelCollection>
                                                            <HeaderTemplate>
                                                                <div style="padding-left: 13px; padding-top: 4px">
                                                                    &nbsp;
                                                                </div>
                                                            </HeaderTemplate>
                                                        </dx:ASPxRoundPanel>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="46" align="center" valign="top">
                                            <div style="padding-left: 0px; padding-top: 18px">
                                                <dx:ASPxHyperLink ID="ASPxHyperLink22" NavigateUrl="newmain.aspx" runat="server"
                                                    Text="<%$ Resources:LibResources, Label228 %>">
                                                </dx:ASPxHyperLink>
                                                &nbsp;:&nbsp;<dx:ASPxHyperLink ID="ASPxHyperLink23" NavigateUrl="reporting.aspx"
                                                    runat="server" Text="<%$ Resources:LibResources, Label469 %>">
                                                </dx:ASPxHyperLink>
                                                &nbsp;:&nbsp;<dx:ASPxHyperLink ID="ASPxHyperLink24" NavigateUrl="utilities.aspx"
                                                    runat="server" Text="<%$ Resources:LibResources, Label639 %>">
                                                </dx:ASPxHyperLink>
                                                &nbsp;:&nbsp;<dx:ASPxHyperLink ID="ASPxHyperLink25" NavigateUrl="merch_images\POS_Plus_UserGuide.pdf"
                                                    runat="server" Text="<%$ Resources:LibResources, Label637 %>" Target="_new">
                                                </dx:ASPxHyperLink>
                                                &nbsp;:&nbsp;<dx:ASPxHyperLink ID="ASPxHyperLink27" NavigateUrl="logout.aspx"
                                                    runat="server" Text="<%$ Resources:LibResources, Label273 %>">
                                                </dx:ASPxHyperLink>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="22" align="center" valign="middle">
                                            <dx:ASPxHyperLink ID="ASPxHyperLink28" NavigateUrl="http://www.redprairie.com" runat="server"
                                                Text="<%$ Resources:LibResources, Label25 %>">
                                            </dx:ASPxHyperLink>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td width="810px" align="left" valign="middle">&nbsp;
                            </td>
                            <td>&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <asp:UpdateProgress ID="UpdateProgress1" runat="server">
                    <ProgressTemplate>
                        <div id="progressBackgroundFilter">
                        </div>
                        <div id="processMessage" style="width: 330px; height: 81px">
                            <br />
                            <br />
                            <table width="330px">
                                <tr>
                                    <td align="center">
                                        <dx:ASPxLabel ID="ASPxLabel19" runat="server" Text="<%$ Resources:LibResources, Label438 %>">
                                        </dx:ASPxLabel>
                                        <img src="images/Loading.gif" style="width: 22px; height: 19px" />&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>
            </ContentTemplate>
        </asp:UpdatePanel>
    </form>
</body>
</html>
