body {margin:0; padding:0; background:#FFFFFF;}
table, td {border-collapse:collapse;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td, tr {font:12px/16px arial, tahoma, helvetica, sans-serif; color:#484848;}

.style1 {font:10px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style2 {font:12px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style3 {font:10px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style4 {font:11px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style5 {font:11px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style6 {font:11px arial, tahoma, helvetica, sans-serif; color:#484848;}
.style7 {font:11px arial, tahoma, helvetica, sans-serif; color:#484848;}

.end { color:#FFFFFF; font-size:12px;}
.end  a{ color:#FFFFFF; text-decoration:none;}
.end a:hover{ color:#BFD76B; text-decoration:none;}
.end1{ color:#BFD76B; font-size:11px;}
.end1 a{ color:#BFD76B; text-decoration:none;}
.end1 a:hover{ color:#BFD76B; text-decoration:underline;}
.end1 span a{ color:#BFD76B; text-decoration:underline;}
.end1 span a:hover{ color:#BFD76B; text-decoration:none;}



a{ color:#484848; text-decoration:underline;}
a:hover{ color:#484848; text-decoration:none;}
strong a{ color:#484848; text-decoration:none;}
strong a:hover{ color:#484848; text-decoration:underline;}

.top1{ width:301px;}
.top1 img{ margin:37px 0 0 36px;}
b{ color:#95AD47}




.r1 ul { margin:0; padding:0; list-style:none; line-height:23px;}
.r1 li { background:url(images/r1.gif) center left no-repeat; margin:0 0 0 0; padding:0 0 0 22px; width:182px; height:19px;}
.r1 li a { color:#484848; text-decoration:none;  background-position:left center;}
.r1 li a:hover { text-decoration:none; color:#F69803;}

.r2 ul { margin:0; padding:0; list-style:none; line-height:19px;}
.r2 li { background:url(images/r2.gif) center left no-repeat; margin:0 0 0 0; padding:0 0 0 17px;}
.r2 li a { color:#484848; text-decoration:none;  background-position:left center;}
.r2 li a:hover { text-decoration:none; color:#95AD47;}

.r3 ul { margin:0; padding:0; list-style:none; line-height:19px;}
.r3 li { background:url(images/r3.gif) center left no-repeat; margin:0 0 0 0; padding:0 0 0 17px;}
.r3 li a { color:#484848; text-decoration:none;  background-position:left center;}
.r3 li a:hover { text-decoration:none; color:#F69803;}

.r4 ul { margin:0; padding:0; list-style:none; line-height:19px;}
.r4 li { background:url(images/r4.gif) center left no-repeat; margin:0 0 0 0; padding:0 0 0 17px;}
.r4 li a { color:#484848; text-decoration:none;  background-position:left center;}
.r4 li a:hover { text-decoration:none; color:#484848;}

.r5 ul { margin:0; padding:0; list-style:none; line-height:19px;}
.r5 li { background:url(images/r5.gif) center left no-repeat; margin:0 0 0 0; padding:0 0 0 17px;}
.r5 li a { color:#484848; text-decoration:none;  background-position:left center;}
.r5 li a:hover { text-decoration:underline; color:#484848;}

/*###*/
.menu td a {height:68px;display:block;text-decoration:none;}
.menu td a:hover {text-decoration:none;}

.menu td.m1 a  {width:114px;height:68px; background:url(images/m1.jpg) no-repeat;}
.menu td.m1 a:hover {background:url(images/m1m.jpg) no-repeat top; }
.menu td.m2 a{width:105px;height:68px; background:url(images/m2.jpg) no-repeat;}
.menu td.m2 a:hover {background:url(images/m2m.jpg) no-repeat; }
.menu td.m3 a  {width:105px;height:68px; background:url(images/m3.jpg) no-repeat;}
.menu td.m3 a:hover {background:url(images/m3m.jpg) no-repeat; }
.menu td.m4 a  {width:114px;height:68px; background:url(images/m4.jpg) no-repeat;}
.menu td.m4 a:hover {background:url(images/m4m.jpg) no-repeat; }
/*###*/


.t1{background:url(images/t_bgr.jpg) top left repeat-x; width:100%; height:100%;}
.t2{background:url(images/t_bgr1.jpg) top left repeat-x; width:100%; height:100%;}
.t1 img{ margin:17px 0 0 8px;}

.t3{background:url(images/t1_gr_bgr.jpg) top left repeat-x; width:100%; height:100%;}
.t3 img{ margin:32px 0 0 13px;}
.t4{background:url(images/t1_gr_bgr1.jpg) top left repeat-x; width:100%; height:100%;}

.deep_gr td{ color:#415016; line-height:15px;}
.deep_gr td strong { color:#415016;}
.deep_gr td b { color:#1D1D1D;}
.deep_gr td a{ color:#484848; text-decoration:none} 
.deep_gr td a:hover{ color:#484848; text-decoration:underline} 

.f2 img{ vertical-align:middle}
.f2  input{ width:149px; height:21px; border:1px solid #CDCEC8; padding:1px 0 1px 4px; font-family:tahoma; font-size:11px; font-weight:bold; color:#F69803; margin-right:5px;}

.f1 td a{ color:#CFD9B8; font-size:9px; font-family:tahoma; text-decoration:underline}
.f1 td a:hover{ color:#CFD9B8; font-size:9px; font-family:tahoma; text-decoration:none}

.cc1 td input{ width:209px; height:18px; background:#F2F2F2; padding: 1px 0 1px 4px; font-family:tahoma; font-size:11px; color:#AFAFAF; border:1px solid #AFAFAF; margin:1px 0 9px 0; font-weight:bold}
.cc1 td textarea{ width:209px; height:151px; background:#F2F2F2; padding: 1px 0 1px 4px; font-family:tahoma; font-size:11px; color:#AFAFAF; border:1px solid #AFAFAF; margin:1px 0 8px 0; overflow:auto;  font-weight:bold}

.ins strong a{ color:#484848; font-size:12px; text-decoration:underline}
.ins strong a:hover{ color:#484848; font-size:12px; text-decoration:none}

