/* CSS Document */
body {
	/*background-color: #404040; */
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	margin-right: 0px;
	margin-left: 10px;
}
td {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
}
input {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
}
select {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
}
a {
	color: #1F68D1;
	text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
.login {
	width: 130px;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 11px;
	color: #000000;
}
.header {
	font-size: 13px;
}
