﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="rf_scan.aspx.vb" Inherits="_Default"%>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="height: 65px; width: 277px">
    <form id="form1" runat="server">
    <div>
    <table>
        <tr>
        
        <td >
            <asp:Button ID="btn_add_itm_rf_scan" runat="server" Text="Scanned" Visible="False" />
        </td>
             </tr>
           
        <tr>
        <td align="right" >
        <asp:Label ID="lbl_rf_scan" runat="server" BackColor="White" ForeColor="#CC33FF" Text="<%$ Resources:LibResources, Label409 %>"></asp:Label>
         </td>
            </tr>
         <tr>
             <td >
             &nbsp;
             </td>
        <td align="right">
         <asp:TextBox ID="txt_rf_id" runat="server"> </asp:TextBox>
            </td>
        </tr>
        <tr>
             <td >
         &nbsp;
             </td>
         </tr> 
         </tr>
        <tr>
             <td >
         &nbsp;
             </td>
         </tr>  
         <tr>
               <td >
             &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            </td >
               <td >
             &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            </td >
        <td >
             &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            </td >
                <td >
        <asp:Button ID="btn_exit_rf_scan" runat="server" Text="Exit" Width="80px" Visible="False" />
         </td>
    </tr> 
        <tr>
             <td >
             &nbsp;
             </td>
         <td align="right">
              <asp:TextBox ID="txt_itm_rf_scan" runat="server" Visible="False">itm_cd</asp:TextBox>
         </td>
        </tr>  
         <tr>
              <td >
             &nbsp;
             </td>
         <td align="right"  >
        <asp:TextBox ID="txt_store_cd_rf_scan" runat="server" Visible="False">store_cd</asp:TextBox>
          </td>
          </tr>  
             <td >
                  <tr>
                       <td >
             &nbsp;
             </td>
               <td align="right">
        <asp:TextBox ID="txt_loc_cd_rf_scan" runat="server" Visible="False">loc_cd</asp:TextBox>
                  </td>
            </tr>
          
        </table>
         </div>
    </form>
</body>
</html>
