<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SalesOrderPayments.aspx.vb"
    Inherits="SalesOrderPayments" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <div id="main_body" runat="server" align=center class="style5">
        </div>
    </form>
</body>
</html>
