 
<%@ Page Language="VB" MasterPageFile="~/MasterPages/NoWizard2.master" AutoEventWireup="false"
    CodeFile="soCmnt.aspx.vb" Inherits="soCmnt"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    

    <table> 
              
        <%--
  
        <tr>
            <td align="left">
                <table>
                    <tr>
                        <td align="left">
                         <asp:Label runat="server" Text="Sales_order  " ID="lbl_w_d"  Width="80px" ></asp:Label>
                        </td>

                        <td>
                           <asp:textbox ID="Text_prod_grp" runat="server"      AutoPostBack="True"  Width="160px"></asp:textbox>
                         </td>
                     </tr>
                </table>
            </td>
        </tr>
                  
       --%>
         <tr>
            <td align="right">
                <table>
                    
                              

                    <tr align="right">
                        <td colspan="2">
                            <table>
                                <tr>
                                    
                                    <td>
                                        <asp:Button ID="btn_exit" runat="server" Text="Exit"  onclick="exit_form"  Width="60px"/> </asp:Button>
                                         
                                    </td>
                                          
                                    <td>
                                         <asp:Button ID="btn_clr_screen" runat="server"   visible="false"  Width="60px"/> </asp:Button>
                                        
                                    </td>
                                    <td  align="right">

                                 <asp:Button ID="Btn_new" runat="server" Text="Insert" visible="false" /> </asp:Button>        

                        </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    
        
         <tr>
            <td>
                <asp:DataGrid ID="GV_SRR" runat="server"  Width="680px" BorderColor="Black"  runat="server" AutoPostBack="true"
                   AutoGenerateColumns="False" CellPadding="2" DataKeyField="rowid"    
                   Height="16px" AlternatingItemStyle-BackColor="Beige"  PagerStyle-NextPageText=" " PagerStyle-PrevPageText=" " CaptionAlign="Top" Captioncolor="RED">            
                    
               
                <Columns>
                                      
                 
                  <asp:BoundColumn DataField="rowid" HeaderText="Rowid" Visible="False"   ReadOnly="True" /> 

                    
                   <asp:BoundColumn DataField="DT" HeaderText="DATE"    ReadOnly="True" Visible="true" />
                  
                  <asp:BoundColumn DataField="CMNTS" HeaderText="COMMENTS"      ReadOnly="True" Visible="TRUE" />
                   
                    <asp:BoundColumn DataField="TYPE" HeaderText="TYPE"      ReadOnly="True" Visible="TRUE" />
                   
                     
                    
                
                       

                </Columns>

    </asp:DataGrid>
                
                </td>
                <td>
                    <asp:Button ID="btn_update" runat="server" Text="Update"   Width="60px" />
                  
                    </td>
       </tr>
       
         
       
          
    </table>
     <asp:Label runat="server"   ID="lbl_msg"  Width="100%" ForeColor="Red"></asp:Label>
     <asp:Label runat="server"   ID="lbl_warning"  Width="100%" ForeColor="Red"></asp:Label>
  <%-- <dx:aspxlabel ID="lbl_warning" runat="server" Width="100%" ForeColor="Red" EncodeHtml="false"></dx:aspxlabel> --%>
    <br />
    <br />
    
    <div runat="server" id="div_version">
          
        <asp:label ID="lbl_versionInfo" runat="server" >
       &nbsp;&nbsp;&nbsp; </asp:label>  
    </div>
</asp:Content>   
