<%@ Page Language="VB" MasterPageFile="~/MasterPages/NoWizard2.master" AutoEventWireup="false" CodeFile="SouthernDataCommTEST.aspx.vb" Inherits="SouthernDataCommTEST" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table>
            <tr>
                <td valign="middle" align="center">
                    &nbsp;</td>
                <td>
                    &nbsp;<img src="images/icons/Symbol-Information.png" />&nbsp;
                </td>
                <td valign="middle" align="center">
                    <b>
                        <asp:Label ID="lbl_amount" runat="server" Text=""></asp:Label>
                        <br />
                        <br />
                        <asp:Label ID="Label1" runat="server" Text="Credit Card: "></asp:Label>
                        <asp:Label ID="lbl_card_type" runat="server" Width="124px"></asp:Label>
                        <br />
                        <asp:TextBox ID="txtCardNum" runat="server" Width="194px" AutoPostBack="true"></asp:TextBox>
                        <br />
                        <br />
                        <asp:Label ID="Label2" runat="server" Text="Exp Date: "></asp:Label>
                        <asp:TextBox ID="TextBox2" runat="server" Width="17px" MaxLength="2"></asp:TextBox>
                        /
                        <asp:TextBox ID="TextBox3" runat="server" Width="17px" MaxLength="2"></asp:TextBox>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SID:
                        <asp:TextBox ID="TextBox4" runat="server" Width="17px" MaxLength="5"></asp:TextBox>
                        <br />
                        <asp:Label ID="lbl_Full_Name" runat="server" Width="202px"></asp:Label>
                        <br />
                        <br />
                        Amount:
                        <asp:TextBox ID="txt_amt" runat="server" Width="77px"></asp:TextBox><br />
                        <br />
                        <asp:Button ID="btn_save" runat="server" Text="Submit" Width="100px" />
                        <asp:Button ID="btn_Clear" runat="server" Text="Clear" Width="100px" />
                        <br />
                        <br />
                    </b><sup>Please swipe or enter the credit card information and click "Save" when finished</sup>
                </td>
            </tr>
        </table>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

