body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style1 {
	color: #9d9d8c;
	font-size: 10px;
	font-family: tahoma;
	text-decoration: none;
}
.style2 {
	color: #898977;
	font-size: 12px;
	font-family: tahoma;
	font-weight: bold;
}
.style3 {
	color: #898977;
	font-family: tahoma;
	font-size: 10px;
}
.style4 {
	font-size: 11px;
	font-weight: bold;
}
.style5 {
	color: #898977;
	font-size: 11px;
	font-family: Tahoma;
	font-weight: bold;
}
.style6 {
	color: #898977;
	font-size: 11px;
	font-family: tahoma;
}
.style7 {
	color: #97b242;
	font-size: 11px;
	font-family: tahoma;
}