.dxeLoadingDiv_PlasticBlue
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingDivWithContent_PlasticBlue
{
	background: White;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.dxeLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxeLoadingPanelWithContent_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
}

.dxeLoadingPanel_PlasticBlue td.dx,
.dxeLoadingPanelWithContent_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxeBase_PlasticBlue
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_PlasticBlue, .dxeErrorCell_PlasticBlue td
{
    font-family: Tahoma;
	font-size: 9pt;
	color: red;
}
.dxeErrorCell_PlasticBlue
{
	color: #a91123;
	padding-left: 4px;	
}
.dxeErrorFrame_PlasticBlue
{

}
.dxeErrorFrameWithoutError_PlasticBlue {
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_PlasticBlue .dxeControlsCell_PlasticBlue {
    padding: 2px;
}
.dxeEditArea_PlasticBlue 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: 1px solid #A0A0A0;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary_PlasticBlue {
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxvsValidationSummary_PlasticBlue td.dxvsRC {
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_PlasticBlue .dxvsE {
    
}

/* ValidationSummary - Header */

.dxvsValidationSummary_PlasticBlue table.dxvsHT {
    width: 100%;
}
.dxvsValidationSummary_PlasticBlue td.dxvsH {
    padding: 2px 0 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_PlasticBlue a.dxvsHL,
.dxvsValidationSummary_PlasticBlue a.dxvsHL:visited {
    color: red;
}
.dxvsValidationSummary_PlasticBlue a.dxvsHL {
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_PlasticBlue a.dxvsHL:hover {
    color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_PlasticBlue table.dxvsT {
    
}
.dxvsValidationSummary_PlasticBlue tr.dxvsE {
    
}
.dxvsValidationSummary_PlasticBlue td.dxvsETC {
    padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_PlasticBlue ul.dxvsL {
    
}
.dxvsValidationSummary_PlasticBlue ol.dxvsL {
    
}
.dxvsValidationSummary_PlasticBlue li.dxvsE {
    padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_PlasticBlue, .dxeCalendarButton_PlasticBlue,
.dxeSpinIncButton_PlasticBlue, .dxeSpinDecButton_PlasticBlue,
.dxeSpinLargeIncButton_PlasticBlue, .dxeSpinLargeDecButton_PlasticBlue
{	
	vertical-align: middle;
	border: Solid 1px #CCCCCC;
	cursor: pointer;
} 
.dxeButtonEditButton_PlasticBlue, .dxeCalendarButton_PlasticBlue, .dxeButtonEditButton_PlasticBlue td.dx, .dxeCalendarButton_PlasticBlue td.dx,
.dxeSpinIncButton_PlasticBlue, .dxeSpinDecButton_PlasticBlue, .dxeSpinLargeIncButton_PlasticBlue, .dxeSpinLargeDecButton_PlasticBlue,
.dxeSpinIncButton_PlasticBlue td.dx, .dxeSpinDecButton_PlasticBlue td.dx, .dxeSpinLargeIncButton_PlasticBlue td.dx, .dxeSpinLargeDecButton_PlasticBlue td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;        
	font-weight: normal;    
    text-align: center;
} 
.dxeButtonEditButton_PlasticBlue
{
    padding: 0px;
	background-image: url('edtButtonEditButtonBack.gif');
    background-repeat: repeat-x;
    background-position: top;
    background-color: #223672;
    border: Solid 1px #2c4182;
}
.dxeSpinIncButton_PlasticBlue, .dxeSpinDecButton_PlasticBlue
{
    padding: 2px 0px;
	border-style: none;
}
.dxeSpinLargeIncButton_PlasticBlue, .dxeSpinLargeDecButton_PlasticBlue
{
    padding: 0px 0px;    
}
.dxeSpinLargeIncButton_PlasticBlue
{
    padding-left: 1px;
}

.dxeSpinIncButton_PlasticBlue
{
	background-image: url('edtSpinIncBtnBack.gif');
    background-repeat: repeat-x;
    background-position: top;
	background-color: #566bad;
	border-bottom: Solid 1px #fafafa;
}
.dxeSpinDecButton_PlasticBlue
{
	background-image: url('edtSpinDecBtnBack.gif');
    background-repeat: repeat-x;
    background-position: top;
	background-color: #4a5ea0;
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_PlasticBlue, .dxeSpinLargeDecButton_PlasticBlue
{
   	background-image: url('edtSpinLargeIncBtnBack.gif');
    background-repeat: no-repeat;
    background-position: top;
	background-color: #223672;
	border-style: none;
}
.dxeSpinLargeDecButton_PlasticBlue
{
}
.dxeSpinLargeIncButton_PlasticBlue
{
}

.dxeButtonEditButton_PlasticBlue .dxbebt_PlasticBlue 
{
	width: 14px;
}
.dxeSpinIncButton_PlasticBlue table.dxbebt, .dxeSpinDecButton_PlasticBlue table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_PlasticBlue table.dxbebt
{
	width: 14px;
}
.dxeSpinLargeIncButton_PlasticBlue table.dxbebt
{
	width: 13px;    
}
.dxeButtonEditButton_PlasticBlue table.dxbebt {
    padding-left: 3px;
	padding-right: 3px;
}
.dxeButtonEditButton_PlasticBlue table.dxbebt td.dx
{
    color: White;
}

.dxeCalendarButton_PlasticBlue
{
    background-image: url('edtCalendarButtonBack.gif');
    background-position: left, top;    
    background-color: #e5e5e5;
    padding: 4px 13px;
    padding-top: 2px;
    width: 30px;
}
.dxeCalendarButton_PlasticBlue table.dxbebt
{
	width: 100%;
}
.dxeCalendarButton_PlasticBlue td.dx
{
	text-align: center;
	white-space: nowrap;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_PlasticBlue
{
	background-image: none;    
	background-color: #dcdcdc;
}
.dxeButtonEditButtonPressed_PlasticBlue
{
	background-image: url('edtDropDownButtonPressedBack.gif');
	background-repeat: repeat-x;
}
.dxeSpinIncButtonPressed_PlasticBlue
{
	background-image: url('edtSpinIncBtnPBack.gif');
	background-repeat: repeat-x;
    background-position: top;	
    background-color: #394e8d;
}
.dxeSpinDecButtonPressed_PlasticBlue
{
	background-image: url('edtSpinDecBtnPBack.gif');
	background-repeat: repeat-x;
    background-position: top;	
    background-color: #8c9ec7;    
}

.dxeSpinLargeIncButtonPressed_PlasticBlue, .dxeSpinLargeDecButtonPressed_PlasticBlue
{
	background-image: url('edtSpinLargeIncBtnPBack.gif');
	background-repeat: no-repeat;
    background-position: top;	
    background-color: #8c9ec7;
    border-style: none;
}

/* -- Hover -- */
.dxeCalendarButtonHover_PlasticBlue
{
    background-image: url('edtCalendarButtonHBack.gif');
    background-position: top, left;
    background-color: #F2F2F2;
}
.dxeButtonEditButtonHover_PlasticBlue
{
    background-image: url('edtDropDownButtonHoverBack.gif');
    background-position: top, left;    
}
.dxeSpinLargeIncButtonHover_PlasticBlue,
.dxeSpinLargeDecButtonHover_PlasticBlue
{
	background-image: url('edtSpinLargeIncBtnHBack.gif');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #8CA0CF;
    boreder-style: none;
}

.dxeSpinIncButtonHover_PlasticBlue
{
	background-image: url('edtSpinIncBtnHBack.gif');
    background-repeat: repeat-x;
    background-position: top;
    background-color: #F2F2F2;
}
.dxeSpinDecButtonHover_PlasticBlue
{
	background-image: url('edtSpinDecBtnHBack.gif');
    background-repeat: repeat-x;
    background-position: top;
    background-color: #576BA1;
}

.dxeButtonEdit_PlasticBlue
{
    border: Solid 1px #b8b8b8;
    background-color: White;
    width: 170px;
}
.dxeButtonEdit_PlasticBlue .dxeEditArea_PlasticBlue
{
    background-color: White;
}
.dxeButtonEdit_PlasticBlue .dxeEditArea_PlasticBlue, .dxeButtonEdit_PlasticBlue td.dxic
{
	width: 100%;
}
.dxeButtonEdit_PlasticBlue td.dxic
{
    padding: 1px 3px 1px 1px;
}
.dxeButtonEdit_PlasticBlue .dxeIIC img {
    padding-left: 3px;
}
.dxeTextBox_PlasticBlue, .dxeMemo_PlasticBlue
{
    background-color: White;
    border: solid 1px #B8B8B8;
}
.dxeTextBox_PlasticBlue .dxeEditArea_PlasticBlue, .dxeMemo_PlasticBlue .dxeMemoEditArea_PlasticBlue {
    background-color: White;
}
.dxeTextBox_PlasticBlue td.dxic
{
	padding: 2px;
}
.dxeTextBox_PlasticBlue td.dxic 
{
	width: 100%;
}
.dxeRadioButtonList_PlasticBlue
{
    border: Solid 1px #B8B8B8;
}
.dxeRadioButtonList_PlasticBlue, .dxeRadioButtonList_PlasticBlue table
{
    font-family: Tahoma;
    font-size: 9pt;
}
.dxeRadioButtonList_PlasticBlue td.dxe
{
    padding: 7px 0 5px 6px;
}
.dxeRadioButtonList_PlasticBlue label
{
	margin-right: 6px;    
}

/* -- Memo -- */
.dxeMemo_PlasticBlue
{
	width: 170px;
	border: Solid 1px #B8B8B8;
}
.dxeMemoEditArea_PlasticBlue 
{
	font: 9pt Tahoma;
}
.dxeMemo_PlasticBlue td
{
	padding: 0 0 0 4px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_PlasticBlue
{
    font-family: Tahoma;
    font-size: 9pt;
	font-weight: normal;    
    color: #5A83D0;    
}
a:hover.dxeHyperlink_PlasticBlue
{
    color: #2443AA;    
}
a:visited.dxeHyperlink_PlasticBlue
{
    color: #996085;    
}

/* -- ListBox -- */
.dxeListBox_PlasticBlue
{
	background-color: #fafafa;	
	border: solid 1px #B8B8B8;
    font-family: Tahoma;
    font-size: 9pt;
	height: 103px;
    width: 70px;
}
.dxeListBox_PlasticBlue div.dxlbd
{
	padding-top: 1px;    
    height: 102px;
}
.dxeListBoxItemRow_PlasticBlue
{
    cursor: default;
}
.dxeListBoxItem_PlasticBlue
{    
    border-bottom: solid 1px #fafafa;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    color: Black;    
    font-family: Tahoma;
    font-size: 9pt;     
    font-weight: normal;
    padding: 2px 2px 3px 4px;
    white-space: nowrap;
    text-align: left;
}
.dxeListBoxItem_PlasticBlue em
{    
    background:none repeat scroll 0 0 #dedede;
    color:#333333;
    font-weight:bold;
    font-style:normal;
}
.dxeListBoxItemSelected_PlasticBlue     /* inherits dxeListBoxItem */
{    
    color: White;
    background-color: #6d82c5;
}
.dxeListBoxItemHover_PlasticBlue        /* inherits dxeListBoxItem */
{
    background-color: #dedede;
	color: Black;
}
.dxeListBoxItemHover_PlasticBlue em, .dxeListBoxItemSelected_PlasticBlue em
{
    background: none;
}

.dxeListBox_PlasticBlue td.dxeI, .dxeListBox_PlasticBlue td.dxeIM, .dxeListBox_PlasticBlue .dxeHIC,
.dxeListBox_PlasticBlue td.dxeFTM, .dxeListBox_PlasticBlue td.dxeTM,
.dxeListBox_PlasticBlue td.dxeC, .dxeListBox_PlasticBlue td.dxeCM, .dxeListBox_PlasticBlue td.dxeHCC, .dxeListBox_PlasticBlue td.dxeMI, .dxeListBox_PlasticBlue td.dxeMIM
{
    padding-right: 0px!important;
    border-right-width: 0px!important;
}
.dxeListBox_PlasticBlue td.dxeCM, .dxeListBox_PlasticBlue td.dxeHCC
{
    width: 25px;
}
.dxeListBox_PlasticBlue td.dxeIM
{
    width: 0;
}
.dxeListBox_PlasticBlue td.dxeT
{
    width: 100%;    
    padding-left: 0px!important;
}
.dxeListBox_PlasticBlue td.dxeT, .dxeListBox_PlasticBlue td.dxeMI
{
    border-left-width: 0px!important;
}
.dxeListBox_PlasticBlue td.dxeFTM, .dxeListBox_PlasticBlue td.dxeTM, .dxeListBox_PlasticBlue td.dxeLTM,
.dxeListBox_PlasticBlue .dxeHFC, .dxeListBox_PlasticBlue .dxeHC, .dxeListBox_PlasticBlue .dxeHLC
{
    overflow: hidden;
}
.dxeListBox_PlasticBlue td.dxeFTM, .dxeListBox_PlasticBlue td.dxeTM, 
.dxeListBox_PlasticBlue .dxeHFC, .dxeListBox_PlasticBlue .dxeHC
{
    padding-right: 6px!important;
}
.dxeListBox_PlasticBlue td.dxeLTM, .dxeListBox_PlasticBlue td.dxeTM, 
.dxeListBox_PlasticBlue .dxeHC,  .dxeListBox_PlasticBlue .dxeHLC
{
    padding-left: 6px!important;
}
/*Grid lines*/
.dxeListBox_PlasticBlue td.dxeLTM, .dxeListBox_PlasticBlue td.dxeTM, .dxeListBox_PlasticBlue td.dxeMIM
{
    border-left: 1px solid #D9D9D9 !important;
}
.dxeListBox_PlasticBlue td.dxeIM, .dxeListBox_PlasticBlue td.dxeFTM, .dxeListBox_PlasticBlue td.dxeTM, .dxeListBox_PlasticBlue td.dxeLTM,
.dxeListBox_PlasticBlue td.dxeCM, .dxeListBox_PlasticBlue td.dxeMIM
{
    border-bottom: solid 1px #D9D9D9;
}
/*Header*/
.dxeListBox_PlasticBlue .dxeHD
{
    background-color: #415698;
    background-image:url('lbHeaderBackground.gif');
    background-position:center top;
    background-repeat:repeat-x;
    border-bottom: solid 1px #2C4182;
}
.dxeListBox_PlasticBlue .dxeHFC, .dxeListBox_PlasticBlue .dxeHIC, .dxeListBox_PlasticBlue .dxeHC,  .dxeListBox_PlasticBlue .dxeHLC,
.dxeListBox_PlasticBlue td.dxeHCC, .dxeListBox_PlasticBlue td.dxeHMIC
{
    padding-top: 7px;
    padding-bottom: 7px;
    color:White;
    border-bottom-width: 0px;
}
.dxeListBox_PlasticBlue .dxeHC,  .dxeListBox_PlasticBlue .dxeHLC, .dxeListBox_PlasticBlue td.dxeHMIC
{
    border-left: solid 1px #2C4182;
}
.dxeListBox_PlasticBlue .dxeHIC, .dxeListBox_PlasticBlue .dxeHFC, .dxeListBox_PlasticBlue .dxeHCC
{
    border-left:1px solid #415698;
}
.dxeListBox_PlasticBlue .dxeHFC, .dxeListBox_PlasticBlue .dxeHC, .dxeListBox_PlasticBlue .dxeHMIC
{
    border-right-width:0;
}
.dxeListBox_PlasticBlue .dxeHLC
{
    border-right: solid 1px #2C4182;
}

/* -- Calendar -- */
.dxeCalendar_PlasticBlue
{
	color: black;
    border: solid 1px #CCCCCC;
    background-color: #FAFAFA;
	font-weight: normal;    
}
.dxeCalendar_PlasticBlue td.dxMonthGrid, .dxeCalendar_PlasticBlue td.dxMonthGridWithWeekNumbers
{
    padding: 2px 22px 5px;
    cursor: default;
}
.dxeCalendar_PlasticBlue td.dxMonthGridWithWeekNumbers
{
    padding-left: 10px;    
}
.dxeCalendarDayHeader_PlasticBlue
{
    color: Black;
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 6px;   
    background-color: transparent; 
    border-bottom: solid 1px #E8E8E8;    
}
.dxeCalendarWeekNumber_PlasticBlue
{    
    font-family: Tahoma;
    font-size: 10px;    
    text-align: right;
    padding: 4px 6px;
    color: #9CAEE3;
}
.dxeCalendarDay_PlasticBlue
{    
    font: 12px Tahoma;    
    padding: 4px 6px 4px 6px;
    text-align: center;
}
.dxeCalendarWeekend_PlasticBlue        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_PlasticBlue     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_PlasticBlue      /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarToday_PlasticBlue      /* inherits dxeCalendarDay */
{
    padding: 3px;
    border: solid 1px #5066AC;
}
.dxeCalendarSelected_PlasticBlue       /* inherits dxeCalendarDay */
{
    color: White;
    background-color: #5066AC;
}
.dxeCalendarHeader_PlasticBlue
{    
    background-color: #3F5495;
    background-image: url('edtCalendarHeaderBack.gif');
    background-repeat:repeat-x;
    background-position: top;
    
    border-bottom: solid 1px #2C4182;
    padding: 3px 12px;
    padding-top: 4px;
}
.dxeCalendarHeader_PlasticBlue td.dxe
{
    color: White;
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_PlasticBlue, .dxeCalendarFastNavFooter_PlasticBlue 
{
    background: url('edtCalendarFooterBack.gif') no-repeat left top #E9E9E9;
    padding: 10px 0px;        
    border-top: solid 1px #CCCCCC;
}
.dxeCalendarFastNav_PlasticBlue
{
    background: white;
    border: solid 1px #cccccc;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavFooter_PlasticBlue
{
	color: black;
    border: solid 1px #cccccc;
}
.dxeCalendarFastNavMonth_PlasticBlue, .dxeCalendarFastNavYear_PlasticBlue
{
    font: normal 9pt Tahoma;
    color: Black;
    padding: 5px 4px;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_PlasticBlue
{
    padding: 4px 20px;
}
.dxeCalendarFastNavMonthHover_PlasticBlue, .dxeCalendarFastNavYearHover_PlasticBlue
{    
    color: black;
    background: #e9e9e9;        
}
.dxeCalendarFastNavMonthSelected_PlasticBlue, .dxeCalendarFastNavYearSelected_PlasticBlue
{        
    color: white;
    background: #5066ac;
}
/* Disabled */
.dxeDisabled_PlasticBlue, .dxeDisabled_PlasticBlue td.dxe,
.dxeDisabled_PlasticBlue .dxeEditArea_PlasticBlue,
.dxeDisabled_PlasticBlue .dxeMemoEditArea_PlasticBlue {
	color: #b8b8b8;
	background: #fafafa;
	cursor: default;
}
a.dxeDisabled_PlasticBlue, a.dxeDisabled_PlasticBlue:hover
{
    color: #b8b8b8;
}
.dxeButtonDisabled_PlasticBlue, .dxeButtonDisabled_PlasticBlue td.dxe
{
	color: White;
	background: #b7b7b7 url('edtButtonEditButtonBackDis.gif') repeat-x top left;
	border-color: #ababab;
	cursor: default;
}
/* -- Button -- */
.dxbButton_PlasticBlue 
{	
  	color: #000000;    
	font-weight:normal;  	
	font-size: 9pt;
	font-family: Tahoma;				    
	vertical-align: middle;	 		
	border: solid 1px #B8B8B8;
    background: #e5e5e5 url('edtButtonBack.gif') top left;
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
.dxbButtonHover_PlasticBlue  
{
    color: #000000;    
	background: #F2F2F2 url('edtButtonBackHover.gif') top left;
}
.dxbButtonChecked_PlasticBlue  
{
    color: #000000;
	background-image: none;    
	background-color: #DEDEDE;
}
.dxbButtonPressed_PlasticBlue  
{
    color: #000000;
    background-image: none;
	background-color: #cbcbcb;
}
.dxbButton_PlasticBlue  div.dxb
{    
    padding: 2px 10px 3px 10px;
	border: 0px;
}
.dxbButton_PlasticBlue  div.dxbf
{     
    padding: 1px 9px 2px 9px;
	border: Dotted 1px #000000;
}
.dxbButton_PlasticBlue  div.dxb table
{    
  	color: #000000;    
	font-weight:normal;  	
	font-size: 9pt;
	font-family: Tahoma;				    
}
.dxbButton_PlasticBlue div.dxb td.dxb
{    
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Disabled */
.dxbDisabled_PlasticBlue 
{
	color: #b8b8b8;
	cursor: default;
}
.dxbDisabled_PlasticBlue td.dxb
{
	color: #b8b8b8;
}

/* -- FilterControl -- */
.dxfcTable_PlasticBlue
{
	border-collapse: separate!important;
}
.dxfcTable_PlasticBlue td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 9pt Tahoma;
	color: Black;
}
a.dxfcPropertyName_PlasticBlue
{
	white-space:nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_PlasticBlue
{
	white-space:nowrap!important;
	padding:0px 3px 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_PlasticBlue
{
	white-space:nowrap!important;
	color: Green!important;
}
a.dxfcValue_PlasticBlue
{
	white-space:nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_PlasticBlue 
{
	cursor: pointer;
}

.dxfcLoadingPanel_PlasticBlue
{
	border: solid 1px #CCCCCC;
	background: white;
	font: 9pt Tahoma;
	color: #303030;
}
.dxfcLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxfcLoadingDiv_PlasticBlue
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeMaskHint_PlasticBlue 
{
	background: #ffffe1;
	border: solid 1px black;
	padding: 2px 5px 3px;
	color: Black;
	font: 9pt Tahoma;
}
/* -- ProgressBar -- */
.dxeProgressBar_PlasticBlue .dxePBMainCell
{
    padding: 1px;
}
.dxeProgressBar_PlasticBlue td.dxe
{
    padding: 0;
}
.dxeProgressBar_PlasticBlue, .dxeProgressBar_PlasticBlue td.dxe
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: #000000;
}
.dxeProgressBar_PlasticBlue td
{
	background-image: url('edtProgressPositionBack.gif');
	background-repeat: no-repeat;
	background-position: 50% 0px;
}
.dxeProgressBar_PlasticBlue
{
    border: Solid 1px #B8B8B8;
    background-color: #F5F5F5;
}
.dxeProgressBarIndicator_PlasticBlue
{
    background-color: #3E5496;
	background-image: url('edtProgressIndicatorBack.gif');
    background-repeat: repeat-x;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_PlasticBlue
{
    border: Solid 1px #b8b8b8;
    background-color: #FAFAFA;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_PlasticBlue
{
    border: solid 1px #b8b8b8;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeColorTable_PlasticBlue
{
    background-color: #FAFAFA;
    border: solid 1px #b8b8b8;
}
.dxeColorTable_PlasticBlue td.dx
{
    padding: 4px 4px;
}
.dxeColorTableCell_PlasticBlue {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_PlasticBlue {
    border: solid 1px #808080;
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.dxeColorTableCellSelected_PlasticBlue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;

    background-color: #CBCBCB;
    border: solid 1px #888888;
}
.dxeColorTableCellHover_PlasticBlue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    
    background-color: #F2F2F2;
    border: solid 1px #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_PlasticBlue
{

}
.dxeInvalid_PlasticBlue .dxeEditArea_PlasticBlue,
.dxeInvalid_PlasticBlue .dxeMemoEditArea_PlasticBlue {
}

/* -- Focused Style -- */
.dxeFocused_PlasticBlue 
{
    border: solid 1px #909090;
}
.dxeFocused_PlasticBlue .dxeEditArea_PlasticBlue,
.dxeFocused_PlasticBlue .dxeMemoEditArea_PlasticBlue
{
    background-color: White;
}
.dxeFocused_PlasticBlue .dxeListBoxItem_PlasticBlue
{
	border-bottom-color: White;
}

/* -- Null Text Style -- */
.dxeNullText_PlasticBlue .dxeEditArea_PlasticBlue,
.dxeNullText_PlasticBlue .dxeMemoEditArea_PlasticBlue
{
    color: #b8b8b8;
}

/* -- Captcha -- */
.dxcaRefreshButton_PlasticBlue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
	color: #5a83d0;
}

.dxcaDisabledRefreshButton_PlasticBlue
{
	color: #b8b8b8;
}

.dxcaRefreshButtonCell_PlasticBlue
{
}

.dxcaRefreshButtonText_PlasticBlue
{
}

.dxcaDisabledRefreshButtonText_PlasticBlue
{
}

.dxcaTextBoxCell_PlasticBlue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCell_PlasticBlue, .dxcaTextBoxCellNoIndent_PlasticBlue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCellNoIndent_PlasticBlue .dxeErrorCell_PlasticBlue
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_PlasticBlue
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma;
	color: #303030;
}

.dxcaLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}


