.dxeLoadingDiv_Office2003Blue
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingDivWithContent_Office2003Blue
{
    background: White;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.dxeLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxeLoadingPanelWithContent_Office2003Blue
{
	font: 9pt Tahoma;
	color: #303030;
	border:solid 1px #4f93e3;
	background-color: white;
}

.dxeLoadingPanel_Office2003Blue td.dx,
.dxeLoadingPanelWithContent_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxeBase_Office2003Blue
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2003Blue, .dxeErrorCell_Office2003Blue td
{
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxeErrorCell_Office2003Blue
{
	padding-left: 4px;
	padding-right:5px;		
}
.dxeErrorFrame_Office2003Blue
{
	
}
.dxeErrorFrameWithoutError_Office2003Blue {
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_Office2003Blue .dxeControlsCell_Office2003Blue {
    padding: 2px;
}

.dxeEditArea_Office2003Blue 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: solid 1px #6a8ccb;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary_Office2003Blue {
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxvsValidationSummary_Office2003Blue td.dxvsRC {
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_Office2003Blue .dxvsE {
    
}

/* ValidationSummary - Header */

.dxvsValidationSummary_Office2003Blue table.dxvsHT {
    width: 100%;
}
.dxvsValidationSummary_Office2003Blue td.dxvsH {
    padding: 2px 0 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_Office2003Blue a.dxvsHL,
.dxvsValidationSummary_Office2003Blue a.dxvsHL:visited {
    color: red;
}
.dxvsValidationSummary_Office2003Blue a.dxvsHL {
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Office2003Blue a.dxvsHL:hover {
    color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_Office2003Blue table.dxvsT {
    
}
.dxvsValidationSummary_Office2003Blue tr.dxvsE {
    
}
.dxvsValidationSummary_Office2003Blue td.dxvsETC {
    padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_Office2003Blue ul.dxvsL {
    
}
.dxvsValidationSummary_Office2003Blue ol.dxvsL {
    
}
.dxvsValidationSummary_Office2003Blue li.dxvsE {
    padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_Office2003Blue, .dxeCalendarButton_Office2003Blue,
.dxeSpinIncButton_Office2003Blue, .dxeSpinDecButton_Office2003Blue,
.dxeSpinLargeIncButton_Office2003Blue, .dxeSpinLargeDecButton_Office2003Blue
{
	vertical-align: middle;
	border: solid 1px #6a8ccb;
	cursor: pointer;
} 
.dxeButtonEditButton_Office2003Blue, .dxeCalendarButton_Office2003Blue, .dxeButtonEditButton_Office2003Blue td.dx, .dxeCalendarButton_Office2003Blue td.dx,
.dxeSpinIncButton_Office2003Blue, .dxeSpinDecButton_Office2003Blue,
.dxeSpinLargeIncButton_Office2003Blue, .dxeSpinLargeDecButton_Office2003Blue,
.dxeSpinIncButton_Office2003Blue td.dx, .dxeSpinDecButton_Office2003Blue td.dx,
.dxeSpinLargeIncButton_Office2003Blue td.dx, .dxeSpinLargeDecButton_Office2003Blue td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;    
    font-weight: normal;    
	text-align: center;
} 
.dxeButtonEditButton_Office2003Blue
{
	background: url('edtButtonBack.gif') repeat-x center bottom #d7e8fd;
    padding: 0px 1px;
}
.dxeSpinIncButton_Office2003Blue, .dxeSpinDecButton_Office2003Blue
{
	border-style: none;	
	padding: 0px;
}
.dxeSpinLargeIncButton_Office2003Blue, .dxeSpinLargeDecButton_Office2003Blue
{
	border-style: none;
	padding: 0px;
}

.dxeButtonEditButton_Office2003Blue table.dxbebt
{
	width: 14px;
}
.dxeSpinLargeIncButton_Office2003Blue
{
    padding-left: 1px;
}
.dxeSpinIncButton_Office2003Blue
{
    background: url('edtSpinIncBtnBack.gif') no-repeat top left #9abbea;
	border-bottom: Solid 1px #FFFFFF;
}
.dxeSpinDecButton_Office2003Blue
{
	background: url('edtSpinDecBtnBack.gif') no-repeat top left #a2c1ec;
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_Office2003Blue, .dxeSpinLargeDecButton_Office2003Blue
{
   	background: url('edtSpinLargeIncBtnBack.gif') no-repeat top left #93b6e8;
}

.dxeCalendarButton_Office2003Blue
{
	background: url('edtButtonBack.gif') repeat-x center bottom #d7e8fd;
	padding: 4px 11px;
	padding-top: 2px;
	width: 32px;
    cursor: default;
}
.dxeCalendarButton_Office2003Blue table.dxbebt
{
	width: 100%;
}
.dxeCalendarButton_Office2003Blue td.dx
{
	text-align: center;
	white-space: nowrap;    
}
/* SpinButtons */
.dxeSpinIncButton_Office2003Blue table.dxbebt, .dxeSpinDecButton_Office2003Blue table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_Office2003Blue table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeIncButton_Office2003Blue table.dxbebt
{
	width: 14px;    
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2003Blue, .dxeButtonEditButtonPressed_Office2003Blue
{
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;
	border: solid 1px #000080;	
}
/* SpinButtons */
.dxeSpinIncButtonPressed_Office2003Blue, .dxeSpinDecButtonPressed_Office2003Blue
{
    border-style: none;    
}
.dxeSpinIncButtonPressed_Office2003Blue
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonPressed_Office2003Blue
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonPressed_Office2003Blue, .dxeSpinLargeDecButtonPressed_Office2003Blue
{
	background: url('edtSpinLargeIncBtnPBack.gif') no-repeat top left #ffc17c;
	border-style: none;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2003Blue, .dxeButtonEditButtonHover_Office2003Blue
{
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
	border: solid 1px #000080;
}
/* SpinButtons */
.dxeSpinIncButtonHover_Office2003Blue, .dxeSpinDecButtonHover_Office2003Blue
{
    border-style: none;    
}
.dxeSpinIncButtonHover_Office2003Blue
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom: Solid 1px #ffffff;    
}
.dxeSpinDecButtonHover_Office2003Blue
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonHover_Office2003Blue, .dxeSpinLargeDecButtonHover_Office2003Blue
{
	background: url('edtSpinLargeIncBtnHBack.gif') no-repeat top left #ffdaa1;
	border-style: none;
}

.dxeButtonEdit_Office2003Blue
{
    background-color: white;
    border: solid 1px #6a8ccb;
    width: 170px;
}
.dxeButtonEdit_Office2003Blue .dxeEditArea_Office2003Blue
{
    background-color: white;
}
.dxeButtonEdit_Office2003Blue .dxeEditArea_Office2003Blue, .dxeButtonEdit_Office2003Blue td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Office2003Blue td.dxic
{
    padding: 0px 2px 0px 1px;
}
.dxeButtonEdit_Office2003Blue .dxeIIC img {
    padding-left: 3px;
}
.dxeTextBox_Office2003Blue, .dxeMemo_Office2003Blue
{
    background-color: white;
    border: solid 1px #6a8ccb;
}
.dxeTextBox_Office2003Blue td.dxic
{
	padding: 1px 2px;
	width: 100%;
}
.dxeTextBox_Office2003Blue .dxeEditArea_Office2003Blue
{
    background-color: white;
}
.dxeRadioButtonList_Office2003Blue, .dxeRadioButtonList_Office2003Blue table
{
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_Office2003Blue
{
    border: Solid 1px #6a8ccb;
}
.dxeRadioButtonList_Office2003Blue td.dxe
{
    padding: 6px 11px;
    padding-right: 5px;
}
.dxeRadioButtonList_Office2003Blue label
{
	margin-right: 6px;    
}

/* -- Memo -- */
.dxeMemo_Office2003Blue
{

}
.dxeMemoEditArea_Office2003Blue 
{
	background-color: white;
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_Office2003Blue td
{
	padding: 0 0 0 4px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2003Blue
{
    font-family: Tahoma;
    font-size: 9pt;
	font-weight: normal;    
    color: black;    
	text-decoration: underline;
}

/* -- ListBox -- */
.dxeListBox_Office2003Blue
{
	background-color: white;
	border: solid 1px #6a8ccb;
    font-family: Tahoma;
    font-size: 9pt;
    height: 113px;
    width: 70px;
}
.dxeListBox_Office2003Blue div.dxlbd
{
	padding-top: 1px;    
    height: 112px;
}
.dxeListBoxItemRow_Office2003Blue
{
    cursor: default;
}
.dxeListBoxItem_Office2003Blue
{    
    border-bottom: solid 1px white;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    color: Black;        
    font-family: Tahoma;
    font-size: 9pt;  
    font-weight: normal;
    padding: 3px 2px 4px 3px;
    white-space: nowrap;
    text-align: left;
}
.dxeListBoxItem_Office2003Blue em 
{
    background:none repeat scroll 0 0 #cce2fc;
    color:#333333;
    font-weight:bold;
    font-style:normal;     
}
.dxeListBoxItemSelected_Office2003Blue     /* inherits dxeListBoxItem */
{    
    color: black;
    background-color: #ffc076;
}
.dxeListBoxItemHover_Office2003Blue        /* inherits dxeListBoxItem */
{
    background-color: #cce2fc;
}
.dxeListBoxItemHover_Office2003Blue em, .dxeListBoxItemSelected_Office2003Blue em
{
    background: none;
}
.dxeListBox_Office2003Blue td.dxeI, .dxeListBox_Office2003Blue td.dxeIM, .dxeListBox_Office2003Blue .dxeHIC,
.dxeListBox_Office2003Blue td.dxeFTM, .dxeListBox_Office2003Blue td.dxeTM,
.dxeListBox_Office2003Blue td.dxeC, .dxeListBox_Office2003Blue td.dxeCM, .dxeListBox_Office2003Blue td.dxeHCC, .dxeListBox_Office2003Blue td.dxeMI, .dxeListBox_Office2003Blue td.dxeMIM
{
    border-right-width: 0px!important;
}
.dxeListBox_Office2003Blue td.dxeCM, .dxeListBox_Office2003Blue td.dxeHCC
{
    width: 25px;
}
.dxeListBox_Office2003Blue td.dxeIM
{
    width: 0;
}
.dxeListBox_Office2003Blue td.dxeT
{
    width: 100%;    
    padding-left: 0px!important;
}
.dxeListBox_Office2003Blue td.dxeT, .dxeListBox_Office2003Blue td.dxeMI
{
    border-left-width: 0px!important;
}
.dxeListBox_Office2003Blue td.dxeFTM, .dxeListBox_Office2003Blue td.dxeTM, .dxeListBox_Office2003Blue td.dxeLTM,
.dxeListBox_Office2003Blue .dxeHFC, .dxeListBox_Office2003Blue .dxeHC, .dxeListBox_Office2003Blue .dxeHLC
{
    overflow: hidden;
}
.dxeListBox_Office2003Blue td.dxeFTM, .dxeListBox_Office2003Blue td.dxeTM, 
.dxeListBox_Office2003Blue .dxeHFC, .dxeListBox_Office2003Blue .dxeHC
{
    padding-right: 6px!important;
}
.dxeListBox_Office2003Blue td.dxeLTM, .dxeListBox_Office2003Blue td.dxeTM, 
.dxeListBox_Office2003Blue .dxeHC,  .dxeListBox_Office2003Blue .dxeHLC
{
    padding-left: 6px!important;
}
/*Grid lines*/
.dxeListBox_Office2003Blue td.dxeLTM, .dxeListBox_Office2003Blue td.dxeTM, .dxeListBox_Office2003Blue td.dxeMIM
{
    border-left: 1px solid #BFD3EE !important;
}
.dxeListBox_Office2003Blue td.dxeIM, .dxeListBox_Office2003Blue td.dxeFTM, .dxeListBox_Office2003Blue td.dxeTM, .dxeListBox_Office2003Blue td.dxeLTM,
.dxeListBox_Office2003Blue td.dxeCM, .dxeListBox_Office2003Blue td.dxeMIM
{
    border-bottom: solid 1px #BFD3EE;
}
/*Header*/
.dxeListBox_Office2003Blue .dxeHD
{
    background-color: #94B6E8;
    background-image:url('lbHeaderBackground.gif');
    background-position:center top;
    background-repeat:repeat-x;
    border-bottom: solid 1px #6A8CCB;
}
.dxeListBox_Office2003Blue .dxeHFC, .dxeListBox_Office2003Blue .dxeHIC, .dxeListBox_Office2003Blue .dxeHC,  .dxeListBox_Office2003Blue .dxeHLC,
.dxeListBox_Office2003Blue td.dxeHCC, .dxeListBox_Office2003Blue td.dxeHMIC
{
    border-bottom-width: 0px;
    padding-top: 4px;
    padding-bottom: 5px;
}
.dxeListBox_Office2003Blue .dxeHC,  .dxeListBox_Office2003Blue .dxeHLC, .dxeListBox_Office2003Blue td.dxeHMIC
{
    border-left: solid 1px #6A8CCB;
}
.dxeListBox_Office2003Blue .dxeHIC, .dxeListBox_Office2003Blue .dxeHFC, .dxeListBox_Office2003Blue .dxeHCC
{
    border-left:1px solid #94B6E8;
}
.dxeListBox_Office2003Blue .dxeHFC, .dxeListBox_Office2003Blue .dxeHC, .dxeListBox_Office2003Blue .dxeHMIC
{
    border-right-width:0;
}
.dxeListBox_Office2003Blue .dxeHLC
{
    border-right: solid 1px #6A8CCB;
}


/* -- Calendar -- */
.dxeCalendar_Office2003Blue
{
 	color: black;
	font-weight: normal; 	
    border: solid 1px #6a8ccb;
    background-color: white;
}
.dxeCalendar_Office2003Blue td.dxMonthGrid 
{
    padding: 8px 20px;
    cursor: default;
}
.dxeCalendar_Office2003Blue td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
    cursor: default;
}
.dxeCalendarDayHeader_Office2003Blue
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 5px;    
    border-bottom: solid 1px #cbe1fc;    
}
.dxeCalendarWeekNumber_Office2003Blue
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;    
	padding: 6px 8px 2px 4px;  
    color: #81a9e2;
}
.dxeCalendarDay_Office2003Blue
{    
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;
    text-align: center;
}
.dxeCalendarWeekend_Office2003Blue          /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_Office2003Blue     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_Office2003Blue      /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarToday_Office2003Blue                /* inherits dxeCalendarDay */
{
    padding: 3px;
    border: solid 1px #c00000;
}
.dxeCalendarSelected_Office2003Blue        /* inherits dxeCalendarDay */
{
    color: black;
    background-color: #ffc076;
}
.dxeCalendarHeader_Office2003Blue
{
    background: url('edtCalendarHeadBack.gif') repeat-x center bottom #ddecfe;
    border: solid 1px #bbd1ec;
	border-width: 1px 0;
    padding: 4px 7px;
}
.dxeCalendarHeader_Office2003Blue td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_Office2003Blue 
{
    background-color: #ddecfe;
    padding: 8px 0px;    
    border-top: solid 1px #cbe1fc;
}
.dxeCalendarFastNav_Office2003Blue
{
    background: white;
    border: solid 1px #6a8ccb;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_Office2003Blue
{
    padding: 0px 9px;
}
.dxeCalendarFastNavFooter_Office2003Blue
{
	color: black;
    background-color: #ddecfe;
    padding: 8px 0px;   
    border: solid 1px #6a8ccb;
    border-top: solid 1px #cbe1fc;
}
.dxeCalendarFastNavMonth_Office2003Blue, .dxeCalendarFastNavYear_Office2003Blue
{
    font: normal 9pt Tahoma;
    color: Black;
    padding: 3px 5px;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_Office2003Blue
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_Office2003Blue, .dxeCalendarFastNavYearSelected_Office2003Blue
{
    background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
    padding: 2px 4px;
    border: solid 1px #000080;
}
.dxeCalendarFastNavMonthSelected_Office2003Blue
{
	padding: 5px;
}
.dxeCalendarFastNavMonthHover_Office2003Blue, .dxeCalendarFastNavYearHover_Office2003Blue
{         
    background: #ddecfe;
    padding: 2px 4px;
    border: solid 1px #6a8ccb;
}
.dxeCalendarFastNavMonthHover_Office2003Blue
{
	padding: 5px;
}
/* Disabled */
.dxeDisabled_Office2003Blue, .dxeDisabled_Office2003Blue td.dxe
{
	color: #aaaaaa;
	cursor: default;
}
.dxeButtonDisabled_Office2003Blue, .dxeButtonDisabled_Office2003Blue td.dxe
{
    border-color: #bfbfbf;
    background: #cccccc url('edtButtonBackDis.gif') repeat-x top;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2003Blue
{	
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
	vertical-align: middle;	 		
	border: solid 1px #6a8ccb;
	background: url('edtButtonBack.gif') repeat-x center bottom #d7e8fd;
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
.dxbButtonHover_Office2003Blue 
{
  	color: #000000;        
	background: url('edtButtonBackHover.gif') repeat-x center bottom #fff2c8;
	border: solid 1px #000080;
}
.dxbButtonChecked_Office2003Blue 
{
    color: #000000; 
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;	
    border: solid 1px #000080;	
}
.dxbButtonPressed_Office2003Blue 
{
  	color: #000000;        
	background: url('edtButtonBackPressed.gif') repeat-x center top #ffcf8b;
    border: solid 1px #000080;	
}
.dxbButton_Office2003Blue div.dxb
{    
    padding: 4px 8px 5px 8px;
	border: 0px;
}
.dxbButton_Office2003Blue div.dxbf
{     
    padding: 3px 7px 4px 7px;
	border: dotted 1px black;		
}
.dxbButton_Office2003Blue div.dxb table
{    
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
}
.dxbButton_Office2003Blue div.dxb td.dxb
{    
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Disabled */
.dxbDisabled_Office2003Blue
{
    background: #cecece url('edtButtonBackDis.gif') repeat-x top;
    border-color: #BFBFBF;
	color: #808080;
	cursor: default;
}
.dxbDisabled_Office2003Blue td.dxb
{
	color: #808080;
}

/* -- FilterControl -- */
.dxfcTable_Office2003Blue
{
	border-collapse: separate!important;
}
.dxfcTable_Office2003Blue td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 9pt Tahoma;
	color: Black;	
}
a.dxfcPropertyName_Office2003Blue
{
	white-space:nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Office2003Blue
{
	white-space:nowrap!important;
	padding:0px 3px 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Office2003Blue
{
	white-space:nowrap!important;
	color: Green!important;
}
a.dxfcValue_Office2003Blue
{
	white-space:nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_Office2003Blue 
{
	cursor: pointer;
}
.dxfcLoadingPanel_Office2003Blue
{
	border: solid 1px #4f93e3;
	background-color: white;
	font: 9pt Tahoma;
	color: #4B77B8;
}
.dxfcLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxfcLoadingDiv_Office2003Blue
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeMaskHint_Office2003Blue 
{
	background: #ffffe1;
	border: solid 1px black;
	padding: 2px 5px 3px;
	color: Black;
	font: 9pt Tahoma;
}
/* -- ProgressBar -- */
.dxeProgressBar_Office2003Blue
{
    border: Solid 1px #002d96;
    background-color: #ddecfe;
}
.dxeProgressBar_Office2003Blue .dxePBMainCell
{
    padding: 1px;
}
.dxeProgressBar_Office2003Blue td.dxe
{
    padding: 0;
}
.dxeProgressBar_Office2003Blue, .dxeProgressBar_Office2003Blue td.dxe
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: Black;    
}
.dxeProgressBarIndicator_Office2003Blue
{
    background-color: #a6c5f0;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_Office2003Blue
{
    background-color: white;
    border: solid 1px #6a8ccb;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Office2003Blue
{
    border: solid 1px #6a8ccb;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeColorTable_Office2003Blue
{
    background-color: white;
    border: solid 1px #6a8ccb;
}
.dxeColorTable_Office2003Blue td.dx
{
   padding: 4px 4px;
}
.dxeColorTableCell_Office2003Blue {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_Office2003Blue {
    border: solid 1px #808080;
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.dxeColorTableCellSelected_Office2003Blue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;

    background-color: #CBCBCB;
    border: solid 1px #888888;
}
.dxeColorTableCellHover_Office2003Blue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    
    background-color: #F2F2F2;
    border: solid 1px #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_Office2003Blue
{

}
.dxeInvalid_Office2003Blue .dxeEditArea_Office2003Blue,
.dxeInvalid_Office2003Blue .dxeMemoEditArea_Office2003Blue {
    
}

/* -- Focused Style -- */
.dxeFocused_Office2003Blue 
{
    border: solid 1px #002d96;
}

/* -- Null Text Style -- */
.dxeNullText_Office2003Blue .dxeEditArea_Office2003Blue,
.dxeNullText_Office2003Blue .dxeMemoEditArea_Office2003Blue
{
    color: #aaa;
}


/* -- Captcha -- */
.dxcaRefreshButton_Office2003Blue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_Office2003Blue
{
	color: #aaaaaa;
}

.dxcaRefreshButtonCell_Office2003Blue
{
	padding-left: 4px;
	padding-right: 4px;
}

.dxcaRefreshButtonText_Office2003Blue
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_Office2003Blue
{
	text-decoration: none;
}

.dxcaTextBoxCell_Office2003Blue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCell_Office2003Blue, .dxcaTextBoxCellNoIndent_Office2003Blue
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCellNoIndent_Office2003Blue .dxeErrorCell_Office2003Blue
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Office2003Blue
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #303030;
}

.dxcaLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}


