.dxGridView_gvCollapsedButton_PlasticBlue,
.dxGridView_gvExpandedButton_PlasticBlue,
.dxGridView_gvDetailCollapsedButton_PlasticBlue,
.dxGridView_gvDetailExpandedButton_PlasticBlue,
.dxGridView_gvFilterRowButton_PlasticBlue,
.dxGridView_gvHeaderFilter_PlasticBlue,
.dxGridView_gvHeaderFilterActive_PlasticBlue,
.dxGridView_gvHeaderSortDown_PlasticBlue,
.dxGridView_gvHeaderSortUp_PlasticBlue,
.dxGridView_gvDragAndDropArrowDown_PlasticBlue,
.dxGridView_gvDragAndDropArrowUp_PlasticBlue,
.dxGridView_gvDragAndDropHideColumn_PlasticBlue,
.dxGridView_gvParentGroupRows_PlasticBlue,
.dxGridView_WindowResizer_PlasticBlue {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxGridView_gvCollapsedButton_PlasticBlue {
    background-position: -36px 0px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvExpandedButton_PlasticBlue {
    background-position: -36px -18px;
    width: 9px;
    height: 9px;
}

.dxGridView_gvDetailCollapsedButton_PlasticBlue {
    background-position: -53px 0px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvDetailExpandedButton_PlasticBlue {
    background-position: -53px -18px;
    width: 9px;
    height: 10px;
}

.dxGridView_gvFilterRowButton_PlasticBlue {
    background-position: -100px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvHeaderFilter_PlasticBlue {
    background-position: 0px -36px;
    width: 13px;
    height: 15px;
}

.dxGridView_gvHeaderFilterActive_PlasticBlue {
    background-position: -23px -36px;
    width: 13px;
    height: 15px;
}

.dxGridView_gvHeaderSortDown_PlasticBlue {
    background-position: -19px 0px;
    width: 11px;
    height: 11px;
}

.dxGridView_gvHeaderSortUp_PlasticBlue {
    background-position: -19px -18px;
    width: 11px;
    height: 11px;
}

.dxGridView_gvDragAndDropArrowDown_PlasticBlue {
    background-position: 0px 0px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropArrowUp_PlasticBlue {
    background-position: 0px -17px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropHideColumn_PlasticBlue {
    background-position: -70px 0px;
    width: 22px;
    height: 22px;
}

.dxGridView_gvParentGroupRows_PlasticBlue {
    background-position: -70px -36px;
    width: 18px;
    height: 13px;
}

.dxGridView_WindowResizer_PlasticBlue {
    background-position: -46px -36px;
    width: 16px;
    height: 16px;
}


