/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_RedWine
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_RedWine
{
	font: 9pt Tahoma;
	color: #767676;
}
.dxheLoadingPanel_RedWine td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxheControl_RedWine
{
    border: Solid 1px #8A0A37;
}

/* Area */
.dxheContentArea_RedWine
{
    padding: 4px;
	padding-bottom: 6px;
    background-color: #B55476;
}
.dxheViewArea_RedWine
{
    border: Solid 1px #A74768;    
}
.dxheHtmlViewEdit_RedWine, .dxheDesignViewArea_RedWine, .dxhePreviewArea_RedWine 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
    font-size: smaller;
    font: normal 12px Arial;
}
td.dxheHtmlViewEdit_RedWine, body.dxheDesignViewArea_RedWine, body.dxhePreviewArea_RedWine
{
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_RedWine table.dxEmptyBorderTable,
body.dxheDesignViewArea_RedWine table.dxEmptyBorderTable td  {
    border:1px dotted gray;
}
/* Status Bar */
.dxheStatusBar_RedWine 
{
}
.dxheStatusBarTab_RedWine 
{    
}
.dxheStatusBarActiveTab_RedWine 
{
}

/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell, #dxInsertLinkForm .buttonsCell, #dxInsertImageForm .buttonsCell, #dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell
{
	background-color: #EED8E3;
	border-top: 1px #CB9FB4 solid;
	
    padding: 11px;
}
#dxInsertTableForm .captionIndent, #dxInsertLinkForm .captionIndent, #dxInsertImageForm .captionIndent,
#dxTableColumnPropertiesForm .captionIndent
{
	overflow: hidden;
	height: 5px;
}
#dxInsertTableForm .contentCell, #dxInsertLinkForm .contentCell, #dxInsertImageForm .contentCell, #dxPasteFromWordForm .contentCell,
#dxTableColumnPropertiesForm .contentCell
{
	padding: 11px;
}
#dxInsertLinkForm .typeRadionButtonListCell, #dxInsertImageForm .typeRadionButtonListCell
{
	padding-bottom: 12px;
}
#dxInsertTableForm .separatorCell, #dxInsertLinkForm .separatorCell, #dxInsertImageForm .separatorCell,
#dxTableColumnPropertiesForm .separatorCell
{
	height: 7px;
}
#dxInsertTableForm .buttons, #dxInsertLinkForm .buttons, #dxInsertImageForm .buttons,
#dxTableColumnPropertiesForm .buttons
{
    padding-top: 3px;
}
#dxInsertTableForm .cancelButton, #dxInsertLinkForm .cancelButton, #dxInsertImageForm .cancelButton, #dxPasteFromWordForm .cancelButton,
#dxTableColumnPropertiesForm .cancelButton
{
    padding-left: 10px;
}
#dxInsertTableForm .captionCell, #dxInsertTableForm .rowsCaptionCell, #dxInsertLinkForm .captionCell,
#dxTableColumnPropertiesForm .captionCell, #dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 9px;
    padding-top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
#dxInsertTableForm .inputCell, #dxInsertTableForm .rowsInputCell, #dxInsertLinkForm .inputCell,
#dxTableColumnPropertiesForm .inputCell, #dxTableColumnPropertiesForm .rowsInputCell
{
    vertical-align: middle;
}

/* Insert Link Form */
#dxInsertLinkForm .displayPropertiesCell 
{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#dxInsertLinkForm .targetCheckBoxCell
{
    padding-top:10px;
}
/* Insert Image Form */
#dxInsertImageForm .fieldSeparator 
{
    height: 9px;
}
#dxInsertImageForm .imagePreview
{
    padding: 10px 0px;
    padding-top: 5px;
}
#dxInsertImageForm .fromTheWeb
{
    width: 100%;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
    width: 100%;
    height: 170px;
}
#dxInsertImageForm .imagePropertiesCell
{
    padding-left: 20px;
    vertical-align:top;
}
#dxInsertImageForm .moreOptionsCell
{
	padding-top: 11px;
}
#dxInsertImageForm .radioButtonTable
{
	width: 317px;
}
#dxInsertImageForm .saveToServerCheckBoxCell
{
    padding-top:0px;
    padding-bottom: 13px;
}
/* Image Properties Form */
#dxImagePropertiesForm .captionCell
{
    padding-right: 2px;
    white-space: nowrap;
}
#dxImagePropertiesForm .constrainProportionsCell
{
    padding-left: 4px;
    padding-top: 2px;
}
#dxImagePropertiesForm .imageSizeEditorsCell
{
    padding-top: 7px;
    padding-bottom: 10px;
}
#dxImagePropertiesForm .pixelSizeCell
{
    padding-left: 7px;
}
#dxImagePropertiesForm .hSeparator
{
    width: 25px;
    overflow: hidden;
}
#dxImagePropertiesForm .thumbnailFileNameArea
{
    padding-top: 8px;
}
/* IE, FireFox, WebKit*/
#dxImagePropertiesForm .ckbWrapTextCell div
{
	margin-left: -4px;
	padding-top: 2px;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio) {   
	#dxImagePropertiesForm .ckbWrapTextCell div
	{
		margin-left: 0px;
	}
}

/* PasteFromWord Form */
#dxPasteFromWordForm .pasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
#dxPasteFromWordForm .pasteContainerCell
{
	padding:0px;
	padding-top: 10px;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #BC758E;
}
#dxPasteFromWordForm .checkBoxCell
{
	padding-top: 10px;
}
#dxPasteFromWordForm .contentCell 
{
	padding-left: 20px;
	padding-right: 20px;
}

/* Insert table */
#dxInsertTableForm .propFieldSeparator, #dxTableColumnPropertiesForm .propFieldSeparator
{
    width: 20px;
}
#dxInsertTableForm .propGroupSeparator, #dxTableColumnPropertiesForm .propGroupSeparator
{
    height: 11px;
}
#dxInsertTableForm .propGroupCell, #dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm .propGroupCell, #dxTableColumnPropertiesForm .accessibilityPropGroupCell
{
    font-weight: bold;
    padding-bottom: 7px;
}
#dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm accessibilityPropGroupCell
{
    padding-left: 10px;
}
#dxInsertTableForm .propGroupContentCell,
#dxTableColumnPropertiesForm .propGroupContentCell
{
    padding-left: 20px;
}
#dxInsertTableForm .sizeTypeCell,
#dxTableColumnPropertiesForm .sizeTypeCell
{
    padding-left: 3px;
}
#dxInsertTableForm .rowsInputCell,
#dxTableColumnPropertiesForm .rowsInputCell
{
    padding-left: 9px;
}
#dxInsertTableForm .rowsCaptionCell,
#dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 0px;
}
#dxInsertTableForm .rowsSeparator,
#dxTableColumnPropertiesForm .rowsSeparator
{
    height: 18px;
}
#dxInsertTableForm .rowsHorizontalSeparator,
#dxTableColumnPropertiesForm .rowsHorizontalSeparator
{
    width: 50px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_RedWine
{
	height: 1px;
}
.dxtbControl_RedWine 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #A42652;
    border-bottom: Solid 1px #8A0A37;
}

.dxtbMenu_RedWine
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #F27AA4;
	border-width: 0px;
	padding: 2px 4px 2px 4px;
	
	background-image: url('tbBack.gif');	
    background-repeat: repeat-x;
    background-position: top;
}

.dxtbMenuSeparator_RedWine .dx,
.dxtbMenuFullHeightSeparator_RedWine .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxtbMenuSeparator_RedWine,
.dxtbMenuFullHeightSeparator_RedWine
{
	width: 1px;
}
.dxtbMenuSeparator_RedWine .dx,
.dxtbMenuFullHeightSeparator_RedWine
{
	background: transparent url('tbSeparator.gif') center center repeat-y;
	width: 2px;
}
.dxtbMenuSeparator_RedWine .dx
{
	height: 13px;
}
.dxtbMenuFullHeightSeparator_RedWine
{
	display: none;
}

.dxtbMenuItem_RedWine, .dxtbMenuItemWithImage_RedWine, .dxtbMenuItemWithPopOutImage_RedWine, .dxtbMenuItemWithImageWithPopOutImage_RedWine
{
	color: #FFFFFF;
}
.dxtbMenuItem_RedWine, .dxtbMenuItemWithImage_RedWine
{
    padding-top: 3px;
    padding-right: 5px; 
    padding-bottom: 4px;
    padding-left: 5px;
}
.dxtbMenuItemWithPopOutImage_RedWine, .dxtbMenuItemWithImageWithPopOutImage_RedWine
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
}	
.dxtbComboBoxMenuItem_RedWine
{
    padding-top: 1px;
}
.dxtbMenuItemSelected_RedWine, .dxtbMenuItemSelectedWithImage_RedWine, .dxtbMenuItemSelectedWithPopOutImage_RedWine, .dxtbMenuItemSelectedWithImageWithPopOutImage_RedWine
{
	background-color: #CB4F7B;
	border: Solid 1px #8A0A37;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: top;
}
.dxtbMenuItemSelected_RedWine, .dxtbMenuItemSelectedWithImage_RedWine
{
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
}
.dxtbMenuItemSelectedWithPopOutImage_RedWine, .dxtbMenuItemSelectedWithImageWithPopOutImage_RedWine
{
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.dxtbMenuItemChecked_RedWine, .dxtbMenuItemCheckedWithImage_RedWine, .dxtbMenuItemCheckedWithPopOutImage_RedWine, .dxtbMenuItemCheckedWithImageWithPopOutImage_RedWine
{
	background-color: #CB4F7B;
	border: Solid 1px #8A0A37;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: top;
}
.dxtbMenuItemChecked_RedWine, .dxtbMenuItemCheckedWithImage_RedWine
{
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
}
.dxtbMenuItemCheckedWithPopOutImage_RedWine, .dxtbMenuItemCheckedWithImageWithPopOutImage_RedWine
{
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}	

.dxtbMenuItemHover_RedWine, .dxtbMenuItemHoverWithImage_RedWine, .dxtbMenuItemHoverWithPopOutImage_RedWine, .dxtbMenuItemHoverWithImageWithPopOutImage_RedWine
{
	background-color: #D69BD3;
	border: Solid 1px #8A0A37;
	background-image: url('tbItemHBack.gif');	
    background-repeat: repeat-x;
    background-position: top;
}
.dxtbMenuItemHover_RedWine, .dxtbMenuItemHoverWithImage_RedWine
{
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
}
.dxtbMenuItemHoverWithPopOutImage_RedWine, .dxtbMenuItemHoverWithImageWithPopOutImage_RedWine
{
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.dxtbSubMenu_RedWine
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #FFFFFF;
	border: Solid 1px #8A0A37;
	padding: 1px 1px 1px 1px;
}
.dxtbSubMenuGutter_RedWine
{
	background-color: #EFEFEF;
	background-position: right top;
	background-repeat: repeat-y;
}
.dxtbSubMenuSeparator_RedWine
{
	width: 100%;
	height: 1px;
	background-color: #c6c6c6;
}
.dxtbSubMenuItem_RedWine, .dxtbSubMenuItemWithImage_RedWine, .dxtbSubMenuItemWithPopOutImage_RedWine, .dxtbSubMenuItemWithImageWithPopOutImage_RedWine
{
	font: 9pt Tahoma;
	color: #000000;
	white-space: nowrap;
}
.dxtbSubMenuItem_RedWine, .dxtbSubMenuItemWithImage_RedWine
{
	padding-top: 3px;
	padding-right: 17px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxtbSubMenuItemWithPopOutImage_RedWine, .dxtbSubMenuItemWithImageWithPopOutImage_RedWine
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxtbSubMenuItemDropDownButton_RedWine
{
	padding-right: 4px;
	padding-left: 1px;
}
.dxtbSubMenuItemSelected_RedWine, .dxtbSubMenuItemSelectedWithImage_RedWine, .dxtbSubMenuItemSelectedWithPopOutImage_RedWine, .dxtbSubMenuItemSelectedWithImageWithPopOutImage_RedWine
{
    background-image: none;
	background-color: #8A0A37;
	border: Solid 1px #8A0A37;
	color: #FFFFFF;
}
.dxtbSubMenuItemSelected_RedWine, .dxtbSubMenuItemSelectedWithImage_RedWine
{
	padding-top: 2px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.dxtbSubMenuItemSelectedWithPopOutImage_RedWine, .dxtbSubMenuItemSelectedWithImageWithPopOutImage_RedWine
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.dxtbSubMenuItemDropDownButtonSelected_RedWine
{
	border-left: solid white 1px;
	padding-right: 3px;
	padding-left: 0px;
}
.dxtbSubMenuItemChecked_RedWine, .dxtbSubMenuItemCheckedWithImage_RedWine, .dxtbSubMenuItemCheckedWithPopOutImage_RedWine, .dxtbSubMenuItemCheckedWithImageWithPopOutImage_RedWine
{
}
.dxtbSubMenuItemChecked_RedWine, .dxtbSubMenuItemCheckedWithImage_RedWine
{
}
.dxtbSubMenuItemCheckedWithPopOutImage_RedWine, .dxtbSubMenuItemCheckedWithImageWithPopOutImage_RedWine
{
}
.dxtbSubMenuItemDropDownButtonChecked_RedWine
{
}
.dxtbSubMenuItemHover_RedWine, .dxtbSubMenuItemHoverWithImage_RedWine, .dxtbSubMenuItemHoverWithPopOutImage_RedWine, .dxtbSubMenuItemHoverWithImageWithPopOutImage_RedWine
{
    background-image: none;

	background-color: #DBBBDA;
	border: Solid 1px #DBBBDA;
	color: #000000;
}
.dxtbSubMenuItemHover_RedWine, .dxtbSubMenuItemHoverWithImage_RedWine
{
	padding-top: 2px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.dxtbSubMenuItemHoverWithPopOutImage_RedWine, .dxtbSubMenuItemHoverWithImageWithPopOutImage_RedWine
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
}
.dxtbSubMenuItemDropDownButtonHover_RedWine
{
	border-left: solid white 1px;
	padding-right: 3px;
	padding-left: 0px;
}
.dxtbSubMenuBorderCorrector_RedWine
{
    position: absolute;
    border: 0px;
    padding: 0px;
}

.dxtbMenuItemSpacing_RedWine,
.dxtbMenuItemSeparatorSpacing_RedWine
{
	width: 2px;
}
.dxtbSubMenuItemSpacing_RedWine,
.dxtbSubMenuItemSeparatorSpacing_RedWine
{
	height: 1px;
}

.dxtbMenuItemLeftImageSpacing_RedWine
{
	padding-right: 4px;
}
.dxtbSubMenuItemImageSpacing_RedWine
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxtbSubMenuItemImageSpacing_RedWine div
{
	width: 4px;
	height: 1px;
}

/* ToolbarColorButton */
.dxtcbControl_RedWine
{
	border-collapse:collapse;
	border-width: 0px;
}
.dxtcbControl_RedWine td
{
	/*padding: 1px;	*/
}
.dxtcbImageCell_RedWine, .dxtcbColorCell_RedWine
{
	height:0px;
}
.dxtcbColorDiv_RedWine
{
	width: 16px;
	height: 4px;
	font-size:0pt;
	background-color: Red;
}
/*----------------- RoundPanel -----------------*/
.dxheRPControl_RedWine td.dxheRP
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* Header */
.dxheRPHeader_RedWine, .dxrpHeader_RedWine td.dxheRP
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;	
}
/* Disabled */
.dxheRPDisabled_RedWine, .dxheRPDisabled_RedWine td.dxheRP
{
	color: #808080;
	cursor: default;
}
/*----------------- UploadControl -----------------*/
.dxheucControl_RedWine, .dxheucEditArea_RedWine
{
    font: 9pt Tahoma, Verdana, Arial;
}
.dxheucErrorCell_RedWine
{
    padding-left: 4px;
    font: 10px Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
