/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_Office2003Silver
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_Office2003Silver
{
	font: 9pt Tahoma, Verdana, Arial;
	color: #303030;
}
.dxheLoadingPanel_Office2003Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxheControl_Office2003Silver
{
    border: Solid 1px #7C7C94;
}

/* Area */
.dxheContentArea_Office2003Silver
{
    padding: 4px;
	padding-bottom: 6px;
    background-color: #E3E3EC;
}
.dxheViewArea_Office2003Silver
{
    border: Solid 1px #7C7C94;    
}
.dxheHtmlViewEdit_Office2003Silver, .dxheDesignViewArea_Office2003Silver, .dxhePreviewArea_Office2003Silver 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
    font-size: smaller;
    font: normal 12px Arial;
}
td.dxheHtmlViewEdit_Office2003Silver, body.dxheDesignViewArea_Office2003Silver, body.dxhePreviewArea_Office2003Silver
{
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_Office2003Silver table.dxEmptyBorderTable,
body.dxheDesignViewArea_Office2003Silver table.dxEmptyBorderTable td  {
    border:1px dotted gray;
}

/* Status Bar */
.dxheStatusBar_Office2003Silver 
{
}
.dxheStatusBarTab_Office2003Silver 
{    
}
.dxheStatusBarActiveTab_Office2003Silver 
{
}

/* ----------------- Dialog Forms ----------------- */
#dxInsertTableForm .buttonsCell, #dxInsertLinkForm .buttonsCell, #dxInsertImageForm .buttonsCell, #dxPasteFromWordForm .buttonsCell,
#dxTableColumnPropertiesForm .buttonsCell
{
	background-color: #D4D4E2;
	border-top: 1px #BBBBD1 solid;
	
    padding: 11px;
}
#dxInsertTableForm .captionIndent, #dxInsertLinkForm .captionIndent, #dxInsertImageForm .captionIndent,
#dxTableColumnPropertiesForm .captionIndent
{
	overflow: hidden;
	height: 5px;
}
#dxInsertTableForm .contentCell, #dxInsertLinkForm .contentCell, #dxInsertImageForm .contentCell, #dxPasteFromWordForm .contentCell,
#dxTableColumnPropertiesForm .contentCell
{
	padding: 11px;
}
#dxInsertLinkForm .typeRadionButtonListCell, #dxInsertImageForm .typeRadionButtonListCell
{
	padding-bottom: 12px;
}
#dxInsertTableForm .separatorCell, #dxInsertLinkForm .separatorCell, #dxInsertImageForm .separatorCell,
#dxTableColumnPropertiesForm .separatorCell
{
	height: 7px;
}
#dxInsertTableForm .buttons, #dxInsertLinkForm .buttons, #dxInsertImageForm .buttons,
#dxTableColumnPropertiesForm .buttons
{
    padding-top: 3px;
}
#dxInsertTableForm .cancelButton, #dxInsertLinkForm .cancelButton, #dxInsertImageForm .cancelButton, #dxPasteFromWordForm .cancelButton,
#dxTableColumnPropertiesForm .cancelButton
{
    padding-left: 10px;
}
#dxInsertTableForm .captionCell, #dxInsertTableForm .rowsCaptionCell, #dxInsertLinkForm .captionCell,
#dxTableColumnPropertiesForm .captionCell, #dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 9px;
    padding-top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
#dxInsertTableForm .inputCell, #dxInsertTableForm .rowsInputCell, #dxInsertLinkForm .inputCell,
#dxTableColumnPropertiesForm .inputCell, #dxTableColumnPropertiesForm .rowsInputCell
{
    vertical-align: middle;
}

/* Insert Link Form */
#dxInsertLinkForm .displayPropertiesCell 
{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#dxInsertLinkForm .targetCheckBoxCell
{
    padding-top:10px;
}
/* Insert Image Form */
#dxInsertImageForm .fieldSeparator 
{
    height: 9px;
}
#dxInsertImageForm .imagePreview
{
    padding: 10px 0px;
    padding-top: 5px;
}
#dxInsertImageForm .fromTheWeb
{
    width: 100%;
}
#dxInsertImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
    width: 100%;
    height: 170px;
}
#dxInsertImageForm .imagePropertiesCell
{
    padding-left: 20px;
    vertical-align:top;
}
#dxInsertImageForm .moreOptionsCell
{
	padding-top: 11px;
}
#dxInsertImageForm .radioButtonTable
{
	width: 317px;
}
#dxInsertImageForm .saveToServerCheckBoxCell
{
    padding-top:0px;
    padding-bottom: 13px;
}
/* Image Properties Form */
#dxImagePropertiesForm .captionCell
{
    padding-right: 2px;
    white-space: nowrap;
}
#dxImagePropertiesForm .constrainProportionsCell
{
    padding-left: 4px;
    padding-top: 2px;
}
#dxImagePropertiesForm .imageSizeEditorsCell
{
    padding-top: 7px;
    padding-bottom: 10px;
}
#dxImagePropertiesForm .pixelSizeCell
{
    padding-left: 7px;
}
#dxImagePropertiesForm .hSeparator
{
    width: 25px;
    overflow: hidden;
}
#dxImagePropertiesForm .thumbnailFileNameArea
{
    padding-top: 8px;
}
/* IE, FireFox, WebKit*/
#dxImagePropertiesForm .ckbWrapTextCell div
{
	margin-left: -4px;
	padding-top: 2px;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio) {   
	#dxImagePropertiesForm .ckbWrapTextCell div
	{
		margin-left: 0px;
	}
}

/* PasteFromWord Form */
#dxPasteFromWordForm .pasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
#dxPasteFromWordForm .pasteContainerCell
{
	padding:0px;
	padding-top: 10px;
}
#dxPasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #7C7C94;
}
#dxPasteFromWordForm .checkBoxCell
{
	padding-top: 10px;
}
#dxPasteFromWordForm .contentCell 
{
	padding-left: 20px;
	padding-right: 20px;
}

/* Insert table */
#dxInsertTableForm .propFieldSeparator, #dxTableColumnPropertiesForm .propFieldSeparator
{
    width: 20px;
}
#dxInsertTableForm .propGroupSeparator, #dxTableColumnPropertiesForm .propGroupSeparator
{
    height: 11px;
}
#dxInsertTableForm .propGroupCell, #dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm .propGroupCell, #dxTableColumnPropertiesForm .accessibilityPropGroupCell
{
    font-weight: bold;
    padding-bottom: 7px;
}
#dxInsertTableForm .accessibilityPropGroupCell,
#dxTableColumnPropertiesForm accessibilityPropGroupCell
{
    padding-left: 10px;
}
#dxInsertTableForm .propGroupContentCell,
#dxTableColumnPropertiesForm .propGroupContentCell
{
    padding-left: 20px;
}
#dxInsertTableForm .sizeTypeCell,
#dxTableColumnPropertiesForm .sizeTypeCell
{
    padding-left: 3px;
}
#dxInsertTableForm .rowsInputCell,
#dxTableColumnPropertiesForm .rowsInputCell
{
    padding-left: 9px;
}
#dxInsertTableForm .rowsCaptionCell,
#dxTableColumnPropertiesForm .rowsCaptionCell
{
    padding-right: 0px;
}
#dxInsertTableForm .rowsSeparator,
#dxTableColumnPropertiesForm .rowsSeparator
{
    height: 18px;
}
#dxInsertTableForm .rowsHorizontalSeparator,
#dxTableColumnPropertiesForm .rowsHorizontalSeparator
{
    width: 50px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_Office2003Silver
{
	height: 1px;
}
.dxtbControl_Office2003Silver 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #9391B0;
    border-bottom: Solid 1px #7C7C94;
}

.dxtbMenu_Office2003Silver
{
	font: 9pt Tahoma;
	color: black;	
	background: url('tbItemBack.gif') repeat-y left top #C3DAF9;
	border: 0px;
	padding: 3px 4px 3px 4px;
}

.dxtbMenuSeparator_Office2003Silver .dx,
.dxtbMenuFullHeightSeparator_Office2003Silver .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxtbMenuSeparator_Office2003Silver,
.dxtbMenuFullHeightSeparator_Office2003Silver
{
	width: 1px;
}
.dxtbMenuSeparator_Office2003Silver .dx,
.dxtbMenuFullHeightSeparator_Office2003Silver
{
	background: transparent url('tbItemSeparatorBack.gif') left top repeat-y;
	width: 1px;
}
.dxtbMenuSeparator_Office2003Silver .dx
{
	height: 13px;
}
.dxtbMenuFullHeightSeparator_Office2003Silver
{
	display: none;
}

.dxtbMenuItem_Office2003Silver, .dxtbMenuItemWithImage_Office2003Silver, .dxtbMenuItemWithPopOutImage_Office2003Silver, .dxtbMenuItemWithImageWithPopOutImage_Office2003Silver
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxtbMenuItem_Office2003Silver, .dxtbMenuItemWithImage_Office2003Silver
{
    padding-top: 3px;
    padding-right: 4px; 
    padding-bottom: 4px;
    padding-left: 4px;
}
.dxtbMenuItemWithPopOutImage_Office2003Silver, .dxtbMenuItemWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}	
.dxtbComboBoxMenuItem_Office2003Silver
{
    padding-top: 1px;
}
.dxtbMenuItemSelected_Office2003Silver, .dxtbMenuItemSelectedWithImage_Office2003Silver, .dxtbMenuItemSelectedWithPopOutImage_Office2003Silver, .dxtbMenuItemSelectedWithImageWithPopOutImage_Office2003Silver
{
	background: url('tbItemSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #7C7C94;
}
.dxtbMenuItemSelected_Office2003Silver, .dxtbMenuItemSelectedWithImage_Office2003Silver
{
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.dxtbMenuItemSelectedWithPopOutImage_Office2003Silver, .dxtbMenuItemSelectedWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.dxtbMenuItemChecked_Office2003Silver, .dxtbMenuItemCheckedWithImage_Office2003Silver, .dxtbMenuItemCheckedWithPopOutImage_Office2003Silver, .dxtbMenuItemCheckedWithImageWithPopOutImage_Office2003Silver
{
	background: url('tbItemSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #7C7C94;
}
.dxtbMenuItemChecked_Office2003Silver, .dxtbMenuItemCheckedWithImage_Office2003Silver
{
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.dxtbMenuItemCheckedWithPopOutImage_Office2003Silver, .dxtbMenuItemCheckedWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}	

.dxtbMenuItemHover_Office2003Silver, .dxtbMenuItemHoverWithImage_Office2003Silver, .dxtbMenuItemHoverWithPopOutImage_Office2003Silver, .dxtbMenuItemHoverWithImageWithPopOutImage_Office2003Silver
{
	background: url('tbItemHBack.gif') repeat-x center top #FFD69A;
	border: solid 1px #7C7C94;
}
.dxtbMenuItemHover_Office2003Silver, .dxtbMenuItemHoverWithImage_Office2003Silver
{
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.dxtbMenuItemHoverWithPopOutImage_Office2003Silver, .dxtbMenuItemHoverWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.dxtbSubMenu_Office2003Silver
{
	font: 9pt Tahoma;
	color: black;
	background-color: #F4F4EE;
	border: solid 1px #7c7c94;
	padding: 1px 1px 1px 1px;
}
.dxtbSubMenuGutter_Office2003Silver
{

}
.dxtbSubMenuSeparator_Office2003Silver
{
	width: 100%;
	height: 1px;
	background-color: #6E6D8F;
}
.dxtbSubMenuItem_Office2003Silver, .dxtbSubMenuItemWithImage_Office2003Silver, .dxtbSubMenuItemWithPopOutImage_Office2003Silver, .dxtbSubMenuItemWithImageWithPopOutImage_Office2003Silver
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxtbSubMenuItem_Office2003Silver 
{
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 3px;	
}
.dxtbSubMenuItemWithImage_Office2003Silver 
{
	padding-top: 2px;
	padding-right: 9px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 19px;
}
.dxtbSubMenuItemWithPopOutImage_Office2003Silver
{
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 4px;
	padding-left: 3px;
}
.dxtbSubMenuItemWithImageWithPopOutImage_Office2003Silver 
{
	padding-top: 2px;
	padding-right: 9px;
	padding-bottom: 1px;
	padding-left: 3px;
	height: 19px;
}
.dxtbSubMenuItemDropDownButton_Office2003Silver
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxtbSubMenuItemSelected_Office2003Silver, .dxtbSubMenuItemSelectedWithImage_Office2003Silver, .dxtbSubMenuItemSelectedWithPopOutImage_Office2003Silver, .dxtbSubMenuItemSelectedWithImageWithPopOutImage_Office2003Silver
{
	background: #FFAD55;
	border: solid 1px #002D96;
}
.dxtbSubMenuItemSelected_Office2003Silver
{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.dxtbSubMenuItemSelectedWithImage_Office2003Silver 
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.dxtbSubMenuItemSelectedWithPopOutImage_Office2003Silver
{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.dxtbSubMenuItemSelectedWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.dxtbSubMenuItemDropDownButtonSelected_Office2003Silver
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxtbSubMenuItemChecked_Office2003Silver, .dxtbSubMenuItemCheckedWithImage_Office2003Silver, .dxtbSubMenuItemCheckedWithPopOutImage_Office2003Silver, .dxtbSubMenuItemCheckedWithImageWithPopOutImage_Office2003Silver
{
}
.dxtbSubMenuItemChecked_Office2003Silver
{
}
.dxtbSubMenuItemCheckedWithImage_Office2003Silver 
{
}
.dxtbSubMenuItemCheckedWithPopOutImage_Office2003Silver
{
}
.dxtbSubMenuItemCheckedWithImageWithPopOutImage_Office2003Silver
{
}
.dxtbSubMenuItemDropDownButtonChecked_Office2003Silver
{
}
.dxtbSubMenuItemHover_Office2003Silver, .dxtbSubMenuItemHoverWithImage_Office2003Silver, .dxtbSubMenuItemHoverWithPopOutImage_Office2003Silver, .dxtbSubMenuItemHoverWithImageWithPopOutImage_Office2003Silver
{
	background: #FFEEC2;
	border: solid 1px #002D96;
}
.dxtbSubMenuItemHover_Office2003Silver
{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.dxtbSubMenuItemHoverWithImage_Office2003Silver
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.dxtbSubMenuItemHoverWithPopOutImage_Office2003Silver
{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.dxtbSubMenuItemHoverWithImageWithPopOutImage_Office2003Silver
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.dxtbSubMenuItemDropDownButtonHover_Office2003Silver
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxtbSubMenuBorderCorrector_Office2003Silver
{
    position: absolute;
    border: 0px;
    padding: 0px;
}

.dxtbMenuItemSpacing_Office2003Silver,
.dxtbMenuItemSeparatorSpacing_Office2003Silver
{
	width: 4px;	
}
.dxtbSubMenuItemSpacing_Office2003Silver,
.dxtbSubMenuItemSeparatorSpacing_Office2003Silver
{
	height: 1px;
}

.dxtbMenuItemLeftImageSpacing_Office2003Silver
{
	padding-right: 4px;
}
.dxtbSubMenuItemImageSpacing_Office2003Silver
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxtbSubMenuItemImageSpacing_Office2003Silver div
{
	width: 7px;
	height: 1px;
}

/* ToolbarColorButton */
.dxtcbControl_Office2003Silver
{
	border-collapse:collapse;
	border-width: 0px;
}
.dxtcbControl_Office2003Silver td
{
	/*padding: 1px;	*/
}
.dxtcbImageCell_Office2003Silver, .dxtcbColorCell_Office2003Silver
{
	height:0px;
}
.dxtcbColorDiv_Office2003Silver
{
	width: 16px;
	height: 4px;
	font-size:0pt;
	background-color: Red;
}
/*----------------- RoundPanel -----------------*/
.dxheRPControl_Office2003Silver td.dxheRP
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* Header */
.dxheRPHeader_Office2003Silver, .dxrpHeader_Office2003Silver td.dxheRP
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;	
}
/* Disabled */
.dxheRPDisabled_Office2003Silver, .dxheRPDisabled_Office2003Silver td.dxheRP
{
	color: #808080;
	cursor: default;
}

/*----------------- UploadControl -----------------*/
.dxheucControl_Office2003Silver, .dxheucEditArea_Office2003Silver
{
    font: 9pt Tahoma, Verdana, Arial;
}
.dxheucErrorCell_Office2003Silver
{
    padding-left: 4px;
    font: 10px Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
