/* -- ASPxNavBar -- */ 
.dxnbControl_YouthfulNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #d3e4a6;
	padding: 3px 0px;
}
.dxnbControl_YouthfulNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_YouthfulNavigation
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_YouthfulNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_YouthfulNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_YouthfulNavigation
{
    background-color: #B9CD87;
    border: Solid 1px #FAFCF5;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_YouthfulNavigation
{
    font: 11px Tahoma;
	color: White;

	background-color: #F4921B;
	font-weight: bold;

	border: Solid 1px #FAFCF5;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_YouthfulNavigation table
{
    font: 11px Tahoma;
	color: White;
	font-weight: bold;
}
.dxnbGroupHeader_YouthfulNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_YouthfulNavigation
{
    font: 11px Tahoma;
	background-color: #E5EECF;
	border: 0px;
	border-bottom: Solid 1px #FAFCF5;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_YouthfulNavigation
{
    font: 11px Tahoma;
    color: Black;
    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_YouthfulNavigation
{
    color: Black;
    font-weight: bold;
    background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_YouthfulNavigation
{
	background-color: #D9E4BC;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_YouthfulNavigation 
{
    color: Black;
    background: #d3e4a6;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_YouthfulNavigation a
{
	color: Black; 
	text-decoration: none;
}
.dxnbLite_YouthfulNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_YouthfulNavigation .dxnb-header,
.dxnbLite_YouthfulNavigation .dxnb-headerCollapsed 
{
	color: Black;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_YouthfulNavigation .dxnb-header
{
	color: White;
	background: #F4921B;
	font-weight: bold;	
	border: Solid 1px #FAFCF5;
	padding: 3px 6px;
}
.dxnbLite_YouthfulNavigation .dxnb-headerHover
{
}
.dxnbLite_YouthfulNavigation .dxnb-headerCollapsedHover
{
    background: #B9CD87;
    border: Solid 1px #FAFCF5;
	padding: 3px 6px 4px;
}
.dxnbLite_YouthfulNavigation .dxnb-content 
{
	background: #E5EECF;
	border-bottom: Solid 1px #FAFCF5;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_YouthfulNavigation .dxnb-item,
.dxnbLite_YouthfulNavigation .dxnb-large,
.dxnbLite_YouthfulNavigation .dxnb-bullet 
{
	color: Black;
	font-size: 11px;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_YouthfulNavigation .dxnb-item,
.dxnbLite_YouthfulNavigation .dxnb-large,
.dxnbLite_YouthfulNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_YouthfulNavigation .dxnb-item,
.dxnbLite_YouthfulNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_YouthfulNavigation .dxnb-bullet,
.dxnbLite_YouthfulNavigation .dxnb-bulletHover,
.dxnbLite_YouthfulNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_YouthfulNavigation .dxnb-itemSelected,
.dxnbLite_YouthfulNavigation .dxnb-itemHover
{
}
.dxnbLite_YouthfulNavigation .dxnb-largeSelected,
.dxnbLite_YouthfulNavigation .dxnb-largeHover
{
}
.dxnbLite_YouthfulNavigation .dxnb-itemSelected,
.dxnbLite_YouthfulNavigation .dxnb-largeSelected
{
	color: Black;
	font-weight: bold;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_YouthfulNavigation .dxnb-itemHover,
.dxnbLite_YouthfulNavigation .dxnb-largeHover
{
	background-color: #D9E4BC;
}
.dxnbLite_YouthfulNavigation .dxnb-header,
.dxnbLite_YouthfulNavigation .dxnb-headerCollapsed, 
.dxnbLite_YouthfulNavigation .dxnb-item,
.dxnbLite_YouthfulNavigation .dxnb-itemHover,
.dxnbLite_YouthfulNavigation .dxnb-itemSelected,
.dxnbLite_YouthfulNavigation .dxnb-bullet,
.dxnbLite_YouthfulNavigation .dxnb-bulletHover,
.dxnbLite_YouthfulNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_YouthfulNavigation .dxnb-large,
.dxnbLite_YouthfulNavigation .dxnb-largeHover,
.dxnbLite_YouthfulNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_YouthfulNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_YouthfulNavigation .dxnb-btn,
.dxnbLite_YouthfulNavigation .dxnb-btnLeft,
.dxnbLite_YouthfulNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_YouthfulNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_YouthfulNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_YouthfulNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_YouthfulNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_YouthfulNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_YouthfulNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_YouthfulNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_YouthfulNavigation,
.dxnbLite_YouthfulNavigation .dxnbLiteDisabled_YouthfulNavigation,
.dxnbLiteDisabled_YouthfulNavigation a,
.dxnbLiteDisabled_YouthfulNavigation .dxnb-item,
.dxnbLiteDisabled_YouthfulNavigation .dxnb-large,
.dxnbLiteDisabled_YouthfulNavigation .dxnb-bullet,
.dxnbLiteDisabled_YouthfulNavigation .dxnb-header,
.dxnbLiteDisabled_YouthfulNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
