.dxpgControl_Office2003Blue
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #4f93e3;
	background-color: white;
}
.dxpgContainerCell_Office2003Blue
{
	vertical-align: top;
}
.dxpgMainTable_Office2003Blue
{
	color: Black;
	font: 9pt Tahoma;
	border: 0px;
	border-collapse: separate;
	width: 100%;
}
.dxpgMainTable_Office2003Blue caption
{
    background: url('CaptionBack.gif') repeat-x center top #0f439d;
	border-bottom: solid 1px #4f93e3;	
	color: white;
    padding: 3px 3px 4px;
	font-weight: bold;	
	text-align: center;	
}
.dxpgHeader_Office2003Blue
{
	color: Black;
	background: url('pgHeaderBack.gif') repeat-x #94b6e8;
	cursor: pointer;
	white-space: nowrap;
	border: solid 0px #3a609b;
}
.dxpgHeaderTable_Office2003Blue
{
	border-width: 1px;
	width: 100%;
}
.dxpgHeaderGroupButton_Office2003Blue
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_Office2003Blue
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort_Office2003Blue
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_Office2003Blue
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgHeaderHover_Office2003Blue
{
	background: url('pgHeaderBackHover.gif') repeat-x #ffd091;
}
.dxpgArea_Office2003Blue, .dxpgArea_Office2003Blue table
{
	color: Black;
	font: 9pt Tahoma;
}
.dxpgArea_Office2003Blue
{
	border: solid 1px #4f93e3;
	background-color: #e6f0fd;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_Office2003Blue
{
	border-bottom-style: solid;
}
.dxpgRowArea_Office2003Blue
{
}
.dxpgDataArea_Office2003Blue
{
}
.dxpgFilterArea_Office2003Blue
{
	background: url('pgHeaderBack.gif') repeat-x #94b6e8;
	color: black;
	border-bottom-style: solid;
}
.dxpgEmptyArea_Office2003Blue
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_Office2003Blue
{
	background-color: #c1d7f8;
	border: solid 1px #4f93e3;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
    font-weight: normal;
    text-align: left;    
}
.dxpgColumnTotalFieldValue_Office2003Blue
{
	background-color: #a8c5f5;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_Office2003Blue
{
	background-color: #85a9e6;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_Office2003Blue
{
	background-color: #c1d7f8;
	border: solid 1px #4f93e3;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 4px 6px 4px 6px;
    font-weight: normal;
    text-align: left;    
}
.dxpgRowTotalFieldValue_Office2003Blue
{
	background-color: #a8c5f5;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue_Office2003Blue
{
	padding: 0px;
	font: 0pt;
}
.dxpgRowGrandTotalFieldValue_Office2003Blue
{
	background-color: #85a9e6;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 6px 6px 6px 6px;
}
.dxpgCollapsedButton_Office2003Blue
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_Office2003Blue
{
	vertical-align: 0px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_Office2003Blue
{
	text-align: right;
	background-color: #FEFEFE;	
	border-color: #bfd3ee;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	white-space: nowrap;
}
.dxpgKPICell_Office2003Blue
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_Office2003Blue
{
	background-color: #E6F0FD;
}
.dxpgGrandTotalCell_Office2003Blue
{
	background-color: #dbe8f9;
}
.dxpgRowGrandTotalCell_Office2003Blue
{
	background-color: #dbe8f9;
}
.dxpgColumnGrandTotalCell_Office2003Blue
{
	background-color: #dbe8f9;
}
.dxpgFilterWindow_Office2003Blue
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #3A609B;
}
.dxpgFilterItemsArea_Office2003Blue
{
	color: Black;
	background-color: White;
}
.dxpgFilterItem_Office2003Blue
{
	font: 11px Tahoma;
}
.dxpgFilterButton_Office2003Blue
{
	font: 11px Tahoma;
	padding: 2px 6px;
}
.dxpgFilterButtonPanel_Office2003Blue
{
	font: 9pt Tahoma;
	background-color: #e6f0fd;
	border-top: 1px solid #94b6e8;
	color: Black;
}
.dxpgLoadingDiv_Office2003Blue
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxpgTopPager_Office2003Blue
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #4f93e3;
}
.dxpgBottomPager_Office2003Blue
{
	border-top: solid 1px #4f93e3;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
.dxpgCustomizationFieldsHeader_Office2003Blue
{
	color: White;
	font: 9pt Tahoma;
	background: url('pgHeaderBack.gif') repeat-x #94b6e8;
}
.dxpgCustomizationFieldsContent_Office2003Blue
{
	padding: 0px !important;
}
.dxpgLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
	background-color: White;
	border: solid 1px #4f93e3;
	text-align: center;			
	cursor: wait;
}
.dxpgLoadingPanel_Office2003Blue td.dx
{
	padding: 12px 12px 12px 12px;
}
.dxpgDataHeadersImage_Office2003Blue
{
	margin-right: 5px;
	vertical-align: -2px;
}

.dxpgPrefilterPanelContainer_Office2003Blue
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel_Office2003Blue
{
	border: none;
	background-color: #A8C5F5;
}
.dxpgPrefilterPanelLink_Office2003Blue
{
	color: black;
	text-decoration: underline;	
}
.dxpgPrefilterPanelCheckBoxCell_Office2003Blue
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_Office2003Blue
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_Office2003Blue
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_Office2003Blue
{
	font-size: 9pt;
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_Office2003Blue
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_Office2003Blue
{
	background-color: #CFE1F9;
	border-top: solid 1px #7BA4E0;	
	padding: 6px;
}
.dxpgGroupSeparator_Office2003Blue
{
	vertical-align: middle;
}
