.dxEditors_edtError_Aqua,
.dxEditors_edtCalendarPrevYear_Aqua,
.dxEditors_edtCalendarPrevYearDisabled_Aqua,
.dxEditors_edtCalendarPrevMonth_Aqua,
.dxEditors_edtCalendarPrevMonthDisabled_Aqua,
.dxEditors_edtCalendarNextMonth_Aqua,
.dxEditors_edtCalendarNextMonthDisabled_Aqua,
.dxEditors_edtCalendarNextYear_Aqua,
.dxEditors_edtCalendarNextYearDisabled_Aqua,
.dxEditors_edtCalendarFNPrevYear_Aqua,
.dxEditors_edtCalendarFNNextYear_Aqua,
.dxEditors_edtCheckBoxOn_Aqua,
.dxEditors_edtCheckBoxOff_Aqua,
.dxEditors_edtCheckBoxUndefined_Aqua,
.dxEditors_edtRadioButtonOn_Aqua,
.dxEditors_edtRadioButtonOff_Aqua,
.dxEditors_edtRadioButtonUndefined_Aqua,
.dxEditors_edtEllipsis_Aqua,
.dxEditors_edtEllipsisDisabled_Aqua,
.dxEditors_edtEllipsisHover_Aqua,
.dxEditors_edtEllipsisPressed_Aqua,
.dxEditors_edtDropDown_Aqua,
.dxEditors_edtDropDownDisabled_Aqua,
.dxEditors_edtDropDownHover_Aqua,
.dxEditors_edtDropDownPressed_Aqua,
.dxEditors_edtSpinEditIncrementImage_Aqua,
.dxEditors_edtSpinEditIncrementImageDisabled_Aqua,
.dxEditors_edtSpinEditIncrementImageHover_Aqua,
.dxEditors_edtSpinEditIncrementImagePressed_Aqua,
.dxEditors_edtSpinEditDecrementImage_Aqua,
.dxEditors_edtSpinEditDecrementImageDisabled_Aqua,
.dxEditors_edtSpinEditDecrementImageHover_Aqua,
.dxEditors_edtSpinEditDecrementImagePressed_Aqua,
.dxEditors_edtSpinEditLargeIncImage_Aqua,
.dxEditors_edtSpinEditLargeIncImageDisabled_Aqua,
.dxEditors_edtSpinEditLargeIncImageHover_Aqua,
.dxEditors_edtSpinEditLargeIncImagePressed_Aqua,
.dxEditors_edtSpinEditLargeDecImage_Aqua,
.dxEditors_edtSpinEditLargeDecImageDisabled_Aqua,
.dxEditors_edtSpinEditLargeDecImageHover_Aqua,
.dxEditors_edtSpinEditLargeDecImagePressed_Aqua,
.dxEditors_fcadd_Aqua,
.dxEditors_fcaddhot_Aqua,
.dxEditors_fcremove_Aqua,
.dxEditors_fcremovehot_Aqua,
.dxEditors_fcgroupaddcondition_Aqua,
.dxEditors_fcgroupaddgroup_Aqua,
.dxEditors_fcgroupremove_Aqua,
.dxEditors_fcopany_Aqua,
.dxEditors_fcopbegin_Aqua,
.dxEditors_fcopbetween_Aqua,
.dxEditors_fcopcontain_Aqua,
.dxEditors_fcopnotcontain_Aqua,
.dxEditors_fcopnotequal_Aqua,
.dxEditors_fcopend_Aqua,
.dxEditors_fcopequal_Aqua,
.dxEditors_fcopgreater_Aqua,
.dxEditors_fcopgreaterorequal_Aqua,
.dxEditors_fcopnotblank_Aqua,
.dxEditors_fcopblank_Aqua,
.dxEditors_fcopless_Aqua,
.dxEditors_fcoplessorequal_Aqua,
.dxEditors_fcoplike_Aqua,
.dxEditors_fcopnotany_Aqua,
.dxEditors_fcopnotbetween_Aqua,
.dxEditors_fcopnotlike_Aqua,
.dxEditors_fcgroupand_Aqua,
.dxEditors_fcgroupor_Aqua,
.dxEditors_fcgroupnotand_Aqua,
.dxEditors_fcgroupnotor_Aqua,
.dxEditors_caRefresh_Aqua {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxEditors_edtError_Aqua {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_Aqua {
    background-position: 0px -130px;
    width: 23px;
    height: 19px;
}

.dxEditors_edtCalendarPrevYearDisabled_Aqua {
    background-position: -24px -130px;
    width: 23px;
    height: 19px;
}

.dxEditors_edtCalendarPrevMonth_Aqua {
    background-position: -57px 0px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCalendarPrevMonthDisabled_Aqua {
    background-position: -57px -20px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCalendarNextMonth_Aqua {
    background-position: -19px 0px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCalendarNextMonthDisabled_Aqua {
    background-position: -19px -20px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCalendarNextYear_Aqua {
    background-position: -48px -130px;
    width: 23px;
    height: 19px;
}

.dxEditors_edtCalendarNextYearDisabled_Aqua {
    background-position: -72px -130px;
    width: 23px;
    height: 19px;
}

.dxEditors_edtCalendarFNPrevYear_Aqua {
    background-position: 0px 0px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCalendarFNNextYear_Aqua {
    background-position: 0px -20px;
    width: 19px;
    height: 19px;
}

.dxEditors_edtCheckBoxOn_Aqua {
    background-position: -23px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxOff_Aqua {
    background-position: 0px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtCheckBoxUndefined_Aqua {
    background-position: -46px -44px;
    width: 15px;
    height: 15px;
}

.dxEditors_edtRadioButtonOn_Aqua {
    background-position: -91px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonOff_Aqua {
    background-position: -69px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtRadioButtonUndefined_Aqua {
    background-position: -113px -44px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtEllipsis_Aqua {
    background-position: -113px 0px;
    width: 12px;
    height: 3px;
}

.dxEditors_edtEllipsisDisabled_Aqua {
    background-position: -113px -22px;
    width: 12px;
    height: 3px;
}

.dxEditors_edtEllipsisHover_Aqua {
    background-position: -113px -11px;
    width: 12px;
    height: 3px;
}

.dxEditors_edtEllipsisPressed_Aqua {
    background-position: -113px -33px;
    width: 12px;
    height: 3px;
}

.dxEditors_edtDropDown_Aqua {
    background-position: -95px 0px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtDropDownDisabled_Aqua {
    background-position: -95px -22px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtDropDownHover_Aqua {
    background-position: -95px -11px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtDropDownPressed_Aqua {
    background-position: -95px -33px;
    width: 9px;
    height: 7px;
}

.dxEditors_edtSpinEditIncrementImage_Aqua {
    background-position: -150px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_Aqua {
    background-position: -150px -13px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditIncrementImageHover_Aqua {
    background-position: -158px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditIncrementImagePressed_Aqua {
    background-position: -158px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditDecrementImage_Aqua {
    background-position: -132px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_Aqua {
    background-position: -132px -13px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditDecrementImageHover_Aqua {
    background-position: -140px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditDecrementImagePressed_Aqua {
    background-position: -140px 0px;
    width: 7px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeIncImage_Aqua {
    background-position: -145px -26px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_Aqua {
    background-position: -171px -26px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImageHover_Aqua {
    background-position: -145px -36px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeIncImagePressed_Aqua {
    background-position: -145px -36px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImage_Aqua {
    background-position: -132px -26px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_Aqua {
    background-position: -158px -26px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImageHover_Aqua {
    background-position: -132px -36px;
    width: 7px;
    height: 9px;
}

.dxEditors_edtSpinEditLargeDecImagePressed_Aqua {
    background-position: -132px -36px;
    width: 7px;
    height: 9px;
}

.dxEditors_fcadd_Aqua {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_Aqua {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_Aqua {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_Aqua {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_Aqua {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_Aqua {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_Aqua {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_Aqua {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_Aqua {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_Aqua {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_Aqua {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_Aqua {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_Aqua {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_Aqua {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_Aqua {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_Aqua {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_Aqua {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_Aqua {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_Aqua {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_Aqua {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_Aqua {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_Aqua {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_Aqua {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_Aqua {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_Aqua {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_Aqua {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_Aqua {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_Aqua {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_Aqua {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_Aqua {
	background-position: -100px -126px;
    width: 21px;
    height: 23px;
}
