.dxtlControl_Office2003Olive
{
	cursor: default;
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #a4b26d;
}
.dxtlControl_Office2003Olive caption
{
	background: url('CaptionBack.gif') repeat-x center top #6d834d;
	color: White;
	border: solid 1px #a4b26d;
    border-bottom: 0;
	font-weight: bold;
	padding: 3px 3px 4px;
	text-align: center;
}

/* Indent cells */
.dxtlIndent_Office2003Olive, .dxtlIndentWithButton_Office2003Olive
{			
	background: white;
	vertical-align: top;
	background-position: center top;
	background-repeat: no-repeat;
}
.dxtlIndent_Office2003Olive
{
	padding: 0 11px;
}
.dxtlIndentWithButton_Office2003Olive
{
	padding: 5px 6px;
}
.dxtlSelectionCell_Office2003Olive
{
	padding: 0 2px;
	border: solid 1px #cdd6a7;
}

/* Tree-lines cells */
.dxtlLineFirst_Office2003Olive
{
	background-image: url('CssImages/TreeLineFirst.gif');
}
.dxtlLineMiddle_Office2003Olive
{
	background-image: url('CssImages/TreeLineMiddle.gif');
}
.dxtlLineLast_Office2003Olive
{
	background-image: url('CssImages/TreeLineLast.gif');
}
.dxtlLineRoot_Office2003Olive
{
	background-image: url('CssImages/TreeLineRoot.gif');
	background-repeat: repeat-y;
}

/* Headers */
.dxtlHeader_Office2003Olive 
{
	background: url('CssImages/HeaderBack.gif') repeat-x #b8c692;
	border: solid 1px #a4b26d;
	padding: 4px 6px 5px;
	font-weight: normal;		
}
.dxtlHeader_Office2003Olive table.dxtl 
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_Office2003Olive td.dxtl
{
	padding: 0;
}
.dxtlHeader_Office2003Olive, .dxtlHeader_Office2003Olive td.dxtl 
{	
	font: 9pt Tahoma;
	white-space: nowrap;
	text-align: left;
}

/* Nodes */
.dxtlNode_Office2003Olive
{
	background: white;	
}
.dxtlAltNode_Office2003Olive
{
	background: #f1fed8;	
}
.dxtlSelectedNode_Office2003Olive
{
	background: #ffc076;	
}
.dxtlFocusedNode_Office2003Olive
{
	background: url('CssImages/FocusedBack.gif') repeat-x center bottom #fff2c8;    
}
.dxtlInlineEditNode_Office2003Olive
{
	background: #e1e9be;
}
.dxtlEditFormDisplayNode_Office2003Olive
{
	background: #f1f9ce;
}
.dxtlNode_Office2003Olive td.dxtl, 
.dxtlAltNode_Office2003Olive  td.dxtl, 
.dxtlSelectedNode_Office2003Olive td.dxtl, 
.dxtlFocusedNode_Office2003Olive td.dxtl,
.dxtlEditFormDisplayNode_Office2003Olive td.dxtl,
.dxtlCommandCell_Office2003Olive
{
	padding: 3px 6px 4px;
	border: solid 1px #cdd6a7;
	white-space: nowrap;
	font-size: 9pt;
    font-family: Tahoma;
}
.dxtlInlineEditNode_Office2003Olive td.dxtl
{
	border: solid 1px #cdd6a7;
	padding: 1px;
}

/* Preview */
.dxtlPreview_Office2003Olive
{
    background: #e6eccc;
	padding: 14px;
	border: solid 1px #cdd6a7;
	font: 9pt Tahoma;	
}

/* Footers */
.dxtlGroupFooter_Office2003Olive
{
	background-color: #c2cb9c;	
}
.dxtlFooter_Office2003Olive
{
	background-color: #b0bd7e;	
}
.dxtlGroupFooter_Office2003Olive td.dxtl,
.dxtlFooter_Office2003Olive td.dxtl
{
	padding: 5px 6px 6px;
	white-space: nowrap;
	text-align: left;
	border: solid 1px #cdd6a7;
	font: 9pt Tahoma;
}

/* Pagers */
.dxtlPagerTopPanel_Office2003Olive
{
	border-bottom: solid 1px #cdd6a7;
}
.dxtlPagerBottomPanel_Office2003Olive
{
	border-top: solid 1px #cdd6a7;
}
.dxtlPagerTopPanel_Office2003Olive,
.dxtlPagerBottomPanel_Office2003Olive
{
	background: white;
	padding-top: 1px;	
}

/* Editing */
.dxtlEditForm_Office2003Olive 
{
	background: #e1e9be;
	border: solid 1px #cdd6a7;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_Office2003Olive,
.dxtlEditFormEditCell_Office2003Olive
{
	padding: 4px;
}
.dxtlEditFormCaption_Office2003Olive
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_Office2003Olive
{
	background: #FFC8C8;
	color: #FF0000;
	padding: 6px 10px;
	border: solid 1px #cfcfcf;
	font: 9pt Tahoma;		
}

/* Links */
.dxtlControl_Office2003Olive a, 
.dxtlCommandCell_Office2003Olive a
{
	color: black;
}
.dxtlCommandCell_Office2003Olive a
{
    margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_Office2003Olive
{
	border: solid 1px #a4b26d;
	background-color: white;
	font: 9pt Tahoma;
	color: #758D5E;
}
.dxtlLoadingPanel_Office2003Olive td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxtlLoadingDiv_Office2003Olive
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

/* Disabled */
.dxtlDisabled_Office2003Olive,
.dxtlDisabled_Office2003Olive .dxtl_Office2003Olive
{
	color: #808080;
	cursor: default;
}
