/* -- ASPxMenu -- */
.dxmControl_SoftOrangeChartDemoToolbar 
{
	font: 8pt Tahoma;
	color: black;
}
.dxmControl_SoftOrangeChartDemoToolbar a, .dxmMenu_SoftOrangeChartDemoToolbar a
{
	color: #707070;
	text-decoration: none;
}
.dxmMenu_SoftOrangeChartDemoToolbar
{
	font: 8pt Tahoma;
	color: #707070;
	background-color: #FFFFFF;
	border: solid 3px #D3D3D3;
	padding: 1px 1px 1px 1px;
}
.dxmMenuGutter_SoftOrangeChartDemoToolbar
{
}
.dxmMenuItem_SoftOrangeChartDemoToolbar, .dxmMenuItemWithImage_SoftOrangeChartDemoToolbar
{
	font: 9pt Tahoma;
	color: #707070;
	background: #F4F4F4 url('Web/mItemBack.png') repeat-x top left;
	white-space: nowrap;

	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
}
.dxmMenuItemWithImage_SoftOrangeChartDemoToolbar
{
	padding-right: 6px;
	padding-left: 6px;
}

.dxmMenuItemSelected_SoftOrangeChartDemoToolbar, .dxmMenuItemSelectedWithImage_SoftOrangeChartDemoToolbar
{	
	font: 9pt Tahoma;
	color: #707070;
	
	background: #dfdfdf url('Web/mItemBackH.png') repeat-x top left;
	border: Dotted 1px #5c5c5c;
	
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;	
}
.dxmMenuItemSelectedWithImage_SoftOrangeChartDemoToolbar
{
	padding-right: 5px;
	padding-left: 5px;
}

.dxmMenuItemChecked_SoftOrangeChartDemoToolbar, .dxmMenuItemCheckedWithImage_SoftOrangeChartDemoToolbar
{
}

.dxmMenuItemHover_SoftOrangeChartDemoToolbar, .dxmMenuItemHoverWithImage_SoftOrangeChartDemoToolbar
{
	font: 9pt Tahoma;
	color: #707070;
	
	background-image: none;
	background-color: #F9F9F9;
	border: Solid 1px #a8a8a8;
	
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;	
}
.dxmMenuItemHoverWithImage_SoftOrangeChartDemoToolbar
{
	padding-right: 5px;
	padding-left: 5px;
}

.dxmMenuSeparator_SoftOrangeChartDemoToolbar .dx
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_SoftOrangeChartDemoToolbar
{
	width: 1px;
}

.dxmMenuSeparator_SoftOrangeChartDemoToolbar .dx
{
	background: #F4F4F4 url('Web/mSeparatorBack.png') no-repeat top center;
	width: 5px;
	height: 27px;
}

.dxmMenuItemSpacing_SoftOrangeChartDemoToolbar
{
	width: 1px;
}
.dxmMenuItemSeparatorSpacing_SoftOrangeChartDemoToolbar
{
	width: 2px;
}
.dxmMenuItemLeftImageSpacing_SoftOrangeChartDemoToolbar
{
	padding-right: 4px;
}

/* Disabled */
.dxmDisabled_SoftOrangeChartDemoToolbar
{
	color: #808080;
	cursor: default;
}
