.dxPivotGrid_pgCollapsedButton_Glass,
.dxPivotGrid_pgExpandedButton_Glass,
.dxPivotGrid_pgSortDownButton_Glass,
.dxPivotGrid_pgSortUpButton_Glass,
.dxPivotGrid_pgFilterResizer_Glass,
.dxPivotGrid_pgFilterButton_Glass,
.dxPivotGrid_pgFilterButtonActive_Glass,
.dxPivotGrid_pgCustomizationFormCloseButton_Glass,
.dxPivotGrid_pgDragArrowDown_Glass,
.dxPivotGrid_pgDragArrowUp_Glass,
.dxPivotGrid_pgDragHideField_Glass,
.dxPivotGrid_pgDataHeaders_Glass,
.dxPivotGrid_pgGroupSeparator_Glass,
.dxPivotGrid_pgSortByColumn_Glass,
.dxPivotGrid_pgPrefilterButton_Glass {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxPivotGrid_pgCollapsedButton_Glass {
    background-position: 0px 0px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgExpandedButton_Glass {
    background-position: 0px -18px;
    width: 11px;
    height: 11px;
}

.dxPivotGrid_pgSortDownButton_Glass {
    background-position: -36px 0px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgSortUpButton_Glass {
    background-position: -36px -18px;
    width: 7px;
    height: 4px;
}

.dxPivotGrid_pgFilterResizer_Glass {
    background-position: -69px -37px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgFilterButton_Glass {
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButtonActive_Glass {
    background-position: -23px -36px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_Glass {
    background-position: -46px -39px;
    width: 17px;
    height: 17px;
}

.dxPivotGrid_pgDragArrowDown_Glass {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_Glass {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_Glass {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_Glass {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_Glass {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_Glass {
    background-position: -53px 0px;
    width: 17px;
    height: 10px;
}

.dxPivotGrid_pgPrefilterButton_Glass {
    background-position: -105px 0px;
    width: 13px;
    height: 13px;
}


