/* -- ASPxNavBar -- */
.dxnbControl_GlassNavigation 
{
	font: 11px Tahoma;
	color: White;
	background-color: #0D3D70;
	padding: 3px 0px;
}
.dxnbControl_GlassNavigation a
{
	color: White; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_GlassNavigation
{
    font: 11px Tahoma;
	color: #BDE0FC;

	font-weight: normal;
	
	background-image: url('nbGroupHeaderBackgroundCollap.gif');
    background-repeat: repeat-x;	
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_GlassNavigation table
{
    font: 11px Tahoma;
	color: #BDE0FC;
}
.dxnbGroupHeaderCollapsed_GlassNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_GlassNavigation
{
	background-image: url('nbGroupHeaderBackground.gif');
    background-repeat: repeat-x;	
    border: Solid 1px #19577B;

	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_GlassNavigation
{
    font: 11px Tahoma;
	color: #BDE0FC;

	background-color: #0D3D70;
	font-weight: bold;

	background-image: url('nbGroupHeaderBackground.gif');
    background-repeat: repeat-x;	
	
	border: Solid 1px #19577B;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_GlassNavigation table
{
    font: 11px Tahoma;
	color: #BDE0FC;    					
	font-weight: bold;
}
.dxnbGroupHeader_GlassNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_GlassNavigation
{
    font: 11px Tahoma;

	background-color: #1A4A84;

	background-image: url('nbGroupContentBackground.gif');
    background-repeat: repeat-x;	
	
	border: 0px;
	border-top: Solid 1px #03305B;
	border-bottom: Solid 1px #0A2D44;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_GlassNavigation
{
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px 30px;
}
.dxnbItemSelected_GlassNavigation
{
    color: White;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_GlassNavigation
{
	background-color: #1E518F;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_GlassNavigation 
{
    color: White;
    background: #0D3D70;    
	font: 11px Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_GlassNavigation a
{
	color: White; 
	text-decoration: none;
}
.dxnbLite_GlassNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_GlassNavigation .dxnb-header,
.dxnbLite_GlassNavigation .dxnb-headerCollapsed 
{
	color: #BDE0FC;
	background: url('nbGroupHeaderBackgroundCollap.gif') repeat-x;
	border-width: 0;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_GlassNavigation .dxnb-header
{
	color: #BDE0FC;
	background: #0D3D70 url('nbGroupHeaderBackground.gif') repeat-x;
	font-weight: bold;	
	border: Solid 1px #19577B;
	padding: 3px 6px;
}
.dxnbLite_GlassNavigation .dxnb-headerHover
{
}
.dxnbLite_GlassNavigation .dxnb-headerCollapsedHover
{
    background: #19577B url('nbGroupHeaderBackground.gif') repeat-x;
    border: Solid 1px #19577B;
	padding: 3px 6px 4px;
}
.dxnbLite_GlassNavigation .dxnb-content 
{
	background: #1A4A84 url('nbGroupContentBackground.gif') repeat-x;
	border: none;
	border-bottom: Solid 1px #0A2D44;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_GlassNavigation .dxnb-item,
.dxnbLite_GlassNavigation .dxnb-large,
.dxnbLite_GlassNavigation .dxnb-bullet 
{
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_GlassNavigation .dxnb-item,
.dxnbLite_GlassNavigation .dxnb-large,
.dxnbLite_GlassNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_GlassNavigation .dxnb-item,
.dxnbLite_GlassNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_GlassNavigation .dxnb-bullet,
.dxnbLite_GlassNavigation .dxnb-bulletHover,
.dxnbLite_GlassNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_GlassNavigation .dxnb-itemSelected,
.dxnbLite_GlassNavigation .dxnb-itemHover
{
}
.dxnbLite_GlassNavigation .dxnb-largeSelected,
.dxnbLite_GlassNavigation .dxnb-largeHover
{
}
.dxnbLite_GlassNavigation .dxnb-itemSelected,
.dxnbLite_GlassNavigation .dxnb-largeSelected
{
	color: White;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_GlassNavigation .dxnb-itemHover,
.dxnbLite_GlassNavigation .dxnb-largeHover
{
	background-color: #1E518F;
}
.dxnbLite_GlassNavigation .dxnb-header,
.dxnbLite_GlassNavigation .dxnb-headerCollapsed, 
.dxnbLite_GlassNavigation .dxnb-item,
.dxnbLite_GlassNavigation .dxnb-itemHover,
.dxnbLite_GlassNavigation .dxnb-itemSelected,
.dxnbLite_GlassNavigation .dxnb-bullet,
.dxnbLite_GlassNavigation .dxnb-bulletHover,
.dxnbLite_GlassNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_GlassNavigation .dxnb-large,
.dxnbLite_GlassNavigation .dxnb-largeHover,
.dxnbLite_GlassNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_GlassNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_GlassNavigation .dxnb-btn,
.dxnbLite_GlassNavigation .dxnb-btnLeft,
.dxnbLite_GlassNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_GlassNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_GlassNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_GlassNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_GlassNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_GlassNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_GlassNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_GlassNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_GlassNavigation,
.dxnbLite_GlassNavigation .dxnbLiteDisabled_GlassNavigation,
.dxnbLiteDisabled_GlassNavigation a,
.dxnbLiteDisabled_GlassNavigation .dxnb-item,
.dxnbLiteDisabled_GlassNavigation .dxnb-large,
.dxnbLiteDisabled_GlassNavigation .dxnb-bullet,
.dxnbLiteDisabled_GlassNavigation .dxnb-header,
.dxnbLiteDisabled_GlassNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
