.dxeLoadingDiv_BlackGlass
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingDivWithContent_BlackGlass
{
    background: White;
    opacity: 0.01;
    filter: alpha(opacity=1);
}

.dxeLoadingPanel_BlackGlass
{
	font: 9pt Tahoma;
	color: #FFFFF0;
}
.dxeLoadingPanelWithContent_BlackGlass
{
	font: 9pt Tahoma;
	color: #303030;
	border:solid 1px #D3D3D3;
	background-color: #FFFFFF;
}

.dxeLoadingPanel_BlackGlass td.dx,
.dxeLoadingPanelWithContent_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxbControl_BlackGlass
{
	font: 9pt Tahoma;
	background-color: #C0C0C0;
	cursor: pointer;
}
.dxeBase_BlackGlass
{
    font-family: Tahoma;
    font-size: 9pt;    
}
/* -- ErrorFrame -- */
.dxeErrorCell_BlackGlass, .dxeErrorCell_BlackGlass td
{
    font-family: Tahoma;
	font-size: 9pt;
	color: red;
}
.dxeErrorCell_BlackGlass
{
	color: #a91123;
	padding-left: 4px;	
}
.dxeErrorFrame_BlackGlass
{
}
.dxeErrorFrameWithoutError_BlackGlass {
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_BlackGlass .dxeControlsCell_BlackGlass {
    padding: 2px;
}
.dxeEditArea_BlackGlass
{
	font-family: Tahoma;
	font-size: 9pt;
	border: 1px solid #A0A0A0;
}

/* -- ValidationSummary -- */

.dxvsValidationSummary_BlackGlass {
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxvsValidationSummary_BlackGlass td.dxvsRC {
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_BlackGlass .dxvsE {
    
}

/* ValidationSummary - Header */

.dxvsValidationSummary_BlackGlass table.dxvsHT {
    width: 100%;
}
.dxvsValidationSummary_BlackGlass td.dxvsH {
    padding: 2px 0 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_BlackGlass a.dxvsHL,
.dxvsValidationSummary_BlackGlass a.dxvsHL:visited {
    color: red;
}
.dxvsValidationSummary_BlackGlass a.dxvsHL {
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_BlackGlass a.dxvsHL:hover {
    color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_BlackGlass table.dxvsT {
    
}
.dxvsValidationSummary_BlackGlass tr.dxvsE {
    
}
.dxvsValidationSummary_BlackGlass td.dxvsETC {
    padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_BlackGlass ul.dxvsL {
    
}
.dxvsValidationSummary_BlackGlass ol.dxvsL {
    
}
.dxvsValidationSummary_BlackGlass li.dxvsE {
    padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEdit_BlackGlass 
{
	background-color: white;
	width: 170px;
}
.dxeButtonEdit_BlackGlass .dxeEditArea_BlackGlass {
    background-color: white;
}
.dxeButtonEdit_BlackGlass .dxeEditArea_BlackGlass, .dxeButtonEdit_BlackGlass td.dxic
{
	width: 100%;
}

.dxeButtonEditButton_BlackGlass, .dxeCalendarButton_BlackGlass,
.dxeSpinIncButton_BlackGlass, .dxeSpinDecButton_BlackGlass,
.dxeSpinLargeIncButton_BlackGlass, .dxeSpinLargeDecButton_BlackGlass
{	
	background-color: #f0f0f0;	
	vertical-align: middle;
	cursor: pointer;
} 
.dxeButtonEditButton_BlackGlass, .dxeCalendarButton_BlackGlass, 
.dxeButtonEditButton_BlackGlass td.dx, .dxeCalendarButton_BlackGlass td.dx,
.dxeSpinIncButton_BlackGlass, .dxeSpinDecButton_BlackGlass,
.dxeSpinLargeIncButton_BlackGlass, .dxeSpinLargeDecButton_BlackGlass,
.dxeSpinIncButton_BlackGlass td.dx, .dxeSpinDecButton_BlackGlass td.dx,
.dxeSpinLargeIncButton_BlackGlass td.dx, .dxeSpinLargeDecButton_BlackGlass td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;  
    font-weight: normal;
	text-align: center;
} 
.dxeButtonEditButton_BlackGlass
{
	background-image: url('edtButtonBack_16.gif');	
    background-repeat:repeat-x;
    background-position:top;
	border: solid 1px Black;    
	background-color: #303030;	
	padding: 0px 1px;
}
.dxeSpinIncButton_BlackGlass, .dxeSpinDecButton_BlackGlass,
.dxeSpinLargeIncButton_BlackGlass, .dxeSpinLargeDecButton_BlackGlass
{
	border-style: none;
	padding: 0px;
}
.dxeSpinIncButton_BlackGlass, .dxeSpinDecButton_BlackGlass
{
    border-style: none;
}

.dxeButtonEditButton_BlackGlass table.dxbebt 
{
	width: 12px;
}
.dxeButtonEditButton_BlackGlass table.dxbebt td.dx 
{
    color: White;
}
.dxeSpinLargeIncButton_BlackGlass
{
    padding-left: 1px;
}

.dxeSpinIncButton_BlackGlass
{
	background: url('edtSpinIncBtnBack.gif') no-repeat top left #363636;
	border-bottom: Solid 1px #FFFFFF;
}
.dxeSpinDecButton_BlackGlass
{
	background: url('edtSpinDecBtnBack.gif') no-repeat top left #959595;   
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_BlackGlass, .dxeSpinLargeDecButton_BlackGlass
{
   	background: url('edtSpinLargeIncBtnBack.gif') no-repeat top left #959595;
}

.dxeCalendarButton_BlackGlass
{
	color: White;
	background-image: url('edtCalendarFootBtn.gif');	
    background-position:top;		    
	border: solid 1px Black;
	background-color: #444444;
	background-repeat:repeat-x;
	padding: 5px 10px;
}
.dxeCalendarButton_BlackGlass table.dxbebt
{
	color: White;
    width: 30px;
}
/* SpinButtons */
.dxeSpinIncButton_BlackGlass table.dxbebt, .dxeSpinDecButton_BlackGlass table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_BlackGlass table.dxbebt
{
	width: 16px;
}
.dxeSpinLargeIncButton_BlackGlass table.dxbebt
{
	width: 15px;    
}

.dxeCalendarButton_BlackGlass td.dx
{
	text-align: center;
	white-space: nowrap;
}

/* -- Hover -- */
.dxeButtonHover_BlackGlass         /* inherits dxeButton */
{
	background-color: #E6E3D6;
}
.dxeCalendarButtonHover_BlackGlass
{
	background-image: url('edtCalendarFootBtnH.gif');	
    background-repeat:repeat-x;
    background-position:top;
    border: Solid 1px Black; 
  	background-color: #82b3ce;   
}
.dxeButtonEditButtonHover_BlackGlass
{
	background-image: url('edtButtonBackH_16.gif');	
    background-repeat:repeat-x;
    background-position:top;	    
    border: Solid 1px Black;    
	background-color: #86bad6;    
}
/* SpinButtons */
.dxeSpinIncButtonHover_BlackGlass, .dxeSpinDecButtonHover_BlackGlass
{
    border-style: none;    
}
.dxeSpinLargeIncButtonHover_BlackGlass, .dxeSpinLargeDecButtonHover_BlackGlass
{
	background: url('edtSpinLargeIncBtnHBack.gif') no-repeat top left #86bad6;
	border-style: none;
}

.dxeSpinIncButtonHover_BlackGlass
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #536b78;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonHover_BlackGlass
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #536b78;
    border-bottom-style: none;
}

/* -- Pressed -- */
.dxeButtonPressed_BlackGlass       /* inherits dxeButton */
{    
	background-color: #D4D1C3;
}
.dxeCalendarButtonPressed_BlackGlass
{
	background-image: url('edtCalendarFootBtnP.gif');	
    background-repeat:repeat-x;
    background-position:top;
    border: Solid 1px Black;
  	background-color: #cbcbcb;
}
.dxeButtonEditButtonPressed_BlackGlass
{
	background-image: url('edtButtonBackC_16.gif');	
    background-repeat:repeat-x;
    background-position:top;
    border: Solid 1px Black;    
	background-color: #bdbdbd;        
}
/* SpinButtons */
.dxeSpinIncButtonPressed_BlackGlass, .dxeSpinDecButtonPressed_BlackGlass
{
    border-style: none;    
}
.dxeSpinIncButtonPressed_BlackGlass
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #363636;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonPressed_BlackGlass
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #959595;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonPressed_BlackGlass, .dxeSpinLargeDecButtonPressed_BlackGlass
{
	background: url('edtSpinLargeIncBtnPBack.gif') no-repeat top left #b7b7b7;
	border-style: none;
}

.dxeButtonEdit_BlackGlass
{
    border: solid 1px #9F9F9F;
}
.dxeButtonEdit_BlackGlass td.dxic
{
	padding: 0px 2px 0px 1px;
}
.dxeButtonEdit_BlackGlass .dxeIIC img {
    padding-left: 3px;
}
.dxeTextBox_BlackGlass, .dxeMemo_BlackGlass
{
	background-color: white;
    border: Solid 1px #9F9F9F;
}
.dxeTextBox_BlackGlass td.dxic
{
	padding: 1px 2px;
	width: 100%;
}
.dxeTextBox_BlackGlass .dxeEditArea_BlackGlass
{
    background-color: white;
}
.dxeRadioButtonList_BlackGlass, .dxeRadioButtonList_BlackGlass table {
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_BlackGlass {
    border: Solid 1px #9F9F9F;
}
.dxeRadioButtonList_BlackGlass td.dxe {
    padding: 6px 11px;
    padding-right: 5px;
}
.dxeRadioButtonList_BlackGlass label
{
	margin-right: 6px;    
}

/* -- Memo -- */
.dxeMemo_BlackGlass
{

}
.dxeMemoEditArea_BlackGlass
{
	background-color: white;
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_BlackGlass td
{
	padding: 0 0 0 4px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_BlackGlass
{
    font-family: Tahoma;
    font-size: 9pt; 
	font-weight: normal;
    color: #3e6b96;    
}
a.dxeHyperlink_BlackGlass
{
    color: #3e6b96;
}
a:hover.dxeHyperlink_BlackGlass
{
    color: #FF9600;
}
a:visited.dxeHyperlink_BlackGlass
{
	color: #800080;
}

/* -- ListBox -- */
.dxeListBox_BlackGlass
{
    background-color: white;
    border: solid 1px #A0A0A0;
    font-family: Tahoma;
    font-size: 9pt;
    height: 107px;
    width: 70px;
}

.dxeListBox_BlackGlass div.dxlbd 
{
	height: 107px;
}

.dxeListBoxItemRow_BlackGlass
{
    cursor: default;
}
.dxeListBoxItem_BlackGlass
{    
    border: solid 1px white;
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 2px 2px 3px 3px;
    white-space: nowrap;
    text-align: left;
    color: Black;    
    font-weight: normal    
}
.dxeListBoxItem_BlackGlass em
{ 
    background:none repeat scroll 0 0 #CEDAE5;
    color:#333333;
    font-weight:bold;
    font-style:normal; 
}
.dxeListBoxItemSelected_BlackGlass     /* inherits dxeListBoxItem */
{    
    background-color: #e0eaec;
}
.dxeListBoxItemHover_BlackGlass        /* inherits dxeListBoxItem */
{
    background-color: #CEDAE5;
}
.dxeListBoxItemHover_BlackGlass em, .dxeListBoxItemSelected_BlackGlass em
{
    background: none;
}
.dxeListBox_BlackGlass td.dxeI, .dxeListBox_BlackGlass td.dxeIM, .dxeListBox_BlackGlass .dxeHIC,
.dxeListBox_BlackGlass td.dxeFTM, .dxeListBox_BlackGlass td.dxeTM,
.dxeListBox_BlackGlass td.dxeC, .dxeListBox_BlackGlass td.dxeCM, .dxeListBox_BlackGlass td.dxeHCC, .dxeListBox_BlackGlass td.dxeMI, .dxeListBox_BlackGlass td.dxeMIM
{
    border-right-width: 0px!important;
}
.dxeListBox_BlackGlass td.dxeCM, .dxeListBox_BlackGlass td.dxeHCC
{
    width: 25px;
}
.dxeListBox_BlackGlass td.dxeIM
{
    width: 0;
}
.dxeListBox_BlackGlass td.dxeT
{
    width: 100%;    
    padding-left: 0px!important;
}
.dxeListBox_BlackGlass td.dxeT, .dxeListBox_BlackGlass td.dxeMI
{
    border-left-width: 0px!important;
}
.dxeListBox_BlackGlass td.dxeFTM, .dxeListBox_BlackGlass td.dxeTM, .dxeListBox_BlackGlass td.dxeLTM,
 .dxeListBox_BlackGlass .dxeHFC, .dxeListBox_BlackGlass .dxeHC, .dxeListBox_BlackGlass .dxeHLC
{
    overflow: hidden;
    border-top-width: 0px;
}
.dxeListBox_BlackGlass .dxeCM, .dxeListBox_BlackGlass .dxeIM, .dxeListBox_BlackGlass .dxeMIM
{
    border-top-width: 0px;
}
.dxeListBox_BlackGlass td.dxeFTM, .dxeListBox_BlackGlass td.dxeTM, 
.dxeListBox_BlackGlass .dxeHFC, .dxeListBox_BlackGlass .dxeHC
{
    padding-right: 6px!important;
}
.dxeListBox_BlackGlass td.dxeLTM, .dxeListBox_BlackGlass td.dxeTM, 
.dxeListBox_BlackGlass .dxeHC,  .dxeListBox_BlackGlass .dxeHLC
{
    padding-left: 6px!important;
}
/*Grid lines*/
.dxeListBox_BlackGlass td.dxeTM, .dxeListBox_BlackGlass td.dxeLTM, .dxeListBox_BlackGlass td.dxeMIM
{
    border-left: 1px solid #A4BED1 !important;
}
.dxeListBox_BlackGlass td.dxeIM, .dxeListBox_BlackGlass td.dxeFTM, .dxeListBox_BlackGlass td.dxeTM, .dxeListBox_BlackGlass td.dxeLTM,
.dxeListBox_BlackGlass td.dxeCM, .dxeListBox_BlackGlass td.dxeMIM
{
    border-bottom: solid 1px #A4BED1;
}
/*Header*/
.dxeListBox_BlackGlass .dxeHD
{
    background-color:#444444;
    background-image:url('lbHeaderBackground.gif');
    background-position:center top;
    background-repeat:repeat-x;
    border-bottom: solid 1px #A0A0A0
}
.dxeListBox_BlackGlass .dxeHFC, .dxeListBox_BlackGlass .dxeHIC, .dxeListBox_BlackGlass .dxeHC, .dxeListBox_BlackGlass .dxeHLC,
.dxeListBox_BlackGlass td.dxeHCC, .dxeListBox_BlackGlass td.dxeHMIC
{
    color: White;
    border-bottom-width: 0px;
    border-top-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dxeListBox_BlackGlass .dxeHC,  .dxeListBox_BlackGlass .dxeHLC, .dxeListBox_BlackGlass td.dxeHMIC
{
    border-left: solid 1px #A0A0A0
}
.dxeListBox_BlackGlass .dxeHIC, .dxeListBox_BlackGlass .dxeHFC, .dxeListBox_BlackGlass .dxeHCC
{
    border-left:1px solid #444444;
}
.dxeListBox_BlackGlass .dxeHFC, .dxeListBox_BlackGlass .dxeHC, .dxeListBox_BlackGlass .dxeHMIC
{
    border-right-width:0;
}
.dxeListBox_BlackGlass .dxeHLC
{
    border-right: solid 1px #A0A0A0;
}

/* -- Calendar -- */
.dxeCalendar_BlackGlass
{
	color: black;
    border: solid 1px #A0A0A0;
	background-color: White;    
	font-weight: normal;
}
.dxeCalendar_BlackGlass td.dxMonthGrid, .dxeCalendar_BlackGlass td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
    cursor: default;
}
.dxeCalendar_BlackGlass td.dxMonthGrid
{
    padding-left: 20px;
}
.dxeCalendarDayHeader_BlackGlass
{
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;
    color: Black;
    border-bottom: solid 1px #cfcfcf;
}
.dxeCalendarWeekNumber_BlackGlass
{    
    font-family: Tahoma;
    font-size: 8pt;    
    text-align: right;
    color: #86b4d8;    	
    padding: 6px 8px 2px 4px;    
}
.dxeCalendarDay_BlackGlass
{    
    font-family: Tahoma;
    font-size: 8pt;
    padding: 3px;
    color:Black;
	background-color: White;
    text-align: center;
}
.dxeCalendarWeekend_BlackGlass       	/* inherits dxeCalendarDay */
{
    color: #fe3c00;
}
.dxeCalendarOtherMonth_BlackGlass    	 /* inherits dxeCalendarDay */
{
    color: #acacac;
}
.dxeCalendarOutOfRange_BlackGlass        /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarSelected_BlackGlass       	/* inherits dxeCalendarDay */
{
    background-color: #93a7ba;
    color: white;
}
.dxeCalendarToday_BlackGlass       	        /* inherits dxeCalendarDay */
{
    border: solid 1px #ff5c20;
    padding: 2px;
}
.dxeCalendarHeader_BlackGlass
{
    font-family: Tahoma;
    font-size: 9pt;        
    background-color: #c5d6df;
    border: solid 1px #a0a0a0;
	border-width: 1px 0;
    text-align: center;
    padding: 1px;
	height: 18px;
}
.dxeCalendarHeader_BlackGlass td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_BlackGlass
{
    background-color: #e4edef;
    padding: 6px 0px;
    border-top: solid 1px #a0a0a0;
}
.dxeCalendarFastNav_BlackGlass
{
    background: white;
    border: solid 1px #a0a0a0;
    border-bottom: 0px;
    padding: 8px;
}
.dxeCalendarFastNavFooter_BlackGlass
{
    background: #e4edef;
    padding: 6px 0px;
    border: solid 1px #a0a0a0;    
}
.dxeCalendarFastNavMonth_BlackGlass, .dxeCalendarFastNavYear_BlackGlass
{
    font: 9pt Tahoma;
    color: Black;
    padding: 4px 6px;
    text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonthSelected_BlackGlass, .dxeCalendarFastNavYearSelected_BlackGlass
{
    background: #93a7ba;
}
.dxeCalendarFastNavMonthHover_BlackGlass, .dxeCalendarFastNavYearHover_BlackGlass
{        
    background: #c1ced9;
}
/* Disabled */
.dxeDisabled_BlackGlass, .dxeDisabled_BlackGlass td.dxe
{
	color: #bebebe;
	cursor: default;
}
a.dxeDisabled_BlackGlass, a.dxeDisabled_BlackGlass:hover
{
    color: #9f9f9f;
}
.dxeButtonDisabled_BlackGlass, .dxeButtonDisabled_BlackGlass td.dxe
{
	color: #808080;
	background: #b6b6b6 url('edtButtonBackDis_16.gif') repeat-x top left;
	border-color: #a5a5a5;
	cursor: default;
}
/* -- Button -- */
.dxbButton_BlackGlass
{	
    color: #FFFFFF;   
    font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
    vertical-align: middle;	 		
    border: solid 1px #000000;	
    background: #424242 url('edtButtonBack.gif') top;
    background-repeat:repeat-x;
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
.dxbButtonHover_BlackGlass 
{
  	color: #FFFFFF;   
	background: #759DB3 url('edtButtonHoverBack.gif') top;
    background-repeat: repeat-x;
}
.dxbButtonChecked_BlackGlass 
{
    color: #FFFFFF;
	background: #3D677F url('edtButtonCheckedBack.gif') top;
    background-repeat: repeat-x;	
}
.dxbButtonPressed_BlackGlass 
{
  	color: #FFFFFF;        
	background: #AEAEAE url('edtButtonPressedBack.gif') top;
    background-repeat: repeat-x;
}
.dxbButton_BlackGlass div.dxb
{    
    padding: 2px 12px 3px 12px;
	border: 0px;
}
.dxbButton_BlackGlass div.dxbf
{     
    padding: 1px 11px 2px 11px;
	border: dotted 1px #C2E4F6;		
}
.dxbButton_BlackGlass div.dxb table
{    
    color: #FFFFFF;   
    font-size: 9pt;
    font-family: Tahoma;				    
	font-weight:normal;
}
.dxbButton_BlackGlass div.dxb td.dxb
{    
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
/* Disabled */
.dxbDisabled_BlackGlass
{
    background: #a1a1a1 url('edtButtonBackDis.gif') repeat-x top;
    border-color: #a5a5a5;
	color: #ffffff;
	cursor: default;
}

/* -- FilterControl -- */
.dxfcTable_BlackGlass
{
	border-collapse: separate!important;
}
.dxfcTable_BlackGlass td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 9pt Tahoma;
	color: Black;	
}
a.dxfcPropertyName_BlackGlass
{
	white-space:nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_BlackGlass
{
	white-space:nowrap!important;
	padding:0px 3px 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_BlackGlass
{
	white-space:nowrap!important;
	color: Green!important;
}
a.dxfcValue_BlackGlass
{
	white-space:nowrap!important;
	color: Gray!important;
}
.dxfcImageButton_BlackGlass
{
	cursor: pointer;
}
.dxfcLoadingPanel_BlackGlass
{
	border: solid 1px #303030;
	background: white;
	font: 9pt Tahoma;
	color: #303030;
}
.dxfcLoadingPanel_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxfcLoadingDiv_BlackGlass
{
	background: white;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeMaskHint_BlackGlass 
{
	background: #ffffe1;
	border: solid 1px black;
	padding: 2px 5px 3px;
	color: Black;
	font: 9pt Tahoma;
}
/* -- ProgressBar -- */
.dxeProgressBar_BlackGlass, .dxeProgressBar_BlackGlass td
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: #FFFFFF;    
}
.dxeProgressBar_BlackGlass .dxePBMainCell, .dxeProgressBar_BlackGlass td.dxe
{
    padding: 0;
}
.dxeProgressBar_BlackGlass
{
    border: Solid 1px #000000;
    background-color: #8A8B8B;
}
.dxeProgressBarIndicator_BlackGlass
{
    background-color: #464646;
	background-image: url('edtProgressIndicatorBack.gif');
    background-repeat: repeat-x;    
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_BlackGlass
{
    background-color: white;
    border: solid 1px #9F9F9F;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_BlackGlass
{
    border: solid 1px #9F9F9F;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeColorTable_BlackGlass
{
    background-color: white;
    border: solid 1px #9F9F9F;
}
.dxeColorTable_BlackGlass td.dx
{
   padding: 4px 4px;
}
.dxeColorTableCell_BlackGlass {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_BlackGlass {
    border: solid 1px #808080;
    width: 12px;
    height: 12px;
    font-size: 0px;
}
.dxeColorTableCellSelected_BlackGlass {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;

    background-color: #CBCBCB;
    border: solid 1px #888888;
}
.dxeColorTableCellHover_BlackGlass {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
    
    background-color: #F2F2F2;
    border: solid 1px #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_BlackGlass
{

}
.dxeInvalid_BlackGlass .dxeEditArea_BlackGlass,
.dxeInvalid_BlackGlass .dxeMemoEditArea_BlackGlass {
    
}

/* -- Focused Style -- */
.dxeFocused_BlackGlass 
{
    border: solid 1px Black;
}

/* -- Null Text Style -- */
.dxeNullText_BlackGlass .dxeEditArea_BlackGlass,
.dxeNullText_BlackGlass .dxeMemoEditArea_BlackGlass
{
    color: #bebebe;
}

/* -- Captcha -- */
.dxcaRefreshButton_BlackGlass
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
	color: #4688aa;
}

.dxcaDisabledRefreshButton_BlackGlass
{
	color: #9f9f9f;
}

.dxcaRefreshButtonCell_BlackGlass
{
	padding-left: 4px;
	padding-right: 4px;
}

.dxcaRefreshButtonText_BlackGlass
{
	text-decoration: underline;
}

.dxcaDisabledRefreshButtonText_BlackGlass
{
	text-decoration: none;
}

.dxcaTextBoxCell_BlackGlass
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCell_BlackGlass, .dxcaTextBoxCellNoIndent_BlackGlass
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 9pt;
}

.dxcaTextBoxCellNoIndent_BlackGlass .dxeErrorCell_BlackGlass
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_BlackGlass
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_BlackGlass
{
	font: 9pt Tahoma;
	color: #303030;
	border:solid 1px #D3D3D3;
	background-color: #FFFFFF;
}

.dxcaLoadingPanel_BlackGlass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}


