/* -- ASPxNavBar -- */
.dxnbControl_DefaultNavigation
{
	font: 9pt Tahoma;
	color: Black;
	background-color: #E0E0E0;
	padding: 3px 0px;
}
.dxnbControl_DefaultNavigation a
{
	color: #005BC2; 
	text-decoration: none;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation
{
    font: 11px Tahoma;
	color: Black;

	font-weight: normal;
    					
	border: 0px;
	
	padding: 4px 7px 5px 7px;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation table
{
    font: 11px Tahoma;
	color: Black;
}
.dxnbGroupHeaderCollapsed_DefaultNavigation table td
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsedHover_DefaultNavigation
{
    background-color: #D1D1D1;
    border: Solid 1px #c4C4C4;
	padding: 3px 6px 4px 6px;
}
.dxnbGroupHeader_DefaultNavigation
{
    font: 11px Tahoma;
	color: Black;

	background-color: #CACACA;
	font-weight: bold;

	border: Solid 1px #A8A8A8;
	
	padding: 3px 6px 3px 6px;
}
.dxnbGroupHeader_DefaultNavigation table
{
    font: 11px Tahoma;
	color: Black;
	font-weight: bold;
}
.dxnbGroupHeader_DefaultNavigation table td
{
	white-space: nowrap;
	font-weight: bold;
}
.dxnbGroupContent_DefaultNavigation
{
    font: 11px Tahoma;
	background-color: #ECECEC;
	background-image: url('nbGroupContentBackground.gif');
    background-repeat: repeat-x;	
	border: 0px;
	border-top: Solid 1px #AFAFAF;
	border-bottom: Solid 1px #AFAFAF;
	
	padding: 7px 0px 7px 0px;
}
.dxnbItem_DefaultNavigation
{
    color: #005BC2;
    font: 11px Tahoma;

    border: 0px;
    padding: 1px 30px 3px;
}
.dxnbItemSelected_DefaultNavigation
{
    color: #005BC2;
    font-weight: bold;
	background-image: url('nbBullet.gif');
	background-repeat: no-repeat;
	background-position: 15px 4px;
    padding: 1px 30px 3px 29px;
}
.dxnbItemHover_DefaultNavigation
{
	background-color: #d8d8d8;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_DefaultNavigation 
{
    color: Black;
    background: #E0E0E0;    
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 3px 0;  
    float: left;
}
.dxnbLite_DefaultNavigation a
{
	color: #005BC2; 
	text-decoration: none;
}
.dxnbLite_DefaultNavigation .dxnb-gr 
{
	margin-bottom: 13px;
}
.dxnbLite_DefaultNavigation .dxnb-header,
.dxnbLite_DefaultNavigation .dxnb-headerCollapsed 
{
	color: Black;
	font-size: 11px;
	border: none;	
	overflow: hidden;
    padding: 4px 7px 5px;
	cursor: pointer;
	clear: both;
}
.dxnbLite_DefaultNavigation .dxnb-header
{
	color: Black;
	background: #CACACA;
	font-weight: bold;	
	border: Solid 1px #A8A8A8;
	padding: 3px 6px;
}
.dxnbLite_DefaultNavigation .dxnb-headerHover
{
}
.dxnbLite_DefaultNavigation .dxnb-headerCollapsedHover
{
    background: #D1D1D1;
    border: Solid 1px #c4C4C4;
	padding: 3px 6px 4px;
}
.dxnbLite_DefaultNavigation .dxnb-content 
{
	background: #ECECEC url('nbGroupContentBackground.gif') repeat-x;
	border-bottom: Solid 1px #AFAFAF;
	font-size: 11px;
    list-style: none none outside;
    margin: 0;
    padding: 7px 0;
    overflow: hidden;
}
.dxnb-noHeads .dxnb-content
{
}
.dxnbLite_DefaultNavigation .dxnb-item,
.dxnbLite_DefaultNavigation .dxnb-large,
.dxnbLite_DefaultNavigation .dxnb-bullet 
{
	color: #005BC2;
	font-size: 11px;
	border: 0;
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_DefaultNavigation .dxnb-item,
.dxnbLite_DefaultNavigation .dxnb-large,
.dxnbLite_DefaultNavigation .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_DefaultNavigation .dxnb-item,
.dxnbLite_DefaultNavigation .dxnb-large
{
	padding: 1px 30px 3px;
}
.dxnbLite_DefaultNavigation .dxnb-bullet,
.dxnbLite_DefaultNavigation .dxnb-bulletHover,
.dxnbLite_DefaultNavigation .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_DefaultNavigation .dxnb-itemSelected,
.dxnbLite_DefaultNavigation .dxnb-itemHover
{
}
.dxnbLite_DefaultNavigation .dxnb-largeSelected,
.dxnbLite_DefaultNavigation .dxnb-largeHover
{
}
.dxnbLite_DefaultNavigation .dxnb-itemSelected,
.dxnbLite_DefaultNavigation .dxnb-largeSelected
{
	color: #005BC2;
	font-weight: bold;
	background: url('nbBullet.gif') no-repeat 15px 4px;
	font-weight: bold;
    padding: 1px 30px 3px 29px;
}
.dxnbLite_DefaultNavigation .dxnb-itemHover,
.dxnbLite_DefaultNavigation .dxnb-largeHover
{
	background-color: #D3D3D3;
}
.dxnbLite_DefaultNavigation .dxnb-header,
.dxnbLite_DefaultNavigation .dxnb-headerCollapsed, 
.dxnbLite_DefaultNavigation .dxnb-item,
.dxnbLite_DefaultNavigation .dxnb-itemHover,
.dxnbLite_DefaultNavigation .dxnb-itemSelected,
.dxnbLite_DefaultNavigation .dxnb-bullet,
.dxnbLite_DefaultNavigation .dxnb-bulletHover,
.dxnbLite_DefaultNavigation .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_DefaultNavigation .dxnb-large,
.dxnbLite_DefaultNavigation .dxnb-largeHover,
.dxnbLite_DefaultNavigation .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_DefaultNavigation .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_DefaultNavigation .dxnb-btn,
.dxnbLite_DefaultNavigation .dxnb-btnLeft,
.dxnbLite_DefaultNavigation .dxnb-img
{
	border-width: 0;
}

.dxnbLite_DefaultNavigation .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_DefaultNavigation .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_DefaultNavigation .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_DefaultNavigation .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_DefaultNavigation .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_DefaultNavigation .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_DefaultNavigation .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_DefaultNavigation,
.dxnbLite_DefaultNavigation .dxnbLiteDisabled_DefaultNavigation,
.dxnbLiteDisabled_DefaultNavigation a,
.dxnbLiteDisabled_DefaultNavigation .dxnb-item,
.dxnbLiteDisabled_DefaultNavigation .dxnb-large,
.dxnbLiteDisabled_DefaultNavigation .dxnb-bullet,
.dxnbLiteDisabled_DefaultNavigation .dxnb-header,
.dxnbLiteDisabled_DefaultNavigation .dxnb-headerCollapsed 
{
	color: #acacac;
	cursor: default;
}
