/* -- ASPxCallbackPanel -- */
.dxcpLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma, Verdana, Arial;
	color: #4B77B8;
}
.dxcpLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center; 
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingPanelWithContent_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxcpLoadingPanelWithContent_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxcpLoadingDiv_Office2003Blue
{
	background-color: Gray;
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
/* Disabled */
.dxcpDisabled_Office2003Blue
{
	color: #AAAAAA;
	cursor: default;
}

/* -- ASPxRoundPanel -- */
.dxrpControl_Office2003Blue td.dxrp,
.dxrpControlGB_Office2003Blue td.dxrp 
{
    font: 9pt Tahoma, Verdana, Arial;
    color: #000;
}
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue td.dxrp, 
.dxrpControlGB_Office2003Blue  span.dxrpHeader_Office2003Blue
{
    font-weight: bold;
}
/* - Header - */
.dxrpControl_Office2003Blue .dxrpHI,
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue,
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue td.dxrp
{
	vertical-align: top;
	white-space: nowrap;
}
/* Header image */
.dxrpControl_Office2003Blue .dxrpHI
{
    padding-right: 4px;
}
/* Content */
.dxrpControl_Office2003Blue .dxrpContent,
.dxrpControlGB_Office2003Blue .dxrpContent
{
	vertical-align: top;
}
/* Edges */
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue,
.dxrpControl_Office2003Blue .dxrpTE,
.dxrpControl_Office2003Blue .dxrpHLE,
.dxrpControl_Office2003Blue .dxrpHRE
{
	background-color: #7BA4E0;
}
.dxrpControl_Office2003Blue .dxrpContent,
.dxrpControl_Office2003Blue .dxrpLE,
.dxrpControl_Office2003Blue .dxrpRE,
.dxrpControl_Office2003Blue .dxrpBE,
.dxrpControl_Office2003Blue .dxrpNHTE,
.dxrpControlGB_Office2003Blue .dxrpContent,
.dxrpControlGB_Office2003Blue .dxrpLE,
.dxrpControlGB_Office2003Blue .dxrpRE,
.dxrpControlGB_Office2003Blue .dxrpBE,
.dxrpControlGB_Office2003Blue .dxrpNHTE,
.dxrpControlGB_Office2003Blue span.dxrpHeader_Office2003Blue
{
	background-color: #DDECFE;
}
.dxrpControl_Office2003Blue .dxrpTE,
.dxrpControl_Office2003Blue .dxrpNHTE,
.dxrpControlGB_Office2003Blue .dxrpNHTE
{
	border-top: 1px solid #002D96;
}
.dxrpControl_Office2003Blue .dxrpLE,
.dxrpControl_Office2003Blue .dxrpHLE,
.dxrpControlGB_Office2003Blue .dxrpLE
{
	border-left: 1px solid #002D96;
}
.dxrpControl_Office2003Blue .dxrpRE,
.dxrpControl_Office2003Blue .dxrpHRE,
.dxrpControlGB_Office2003Blue .dxrpRE
{
	border-right: 1px solid #002D96;
}
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue,
.dxrpControl_Office2003Blue .dxrpBE,
.dxrpControl_Office2003Blue .dxrpHLE,
.dxrpControl_Office2003Blue .dxrpHRE,
.dxrpControlGB_Office2003Blue .dxrpBE
{
	border-bottom: 1px solid #002D96;
}
.dxrpControl_Office2003Blue .dxrpTE
{
	background: #7BA4E0 url('rpTopEdge.png') repeat-x left top;
}
.dxrpControl_Office2003Blue .dxrpHeader_Office2003Blue,
.dxrpControl_Office2003Blue .dxrpHLE,
.dxrpControl_Office2003Blue .dxrpHRE
{
	background: #7BA4E0 url('rpHeader.png') repeat-x left top;
}

/* -- ASPxCloudControl -- */
.dxccControl_Office2003Blue a
{
	color: #629DB6;	
	text-decoration: none!important;
	
}
.dxccControl_Office2003Blue a:hover
{	
    text-decoration: underline!important;
}
.dxccControl_Office2003Blue
{
	color: #629DB6;
	background-color: #D0E2F9;
	border: solid 1px #002D96;
	font-family: Tahoma, Verdana, Arial;	
	font-size: 25px;
	line-height: 25px;
}
/* Disabled */
.dxccDisabled_Office2003Blue
{
	color: #808080;
	cursor: default;
}

/* -- ASPxDataView -- */
.dxdvControl_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
}
.dxdvControl_Office2003Blue td.dxdvCtrl
{
	padding: 0px;
}
.dxdvLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxdvLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxdvContent_Office2003Blue
{
	border-top: Solid 1px #4F93E3;
	border-bottom: Solid 1px #4F93E3;
}
.dxdvItem_Office2003Blue, .dxdvFlowItem_Office2003Blue
{
	font: 9pt Tahoma;
	color: Black;
	padding: 26px 50px;
	height: 180px;
	/*if IE*/	
	height:expression("154px");
}
.dxdvFlowItem_Office2003Blue
{
	float: left;
	overflow: hidden;
}
.dxdvFlowItemsContainer_Office2003Blue
{
}
.dxdvEmptyItem_Office2003Blue
{
	font: 9pt Tahoma;
	color: Black;
	text-align: left;
	vertical-align: top;
	padding: 26px 50px;
	height: 180px;
	/*if IE*/
	height:expression("154px");
}
.dxdvPagerPanel_Office2003Blue
{
	font: 9pt Tahoma;
	background-color: #BCD5FC;
	padding: 6px 0px;
}
.dxdvEmptyData_Office2003Blue
{
	color: #848484;
	padding: 12px 40px 12px 40px;
}
/* Disabled */
.dxdvDisabled_Office2003Blue
{
	color: #808080;
	cursor: default;
}

/* -- ASPxLoadingPanel -- */
.dxlpLoadingPanel_Office2003Blue 
{
	font: 9pt Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxlpLoadingPanel_Office2003Blue  td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxlpLoadingDiv_Office2003Blue 
{
	background-color: #777777;
	opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=70);
}

/* -- ASPxMenu -- */
.dxmControl_Office2003Blue 
{
	font: 9pt Tahoma;
	color: black;
}
.dxmControl_Office2003Blue a, .dxmMenu_Office2003Blue a, .dxmVerticalMenu_Office2003Blue a, .dxmSubMenu_Office2003Blue a
{
	color: black;
	text-decoration: none;
}
.dxmLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
}
.dxmLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 6px 6px;
}
.dxmMenu_Office2003Blue, .dxmVerticalMenu_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;	
	background: url('mItemBack.gif') repeat-y left top #C3DAF9;
	border: solid 1px #002D96;
	padding: 3px;
}
.dxmMenuGutter_Office2003Blue
{
}

.dxmMenuSeparator_Office2003Blue .dx,
.dxmMenuFullHeightSeparator_Office2003Blue .dx 
{
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
}
.dxmMenuSeparator_Office2003Blue,
.dxmMenuFullHeightSeparator_Office2003Blue
{
	width: 1px;
}

.dxmMenuSeparator_Office2003Blue .dx,
.dxmMenuFullHeightSeparator_Office2003Blue
{
	background: transparent url('mItemSeparatorBack.gif') left top repeat-y;
	width: 2px;
}
.dxmMenuSeparator_Office2003Blue .dx
{
	height: 14px;
}
.dxmMenuFullHeightSeparator_Office2003Blue
{
	display: none;
}
.dxmMenuVerticalSeparator_Office2003Blue
{
	background: transparent url('mItemVerticalSeparatorBack.gif') left top repeat-x;
	width: 100%;
	height: 2px;
}

.dxmMenuItem_Office2003Blue, .dxmMenuItemWithImage_Office2003Blue, .dxmMenuItemWithPopOutImage_Office2003Blue, .dxmMenuItemWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuItem_Office2003Blue, .dxmVerticalMenuItemWithImage_Office2003Blue, .dxmVerticalMenuItemWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemWithImageWithPopOutImage_Office2003Blue, 
.dxmMenuLargeItem_Office2003Blue, .dxmMenuLargeItemWithImage_Office2003Blue, .dxmMenuLargeItemWithPopOutImage_Office2003Blue, .dxmMenuLargeItemWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuLargeItem_Office2003Blue, .dxmVerticalMenuLargeItemWithImage_Office2003Blue, .dxmVerticalMenuLargeItemWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxmMenuItem_Office2003Blue, .dxmMenuItemWithImage_Office2003Blue
{
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
.dxmMenuItemWithPopOutImage_Office2003Blue, .dxmMenuItemWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 8px;
}	
.dxmVerticalMenuItem_Office2003Blue
{
	padding-top: 4px;
	padding-right: 19px;
	padding-bottom: 5px;
	padding-left: 8px;
}
.dxmVerticalMenuItemWithImage_Office2003Blue
{
	padding-top: 4px;	
	padding-right: 19px;	
	padding-bottom: 5px;	
	padding-left: 3px;	
}
.dxmVerticalMenuItemWithPopOutImage_Office2003Blue
{
	padding-top: 4px;	
	padding-right: 6px;	
	padding-bottom: 5px;	
	padding-left: 8px;	
}
.dxmVerticalMenuItemWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 4px;	
	padding-right: 6px;	
	padding-bottom: 5px;	
	padding-left: 3px;	
}
.dxmMenuLargeItem_Office2003Blue, .dxmMenuLargeItemWithImage_Office2003Blue
{
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 11px;
}
.dxmMenuLargeItemWithPopOutImage_Office2003Blue, .dxmMenuLargeItemWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItem_Office2003Blue, .dxmVerticalMenuLargeItemWithImage_Office2003Blue
{
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 11px;
}
.dxmVerticalMenuLargeItemWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 11px;
}
.dxmMenuItemDropDownButton_Office2003Blue, .dxmMenuLargeItemDropDownButton_Office2003Blue
{
	padding-right: 6px;
	padding-left: 6px;
}
.dxmVerticalMenuItemDropDownButton_Office2003Blue, .dxmVerticalMenuLargeItemDropDownButton_Office2003Blue
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmMenuItemSelected_Office2003Blue, .dxmMenuItemSelectedWithImage_Office2003Blue, .dxmMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuItemSelectedWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuItemSelected_Office2003Blue, .dxmVerticalMenuItemSelectedWithImage_Office2003Blue, .dxmVerticalMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Office2003Blue,
.dxmMenuLargeItemSelected_Office2003Blue, .dxmMenuLargeItemSelectedWithImage_Office2003Blue, .dxmMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuLargeItemSelected_Office2003Blue, .dxmVerticalMenuLargeItemWithImageSelected_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	background: url('mItemSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #002D96;
}
.dxmMenuItemSelected_Office2003Blue, .dxmMenuItemSelectedWithImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 7px;
}	
.dxmVerticalMenuItemSelected_Office2003Blue
{
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmVerticalMenuItemSelectedWithImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 18px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmVerticalMenuItemSelectedWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 7px;	
}
.dxmVerticalMenuItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmMenuLargeItemSelected_Office2003Blue, .dxmMenuLargeItemSelectedWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemSelected_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemSelectedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuItemDropDownButtonSelected_Office2003Blue, .dxmMenuLargeItemDropDownButtonSelected_Office2003Blue
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmVerticalMenuItemDropDownButtonSelected_Office2003Blue, .dxmVerticalMenuLargeItemDropDownButtonSelected_Office2003Blue
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuItemChecked_Office2003Blue, .dxmMenuItemCheckedWithImage_Office2003Blue, .dxmMenuItemCheckedWithPopOutImage_Office2003Blue, .dxmMenuItemCheckedWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuItemChecked_Office2003Blue, .dxmVerticalMenuItemCheckedWithImage_Office2003Blue, .dxmVerticalMenuItemCheckedWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Office2003Blue,
.dxmMenuLargeItemChecked_Office2003Blue, .dxmMenuLargeItemCheckedWithImage_Office2003Blue, .dxmMenuLargeItemCheckedWithPopOutImage_Office2003Blue, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Office2003Blue,
.dxmVerticalMenuLargeItemChecked_Office2003Blue, .dxmVerticalMenuLargeItemWithImageChecked_Office2003Blue, .dxmVerticalMenuLargeItemCheckedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Office2003Blue
{
	background: url('mItemSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #002D96;
}
.dxmMenuItemChecked_Office2003Blue, .dxmMenuItemCheckedWithImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmMenuItemCheckedWithPopOutImage_Office2003Blue, .dxmMenuItemCheckedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 7px;
}	
.dxmVerticalMenuItemChecked_Office2003Blue
{
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmVerticalMenuItemCheckedWithImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 18px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmVerticalMenuItemCheckedWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 7px;	
}
.dxmVerticalMenuItemCheckedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmMenuLargeItemChecked_Office2003Blue, .dxmMenuLargeItemCheckedWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuLargeItemCheckedWithPopOutImage_Office2003Blue, .dxmMenuLargeItemCheckedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemChecked_Office2003Blue, .dxmVerticalMenuLargeItemCheckedWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemCheckedWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemCheckedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuItemDropDownButtonChecked_Office2003Blue, .dxmMenuLargeItemDropDownButtonChecked_Office2003Blue
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmVerticalMenuItemDropDownButtonChecked_Office2003Blue, .dxmVerticalMenuLargeItemDropDownButtonChecked_Office2003Blue
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmMenuItemHover_Office2003Blue, .dxmMenuItemHoverWithImage_Office2003Blue, .dxmMenuItemHoverWithPopOutImage_Office2003Blue, .dxmMenuItemHoverWithImageWithPopOutImage_Office2003Blue, 
.dxmVerticalMenuItemHover_Office2003Blue, .dxmVerticalMenuItemHoverWithImage_Office2003Blue, .dxmVerticalMenuItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuItemHoverWithImageWithPopOutImage_Office2003Blue, 
.dxmMenuLargeItemHover_Office2003Blue, .dxmMenuLargeItemHoverWithImage_Office2003Blue, .dxmMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue, 
.dxmVerticalMenuLargeItemHover_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImage_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue
{
	background: url('mItemHBack.gif') repeat-x center top #FFD69A;
	border: solid 1px #002D96;
}
.dxmMenuItemHover_Office2003Blue, .dxmMenuItemHoverWithImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmMenuItemHoverWithPopOutImage_Office2003Blue, .dxmMenuItemHoverWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 7px;
}	
.dxmVerticalMenuItemHover_Office2003Blue
{
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.dxmVerticalMenuItemHoverWithImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 18px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmVerticalMenuItemHoverWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 7px;	
}
.dxmVerticalMenuItemHoverWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 3px;	
	padding-right: 5px;	
	padding-bottom: 4px;	
	padding-left: 2px;	
}
.dxmMenuLargeItemHover_Office2003Blue, .dxmMenuLargeItemHoverWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemHover_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 11px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmVerticalMenuLargeItemHoverWithPopOutImage_Office2003Blue, .dxmVerticalMenuLargeItemHoverWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 10px;
}
.dxmMenuItemDropDownButtonHover_Office2003Blue, .dxmMenuLargeItemDropDownButtonHover_Office2003Blue
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmVerticalMenuItemDropDownButtonHover_Office2003Blue, .dxmVerticalMenuLargeItemDropDownButtonHover_Office2003Blue
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenu_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #F6F6F6;
	border: solid 1px #002D96;
	padding: 1px 1px 1px 1px;
}
.dxmSubMenuGutter_Office2003Blue
{
	background: url('mPopupBack.gif') repeat-y left top;
}
.dxmSubMenuSeparator_Office2003Blue
{
	width: 100%;
	height: 1px;
	background-color: #6A8CCB;
}
.dxmSubMenuItem_Office2003Blue, .dxmSubMenuItemWithImage_Office2003Blue, .dxmSubMenuItemWithPopOutImage_Office2003Blue, .dxmSubMenuItemWithImageWithPopOutImage_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
}
.dxmSubMenuItem_Office2003Blue 
{
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 3px;	
}
.dxmSubMenuItemWithImage_Office2003Blue 
{
	padding-top: 2px;
	padding-right: 9px;
	padding-bottom: 2px;
	padding-left: 3px;
	height: 19px;
}
.dxmSubMenuItemWithPopOutImage_Office2003Blue
{
	padding-top: 4px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 3px;
}
.dxmSubMenuItemWithImageWithPopOutImage_Office2003Blue 
{
	padding-top: 2px;
	padding-right: 9px;
	padding-bottom: 2px;
	padding-left: 3px;
	height: 19px;
}
.dxmSubMenuItemDropDownButton_Office2003Blue
{
	padding-right: 5px;
	padding-left: 5px;
}
.dxmSubMenuItemSelected_Office2003Blue, .dxmSubMenuItemSelectedWithImage_Office2003Blue, .dxmSubMenuItemSelectedWithPopOutImage_Office2003Blue, .dxmSubMenuItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	background: url('mItemSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #002D96;
}
.dxmSubMenuItemSelected_Office2003Blue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 2px;
}
.dxmSubMenuItemSelectedWithImage_Office2003Blue 
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.dxmSubMenuItemSelectedWithPopOutImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 2px;
}
.dxmSubMenuItemSelectedWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.dxmSubMenuItemDropDownButtonSelected_Office2003Blue
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuItemChecked_Office2003Blue, .dxmSubMenuItemCheckedWithImage_Office2003Blue, .dxmSubMenuItemCheckedWithPopOutImage_Office2003Blue, .dxmSubMenuItemCheckedWithImageWithPopOutImage_Office2003Blue
{
}
.dxmSubMenuItemChecked_Office2003Blue
{
}
.dxmSubMenuItemCheckedWithImage_Office2003Blue 
{
}
.dxmSubMenuItemCheckedWithPopOutImage_Office2003Blue
{
}
.dxmSubMenuItemCheckedWithImageWithPopOutImage_Office2003Blue
{
}
.dxmSubMenuItemDropDownButtonChecked_Office2003Blue
{
}
.dxmSubMenuItemHover_Office2003Blue, .dxmSubMenuItemHoverWithImage_Office2003Blue, .dxmSubMenuItemHoverWithPopOutImage_Office2003Blue, .dxmSubMenuItemHoverWithImageWithPopOutImage_Office2003Blue
{
	background: url('mPopupHBack.gif') repeat-x center top #FFEEC2;
	border: solid 1px #002D96;
}
.dxmSubMenuItemHover_Office2003Blue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 2px;
}
.dxmSubMenuItemHoverWithImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.dxmSubMenuItemHoverWithPopOutImage_Office2003Blue
{
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 2px;
}
.dxmSubMenuItemHoverWithImageWithPopOutImage_Office2003Blue
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.dxmSubMenuItemDropDownButtonHover_Office2003Blue
{
	padding-right: 4px;
	padding-left: 4px;
}
.dxmSubMenuBorderCorrector_Office2003Blue
{
    position: absolute;
    border: 0px;
    padding: 0px;
}

.dxmMenuItemSpacing_Office2003Blue,
.dxmMenuLargeItemSpacing_Office2003Blue,
.dxmMenuItemSeparatorSpacing_Office2003Blue,
.dxmMenuLargeItemSeparatorSpacing_Office2003Blue
{
	width: 1px;	
}
.dxmVerticalMenuItemSpacing_Office2003Blue,
.dxmVerticalMenuItemSeparatorSpacing_Office2003Blue,
.dxmVerticalMenuLargeItemSpacing_Office2003Blue,
.dxmVerticalMenuLargeItemSeparatorSpacing_Office2003Blue,
.dxmSubMenuItemSpacing_Office2003Blue,
.dxmSubMenuItemSeparatorSpacing_Office2003Blue
{
	height: 1px;
}

.dxmMenuItemLeftImageSpacing_Office2003Blue
{
	padding-right: 4px;
}
.dxmMenuItemRightImageSpacing_Office2003Blue
{
	padding-left: 4px;
}
.dxmVerticalMenuItemLeftImageSpacing_Office2003Blue,
.dxmVerticalMenuItemRightImageSpacing_Office2003Blue,
.dxmSubMenuItemImageSpacing_Office2003Blue
{
	width: 1px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;
}
.dxmVerticalMenuItemLeftImageSpacing_Office2003Blue div,
.dxmVerticalMenuItemRightImageSpacing_Office2003Blue div
{
	width: 4px;
	height: 1px;
}
.dxmMenuItemTopImageSpacing_Office2003Blue,
.dxmVerticalMenuItemTopImageSpacing_Office2003Blue
{
	margin-bottom: 4px;
}
.dxmMenuItemBottomImageSpacing_Office2003Blue,
.dxmVerticalMenuItemBottomImageSpacing_Office2003Blue
{
	margin-top: 4px;
}
.dxmSubMenuItemImageSpacing_Office2003Blue div
{
	width: 7px;
	height: 1px;
}

/* Disabled */
.dxmDisabled_Office2003Blue
{
	color: #aaaaaa;
	cursor: default;
}

/*                     */
/* -- ASPxMenu Lite -- */
/*                     */
.dxm-main,
.dxm-horizontal ul.dx {
	float: left;
}
.dxm-popup {
	position: relative;
}
ul.dx {
	list-style: none none outside;
	margin: 0;
	padding: 0;
	
	background-repeat: repeat-y;
	background-position: left top;
}
.dxm-image,
.dxm-pImage {
	border-width: 0px;
	vertical-align: top;
}
.dxm-popOut,
.dxm-spacing,
.dxm-separator,
.dxm-separator b {
	font-size: 0px;
	line-height: 0px;
	display: block;
}
.dxm-horizontal .dxm-item,
.dxm-horizontal .dxm-spacing,
.dxm-horizontal .dxm-separator,
.dxm-content,
.dxm-horizontal .dxm-popOut,
.dxm-vertical .dxm-image-r .dxm-popOut {
    float: left;
}
.dxm-vertical .dxm-image-l .dxm-popOut,
.dxm-vertical .dxm-image-t .dxm-popOut,
.dxm-vertical .dxm-image-b .dxm-popOut,
.dxm-popup .dxm-popOut {
	float: right;
}
.dxm-ie7 .dxm-vertical ul.dx,
.dxm-ie7 .dxm-popup ul.dx {
	height: 1%;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-popup .dxm-item {
	margin-bottom: -2px;
}
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-spacing {
	margin-top: -3px;
}
.dxm-ie7 .dxm-vertical .dxm-item,
.dxm-ie7 .dxm-vertical .dxm-spacing,
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-item,
.dxm-ie7 .dxm-popup .dxm-spacing,
.dxm-ie7 .dxm-popup .dxm-separator {
	zoom: 1;
}
.dxm-vertical .dxm-separator b,
.dxm-popup .dxm-separator b {
	margin: 0px auto;
}
.dxm-ie7 .dxm-vertical .dxm-separator b,
.dxm-ie7 .dxm-popup .dxm-separator b {
	margin: 0px;
}
.dxm-ie7 .dxm-vertical .dxm-separator,
.dxm-ie7 .dxm-popup .dxm-separator {
	text-align: center;
}

/* Appearance */
.dxmLite_Office2003Blue .dxm-main {
	border: solid 1px #002D96;
    background: url('mItemBack.gif') repeat-y left top #C3DAF9;
    padding: 3px;
}

.dxmLite_Office2003Blue .dxm-vertical {
	width: 150px;
}

.dxmLite_Office2003Blue .dxm-popup {
	border: solid 1px #002D96;
	background-color: #F6F6F6;
	padding: 1px;
}

.dxmBC_Office2003Blue {
	background-color: #F6F6F6;
}

.dxmLite_Office2003Blue ul.dx {
	font: 9pt Tahoma;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-gutter {
	background-image: url('mPopupBack.gif');
}

.dxmLite_Office2003Blue .dxm-item {
	cursor: default;
}

.dxmLite_Office2003Blue .dxm-image-t .dxm-item,
.dxmLite_Office2003Blue .dxm-image-b .dxm-item,
.dxmLite_Office2003Blue .dxm-content {
	text-align: center;
	white-space: nowrap;
}

.dxmLite_Office2003Blue,
.dxmLite_Office2003Blue .dxm-content a.dx {
	color: Black;
}

.dxmLite_Office2003Blue .dxm-disabled,
.dxmLite_Office2003Blue .dxm-disabled .dxm-content a.dx {
	color: #aaaaaa;
}

.dxmLite_Office2003Blue .dxm-content a.dx {
	text-decoration: none;
}

/* Checked, Selected, Hovered */
.dxmLite_Office2003Blue .dxm-item {
	border-width: 1px;
}
.dxmLite_Office2003Blue .dxm-popOut {
	border-width: 0px 0px 0px 1px;
}
.dxmLite_Office2003Blue .dxm-image-r .dxm-popOut {
	border-width: 0px 1px 0px 0px;
}
.dxmLite_Office2003Blue .dxm-item,
.dxmLite_Office2003Blue .dxm-popOut {
	border-color: transparent;
	border-style: solid;
}
.dxmLite_Office2003Blue .dxm-main .dxm-checked,
.dxmLite_Office2003Blue .dxm-selected,
.dxmLite_Office2003Blue .dxm-hovered,
.dxmLite_Office2003Blue .dxm-main .dxm-dropDownMode.dxm-checked .dxm-popOut,
.dxmLite_Office2003Blue .dxm-dropDownMode.dxm-selected .dxm-popOut,
.dxmLite_Office2003Blue .dxm-dropDownMode.dxm-hovered .dxm-popOut {
	border-color: #002D96;
}
.dxmLite_Office2003Blue .dxm-main .dxm-checked,
.dxmLite_Office2003Blue .dxm-main .dxm-selected,
.dxmLite_Office2003Blue .dxm-popup .dxm-selected {
	background: url('mItemSBack.gif') repeat-x center top #FFAD55;
}
.dxmLite_Office2003Blue .dxm-main .dxm-hovered {
	background: url('mItemHBack.gif') repeat-x center top #FFD69A;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-hovered {
	background: url('mPopupHBack.gif') repeat-x center top #FFEEC2;
}

/* Content */
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-content,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-content {
	padding: 3px 7px 4px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-content,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-content {
	padding: 1px 11px 1px 10px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-subMenu .dxm-content,

.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-subMenu .dxm-content,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-subMenu .dxm-content {
	padding-right: 3px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-dropDownMode .dxm-content {
	padding-right: 4px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-subMenu .dxm-content {
	padding-left: 3px;
	padding-right: 5px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-left: 4px;
	padding-right: 5px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-dropDownMode .dxm-content,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-dropDownMode .dxm-content {
	padding-right: 8px;
}

.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-content,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-content {
	padding: 3px 18px 4px 2px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-content {
	padding: 1px 18px 1px 2px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l.dxm-noImages .dxm-content,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r.dxm-noImages .dxm-content  {
	padding-left: 7px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-noSubMenu .dxm-content,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-subMenu .dxm-content,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-dropDownMode .dxm-content {
	padding-left: 18px;
	padding-right: 5px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-content,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-content {
	padding: 1px 10px 1px;
}

/* Image */
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-image {
	margin-right: 4px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-image {
	margin-left: 4px;
}
.dxmLite_Office2003Blue .dxm-image-t .dxm-image {
	margin-bottom: 4px;
}
.dxmLite_Office2003Blue .dxm-image-b .dxm-image {
	margin-top: 4px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-image {
	margin-right: 7px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-image {
	margin-left: 7px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-image {
	margin-right: 12px;
}

/* Image replacement */
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-noImage {
	padding-left: 21px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-noImage {
	padding-right: 21px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-noImage,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-noImage {
	padding-left: 4px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-gutter.dxm-noImages .dxm-item,
.dxmLite_Office2003Blue .dxm-popup .dxm-noImage {
	padding-left: 28px;
}

/* PopOut */
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-popOut {
	padding-top: 8px;
	padding-bottom: 9px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 6px;
	padding-bottom: 6px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-top: 24px;
	padding-bottom: 24px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-l .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-popOut,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-popOut {
	padding-right: 5px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-r .dxm-popOut {
	padding-left: 7px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-dropDownMode .dxm-popOut {
	padding-left: 5px;
	padding-right: 5px;
}

.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-popOut {
	padding-top: 6px;
	padding-bottom: 7px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t.dxm-noImages .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-noImage .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b.dxm-noImages .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-noImage .dxm-popOut {
	padding-top: 4px;
	padding-bottom: 4px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-popOut {
	padding-top: 5px;
	padding-bottom: 5px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-popOut {
	padding-top: 22px;
	padding-bottom: 22px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-popOut,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-popOut,
.dxmLite_Office2003Blue .dxm-popup .dxm-popOut {
	padding-left: 4px;
	padding-right: 4px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-popOut {
	padding-left: 2px;
	padding-right: 6px;
}

/* PopOut replacement */
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-l .dxm-noSubMenu,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-t .dxm-noSubMenu,
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-b .dxm-noSubMenu,
.dxmLite_Office2003Blue .dxm-popup .dxm-noSubMenu {
	padding-right: 13px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-image-r .dxm-noSubMenu {
	padding-left: 13px;
}

/* Spacings */
.dxmLite_Office2003Blue .dxm-horizontal .dxm-spacing {
	width: 1px;
	height: 1px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-spacing,
.dxmLite_Office2003Blue .dxm-popup .dxm-spacing {
	height: 1px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-separator {
	margin-left: 1px;
	margin-right: 1px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-separator,
.dxmLite_Office2003Blue .dxm-popup .dxm-separator {
	margin-top: 1px;
	margin-bottom: 1px;
}
.dxm-ie7.dxmLite_Office2003Blue .dxm-popup .dxm-separator {
	margin-top: 0px;
}

/* Separator */
.dxmLite_Office2003Blue .dxm-horizontal .dxm-separator b {
	width: 2px;
	height: 14px;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-separator b {
	height: 2px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-separator b {
	height: 1px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-separator b {
	background: transparent url('mItemSeparatorBack.gif') left top repeat-y;
}
.dxmLite_Office2003Blue .dxm-vertical .dxm-separator b,
.dxmLite_Office2003Blue .dxm-popup .dxm-separator b {
	background: transparent url('mItemVerticalSeparatorBack.gif') left top repeat-x;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-separator b {
	margin-top: 4px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t.dxm-noImages .dxm-separator b,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b.dxm-noImages .dxm-separator b  {
	margin-top: 2px;
}
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-t .dxm-separator b,
.dxmLite_Office2003Blue .dxm-horizontal .dxm-image-b .dxm-separator b {
	margin-top: 20px;
}
.dxmLite_Office2003Blue .dxm-popup .dxm-gutter .dxm-separator {
	padding-left: 31px;
}

/* -- ASPxNavBar -- */
.dxnbControl_Office2003Blue 
{
	font: 9pt Tahoma;
	color: black;
	background: url('nbBack.gif') repeat-x center top #4B7AC9;
}
.dxnbControl_Office2003Blue td.dxnbCtrl
{
    padding: 5px;
}
.dxnbControl_Office2003Blue a
{
	color: black;
}
.dxnbLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
}
.dxnbLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 6px;
}
.dxnbGroupHeader_Office2003Blue
{
	font: bold 9pt Tahoma;
	color: black;
	background: url('nbGroupHeaderBack.gif') repeat-x left bottom #DAEAFD;
	border: solid 1px #002D96;
	padding: 5px 7px 5px 10px;
}
.dxnbGroupHeader_Office2003Blue table.dxnb
{
	font: bold 9pt Tahoma;
	color: black;
}
.dxnbGroupHeader_Office2003Blue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_Office2003Blue
{
	font: bold 9pt Tahoma;
	color: black;
	background: url('nbGroupHeaderBack.gif') repeat-x left bottom #DAEAFD;
	border: solid 1px #002D96;
	padding: 5px 7px 5px 10px;	
}
.dxnbGroupHeaderCollapsed_Office2003Blue table.dxnb
{
	font: bold 9pt Tahoma;
	color: black;
}
.dxnbGroupHeaderCollapsed_Office2003Blue td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupContent_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #002D96;	
	background: url('nbGroupBack.gif') repeat-x left bottom #DDECFE;
	padding: 1px;
}
.dxnbItem_Office2003Blue, .dxnbLargeItem_Office2003Blue, .dxnbBulletItem_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	text-align: left;
}
.dxnbItem_Office2003Blue
{
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 9px;
}
.dxnbLargeItem_Office2003Blue
{	
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 9px;
}
.dxnbBulletItem_Office2003Blue
{
	margin-bottom: 9px;
}
.dxnbItemSelected_Office2003Blue, .dxnbLargeItemSelected_Office2003Blue, .dxnbBulletItemSelected_Office2003Blue
{
	background: url('nbSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #002D96;
}
.dxnbItemSelected_Office2003Blue
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxnbLargeItemSelected_Office2003Blue
{
	padding-top: 2px;
	padding-right: 11px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxnbItemHover_Office2003Blue, .dxnbLargeItemHover_Office2003Blue, .dxnbBulletItemHover_Office2003Blue
{
	background: url('nbHBack.gif') repeat-x center top #FFEEC2;
	border: solid 1px #002D96;
}
.dxnbItemHover_Office2003Blue
{
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.dxnbLargeItemHover_Office2003Blue
{
	padding-top: 2px;
	padding-right: 11px;
	padding-bottom: 3px;
	padding-left: 8px;
}
.dxnbGroupHeader_Office2003Blue, .dxnbGroupHeaderCollapsed_Office2003Blue
{
    text-align: left;
}
.dxnbItem_Office2003Blue, .dxnbItemHover_Office2003Blue, .dxnbItemSelected_Office2003Blue,
.dxnbBulletItem_Office2003Blue, .dxnbBulletItemHover_Office2003Blue, .dxnbBulletItemSelected_Office2003Blue
{
    text-align: left;
}
.dxnbLargeItem_Office2003Blue, .dxnbLargeItemHover_Office2003Blue, .dxnbLargeItemSelected_Office2003Blue
{
    text-align: center;
}
.dxnbGroupHeaderHover_Office2003Blue
{
}
.dxnbGroupHeaderCollapsedHover_Office2003Blue
{
}
/* Spacings */
.dxnbGroupSpacing_Office2003Blue,
.dxnbItemSpacing_Office2003Blue
{
	width: 100%;
	height: 1px;
}
.dxnbGroupSpacing_Office2003Blue 
{
	height: 5px;
}
.dxnbImgCellLeft_Office2003Blue 
{
	padding-right: 4px;	
}
.dxnbImgCellRight_Office2003Blue
{
	padding-left: 4px;	
}
.dxnbLargeItemImgTop_Office2003Blue
{
	margin-bottom: 3px;
}
.dxnbLargeItemImgBottom_Office2003Blue
{
	margin-top: 3px;
}
/* Disabled */
.dxnbDisabled_Office2003Blue, .dxnbDisabled_Office2003Blue td.dxnb
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxNavBar Lite -- */
.dxnbLite_Office2003Blue 
{
    color: Black; 
    background: url('nbBack.gif') repeat-x center top #4B7AC9;
	font: 9pt Tahoma;
	list-style: none none outside;
    margin: 0;         
    padding: 5px;  
    float: left;
    width: 200px;
}
.dxnbLite_Office2003Blue a
{
	color: Black;
}
.dxnbLite_Office2003Blue .dxnb-gr 
{
	margin-bottom: 5px;
}
.dxnbLite_Office2003Blue .dxnb-header,
.dxnbLite_Office2003Blue .dxnb-headerCollapsed 
{
	background: url('nbGroupHeaderBack.gif') repeat-x left bottom #DAEAFD;
	border: solid 1px #002D96;
	font-weight: bold;	
	overflow: hidden;
    margin: 0;
    padding: 5px 7px 5px 10px;
	cursor: pointer;
	white-space: nowrap;
	clear: both;
}
.dxnbLite_Office2003Blue .dxnb-content 
{
    list-style: none none outside;
    margin: 0;
    padding: 1px;
    overflow: hidden;
	border: solid 1px  #002D96;
	background: url('nbGroupBack.gif') repeat-x left bottom #DDECFE;
	border-top-width: 0;
}
.dxnb-noHeads .dxnb-content
{
	border-top-width: 1px;
}
.dxnbLite_Office2003Blue .dxnb-item,
.dxnbLite_Office2003Blue .dxnb-large,
.dxnbLite_Office2003Blue .dxnb-bullet 
{
    clear: both;
    overflow: hidden;
    cursor: default;
}
.dxnbLite_Office2003Blue .dxnb-item,
.dxnbLite_Office2003Blue .dxnb-large,
.dxnbLite_Office2003Blue .dxnb-tmpl
{
	margin-bottom: 1px;
}
.dxnbLite_Office2003Blue .dxnb-item
{
	padding: 4px 5px 5px 9px;
}
.dxnbLite_Office2003Blue .dxnb-large
{
	padding: 3px 12px 4px 9px; 
}
.dxnbLite_Office2003Blue .dxnb-bullet,
.dxnbLite_Office2003Blue .dxnb-bulletHover,
.dxnbLite_Office2003Blue .dxnb-bulletSelected 
{
    padding: 0 5px;
    overflow: visible;
    margin-bottom: 9px;
}
.dxnbLite_Office2003Blue .dxnb-itemSelected,
.dxnbLite_Office2003Blue .dxnb-itemHover
{
	padding: 3px 4px 4px 8px;
}
.dxnbLite_Office2003Blue .dxnb-largeSelected,
.dxnbLite_Office2003Blue .dxnb-largeHover
{
	padding: 2px 11px 3px 8px;
}
.dxnbLite_Office2003Blue .dxnb-itemSelected,
.dxnbLite_Office2003Blue .dxnb-largeSelected
{
	background: url('nbSBack.gif') repeat-x center top #FFAD55;
	border: solid 1px #002D96;
}
.dxnbLite_Office2003Blue .dxnb-itemHover,
.dxnbLite_Office2003Blue .dxnb-largeHover
{
	background: url('nbHBack.gif') repeat-x center top #FFEEC2;
	border: solid 1px #002D96;
}
.dxnbLite_Office2003Blue .dxnb-header,
.dxnbLite_Office2003Blue .dxnb-headerCollapsed, 
.dxnbLite_Office2003Blue .dxnb-item,
.dxnbLite_Office2003Blue .dxnb-itemHover,
.dxnbLite_Office2003Blue .dxnb-itemSelected,
.dxnbLite_Office2003Blue .dxnb-bullet,
.dxnbLite_Office2003Blue .dxnb-bulletHover,
.dxnbLite_Office2003Blue .dxnb-bulletSelected
{
    text-align: left;
}
.dxnbLite_Office2003Blue .dxnb-large,
.dxnbLite_Office2003Blue .dxnb-largeHover,
.dxnbLite_Office2003Blue .dxnb-largeSelected
{
    text-align: center;
}
.dxnbLite_Office2003Blue .dxnb-headerHover
{
}
.dxnbLite_Office2003Blue .dxnb-headerCollapsedHover
{
}
.dxnbLite_Office2003Blue .dxnb-last
{
	margin-bottom: 0;
}
.dxnbLite_Office2003Blue .dxnb-btn,
.dxnbLite_Office2003Blue .dxnb-btnLeft,
.dxnbLite_Office2003Blue .dxnb-img
{
	border-width: 0;
}

.dxnbLite_Office2003Blue .dxnb-btn
{
	float: right;
	margin-left: 4px;
}
.dxnbLite_Office2003Blue .dxnb-btnLeft 
{
	float: left;
	margin-right: 4px;
}
.dxnbLite_Office2003Blue .dxnb-img
{
	margin:0 4px 0 0;
	float: left;
}
.dxnbLite_Office2003Blue .dxnb-right .dxnb-item .dxnb-img
{
	float: right;
	margin: 0 0 0 4px;
}
.dxnbLite_Office2003Blue .dxnb-top .dxnb-large .dxnb-img
{
	margin-bottom: 3px;
}
.dxnbLite_Office2003Blue .dxnb-bottom .dxnb-large .dxnb-img
{
	margin-top: 3px;
}
.dxnbLite_Office2003Blue .dxnb-large .dxnb-img
{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.dxnbLiteDisabled_Office2003Blue,
.dxnbLite_Office2003Blue .dxnbLiteDisabled_Office2003Blue,
.dxnbLiteDisabled_Office2003Blue a,
.dxnbLiteDisabled_Office2003Blue .dxnb-item,
.dxnbLiteDisabled_Office2003Blue .dxnb-large,
.dxnbLiteDisabled_Office2003Blue .dxnb-bullet,
.dxnbLiteDisabled_Office2003Blue .dxnb-header,
.dxnbLiteDisabled_Office2003Blue .dxnb-headerCollapsed 
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxPager -- */
.dxpControl_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
}
.dxpControl_Office2003Blue td.dxpCtrl
{
	padding: 5px 2px 5px 2px;
}
.dxpButton_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	text-decoration: underline;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.dxpButton_Office2003Blue a
{
	font: 9pt Tahoma;
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}
.dxpDisabledButton_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	text-decoration: none;
}
.dxpPageNumber_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}
.dxpPageNumber_Office2003Blue a
{
	font: 9pt Tahoma;
	color: black;
	text-decoration: underline;
}
.dxpCurrentPageNumber_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background: #c1d7f8;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
}
.dxpSummary_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	padding: 0px 4px 0px 4px;
}
.dxpSeparator_Office2003Blue
{
	background-color: #c1d7f8;
}
/* Disabled */
.dxpDisabled_Office2003Blue
{
	color: #aaaaaa;
	border-color: #808080;
	cursor: default;
}

/* -- ASPxPager Lite -- */

.dxpLite_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	padding: 5px 2px;
	float: left;
}

.dxpLite_Office2003Blue .dxp-summary,
.dxpLite_Office2003Blue .dxp-sep,
.dxpLite_Office2003Blue .dxp-button,
.dxpLite_Office2003Blue .dxp-num,
.dxpLite_Office2003Blue .dxp-current,
.dxpLite_Office2003Blue .dxp-ellip
{
	display: block;	
	float: left;
	margin-left: 4px;
	font-weight: normal;	
}
.dxpLite_Office2003Blue .dxp-lead
{
	margin-left: 0 !important;
}

.dxpLite_Office2003Blue a
{
	color: black;
	text-decoration: underline;
}

.dxpLite_Office2003Blue .dxp-button
{
	color: black;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;	
	text-decoration: underline;
}
.dxpLite_Office2003Blue .dxp-button img
{
	border: 0;
	vertical-align: middle;
	text-decoration: none;
}
.dxpLite_Office2003Blue .dxp-wideButton
{
	padding: 0 5px;
}
.dxpLite_Office2003Blue .dxp-disabledButton
{	
	color: #aaaaaa;
	cursor: default;	
	text-decoration: none;
}

.dxpLite_Office2003Blue .dxp-num
{
	color: black;	
	padding: 2px 5px 1px;
	cursor: pointer;
	text-decoration: underline;
}

.dxpLite_Office2003Blue .dxp-current
{
	color: black;
	background: #c1d7f8;
	padding: 2px 3px 3px;	
	cursor: text;
	text-decoration: none;
}

.dxpLite_Office2003Blue .dxp-summary,
.dxpLite_Office2003Blue .dxp-ellip
{
	white-space: nowrap;
	padding: 2px 4px 1px;
}

.dxpLite_Office2003Blue .dxp-sep
{
	background: #c1d7f8;
    width: 1px;
    height: 11px;
    margin-top: 5px;
}

.dxpLiteDisabled_Office2003Blue,
.dxpLiteDisabled_Office2003Blue a,
.dxpLiteDisabled_Office2003Blue .dxp-summary,
.dxpLiteDisabled_Office2003Blue .dxp-sep,
.dxpLiteDisabled_Office2003Blue .dxp-button,
.dxpLiteDisabled_Office2003Blue .dxp-num,
.dxpLiteDisabled_Office2003Blue .dxp-current,
.dxpLiteDisabled_Office2003Blue .dxp-ellip
{
	color: #aaaaaa;
	border-color: #808080;
	cursor: default;
}

/* -- ASPxPopupControl -- */
.dxpcControl_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background-color: white;
	border: solid 1px #002D96;
}
.dxpcControl_Office2003Blue a
{
	color: black;
}
.dxpcCloseButton_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	padding: 1px 1px 1px 2px;	
}
.dxpcCloseButtonHover_Office2003Blue
{
}
.dxpcContent_Office2003Blue
{
	background: white;
	font: 9pt Tahoma;
	color: black;
	white-space: normal;
	padding: 9px 12px 30px 12px;
	border: 0px;
	vertical-align:top;
}
.dxpcFooter_Office2003Blue
{
	font: 9pt Tahoma;
	color: #597DB2;
	background-color: #CFE1F9;
	border-top: solid 1px #7BA4E0;
	font-weight: bold;
}
.dxpcFooter_Office2003Blue td.dxpc
{
	font: 9pt Tahoma;
	color: #597DB2;
	white-space: nowrap;
	padding: 6px 12px 8px 12px;
	font-weight: bold;
}
.dxpcHeader_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background: url('pcHeaderBack.gif') repeat-x #7BA4E0;	
	border-bottom: solid 1px #002D96;
	padding: 6px 6px 6px 12px;
}
.dxpcHeader_Office2003Blue td.dxpc
{
	font: 9pt Tahoma;
	color: black;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 5px;
}
.dxpcModalBackground_Office2003Blue
{
	background-image: url('pcModalBack.gif');
    background-repeat: repeat;
}
/* Disabled */
.dxpcDisabled_Office2003Blue
{
	color: #808080;
	cursor: default;
}

/* -- ASPxSiteMapControl -- */
.dxsmControl_Office2003Blue a:hover
{
    text-decoration:underline!important;
}
.dxsmControl_Office2003Blue a:visited
{
    color:#990099!important;
}

.dxsmControl_Office2003Blue 
{	
	color: black;
	background: url('smBack.gif') repeat-x center bottom #DDECFE;
	font-family: Verdana, Tahoma, Arial;
	font-size: 9pt;
	border: Solid 1px #002D96;
}
/* - Category Level - */
.dxsmCategoryLevel_Office2003Blue, .dxsmCategoryLevel_Office2003Blue a
{
    color: black;    
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Verdana;
    text-decoration: none;	
}
.dxsmCategoryLevel_Office2003Blue
{
    white-space: nowrap;
    padding: 0px 0px 5px 0px;
}
.dxsmCategoryLevel_Office2003Blue
{
    border-bottom: solid 1px #1e90ff;
    padding: 3px 10px 7px 10px;
	background: url('smFirstLevelBack.gif') repeat-x center bottom #DDECFE;		
}
 /*flow layout*/
.dxsmLevelCategoryFlow_Office2003Blue, .dxsmLevelCategoryFlow_Office2003Blue a
{
    color: black;
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;
}
/* - Level 0 - */
.dxsmLevel0_Office2003Blue, .dxsmLevel0_Office2003Blue a, .dxsmLevel0Categorized_Office2003Blue a, .dxsmLevel0Categorized_Office2003Blue
{
    color: black;	
    font-weight: bold;
    font-size: 9pt;
    font-family: Verdana;
    text-decoration: none;
}
.dxsmLevel0Categorized_Office2003Blue a, .dxsmLevel0Categorized_Office2003Blue
{
	color: #0000de;
}
.dxsmLevel0_Office2003Blue
{	
	white-space: nowrap;    	
	background: url('smFirstLevelBack.gif') repeat-x center bottom #DDECFE;	
    border-bottom: solid 1px #1e90ff;
    padding: 3px 10px 7px 10px;
}
.dxsmLevel0Categorized_Office2003Blue 
{
	white-space: nowrap;    	
	padding: 0px 10px 2px 10px;
}
 /*flow layout*/
.dxsmLevel0Flow_Office2003Blue, .dxsmLevel0Flow_Office2003Blue a, .dxsmLevel0CategorizedFlow_Office2003Blue a, .dxsmLevel0CategorizedFlow_Office2003Blue
{
    color: #0000cd;    
    font-family: Tahoma, Verdana, Arial;	
    font-weight: bold;
    font-size: 9pt;
	text-decoration: underline;
}
.dxsmLevel0Flow_Office2003Blue
{
    padding: 0px 0px 0px 0px;    
}
.dxsmLevel0Flow_Office2003Blue
{
    text-decoration: none;    
}
.dxsmLevel0CategorizedFlow_Office2003Blue
{
	padding: 1px 16px;
}

/* - Level 1 - */
.dxsmLevel1_Office2003Blue, .dxsmLevel1_Office2003Blue a, .dxsmLevel1Categorized_Office2003Blue a, .dxsmLevel1Categorized_Office2003Blue
{    
    font-family: 9pt;
    font-family: Verdana;
    color: #0000cd;  
    font-size: 8pt;
    text-decoration: none;    
}
.dxsmLevel1_Office2003Blue, .dxsmLevel1Categorized_Office2003Blue
{
    white-space: nowrap;  
    padding: 0px 10px;
}

/*flow layout*/
.dxsmLevel1Flow_Office2003Blue, .dxsmLevel1Flow_Office2003Blue a, .dxsmLevel1CategorizedFlow_Office2003Blue, .dxsmLevel1CategorizedFlow_Office2003Blue a
{    
    color: #0000cd;    
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;
}
.dxsmLevel1Flow_Office2003Blue
{
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

/* - Level 2 - */
.dxsmLevel2_Office2003Blue, .dxsmLevel2_Office2003Blue a, .dxsmLevel2Categorized_Office2003Blue a, .dxsmLevel2Categorized_Office2003Blue
{    
    font-size: 8pt;
    font-family: Verdana;
    color: #4169E1;
    text-decoration: none;    
}
.dxsmLevel2_Office2003Blue, .dxsmLevel2Categorized_Office2003Blue
{
    white-space:nowrap;
    padding: 0px 10px;
}
/*flow layout*/
.dxsmLevel2Flow_Office2003Blue, .dxsmLevel2Flow_Office2003Blue a
{
    color: #0000cd;
    font-size: 8pt;    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;    
}
.dxsmLevel2Flow_Office2003Blue
{
    padding: 0px 0px 0px 0px;
}
/* - Level 3 - */
.dxsmLevel3_Office2003Blue, .dxsmLevel3_Office2003Blue a
{    
    font-size: 7pt;
    font-family: Verdana;
    color: #4682b4;
    text-decoration: none;
}
.dxsmLevel3_Office2003Blue
{
    white-space: nowrap;        
    padding: 0px 10px;
}
/*flow layout*/
.dxsmLevel3Flow_Office2003Blue, .dxsmLevel3Flow_Office2003Blue a
{    
    color: #0000cd;
    font-size: 7pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;    
}
/* - Level 4 - */
.dxsmLevel4_Office2003Blue, .dxsmLevel4_Office2003Blue a
{    
    font-size: 7pt;
    font-family: Verdana;
    color: #6495ed;
    text-decoration: none;
}
.dxsmLevel4_Office2003Blue
{
    white-space: nowrap;
    padding: 0px 10px;
}
/*flow layout*/
.dxsmLevel4Flow_Office2003Blue, .dxsmLevel4Flow_Office2003Blue a
{
    color: #0000cd;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 7pt;
	text-decoration: underline;        
}
.dxsmLevel4Flow_Office2003Blue
{
    padding: 0px 0px 0px 0px;        
}
/* - Other Levels - */
.dxsmLevelOther_Office2003Blue
{    
    font-size: 7pt;
    font-family: Verdana;
    color: #A8A8A8;
    text-decoration: none;
}
.dxsmLevelOther_Office2003Blue
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;            
}
/*flow layout*/
.dxsmLevelOtherFlow_Office2003Blue, .dxsmLevelOtherFlow_Office2003Blue a
{
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 7pt;
	text-decoration: underline;            
}
/* Disabled */
.dxsmDisabled_Office2003Blue
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxTabControl, ASPxPageControl -- */
.dxtcControl_Office2003Blue 
{
	font: 9pt Tahoma;
	color: black;
	/*background: url('tcBack.gif') repeat-x center bottom #DDECFE;*/
}
.dxtcLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
}
.dxtcLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
/* Tab hyperlink */
.dxtcTab_Office2003Blue a, .dxtcTabWithTabPositionLeft_Office2003Blue a, .dxtcTabWithTabPositionBottom_Office2003Blue a, .dxtcTabWithTabPositionRight_Office2003Blue a,
.dxtcActiveTab_Office2003Blue a, .dxtcActiveTabWithTabPositionBottom_Office2003Blue a, .dxtcActiveTabWithTabPositionLeft_Office2003Blue a, .dxtcActiveTabWithTabPositionRight_Office2003Blue a,
.dxtcTabHover_Office2003Blue a, .dxtcTabHoverWithTabPositionBottom_Office2003Blue a, .dxtcTabHoverWithTabPositionLeft_Office2003Blue a, .dxtcTabHoverWithTabPositionRight_Office2003Blue a
{
	text-decoration: none;
	color: black;    
}

.dxtcActiveTab_Office2003Blue, .dxtcActiveTabWithTabPositionBottom_Office2003Blue,
.dxtcActiveTabWithTabPositionLeft_Office2003Blue, .dxtcActiveTabWithTabPositionRight_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	border: solid 1px #002D96;
	padding: 4px 12px 4px 12px;
	background: url('tcTabABack.gif') repeat-x center bottom #DDECFE;
	text-align: center;
}
/* Active Tab */
.dxtcActiveTab_Office2003Blue table.dxtc, .dxtcActiveTabWithTabPositionBottom_Office2003Blue table.dxtc,
.dxtcActiveTabWithTabPositionLeft_Office2003Blue table.dxtc, .dxtcActiveTabWithTabPositionRight_Office2003Blue table.dxtc
{
	font: 9pt Tahoma;
	color: black;    
}
.dxtcActiveTab_Office2003Blue td.dxtc, .dxtcActiveTabWithTabPositionBottom_Office2003Blue td.dxtc,
.dxtcActiveTabWithTabPositionLeft_Office2003Blue td.dxtc, .dxtcActiveTabWithTabPositionRight_Office2003Blue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcActiveTabHover_Office2003Blue
{	
	background: url('tcTabAHBack.gif') repeat-x center bottom #DDECFE;
}
/* Tab */
.dxtcTab_Office2003Blue, .dxtcTabWithTabPositionLeft_Office2003Blue, 
.dxtcTabWithTabPositionBottom_Office2003Blue, .dxtcTabWithTabPositionRight_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background: url('tcTabBack.gif') repeat-x center bottom #DDECFE;
	border: solid 1px #002D96;
	padding: 4px 12px 4px 12px;
	text-align: center;
}
.dxtcTab_Office2003Blue table.dxtc, .dxtcTabWithTabPositionBottom_Office2003Blue table.dxtc, 
.dxtcTabWithTabPositionLeft_Office2003Blue table.dxtc, .dxtcTabWithTabPositionRight_Office2003Blue table.dxtc
{
	font: 9pt Tahoma;
	color: black;    
}
.dxtcTab_Office2003Blue td.dxtc, .dxtcTabWithTabPositionBottom_Office2003Blue td.dxtc, 
.dxtcTabWithTabPositionLeft_Office2003Blue td.dxtc, .dxtcTabWithTabPositionRight_Office2003Blue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: url('')!important;
    border-width: 0px!important;
    padding: 0px!important;
}
.dxtcTabWithTabPositionBottom_Office2003Blue
{
}
.dxtcTabWithTabPositionLeft_Office2003Blue
{
}
.dxtcTabWithTabPositionRight_Office2003Blue
{
}
/* Hover */
.dxtcTabHover_Office2003Blue, .dxtcTabHoverWithTabPositionBottom_Office2003Blue,
.dxtcTabHoverWithTabPositionLeft_Office2003Blue, .dxtcTabHoverWithTabPositionRight_Office2003Blue
{
	background: url('tcTabHBack.gif') repeat-x center top #FFD091;
}
.dxtcTabHover_Office2003Blue td.dxtc, .dxtcTabHoverWithTabPositionBottom_Office2003Blue td.dxtc,
.dxtcTabHoverWithTabPositionLeft_Office2003Blue td.dxtc, .dxtcTabHoverWithTabPositionRight_Office2003Blue td.dxtc
{
	white-space: nowrap;
    background-color: transparent!important;
    background-image: none!important;
    border-width: 0px!important;
    padding: 0px!important;
}

.dxtcPageContent_Office2003Blue, .dxtcPageContentWithTabPositionBottom_Office2003Blue, 
.dxtcPageContentWithTabPositionLeft_Office2003Blue, .dxtcPageContentWithTabPositionRight_Office2003Blue,
.dxtcPageContentWithoutTabs_Office2003Blue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #DDECFE;
	vertical-align: top;	
}
.dxtcContent_Office2003Blue, .dxtcContentWithTabPositionBottom_Office2003Blue, .dxtcContentWithTabPositionLeft_Office2003Blue, .dxtcContentWithTabPositionRight_Office2003Blue
{
	font: 8pt Tahoma;
	color: black;	
	background-color: white;
	vertical-align: top;
}
/* Disabled */
.dxtcDisabled_Office2003Blue, .dxtcDisabled_Office2003Blue table.dxtc
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxTitleIndex -- */
.dxtiControl_Office2003Blue a:hover
{
}
.dxtiControl_Office2003Blue a:visited
{
}
.dxtiControl_Office2003Blue
{
	font: 11px Verdana;
	color: #1E3695;
	background-color: white;
	font-family: Verdana, Tahoma, Arial;
}
.dxtiLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxtiLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxtiItem_Office2003Blue, .dxtiItem_Office2003Blue a
{
	font: 9pt Tahoma;
	color: #3F66A0;
	text-decoration: underline;	
}
.dxtiItem_Office2003Blue a:hover
{
    color: #FF0000;
}
.dxtiItem_Office2003Blue a:visited
{
    color: #990099;
}

.dxtiItem_Office2003Blue
{
	white-space: nowrap;
}
.dxtiGroupHeader_Office2003Blue, .dxtiGroupHeaderCategorized_Office2003Blue
{
	font: 13pt Tahoma;
	text-decoration: none;
	
}
.dxtiGroupHeader_Office2003Blue, .dxtiGroupHeaderCategorized_Office2003Blue
{
	white-space:nowrap;
	padding: 0px 0px 2px 0px;
}
.dxtiGroupHeaderCategorized_Office2003Blue
{
	background-color: #E3EDFE;
}
/* -- GroupHeaderText -- */
.dxtiGroupHeaderText_Office2003Blue
{
    background-color: #B4B4B4;
    color: #283B56;
}
.dxtiGroupHeaderText_Office2003Blue
{
    padding: 0px 5px;
	background-color: #E3EDFE;
}

.dxtiGroupHeaderTextCategorized_Office2003Blue
{
    color: #283B56;
    font-size: 13pt;
}
.dxtiGroupHeaderTextCategorized_Office2003Blue
{
    padding: 0px 6px;
}
/* -- FilterBox -- */
.dxtiFilterBoxInfoText_Office2003Blue
{
    font: 8pt Verdana;
    color: #636567;
    font-weight: normal;
    padding-top: 6px;
    padding-bottom: 4px;
}
.dxtiFilterBoxEdit_Office2003Blue
{
    font-size: 9pt;
    width: 158px;    
    border: Solid 1px #6A8CCB;
    padding-left: 3px;
}
.dxtiFilterBox_Office2003Blue, .dxtiFilterBox_Office2003Blue table
{
    color: Black;
    font: 9pt Tahoma;
}
.dxtiFilterBox_Office2003Blue
{
    background-color: #BCD5FC;
    padding: 10px 15px 6px;
}
/* -- IndexPanel -- */
.dxtiIndexPanel_Office2003Blue
{
	padding-left: 10px;
	padding-right: 10px;
    padding-bottom: 4px;
    text-decoration: none;
}
.dxtiIndexPanelItem_Office2003Blue, .dxtiIndexPanelItem_Office2003Blue a, .dxtiCurrentIndexPanelItem_Office2003Blue
{
    font-size: 11pt;
    color: Black;
    font-family: Tahoma;
    text-decoration: underline;
}
.dxtiIndexPanelItem_Office2003Blue, .dxtiCurrentIndexPanelItem_Office2003Blue
{
    padding: 0px 3px 2px 3px;
}
.dxtiIndexPanelItem_Office2003Blue a:visited
{
	color: #990099;
}
.dxtiIndexPanelItem_Office2003Blue a:hover
{
	color: #FF0000;
}
.dxtiCurrentIndexPanelItem_Office2003Blue
{
    color: #000000;
    background-color: #E0E0E0;
}
/* -- BackToTop -- */
.dxtiBackToTop_Office2003Blue a
{
    font: 11px Tahoma;
    text-decoration: underline;
    color: #337898;
    white-space:nowrap;
}
.dxtiBackToTop_Office2003Blue a
{
    color: #3F66A0;
}
.dxtiBackToTop_Office2003Blue a:hover
{
    color: #FF0000;
}
.dxtiBackToTop_Office2003Blue a:visited
{
    color: #990099;
}
.dxtiBackToTop_Office2003Blue
{
    padding: 0px 0px 12px 8px;
}
/* Disabled */
.dxtiDisabled_Office2003Blue
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxHeadline -- */
.dxhlControl_Office2003Blue
{
	font: 10px Verdana;
	color: black;
}
.dxhlContent_Office2003Blue
{
	font: 9pt Tahoma;
	color: #424242;
} 
.dxhlDate_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4F93E3;
	white-space: nowrap;
}
.dxhlHeader_Office2003Blue
{
	font: 11pt Tahoma;
	color: Black;
	padding-bottom: 6px;
	font-weight: bold;
	line-height: 17px;
}
.dxhlDateHeader_Office2003Blue
{
	font: 9pt Tahoma;
	color: Gray;
	font-weight: normal;
}
.dxhlLeftPanel_Office2003Blue
{
	font: 10px Verdana;
	color: black;
}
.dxhlRightPanel_Office2003Blue
{
	font: 10px Verdana;
	color: black;
}
.dxhlDateLeftPanel_Office2003Blue
{
	font: 10px Verdana;
	color: Gray;
	white-space: nowrap;
}
.dxhlDateRightPanel_Office2003Blue
{
	font: 10px Verdana;
	color: Gray;
	white-space: nowrap;
}
.dxhlTailDiv_Office2003Blue
{
	font: 10px Verdana;
	color: Black;
	background-color: #EEF2F5;
}
.dxhlTailDiv_Office2003Blue a
{
	color: #3F66A0;
	text-decoration: underline;
}
.dxhlTailDiv_Office2003Blue a:hover
{
	color: #FF0000;
    text-decoration: underline;
}
.dxhlTailDiv_Office2003Blue a:visited
{
	color: #990099;
    text-decoration: underline;
}
.dxhlContent_Office2003Blue a.dxhl span
{
	color: #3e6b96;
	text-decoration: underline;
} 
.dxhlContent_Office2003Blue a.dxhl:visited span
{
	color: #990099;
    text-decoration: underline;
}
.dxhlContent_Office2003Blue a.dxhl:hover span
{
	color: #FF0000;
    text-decoration: underline;
}
.dxhlContent_Office2003Blue a.dxhl
{
	color: #3F66A0;
	text-decoration: underline;
} 
.dxhlContent_Office2003Blue a.dxhl:visited
{
	color: #990099;
    text-decoration: underline;
}
.dxhlContent_Office2003Blue a.dxhl:hover
{
	color: #FF0000;
    text-decoration: underline;
}
/* Disabled */
.dxhlDisabled_Office2003Blue
{
	color: #aaaaaa;
	cursor: default;
}

/* -- ASPxNewsControl -- */
.dxncControl_Office2003Blue
{
	font: 10px Tahoma;
	color: black;
	background-color: White;
}
.dxncControl_Office2003Blue td.dxncCtrl
{
	padding: 18px 18px 18px 18px;
}
.dxncLoadingPanel_Office2003Blue
{
	font: 9pt Tahoma;
	color: #4B77B8;
	border: solid 1px #4F93E3;
	background-color: White;
}
.dxncLoadingPanel_Office2003Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxncContent_Office2003Blue
{
}
.dxncPagerPanel_Office2003Blue
{
	padding: 0px 3px 0px 3px;
}
.dxncItem_Office2003Blue
{
	font: 9pt Tahoma;
	vertical-align: top;
	padding: 12px 8px 12px 8px;
}
.dxncEmptyItem_Office2003Blue
{
	font: 10px Tahoma;
	vertical-align: top;
	padding: 12px 12px 12px 14px;
}
.dxncBackToTop_Office2003Blue
{
	font: 10px Tahoma;
	color: #404040;
}
.dxncBackToTop_Office2003Blue a
{
	font: 10px Tahoma;
	color: #0d45b7;
}
.dxncBackToTop_Office2003Blue a:hover
{
	font: 10px Tahoma;
	color: #5494ea;
}
.dxncBackToTop_Office2003Blue a:visited
{
	font: 10px Tahoma;
	color: #ab59a6;
}

/* Headline */
.dxncItemContent_Office2003Blue
{
	font: 9pt Tahoma;
	color: #424242;
} 
.dxncItemDate_Office2003Blue
{
	color: #4F93E3;
	white-space: nowrap;
}
.dxncItemHeader_Office2003Blue
{
	font: 11pt Tahoma;
	color: Black;
	font-weight: bold;
	line-height: 17px;
	padding-bottom: 6px;
}
.dxncItemHeader_Office2003Blue .dxncItemDate
{
	font: 10pt Tahoma;
	color: Gray;
	font-weight: normal;
}
.dxncItemLeftPanel_Office2003Blue
{
	font: 10px Verdana;
	color: black;
}
.dxncItemRightPanel_Office2003Blue
{
	font: 10px Verdana;
	color: black;
}
.dxncItemDateLeftPanel_Office2003Blue
{
	font: 10px Verdana;
	color: Gray;
	white-space: nowrap;
}
.dxncItemDateRightPanel_Office2003Blue
{
	font: 10px Verdana;
	color: Gray;
	white-space: nowrap;
}
.dxncItemTailDiv_Office2003Blue
{
	font: 10px Verdana;
	color: Black;
}
.dxncItemTailDiv_Office2003Blue a
{
	color: #1E3695;
}
.dxncItemTailDiv_Office2003Blue a:hover
{
    text-decoration: none;
}
.dxncItemTailDiv_Office2003Blue a:visited
{
    color: #996085;
}
.dxncItemContent_Office2003Blue a.dxhl
{
	color: #1E3695;
} 
.dxncItemContent_Office2003Blue a.dxhl:hover
{
    text-decoration: none;
}
.dxncItemContent_Office2003Blue a.dxhl:visited
{
    color: #996085;
}
.dxncEmptyData_Office2003Blue
{
	color: #848484;
}
/* Disabled */
.dxncDisabled_Office2003Blue, .dxncDisabled_Office2003Blue a, .dxncDisabled_Office2003Blue a:hover
{
	color: #aaaaaa;
	cursor: default;
}
/* -- ASPxUploadControl -- */
.dxucControl_Office2003Blue, .dxucEditArea_Office2003Blue
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;    
}
.dxucErrorCell_Office2003Blue
{
    font-size: 9pt;
    font-family: Tahoma, Verdana, Arial;
    color: Red;
    text-align: left;
}
.dxucButton_Office2003Blue, .dxucButton_Office2003Blue a
{
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial;
    color: #394ea2;
    cursor: pointer;
    white-space: nowrap;
}
/* UploadControl - ProgressBar */
.dxucProgressBar_Office2003Blue
{
    border: Solid 1px #002d96;
    background-color: #ddecfe;
}
.dxucProgressBar_Office2003Blue .dxucPBMainCell {
    padding: 1px;
}
.dxucProgressBar_Office2003Blue td.dx
{
    padding: 0;
}
.dxucProgressBar_Office2003Blue, .dxucProgressBar_Office2003Blue td.dx
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 9pt;
	color: Black;
}
.dxucProgressBarIndicator_Office2003Blue
{
    background-color: #a6c5f0;
}

/* -- ASPxSplitter -- */
.dxsplControl_Office2003Blue
{
	background-color: White;
}
.dxsplControl_Office2003Blue, .dxsplVSeparator_Office2003Blue, .dxsplHSeparator_Office2003Blue, .dxsplPane_Office2003Blue, .dxsplPaneCollapsed_Office2003Blue, .dxsplVSeparator_Office2003Blue, .dxsplHSeparator_Office2003Blue, .dxsplVSeparatorCollapsed_Office2003Blue, .dxsplHSeparatorCollapsed_Office2003Blue
{
	border: solid 0px #002D96;
}
.dxsplPane_Office2003Blue, .dxsplPaneCollapsed_Office2003Blue
{
	border-width: 1px;
	background-color: #DDECFE;
}
.dxsplPaneCollapsed_Office2003Blue
{
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.dxsplVSeparator_Office2003Blue
{
	background-image: url('splVSeparatorBackground.png');
	border-top-width: 1px;
	border-bottom-width: 1px;
}
.dxsplHSeparator_Office2003Blue
{
	background-image: url('splHSeparatorBackground.png');
	border-left-width: 1px;
	border-right-width: 1px;
}
.dxsplVSeparatorHover_Office2003Blue
{
	cursor: w-resize;
}
.dxsplHSeparatorHover_Office2003Blue
{
	cursor: n-resize;
}
.dxsplVSeparator_Office2003Blue, .dxsplHSeparator_Office2003Blue
{
	background-color: #ADCAF1;
}
.dxsplVSeparatorHover_Office2003Blue, .dxsplVSeparatorButtonHover_Office2003Blue
{
	background-image: url('splVSeparatorBackgroundHover.png');
}
.dxsplHSeparatorHover_Office2003Blue, .dxsplHSeparatorButtonHover_Office2003Blue
{
	background-image: url('splHSeparatorBackgroundHover.png');
}
.dxsplVSeparatorCollapsed_Office2003Blue, .dxsplHSeparatorCollapsed_Office2003Blue
{
	cursor: default !important;
}
.dxsplVSeparatorButton_Office2003Blue
{
	cursor: pointer;
	padding: 5px 0px;
}
.dxsplHSeparatorButton_Office2003Blue
{
	cursor: pointer;
	padding: 0px 5px;
}
.dxsplVSeparatorHover_Office2003Blue, .dxsplHSeparatorHover_Office2003Blue, .dxsplVSeparatorButtonHover_Office2003Blue, .dxsplHSeparatorButtonHover_Office2003Blue
{
	background-color: #FFC57B;
}
.dxsplVSeparator_Office2003Blue, .dxsplVSeparatorButtonHover_Office2003Blue
{
	background-repeat: repeat-y;
	background-position: top left;
}
.dxsplHSeparator_Office2003Blue, .dxsplHSeparatorButtonHover_Office2003Blue
{
	background-repeat: repeat-x;
	background-position: top left;
}
.dxsplResizingPointer_Office2003Blue
{
	background-image: url('splResizingPointer.gif');
	background-repeat: repeat;
}
.dxsplResizingPointer_Office2003Blue, .dxsplS
{
	font-size: 0px;
	line-height: 0px;
}
.dxsplLCC, .dxsplCC, .dxsplS
{
	overflow: hidden;
}
.dxsplLCC, .dxsplCC, .dxsplP
{
	width: 100%;
	height: 100%;
}
.dxsplLCC
{
	padding: 8px 8px 8px 8px;
}

.dx-clear
{
	display: block;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}
