.dxTreeList_CollapsedButton_RedWine,
.dxTreeList_ExpandedButton_RedWine,
.dxTreeList_SortAsc_RedWine,
.dxTreeList_SortDesc_RedWine,
.dxTreeList_DragAndDropArrowDown_RedWine,
.dxTreeList_DragAndDropArrowUp_RedWine,
.dxTreeList_DragAndDropHide_RedWine,
.dxTreeList_DragAndDropNode_RedWine {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxTreeList_CollapsedButton_RedWine {
    background-position: -66px 0px;
    width: 15px;
    height: 15px;
}

.dxTreeList_ExpandedButton_RedWine {
    background-position: -66px -18px;
    width: 15px;
    height: 15px;
}

.dxTreeList_SortAsc_RedWine {
    background-position: -49px 0px;
    width: 11px;
    height: 13px;
}

.dxTreeList_SortDesc_RedWine {
    background-position: -49px -19px;
    width: 11px;
    height: 13px;
}

.dxTreeList_DragAndDropArrowDown_RedWine {
    background-position: -30px 0px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowUp_RedWine {
    background-position: -30px -17px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropHide_RedWine {
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}

.dxTreeList_DragAndDropNode_RedWine {
    background-position: -83px 0px;
    width: 13px;
    height: 13px;
}


