<img src="images/help/POS0404_CustFind_None1.jpg"><br />
<table>
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>No Matches Found</b>
		   </td>
		   <td valign="top">
		   	   If no existing customers match your search criteria, click on the 
			   Add New Customer Button to add a new customer. Any data previously entered 
			   in search fields will auto-populate in the new customer setup.
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Search Again</b>
		   </td>
		   <td valign="top">
		   	   Click on Search Again to change your search of the existing customer database.
			   </td>
	   </tr>
	 		
</table>