<img src="images/help/POS0501_OrderMerc1.jpg"><br />
<table>
	      	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Enter SKU by Keystroke</b>
		   </td>
		   <td valign="top">
		   	   Key the SKU into the SKU field and click <img src="images/help/POS0501_OrderMerc1a.jpg">.  The SKU will populate a line item 
			   and update the order value in lower right corner. To review line items, click <img src="images/help/Menubar_Shop.jpg">.    
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Enter SKU by Barcode Scan</b>
		   </td>
		   <td valign="top">
		   	   Scan the barcode and the SKU will populate a line item and update the order value.  
			   To review line items, click <img src="images/help/Menubar_Shop.jpg">.    
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Lookup Merchandise- Wildcard Search</b>
		   </td>
		   <td valign="top">
		   	   Enter data in any of the fields displayed. <i>Wildcard "Sofa%" in the description field </i> will return results
			   of any items with "Sofa" as the first word of description. Entries made in multiple fields will narrow search results.
			   Click <img src="images/help/POS0501_OrderMerc1a.jpg"> to display matches.   
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Special Order</b>
		   </td>
		   <td valign="top">
		   	   Click on the <img src="images/help/POS0501_OrderMerc1b.jpg"> button to display the Special Order Screen.
	       </td>
	   </tr>
	   	     
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	</table>