<img src="images/help/POS0800_Chkout1b.jpg"><br />
<table>
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>
		</tr>
	      	   
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Payment Screen Function</b>
		   </td>
		   <td valign="top">
		   	   When first displayed, payment screen will display the COD balance, including tax & delivery, 
			   and the % deposit required <i>as per system parameters<i>.
		   </td>
		</tr>
		
		<tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Method of Payment</b>
		   </td>
		   <td valign="top">
		   	   To select a payment type, click on the dropdown menu. <img src="images/help/POS0800_Chkout1c.jpg">
			</td>
		</tr>
		
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Calculate Deposit %</b>
		   </td>
		   <td valign="top">
			   To calculate different % deposit, enter new value % 
			   & click <img src="images/help/POS0800_Chkout3a.jpg">.
			   The new deposit amount is displayed.  A value may also be keyed manually in the amount box, as long
			   as the amount meets the minimum system requirement.   			     
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>To Apply Payment</b>
		   </td>
		   <td valign="top">
			   To apply the payment to order total, click <img src="images/help/POS0800_Chkout3b.jpg">.
			   All payments added to order will display.  Credit card charges will be processed when order is committed.		     
			  <img src="images/help/POS0800_Chkout6a.jpg">
			  </td>
	   </tr>
	   	
			   <tr>
	   	   <td colspan=2>
		   	 
		   </td>
		</tr>
		     
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Update Order Value</b>
		   </td>
		   <td valign="top">
			   To Delete line items, click on the <img src="images/help/POS0504_OrderMerc2c.jpg"> icon.
			   After adding or changing payments, click on the <img src="images/help/POS0800_Chkout3c.jpg"> shopping bag
			    icon to update order balances displayed in lower right hand corner.  			     
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Credit Card Pop-Up<i>(optional)<i></b>
		   </td>
		   <td valign="top">
		   	   Where availabe, pop-up window for credit cards will display when Visa, MC or Amex are chosen in 
			   from the Method of Payment drop-down menu.  For direct credit card processing, swipe credit card 
			   on keyboard or manually key credit card information into the fields and click the save button.  
	   </tr>
	   	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   &nbsp;
		   </td>
		   <td valign="top">
		   	   <img src="images/help/POS0800_Chkout4a.jpg">   
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   &nbsp;
		   </td>
		   <td valign="top">
		   	   <i>**If "WARNING" appears stating that Secure Connection is not available, do not proceed.<i>  
			</td>
	   </tr>
	   	      
	</table>