<img src="images/help/POS0405_CustFind_New1f.jpg"><br />
<table>
    <tr>
        <td valign="top" wrap>
            <b>To View Shipping & Billing Details</b>
        </td>
        <td valign="top">
            Click on the
            <img src="images/help/POS0405_CustFind_New1e.jpg">
            button to display shipping or billing details.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
</table>
<img src="images/help/POS0406_CustFindReview1a.jpg"><br />
<table>
    <tr>
        <td valign="top" wrap>
            <b>New Added Customers</b>
        </td>
        <td valign="top">
            Enter new customer data. Previously entered search criteria auto-populates fields.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Billing Same As Shipping Information</b>
        </td>
        <td valign="top">
            Enter check mark in box to indicate that Billing Information is same as Shipping
            Information. <i>For new customers,</i> the check mark will populate billing fields
            with current shipping data. <i>For existing customers,</i> a check mark will override
            previously entered billing data. If box is checked, no changes to Billing fields
            are allowed.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Customer Code</b>
        </td>
        <td valign="top">
            For new customers, Customer Code field will display "NEW" until order is committed.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Zip Code Field</b>
        </td>
        <td valign="top">
            This field is used to verify tax codes and delivery zones.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Save Changes</b>
        </td>
        <td valign="top">
            Any new customer additions or changes made to existing customers must be saved by
            clicking the
            <img src="images/help/POS0406_CustFindReview1b.jpg">
            button.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Remove Customer</b>
        </td>
        <td valign="top">
            Any new customer additions or changes made to existing customers must be saved by
            clicking the
            <img src="images/help/POS0406_CustFindReview1c.jpg">
            button.
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Remove Customer Warning Popup</b>
        </td>
        <td valign="top">
            Clicking the Remove Customer button will generate a popup window. Confirmation to
            keep or remove the customer from the order in process is required.
            <img src="images/help/POS0405_CustFindRemove1.jpg">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top" wrap>
            <b>Customer Warning</b>
        </td>
        <td valign="top">
            A yellow warning sign will appear in the center-right sqaure if an existing customer
            has a warning on file. <i>The actual warning will not display until the mouse is held
                over the icon. All warnings will then display in a text box.</i> Text box disappears
            when mouse is moved.
            <img src="images/help/POS0406_CustFindReview3a.jpg">
        </td>
    </tr>
</table>
