<img src="images/help/POS0503_OrderMerc_Special1.jpg"><br />
<table>
	      	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Select Special Order Frame</b>
		   </td>
		   <td valign="top">
		   	   <img src="images/help/POS0503_OrderMerc_Special2a.jpg">   
			</td>
	   </tr>
	   
	   <tr>
	   	   <td colspan=1>
		   	   &nbsp;
		   </td>
		   <td valign="top">
		   	   Select a frame from the drop-down menu in the lower left corner.    
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Select Frame Style</b>
		   </td>
		   <td valign="top">
		   	   To select frame style, select from the list in the drop-down menu.
		   </td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Populate Fields</b>
		   </td>
		   <td valign="top">
		   	   The POS application populates the Special Order fields based on the frame details
			   in the .xls worksheet.   
			</td>
	   </tr>
	   	      
	</table>