<img src="images/help/POS0600_OrderDisc2.jpg"><br />
<table>
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Select Discount Code</b>
		   </td>
		   <td valign="top">
		   	   Select a discount from the drop-down menun.  These are set by system parameters.
			   Click on <img src="images/help/POS0600_OrderDisc1c.jpg"> to select No Discount option. 
			   This box is automatically checked as a system default.   
			</td>
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	   
</table>

	<img src="images/help/POS0600_OrderDisc1a.jpg"><br />
<table>		   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Selected Discount Code</b>
		   </td>
		   <td valign="top">
		   	   After selecting a discount code, a brief summary of the discount appears below the drop down menu.    			
			</td>
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
</table>   
	  
	   
	   	<img src="images/help/POS0600_OrderDisc1b.jpg"><br />
<table>
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Multiple Discount Code</b>
		   </td>
		   <td valign="top">
		   	   After selecting the multiple discount code, click on the Edit Discount button.
			   Select the Sales Order Line and the related discount from the drop down menus.    			
			</td>
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>			
	   </tr>
</table>   	  