<img src="images/help/POS0403_CustFind1b.jpg"><br />
<table>
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Selecting a Customer</b>
		   </td>
		   <td valign="top">
		   	   Click on the Select button to choose an existing customer.
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Records to Show</b>
		   </td>
		   <td valign="top">
		   	   Click on the drop-down menu to select the number of records to be displayed on the screen.  The maximum screen display allowed is one hundred records.    			
			   </td>
	   </tr>
	     
	   <tr>
			<td valign="top" NOWRAP>
				<b>Next & Last Buttons</b>
			</td>
			<td valign="top">
				Click on the Next or Last button to navigate to a new screen. 
   			</td>
		</tr>
		
		<tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Add New Customer</b>
		   </td>
		   <td valign="top">
			   Click on the Add New Customer button if none of the customers match your search criteria.
		   </td>
 		</tr>
		
</table>