<img src="images/help/POS0700_Mktg1a.jpg"><br />
<table>
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Select Discount Code</b>
		   </td>
		   <td valign="top">
		   	   Select a marketing code from the drop-down menu.  
		   </td>
	   </tr>
	   
	   <tr>
	   	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>No Marketing Code</b>
		   </td>
		   <td valign="top">
		   	   Click on <img src="images/help/POS0700_Mktg1b.jpg"> to select No Marketing Code option. 
			   This box is automatically checked as a default by system parameters.  
			</td>
	   </tr>			
	   	   
</table>

	  	  