<img src="images/help/POS0504_OrderMerc2a1.jpg"><br />
<table>
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>
		</tr>
	      	   
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Selected Items</b>
		   </td>
		   <td valign="top">
		   	   Selected items populate the order as a line item.  To add more items to the order, click on 
			   <img src="images/help/POS0504_OrderMerc2g.jpg">.
			</td>
		</tr>
		
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Adjust Item Quantity</b>
		   </td>
		   
		   <td valign="top">
			   Price & quantity are displayed at right.  Selected search items automatically populate with quantity "1".  
			   To adjust item quantity, type the new quantity in <img src="images/help/POS0504_OrderMerc2d1.jpg"> text box .  			     
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Delete Line Items</b>
		   </td>
		   <td valign="top">
			   To Delete line items, click on the <img src="images/help/POS0504_OrderMerc2c.jpg"> icon.  			     
			</td>
	   </tr>
	   	     
	   <tr>
	   	   <td valign="top" NOWRAP>
		   	   <b>Update Order Value</b>
		   </td>
		   <td valign="top">
			   After adjusting quantities, click on the <img src="images/help/Menubar_Shop.jpg">shopping bag
			    icon to update order value displayed in lower right hand corner.  			     
			</td>
	   </tr>
	   
	   <tr>
	   	   <td colspan=2>
		   	   &nbsp;
		   </td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Select Store & Location <i>(optional)<i></b>
		   </td>
		   <td valign="top">
		   	   Store & location are initially blank. To select, click on the   
		       <img src="images/help/POS0504_OrderMerc2f.jpg"> icon.  Popup window will display 
			   available inventory locations.  Click on store location to select. 
		</tr>
	   
	   
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   &nbsp;
		   </td>
		   <td valign="top">
		   	   <img src="images/help/POS0504_OrderMerc3.jpg">   
			</td>
	   </tr>
	   	      
	</table>