<img src="images/help/POS0502_OrderMerc_Result1b.jpg"><br />
<table>
	      	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Search Results Displayed</b>
		   </td>
		   <td valign="top">
		   	   All SKUs matching the search criteria are listed 7 records per page.  To display more records per page, select a new
			   quantity from the "Records to Show" dropdown menu at the bottom of the screen.    
			</td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Select Merchandise</b>
		   </td>
		   <td valign="top">
		   	   To select merchandise, click the box to the left of the SKU.  A checkmark will appear.  Quantities can be adjusted on the next screen.
			   Selections made on different pages can be submitted at one time. 
		   </td>
	   </tr>
	   
	   <tr>
	   	   <td valign="top" WRAP>
		   	   <b>Move Items to Order Screen</b>
		   </td>
		   <td valign="top">
		   	   To move all selected items to the order, click <img src="images/help/POS0502_OrderMerc_Result1c.jpg">.  The option to add more items by creating a 
			   new search is available again from the order screen.   
			</td>
	   </tr>
	   	      
	</table>