<table>
    <tr>
        <td valign="top">
            <img src="images/help/customer_lookup.jpg"></td>
    </tr>
    <tr>
        <td>
            Enter lookup information for your customer. Wild card can be used to expand your
            searches. For example, entering JO% in the first name field will return results
            such as ""JOE"", ""JOHN"", ""JOCELYN"". Placing a % sign anywhere within your search
            criteria will act as a wild card. If your customer is new and does not have an existing
            customer code, enternig their data and doing a search will automatically populate
            their new customer file with the search data.
        </td>
    </tr>
</table>
